.card:hover{
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img-top{
    height: auto;
    width: 60%;
    margin: 4px;
//   padding-bottom: 20px;
    margin-left:14%;
}
.card{
    width: 100%;
}
.custom-select-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.875rem;
    width: 100% !important;
    background: white;
    border: 1px solid lightgrey !important;
}
.card-title{
    font-size: small;
}
.family{
    display: flex;
}
.familyh1{
    font-weight:500; font-size: 32px;
}
.familyspan{
    margin-top: 4%; 
    margin-left: 3%;
}
.sec1{
    margin-top:6%;
    padding-bottom: 50px;
}

.bg-primary{
    width: 236px;
    height: 200px;
    margin: 18px;
    border-radius: 8px;
    background: #00cc99 !important;

}
    
.bg-success{
  width: 236px;
  height: 200px;
  margin: 18px;
  border-radius: 8px;
  background: #00cc00 !important;
}
.bg-primary:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
}
.bg-success:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
}
.colordcard{
    a{
        text-decoration: none;
    }
}
.col-sm-4{
    a{
        text-decoration: none;
    }
}
.cat{
    color: white;
    font-size: 25px;
}
.text-center{
    height: 100%;
    width: 100%;
}
.catnextp{
    color: white; 
    font-size: 18px;
}
.bestseller{
    margin-top:10%;
}
.shopbycat{
    margin-top: 5%;
}
.comm{
    margin-top:4%;
}
.updowns{
    font-size: 14px;
    a{
        text-decoration: none;
        color: black;
    }
}
.updown{
    font-size: 14px;
    margin: 14px;
   
    a{
        text-decoration: none;
        color: black;
    }
}
.bold{
    font-weight: 700;
    color: black;
}