<div class="precription">
  <div class="container">
    <div class="first-section">
      <div class="header">
        <h3><strong>Dr. Subhankar Dutta</strong>, M.B.B.S.,M.D</h3>
      </div>
      <div class="footer">
        <p><strong>Specialist in </strong>Medicine</p>
        <p><strong>Registration No- </strong></p>
        <p>
          <strong>Emergency No- </strong>03323815678<strong> Mobile-</strong
          >8013117211
        </p>
        <p>
          Memeber of
          <strong
            >American Diabetes Association, Institute of Health
            Professions</strong
          >
        </p>
      </div>
    </div>
    <hr />
    <div class="second-section mt-2">
      <div class="details">
        <div class="row">
          <div class="col-md-2 brd">
            <p><strong>Patient Name</strong></p>
          </div>
          <div class="col-md-2 brd">
            <p><strong>Anjali Bhattacharya</strong></p>
          </div>
          <div class="col-md-1 brd">
            <p><strong>Gender</strong></p>
          </div>
          <div class="col-md-1 brd"><p>Female</p></div>
          <div class="col-md-1 brd">
            <p><strong>Age/DOB</strong></p>
          </div>
          <div class="col-md-2 brd"><p>08/06/1981</p></div>
          <div class="col-md-1 brd">
            <p><strong>Date</strong></p>
          </div>
          <div class="col-md-2 brd"><p>01/08/2020</p></div>
        </div>
        <div class="row">
          <div class="col-md-2 brd">
            <p><Strong>Height</Strong></p>
          </div>
          <div class="col-md-2 brd">
            <p>167 CM</p>
          </div>
          <div class="col-md-1 brd">
            <p><Strong>Weight</Strong></p>
          </div>
          <div class="col-md-1 brd">
            <p>102 Kg</p>
          </div>
          <div class="col-md-2 brd">
            <p><Strong>Any Other Info</Strong></p>
          </div>
          <div class="col-md-4 brd">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="third-section mt-2">
      <div class="row">
        <div class="col-md-4">
          <img src="" alt="img-RX" />
        </div>
        <div class="col-md-8 brd">
          <p>
            <strong>Hi Doctor</strong>, my details are as follow :
            <strong>Blood Group</strong> : A+, Married,
            <strong>Height</strong> 5 feet 3 inches,
            <strong>Weight</strong> around 64 kgs, <strong>Allergic</strong> :
            No, <strong>Present Medications</strong> : No,
            <strong>Past Medications </strong>: Nothing,
            <strong>Chronic illness</strong> : No,
            <strong>Past Injuries</strong> : No <strong>Past Surgery</strong> :
            No, <strong>Smoking</strong> : 2-3 Cigarettes / Day,
            <strong>Alcohol Consumption</strong> : Occasional,
            <strong>Diet Habit</strong> : Non-Veg,
            <strong>My Profession</strong> : It Professional
          </p>
        </div>
      </div>
    </div>
    <div class="fouth-section mt-2">
      <div class="row">
        <div class="col-md-12 brd mt-2">
          <p><strong>Problems</strong></p>
        </div>
        <div class="col-md-12 mt-2">
          <ul>
            <li>Paitent has stomach problem</li>
            <li>Paitent has weakness</li>
          </ul>
        </div>

        <div class="col-md-12 brd mt-2">
          <p><strong>Observation</strong></p>
        </div>
        <div class="col-md-12 mt-2">
          <ul>
            <li>Eyes are reddish</li>
            <li>Pain stomach</li>
          </ul>
        </div>
        <div class="col-md-12 brd mt-2">
          <p><strong>Diagnosis</strong></p>
        </div>
        <div class="col-md-12 mt-2">
          <ul>
            <li>Hypoplastic Left Heart Syndrome</li>
          </ul>
        </div>
        <div class="col-md-12 brd mt-2">
          <p><strong>Medicine Suggested</strong></p>
        </div>
        <div class="col-md-12 brd mt-2">
          <table>
            <thead>
              <tr>
                <th>Code</th>
                <th>Drug Name</th>
                <th>Generic</th>
                <th>Type</th>
                <th>Freq</th>
                <th>Duration</th>
                <th>Instruction</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>Amoxicillin</td>
                <td></td>
                <td>Tablet</td>
                <td>4 / Days</td>
                <td>7 Days</td>
                <td>30 Mins After Meal</td>
              </tr>
              <tr>
                <td></td>
                <td>Amoxicillin</td>
                <td></td>
                <td>Tablet</td>
                <td>4 / Days</td>
                <td>7 Days</td>
                <td>30 Mins After Meal</td>
              </tr>
              <tr>
                <td></td>
                <td>Amoxicillin</td>
                <td></td>
                <td>Tablet</td>
                <td>4 / Days</td>
                <td>7 Days</td>
                <td>30 Mins After Meal</td>
              </tr>
              <tr>
                <td></td>
                <td>Amoxicillin</td>
                <td></td>
                <td>Tablet</td>
                <td>4 / Days</td>
                <td>7 Days</td>
                <td>30 Mins After Meal</td>
              </tr>
              <tr>
                <td></td>
                <td>Amoxicillin</td>
                <td></td>
                <td>Tablet</td>
                <td>4 / Days</td>
                <td>7 Days</td>
                <td>30 Mins After Meal</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 brd mt-2">
          <p><strong>Medicine Suggested</strong></p>
        </div>
        <div class="col-md-12 brd mt-2">
          <table>
            <thead>
              <tr>
                <th>Test Code</th>
                <th>Test Name</th>
                <th>Alternative</th>
                <th>Specimen</th>
                <th>Method</th>
                <th>Instruction</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CL8563</td>
                <td>Amoxicillin</td>
                <td>Thyroid</td>
                <td>Blood</td>
                <td>CLIA</td>
                <td>Empty Stomach</td>
              </tr>
              <tr>
                <td></td>
                <td>Amoxicillin</td>
                <td>Thyroid</td>
                <td>Blood</td>
                <td>CLIA</td>
                <td>Empty Stomach</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 brd mt-2">
          <p><strong>Advice</strong></p>
        </div>
        <div class="col-md-12 mt-2">
          <ul>
            <li>Hypoplastic Left Heart Syndrome</li>
          </ul>
        </div>
        <div class="col-md-12 brd mt-2"></div>
        <div class="col-md-12 mt-2">
          <p><strong>Additional Notes</strong></p>
          <ul>
            <li>Hypoplastic Left Heart Syndrome</li>
            <li>Hypoplastic Left Heart Syndrome</li>
          </ul>
        </div>
        <div class="col-md-12 brd mt-2">
          <p><strong>Next Visit / Follow Up</strong></p>
        </div>
        <div class="col-md-12 mt-2">
          <ul>
            <li>Hypoplastic Left Heart Syndrome</li>
            <li>Hypoplastic Left Heart Syndrome</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
