<div class=" u-p-v--15 u-p-h--50 header-wrapper">
    <div class="u-content-wrapper u-d-flex u-d-flex_jc--between">
        <div class="u-columns u-six">
            <div class="search-wrapper u-pos--rel">
                <div class="search-bar u-d-flex"><i class="search-bar--icon sc-bdVaJa jfQKrz"
                        data-type="search"></i><input type="text" tabindex="0"
                        class="u-p-l--40 text-steel heading-elipson u-shape-wid--full" value=""
                        placeholder="Search for medicines, health products and more"></div>
            </div>
        </div>
        <div class="u-columns u-three"></div>
        <div class="u-columns u-three">
            <div class="u-columns u-four"></div>
            <div class="u-columns u-eight header-view-cart"><a href="/order/cart"><button
                        class="button button__primary button--default button__active button__normal button__undefined cart-disabled button-hover"><i
                            class="icon-ic_cart"><span class="text-azure-two u-text--bold quantity">0</span></i><span
                            class="heading-delta-bold">VIEW CART</span></button></a></div>
        </div>
    </div>
</div>



<div class="full-width-desktop-carousel__wrapper">
    <div class="slick-slider slick-initialized" dir="ltr">
        <div data-role="none" class="slick-arrow slick-prev" style="display:block" currentslide="0" slidecount="4">
            <div class="carousel-navigation slider">
                <div class="pos-v-center arrow-prev">
                    <div class="carousel-navigation-button prev"></div>
                </div>
            </div>
        </div>
        <div class="slick-list">
            <div class="slick-track" style="width: 8010px; opacity: 1; transform: translate3d(-890px, 0px, 0px);">
                <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                    style="width: 890px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="carousel-wrapper slick-item__desktop"
                                style="background-color: rgb(238, 235, 248);"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-4.2a2a16cc.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false"
                    style="outline: none; width: 890px;">
                    <div>
                        <div tabindex="-1" style="width:100%;display:inline-block">
                            <div style="background-color:#e7f1f7" class="carousel-wrapper slick-item__desktop"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-1.48172107.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true"
                    style="outline: none; width: 890px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="carousel-wrapper slick-item__desktop"
                                style="background-color: rgb(247, 232, 230);"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-2.573c08f7.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true"
                    style="outline: none; width: 890px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="carousel-wrapper slick-item__desktop"
                                style="background-color: rgb(228, 242, 235);"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-3.8c8ab982.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true"
                    style="outline: none; width: 890px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="carousel-wrapper slick-item__desktop"
                                style="background-color: rgb(238, 235, 248);"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-4.2a2a16cc.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="4" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                    style="width: 890px;">
                    <div>
                        <div tabindex="-1" style="width:100%;display:inline-block">
                            <div style="background-color:#e7f1f7" class="carousel-wrapper slick-item__desktop"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-1.48172107.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="5" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                    style="width: 890px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="carousel-wrapper slick-item__desktop"
                                style="background-color: rgb(247, 232, 230);"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-2.573c08f7.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="6" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                    style="width: 890px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="carousel-wrapper slick-item__desktop"
                                style="background-color: rgb(228, 242, 235);"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-3.8c8ab982.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                    style="width: 890px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="carousel-wrapper slick-item__desktop"
                                style="background-color: rgb(238, 235, 248);"><img
                                    class="main-carousel--mobile-image u-content-wrapper"
                                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-4.2a2a16cc.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="none" class="slick-arrow slick-next" style="display:block" currentslide="0" slidecount="4">
            <div class="carousel-navigation slider">
                <div class="pos-v-center arrow-next">
                    <div class="next carousel-navigation-button"></div>
                </div>
            </div>
        </div>
        <ul style="display:block" class="slick-full-custom slick-dots slick-thumb">
            <li class="slick-active"><button>1</button></li>
            <li class=""><button>2</button></li>
            <li class=""><button>3</button></li>
            <li class=""><button>4</button></li>
        </ul>
    </div>
</div>


<div class="u-content-wrapper u-m-t--50 u-zIndex-reset">
    <div>
        <div class="text-charcoal-grey text-alpha u-text--bold">Browse medicines &amp; health products</div>
        <div>
            <div class="text-charcoal-grey-two text-delta u-m-t--30">Health condition</div>
            <div class="slick-slider h-w-c u-m-t--15 slick-initialized" dir="ltr"><button type="button" data-role="none"
                    class="slick-arrow slick-prev slick-disabled" style="display:block">
                    <!-- -->Previous</button>
                <div class="slick-list">
                    <div class="slick-track" style="width: 2065px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                            aria-hidden="false" style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a href="/health-products/skin-care/l"
                                        target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/h-c-5.a8ae14dd.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="1" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a href="/health-products/sexual-wellness/l"
                                        target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/h-c-6.51626a1a.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="2" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a
                                        href="/health-products/weight-management/l" target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/h-c-7.476668e1.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="3" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a href="/health-products/pain-relief/l"
                                        target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/h-c-4.5e130b77.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                        <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                        <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                    </div>
                </div>
                <div data-role="none" class="slick-arrow slick-next" style="display:block" currentslide="0"
                    slidecount="7">
                    <div class="carousel-navigation">
                        <div class="carousel-navigation__round"><i class="icon-ic_next_cheveron pos-m-m"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="text-charcoal-grey-two text-delta u-m-t--30">Categories</div>
            <div class="slick-slider h-w-c u-m-t--15 slick-initialized" dir="ltr"><button type="button" data-role="none"
                    class="slick-arrow slick-prev slick-disabled" style="display:block">
                    <!-- -->Previous</button>
                <div class="slick-list">
                    <div class="slick-track" style="width: 2655px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                            aria-hidden="false" style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a href="/health-products/baby-care/l"
                                        target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/cat-2.640dcfd5.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="1" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a
                                        href="/health-products/fitness-wellness/l" target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/cat-6.aa7d1cba.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="2" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a href="/health-products/family-care/l"
                                        target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/cat-9.5029c27e.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="3" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 295px;">
                            <div>
                                <div class="h-w-c__slider u-outline--none u-p-r--10" tabindex="-1"
                                    style="width:100%;display:inline-block"><a href="/health-products/ayurveda/l"
                                        target="_blank">
                                        <div class="h-w-c__slider__image"><img
                                                src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/cat-8.c4cbe33a.png"
                                                class="u-shape-wid--100"></div>
                                    </a></div>
                            </div>
                        </div>
                        <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                        <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                        <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                        <div data-index="7" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                        <div data-index="8" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 295px;"></div>
                    </div>
                </div>
                <div data-role="none" class="slick-arrow slick-next" style="display:block" currentslide="0"
                    slidecount="9">
                    <div class="carousel-navigation">
                        <div class="carousel-navigation__round"><i class="icon-ic_next_cheveron pos-m-m"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="u-content-wrapper u-zIndex-reset">
    <div class="popular-product">
        <div class="text-charcoal-grey-two text-gamma u-m-t--30">Popular Products</div>
        <div class="slick-slider u-m-t--20 slick-initialized" dir="ltr"><button type="button" data-role="none"
                class="slick-arrow slick-prev slick-disabled" style="display:block">
                <!-- -->Previous</button>
            <div class="slick-list">
                <div class="slick-track" style="width: 2360px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                    <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false"
                        style="outline: none; width: 236px;">
                        <div>
                            <div class="m-product-wrapper "><a class="u-a--disable-style"
                                    href="/health-products/prega-news-pregnancy-test-kit-9136/p" target="_blank">
                                    <div class="m-product__image-wrapper u-p-b--5 u-p-t--5 u-text--center"><img
                                            class="u-img-fit--height u-b-center"
                                            alt="MANKIND PHARMA (DISCOVERY) PREGA NEWS CARD 1`S 1 STRIPS"
                                            src="https://www.practostatic.com/practopedia-v2-images/res-150/54822146e82e046517547cd64a98d12563f0a7641.JPG">
                                    </div>
                                    <div class="u-p-t--10 u-position--relative">
                                        <div
                                            class="heading-epsilon m-product-details text-charcoal-grey-two u-p-l--10 u-p-r--10">
                                            <div class="m-product__title">PREGA NEWS CARD 1`S</div>
                                            <div class="u-p-t--10 ">
                                                <div
                                                    class="u-display--inline-block heading-gamma-bold text-charcoal-grey-two">
                                                    <span>₹</span><span>40.00</span></div>
                                                <div
                                                    class="u-display--inline-block u-text--striked u-p-l--5 text-steel heading-zeta">
                                                    <span>₹</span><span>50</span></div><span
                                                    class="text-true-green u-p-l--5 heading-zeta u-text--bold">20%
                                                    off</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="u-p--10"></div>
                            </div>
                        </div>
                    </div>
                    <div data-index="1" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                        style="outline: none; width: 236px;">
                        <div>
                            <div class="m-product-wrapper "><a class="u-a--disable-style"
                                    href="/health-products/shelcal-500-tablet-13888/p" target="_blank">
                                    <div class="m-product__image-wrapper u-p-b--5 u-p-t--5 u-text--center"><img
                                            class="u-img-fit--height u-b-center"
                                            alt="TORRENT PHARMA (ELDER TEAM B) SHELCAL 500MG Tablet 15`S 15 TABLET ( 15 / STRIP )"
                                            src="https://www.practostatic.com/practopedia-v2-images/res-150/c1fdd9113cb8033b95d57cf3b62bfddea28f9f321.jpg">
                                    </div>
                                    <div class="u-p-t--10 u-position--relative">
                                        <div
                                            class="heading-epsilon m-product-details text-charcoal-grey-two u-p-l--10 u-p-r--10">
                                            <div class="m-product__title">SHELCAL 500MG Tablet 15`S</div>
                                            <div class="u-p-t--10 ">
                                                <div
                                                    class="u-display--inline-block heading-gamma-bold text-charcoal-grey-two">
                                                    <span>₹</span><span>76.50</span></div>
                                                <div
                                                    class="u-display--inline-block u-text--striked u-p-l--5 text-steel heading-zeta">
                                                    <span>₹</span><span>90</span></div><span
                                                    class="text-true-green u-p-l--5 heading-zeta u-text--bold">15%
                                                    off</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="u-p--10"></div>
                            </div>
                        </div>
                    </div>
                    <div data-index="2" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                        style="outline: none; width: 236px;">
                        <div>
                            <div class="m-product-wrapper "><a class="u-a--disable-style"
                                    href="/health-products/itone-eye-drops-10-ml-11832/p" target="_blank">
                                    <div class="m-product__image-wrapper u-p-b--5 u-p-t--5 u-text--center"><img
                                            class="u-img-fit--height u-b-center"
                                            alt="DEYS MEDICAL STORES MFG LTD ITONE EYE DROPS 10ML 10ML EYE DROPS"
                                            src="https://www.practostatic.com/practopedia-v2-images/res-150/14700066108d9fec319e3c64fd28a3af083011d21.jpg">
                                    </div>
                                    <div class="u-p-t--10 u-position--relative">
                                        <div
                                            class="heading-epsilon m-product-details text-charcoal-grey-two u-p-l--10 u-p-r--10">
                                            <div class="m-product__title">ITONE EYE DROPS 10ML</div>
                                            <div class="u-p-t--10 ">
                                                <div
                                                    class="u-display--inline-block heading-gamma-bold text-charcoal-grey-two">
                                                    <span>₹</span><span>50.00</span></div><span
                                                    class="text-true-green u-p-l--5 heading-zeta u-text--bold"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="u-p--10"></div>
                            </div>
                        </div>
                    </div>
                    <div data-index="3" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                        style="outline: none; width: 236px;">
                        <div>
                            <div class="m-product-wrapper "><a class="u-a--disable-style"
                                    href="/health-products/becadexamin-capsule-14299/p" target="_blank">
                                    <div class="m-product__image-wrapper u-p-b--5 u-p-t--5 u-text--center"><img
                                            class="u-img-fit--height u-b-center"
                                            alt="GLAXO SMITHKLINE (TEAM 3 ASCLEPLUS) BECADEXAMIN Capsule 30`S 30 CAPSULES ( 30 / JAR )"
                                            src="https://www.practostatic.com/practopedia-v2-images/res-150/b9e0c77197b1a7337b3ddc7bf520e40bbc4667501.JPG">
                                    </div>
                                    <div class="u-p-t--10 u-position--relative">
                                        <div
                                            class="heading-epsilon m-product-details text-charcoal-grey-two u-p-l--10 u-p-r--10">
                                            <div class="m-product__title">BECADEXAMIN Capsule 30`S</div>
                                            <div class="u-p-t--10 ">
                                                <div
                                                    class="u-display--inline-block heading-gamma-bold text-charcoal-grey-two">
                                                    <span>₹</span><span>29.71</span></div>
                                                <div
                                                    class="u-display--inline-block u-text--striked u-p-l--5 text-steel heading-zeta">
                                                    <span>₹</span><span>34.95</span></div><span
                                                    class="text-true-green u-p-l--5 heading-zeta u-text--bold">15%
                                                    off</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="u-p--10"></div>
                            </div>
                        </div>
                    </div>
                    <div data-index="4" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                        style="outline: none; width: 236px;">
                        <div>
                            <div class="m-product-wrapper "><a class="u-a--disable-style"
                                    href="/health-products/calcimax-forte-tablet-14483/p" target="_blank">
                                    <div class="m-product__image-wrapper u-p-b--5 u-p-t--5 u-text--center"><img
                                            class="u-img-fit--height u-b-center"
                                            alt="MEYER ORGANICS PVT LTD CALCIMAX FORTE Tablet 30`S 30 TABLET ( 30 / STRIP )"
                                            src="https://www.practostatic.com/practopedia-v2-images/res-150/75a822444992e551aa67d0d5ba70b2a1f65c86631.jpg">
                                    </div>
                                    <div class="u-p-t--10 u-position--relative">
                                        <div
                                            class="heading-epsilon m-product-details text-charcoal-grey-two u-p-l--10 u-p-r--10">
                                            <div class="m-product__title">CALCIMAX FORTE Tablet 30`S</div>
                                            <div class="u-p-t--10 ">
                                                <div
                                                    class="u-display--inline-block heading-gamma-bold text-charcoal-grey-two">
                                                    <span>₹</span><span>190.40</span></div>
                                                <div
                                                    class="u-display--inline-block u-text--striked u-p-l--5 text-steel heading-zeta">
                                                    <span>₹</span><span>224</span></div><span
                                                    class="text-true-green u-p-l--5 heading-zeta u-text--bold">15%
                                                    off</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="u-p--10"></div>
                            </div>
                        </div>
                    </div>
                    <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true"
                        style="outline: none; width: 236px;"></div>
                    <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true"
                        style="outline: none; width: 236px;"></div>
                    <div data-index="7" class="slick-slide" tabindex="-1" aria-hidden="true"
                        style="outline: none; width: 236px;"></div>
                    <div data-index="8" class="slick-slide" tabindex="-1" aria-hidden="true"
                        style="outline: none; width: 236px;"></div>
                    <div data-index="9" class="slick-slide" tabindex="-1" aria-hidden="true"
                        style="outline: none; width: 236px;"></div>
                </div>
            </div>
            <div data-role="none" class="slick-arrow slick-next" style="display:block" currentslide="0" slidecount="10">
                <div class="carousel-navigation">
                    <div class="carousel-navigation__round"><i class="icon-ic_next_cheveron pos-m-m"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="u-content-wrapper">
    <div class="separator"></div>
    <div class="u-row u-clearfix">
        <div class="u-columns u-six u-p-r--25"><a
                class="marketing-card__desktop__with-description u-d-flex u-d-flex--wrap u-text--no-decoration u-m-b--15"
                href="https://www.practo.com/consult" target="_blank">
                <div class="u-p-v--20">
                    <h3 class="text-left text-light-blue text-zeta">INTRODUCING CONSULTATION DESK</h3>
                    <div class="u-m-t--10 u-m-b--10 text-charcoal-grey-two text-alpha text-left">Don’t self medicate.
                        Talk to an expert. Consult a doctor in less than 2 minutes.</div>
                </div><img
                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/mar-card-1.d328c6a9.png">
            </a></div>
        <div class="u-columns u-six u-p-r--25">
            <div class="marketing-card__desktop__with-description u-d-flex u-d-flex--wrap u-text--no-decoration u-m-b--15"
                href="" target="_blank">
                <div class="u-p-v--20">
                    <h3 class="text-left text-light-blue text-zeta">INTRODUCING FAST DELIVERY</h3>
                    <div class="u-m-t--10 u-m-b--10 text-charcoal-grey-two text-alpha text-left">Tired of waiting in a
                        queue? Too weak to go down and buy medicines?</div>
                </div><img
                    src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/mar-card-2.1380f875.png">
            </div>
        </div>
    </div>
</div>

<div class="know-your-medicine-wrapper__desktop u-p-t--15 u-p-l--15 u-p-r--15 u-row u-m-t--40">
    <div class="image-wrapper u-content-wrapper"><img
            src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/full-width-4.2a2a16cc.png"></div>
</div>

<div class="u-zIndex-reset">
    <div class="testimony-wrapper u-p--15 u-m-v--40">
        <div class="text-charcoal-grey text-alpha u-text--bold">What our users have to say</div>
        <div class="u-p-t--15 u-p-b--15">
            <div class="slick-slider slick-initialized" dir="ltr">
                <div class="slick-list">
                    <div class="slick-track"
                        style="width: 7898px; opacity: 1; transform: translate3d(-718px, 0px, 0px);">
                        <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                            style="width: 718px;"></div>
                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                            aria-hidden="false" style="outline: none; width: 718px;">
                            <div>
                                <div class="text-alpha text-black"><span
                                        class="text-charcoal-grey text-arrow u-text--bold u-m-r--10">“</span><span>Beautiful
                                        application with elegant UI Design. I found this app very useful. Placed Order
                                        for a few medicines and recieved in just two days. Same medicine costs me +100
                                        from local Shop. Recommended application. :-).</span></div>
                                <div class="user-wrapper u-m-t--25 u-d-flex u-d-flex--hc">
                                    <div class="u-d-flex"><img
                                            src="//www.practostatic.com/ecommerce-assets/static/media/home/common/testimony2.9e5212dc.jpg"
                                            class="u-shape--cir">
                                        <div class="u-d-flex u-d-flex--column u-m-l--15 u-d-flex--bl">
                                            <div class="text-charcoal-grey u-text--bold text-epsilon">Ayush Verma</div>
                                            <div class="text-cool-grey-two text-epsilon">Oct 5, 2018 at 11:33 AM</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 718px;"></div>
                        <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 718px;"></div>
                        <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 718px;"></div>
                        <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true"
                            style="outline: none; width: 718px;"></div>
                        <div data-index="5" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                            style="width: 718px;">
                            <div>
                                <div class="text-alpha text-black"><span
                                        class="text-charcoal-grey text-arrow u-text--bold u-m-r--10">“</span><span>Beautiful
                                        application with elegant UI Design. I found this app very useful. Placed Order
                                        for a few medicines and recieved in just two days. Same medicine costs me +100
                                        from local Shop. Recommended application. :-).</span></div>
                                <div class="user-wrapper u-m-t--25 u-d-flex u-d-flex--hc">
                                    <div class="u-d-flex"><img
                                            src="//www.practostatic.com/ecommerce-assets/static/media/home/common/testimony2.9e5212dc.jpg"
                                            class="u-shape--cir">
                                        <div class="u-d-flex u-d-flex--column u-m-l--15 u-d-flex--bl">
                                            <div class="text-charcoal-grey u-text--bold text-epsilon">Ayush Verma</div>
                                            <div class="text-cool-grey-two text-epsilon">Oct 5, 2018 at 11:33 AM</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="6" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                            style="width: 718px;"></div>
                        <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                            style="width: 718px;"></div>
                        <div data-index="8" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                            style="width: 718px;"></div>
                        <div data-index="9" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                            style="width: 718px;"></div>
                    </div>
                </div>
                <ul style="display:block" class="slick-full-custom slick-dots slick-thumb">
                    <li class="slick-active"><button>1</button></li>
                    <li class=""><button>2</button></li>
                    <li class=""><button>3</button></li>
                    <li class=""><button>4</button></li>
                    <li class=""><button>5</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="desktop-download__app-link u-p-v--50">
    <div class="u-row u-clearfix">
        <div class="u-columns u-five main-banner-wrapper"><img
                src="https://www.practostatic.com/consumer-home/desktop/images/1540464906/app-banner@2x.jpg"
                class="s-appbanner__mobile"></div>
        <div class="u-columns u-seven">
            <div class="pos-v-center">
                <div class="heading-alpha">Download the Wealthy Life app</div>
                <div class="text-delta text-steel">Your home for health is one tap away.</div>
                <div class="u-m-t--20 text-delta text-charcoal-grey-two">Book appointments, Order health products, Chat
                    with a doctor online,</div>
                <div class="text-delta text-charcoal-grey-two">Book health chekups, store health records &amp; read
                    health tips.</div>
                <div class="u-m-t--50 text-delta text-charcoal-grey-two">Send the link to download the app</div>
                <div class="c-applink u-m-t--15">
                    <div class="c-applink__input ">
                        <div class="u-d__flex">
                            <div class="country-code u-text--bold">+91</div><input type="text" class="text" value=""
                                placeholder="Enter phone number">
                        </div>
                        <div class="u-t-c--green_2 link-sent"></div>
                    </div>
                    <div class="btn-primary u-cur--ptr">Send app link</div>
                </div>
                <div class="download--app-link u-m-t--25"><a
                        href="https://app.appsflyer.com/com.practo.fabric?pid=Practo-order&amp;c=homepage"><img
                            src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/play-store.3556fc81.png"
                            class="u-cur--ptr"></a><a
                        href="https://app.appsflyer.com/id953772015?pid=homepage&amp;c=original"><img
                            src="//www.practostatic.com/ecommerce-assets/static/media/home/desktop/app-store.e30d53a6.png"
                            class="u-m-l--15 u-cur--ptr"></a></div>
            </div>
        </div>
    </div>
</div>


