<ul class="navbar-nav bg-white text-dark sidebar accordion" id="accordionSidebar">


    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">Seetings</div>
    </a>
    <div class="sidebar-heading">
        Interface
    </div>


    <hr class="sidebar-divider my-0">


    <li class="nav-item active">
        <a class="nav-link" href="#">
            <span>WealthyLife</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Practice Details</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="tables.html">

            <span>Practice Staff</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Calender</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="tables.html">

            <span>Communications</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Pricing Catalogue</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="tables.html">

            <span>Consent Forms</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Data Security</span></a>
    </li>

    <hr class="sidebar-divider">


    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Clinical Notes Catalogue</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="tables.html">

            <span>Drug Catalogue</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Charting Templates</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="tables.html">

            <span>Printouts</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Emails</span></a>
    </li>
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Billing</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Patient Groups</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Import Export</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Auto ID Generation</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">

            <span>Insurance</span></a>
    </li>
</ul>