<ul class="navbar-nav bg-white text-dark sidebar accordion" id="settingSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="#">
        <div class="sidebar-brand-text">Settings</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" routerLink="#">
            <span>WealthyLife</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/practice-details">
            <span>Practice Details</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/PracticeStaff">
            <span>Practice Staff</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/Calendar">
            <span>Calender</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/Communications">
            <span>Communications</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/PricingCatalog">
            <span>Pricing Catalogue</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/ConsentForms">

            <span>Consent Forms</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/DataSecurity">
            <span>Data Security</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/ClinicalNotesCatalog">

            <span>Clinical Notes Catalogue</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/DrugCatalog">

            <span>Drug Catalogue</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/ChartingTemplates">

            <span>Charting Templates</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/Printouts">
            <span>Printouts</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/Emails">

            <span>Emails</span></a>
    </li>
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/Billing">

            <span>Billing</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/PatientGroups">

            <span>Patient Groups</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/ImportExport">

            <span>Import Export</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/AutomaticIDGeneration">

            <span>Auto ID Generation</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Doctor/Settings/Insurance">

            <span>Insurance</span></a>
    </li>
</ul>