.pointer{
    cursor: pointer;
}
.setright{position: absolute;
    right: 10px;
    margin: auto;}
    .acti{
        background-color: #00a1de !important;
      >p{
          color: white !important;
      }
    }
    .sttype{
       list-style: disc;
    }
    .dli{
        list-style-type: decimal;
        
    }
    font{vertical-align: inherit;}
.section{
    font-family: 'Poppins', sans-serif;
    p{
    opacity: .8;
    font-size:14px;
    
    }
}