<div class="col-sm-9 col-lg-10 col-xs-12 product-container-wrapper">
    <div class="payments-container">
        <div class="m-heading-three product-title hidden-sm hidden-md hidden-lg bg-white">WealthyLife HealthCash</div>
        <div class="bg-white product-nav">
            <a class="product-nav-tab " [ngClass]="{'selected': nav}" (click)="navopen()">Payment Options</a>
            <a class="product-nav-tab" [ngClass]="{'selected': nav1}" (click)="navopen1()">HealthCash History</a>
        </div>
        <div class="no-consultsss" *ngIf="nav">
            <div class="saved-payment-option">
                <div class="saved-payment-option__details">
                    <img class="saved-payment-option__details__logo"
                        src="../assets/img/wallet-icon.webp" alt="practo HealthCash">
                    <div class="saved-payment-option__details__title">WealthyLife HealthCash</div>
                    <div class="saved-payment-option__details__balance heading-four m-heading-three bold">0.0</div>
                </div>
            </div>
        </div> 
        <div class="no-consults" *ngIf="nav1">
            <div class="no-consults-img">
                <img alt="no-consults" src="../assets/img/consult-illustration.svg" width="200" height="140">
            </div>
            <div class="no-consults-msg">You do not have any HealthCash transactions</div>
        </div>
    </div>
</div>
