<p-toast class="custom-error" [showTransformOptions]="'translateX(100%)'"></p-toast>
<section>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step>
            <ng-template matStepLabel> Medical Registration</ng-template>
            <section class="bg-white p-sm-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-lg-3 offset-md-2 paddingonxs" [formGroup]="profileform">
                            <div class="form-group-sm mb-3">
                                <label for="RegistrationNumber">Registration Number</label>
                                <input type="text" class="form-control" id="RegistrationNumber" placeholder="R-898977"
                                    formControlName="registrationNumber" />
                            </div>
                            <div class="form-group">
                                <label for="RegistrationCouncil">Registration Council</label>
                                <input type="text" class="form-control" id="registrationNumber"
                                    formControlName="registrationCouncil" placeholder="Enter your council" />
                            </div>
                            <div class="form-group">
                                <label for="RegistrationYear">Registration Year</label>
                                <select id="RegistrationYear" class="form-control" formControlName="registrationYear">
                                    <option *ngFor="let item of items; index as i" [value]="2019 - i + 1">
                                        {{ 2019 - i + 1 }}
                                    </option>
                                </select>
                            </div>
                            <hr class="mt-5 mb-3" />
                            <div class="row">
                                <button mat-raised-button [routerLink]="['/Doctor/Profile']"
                                    routerLinkActive="router-link-active">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_left</mat-icon>
                                    Back
                                </button>
                                <button mat-raised-button color="success" (click)="onSave(stepper)">
                                    Save and Contnue
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-5 offset-md-1">
                            <div class="d-none d-sm-none d-md-block col-md-12 col-lg-8 mt-5 ml-5 pr-0 pl-0"
                                style="border: 1px solid #14aa9b;">
                                <div class="bg p-4 textcol">
                                    <div>
                                        <i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                                    </div>
                                    <p class="stext font-weight-bold">
                                        This information helps us perform critical checks to ensure
                                        that only licensed and genuine medical practitioners are
                                        listed on WhealthyLife. Your profile will get a “Verified” badge
                                        on verification. Doctors with verified profiles get 95% more
                                        patient views on WhealthyLife.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Education Qualification</ng-template>
            <app-education [stepper]="stepper"></app-education>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Connect a practice</ng-template>
            <app-connect-clinic [stepper]="stepper"></app-connect-clinic>
        </mat-step>
    </mat-horizontal-stepper>
</section>