
      
   <section class="bg- clear-all video-player">
    <video width="100%" preload="metadata" poster="https://www.wealthylife.com/providers/static/images/pages/company/bridge_video_poster.png" onclick="window.videoPlayer(this)">
      <source src="#" type="video/mp4">
    </video>
</section>
<div class=" clearfix "></div>
<section class=" bg-white bannersection">
  <div class="mama  row center-block">
    <div class="col-xs-12 col-sm-10 center-block text-center">
        <h1 class="h0">Your home for health</h1>
        <h4 class="h4">For millions of people, Wealthy Life is the trusted and familiar home where they know they’ll find a healing touch. It connects them with everything they need to take good care of themselves and their family - assessing health issues, finding the right doctor, booking diagnostic tests, obtaining medicines, storing health records or learning new ways to live healthier.<br><br>
        Healthcare providers can also harness the power of Wealthy Life as the definitive platform that helps them build their presence, grow establishments and engage patients more deeply than ever.</h4>
        <div class="margin-top">
          <div class="single-block col-xs-12  col-sm-4 margin-bottom clear-left text-center">
            <img src="https://www.wealthylife.com/providers/static/images/pages/company/15_countries.png" alt="15 countries" title="15 countries">
            <div class="clearfix"></div>
            <div class="margin-v para col-xs-12 col-sm-10 clear-left center-block">
              5 countries with consumer and software business. 10 additional countries with enterprise software business.
            </div>
          </div>
          <div class="single-block col-xs-12  col-sm-4 margin-bottom clear-left text-center">
            <img src="https://www.wealthylife.com/providers/static/images/pages/company/50m_appointments.png" alt="50 Million Appointments" title="50 Million Appointments">
            <div class="clearfix"></div>
            <div class="margin-v para col-xs-12 col-sm-10 clear-left center-block">
              We help millions of patients and  thousands of doctors with a simpler, easier healthcare experience.
            </div>
          </div>
          <div class="single-block col-xs-12  col-sm-4 margin-bottom clear-left text-center">
            <img src="https://www.wealthylife.com/providers/static/images/pages/company/healthcare_providers.png" alt="200,000 Healthcare Providers" title="200,000 Healthcare Providers">
            <div class="clearfix"></div>
            <div class="margin-v para col-xs-12 col-sm-10 clear-left center-block">
              We list for free and ensure each doctor profile is verified for medical license, qualification and specialisation.
            </div>
          </div>
        </div>
    </div>
  </div>
</section><div class="clearfix"></div>
<section class="bg-grey text-center text-white bg-image-about">
  <div class="row center-block">
    <div class="col-xs-12 col-sm-6 text-left">
        <h1 class="h1">Diverse people.<br>One purpose.</h1>
        <h4 class="h4">We are dreamers, thinkers and do-ers rolled into one.Together, we want to improve the healthcare experience for all humanity. We are guided by our values and driven by our motto to do great. These are not just principles for our products or our company, but they are a reflection of who we are as people.</h4>
        <div class="single-block col-xs-12  col-sm-4 margin-bottom clear-left text-left">
          <h3 class="h3 col-xs-12 col-sm-12 clear-left text-left margin-v">
            Inspire<br>Trust
          </h3>
        </div>
        <div class="single-block col-xs-12  col-sm-4 margin-bottom clear-left text-left">
          <h3 class="h3 col-xs-12 col-sm-12 clear-left text-left margin-v">
            Growth is <br>Oxygen
          </h3>
        </div>
        <div class="single-block col-xs-12  col-sm-4 margin-bottom clear-left text-left">
          <h3 class="h3 col-xs-12 col-sm-12 clear-left text-left margin-v">
            Think First <br>Principles
          </h3>
        </div>
    </div>
  </div>
</section><div class="clearfix"></div>
<section class="bg- text-center">
  <div class="row center-block">
    <div class="col-xs-12 col-sm-12 center-block">
        <h4 class="h4 col-xs-12 col-sm-8 center-block margin-center">Our work impacts millions of people around the world. VUPIM is our north star guiding our actions and decisions every day to ensure we always do the right thing.</h4>
      <div class="clearfix vupim-wrap center-block margin-top">
          <div class="single-blocks margin-top text-center">
            <div class="badge center-block">V</div>
            <h2 class="h2 col-xs-12 col-sm-12 clear-both text-center text-grey text-bold margin-v">
              Vision
            </h2>
          </div>
          <div class="single-blocks margin-top text-center">
            <div class="badge center-block">U</div>
            <h2 class="h2 col-xs-12 col-sm-12 clear-both text-center text-grey text-bold margin-v">
              User
            </h2>
          </div>
          <div class="single-blocks margin-top text-center">
            <div class="badge center-block">P</div>
            <h2 class="h2 col-xs-12 col-sm-12 clear-both text-center text-grey text-bold margin-v">
              Practeon
            </h2>
          </div>
          <div class="single-blocks margin-top text-center">
            <div class="badge center-block">I</div>
            <h2 class="h2 col-xs-12 col-sm-12 clear-both text-center text-grey text-bold margin-v">
              Investor
            </h2>
          </div>
          <div class="single-blocks margin-top text-center">
            <div class="badge center-block">M</div>
            <h2 class="h2 col-xs-12 col-sm-12 clear-both text-center text-grey text-bold margin-v">
              Myself
            </h2>
          </div>
      </div>
    </div>
  </div>
</section><div class="clearfix"></div>
<section class="bg-grey bannersection">
  <div class="row center-block">
    <div class="col-xs-12 col-sm-10 center-block text-center">
        <h1 class="h1 ">#DoGreat</h1>
        <h4 class="h4">Do Great is our motto and is the hallmark of a true Practeon. It signifies the intrinsic motivation in each Practeon to strive for excellence. Every time. This means Practeons do their best work, not for want of rewards or recognitions but because they expect it of themselves.</h4>
    </div>
  </div>
</section><section class="bg- clear-all video-player" >
    <video class="video2" width="100%" title="About us | What we do - wealthylife" preload="metadata" poster="https://www.wealthylife.com/providers/static/images/pages/company/do_great_poster.png" onclick="window.videoPlayer(this)" >
      <source src="https://www.practostatic.com/company/videos/wealthylife+Do+Great.mp4" type="video/mp4">
    </video>
</section><div class="clearfix"></div>
<section class="bg-white  clear-h" >
  <div class="row rownew">
    <h2 class="col-xs-12 h1 text-center text-grey cushion-v margin-bottom-none ">Our Investors</h2>
    <div class="col-xs-12 text-center center-block">
          <i class="client_logos gray investors sequoia">
          </i>         
          <i class="client_logos gray investors matrix">
          </i>         
          <i class="client_logos gray investors tencent">
          </i>         
          <i class="client_logos gray investors yuri">
          </i>         
          <i class="client_logos gray investors altimeter">
          </i>         
          <i class="client_logos gray investors capitalg">
          </i>         
          <i class="client_logos gray investors sofina">
          </i>         
          <i class="client_logos gray investors thrive">
          </i>         
          <i class="client_logos gray investors runet">
          </i>         
          <i class="client_logos gray investors recuit">
          </i>         
    </div>
  </div>
  
</section>
      