<div class="style__banner___3u_XJ">
  <img src="../../../assets/img/homeopathy.jpg" alt="aboutUs">
  <div class="style__main-heading___Zv368">
    <div>We make healthcare</div>
    <div>Understandable, Accessible and Affordable.</div>
  </div>
</div>

<div class="style__aboutus-content___Y9zGF">
  <div class="style__about___2rZsm">
    <div class="style__heading___ME_M_">About Whealthy Life</div>
    <div class="text-center style__f32___1ToRb">
      <p>
        India’s leading digital consumer<br>
        healthcare platform
      </p>
    </div>
    <div class="form-row style__list___1M28j">
      <div class="col-xs-12 col-md-3 col-sm-6 style__list-item___31SDt">

        <div class="inner-box">
          <div class="style__item-image___2ujoa">
              <img src="../../../assets/img/diarrhea.png" alt="Pharmacy"></div>
            <div class="style__item-info___1vsjr">
              <h2>E-Pharmacy</h2>
              <div class="style__sub-title___3QnWO">
                  <p>Order medicines and health products online and get it delivered at home from licensed pharmacies</p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 col-sm-6 style__list-item___31SDt">
        <div class="inner-box">
        <div class="style__item-image___2ujoa"><img src="../../../assets/img/diarrhea.png" alt="Online Consultations">
        </div>
        <div class="style__item-info___1vsjr">
          <h2>Online Consultations</h2>
          <div class="style__sub-title___3QnWO">
            <p>Consult qualified and registered doctors on chat for free</p>
          </div>
        </div>
      </div>
    </div>

      <div class="col-xs-12 col-md-3 col-sm-6 style__list-item___31SDt">
        <div class="inner-box">
        <div class="style__item-image___2ujoa"><img src="../../../assets/img/diarrhea.png" alt="Labs Tests"></div>
        <div class="style__item-info___1vsjr">
          <h2>Labs Tests</h2>
          <div class="style__sub-title___3QnWO">
            <p>Book lab tests online for hassle-free, home sample collection service. Get reports online.</p>
          </div>
        </div>

      </div>
      </div>

      <div class="col-xs-12 col-md-3 col-sm-6 style__list-item___31SDt">
        <div class="inner-box">
        <div class="style__item-image___2ujoa"><img src="../../../assets/img/diarrhea.png" alt="LegitScript"></div>
        <div class="style__item-info___1vsjr">
          <h2>Authentic Information</h2>
          <div class="style__sub-title___3QnWO">
            <p>Read medicine and health content written by qualified doctors and health professionals </p>
          </div>
       
        </div>
      </div>
      </div>

    </div>
    <div class="style__free-text-2___3Kmvs">WealthyLife.com brings to you an online platform, which can be accessed for
      all your
      health needs. We are trying to make healthcare a hassle-free experience for you. Get your allopathic, ayurvedic,
      homeopathic medicines, vitamins &amp; nutrition supplements and other health-related products delivered at home.
      Lab tests? That too in the comfort of your home. Doctor consult? Yes, we got that covered too.</div>
  </div>
</div>


<div class="style__leadership___MVBmF">
  <div class="style__heading___ME_M_">Leadership</div>
  <div class="form-row style__list___1M28j">
    <div class="col-xs-12 col-md-4 col-sm-6 style__list-item___31SDt">
      <div class="inner-box">
      <div class="style__item-image-2___2mb8H"><img src="../../../assets/img/user.jpeg"
          alt="Prashant Tandon"></div>
      <div class="style__item-info___1vsjr">
        <div class="style__name___10Jjn">R K Sharama</div>
        <div class="style__sub-title___3QnWO">CEO &amp; Co-Founder</div>
      </div>
      <div class="style__social-links___nAIjA"><a rel="nofollow" target="_blank">
          <div class="style__linkedin___HM79c"></div>
        </a><a rel="nofollow" target="_blank">
          <div class="style__twitter___3ooSY"></div>
        </a>
      </div>
    </div>

    </div>



    <div class="col-xs-12 col-md-4 col-sm-6 style__list-item___31SDt">
      <div class="inner-box">
      <div class="style__item-image-2___2mb8H"><img src="../../../assets/img/user.jpeg"
          alt="Gaurav Agarwal"></div>
      <div class="style__item-info___1vsjr">
        <div class="style__name___10Jjn">R K Sharama</div>
        <div class="style__sub-title___3QnWO">CTO &amp; Co-Founder</div>
      </div>
      <div class="style__social-links___nAIjA"><a rel="nofollow" target="_blank">
          <div class="style__linkedin___HM79c"></div>
        </a><a  rel="nofollow" target="_blank">
          <div class="style__twitter___3ooSY"></div>
        </a>
      </div>
    </div>
    </div>


    <div class="col-xs-12 col-md-4 col-sm-6 style__list-item___31SDt">
      <div class="inner-box">
      <div class="style__item-image-2___2mb8H"><img class="rounded" src="../../../assets/img/user.jpeg"
          alt="Vikas Chauhan"></div>
      <div class="style__item-info___1vsjr">
        <div class="style__name___10Jjn">R K Sharama</div>
        <div class="style__sub-title___3QnWO">Co-Founder</div>
      </div>
      <div class="style__social-links___nAIjA"><a rel="nofollow" target="_blank">
          <div class="style__linkedin___HM79c"></div>
        </a><a  rel="nofollow" target="_blank">
          <div class="style__twitter___3ooSY"></div>
        </a>
      </div>
    </div>
    </div>



    <div class="col-xs-12 col-md-4 col-sm-6 text-center style__list-item___31SDt">
      <div class="inner-box">
      <div class="style__item-image-2___2mb8H"><img src="../../../assets/img/user.jpeg"
          alt="Tanmay Saksena"></div>
      <div class="style__item-info___1vsjr">
        <div class="style__name___10Jjn">R K Sharama</div>
        <div class="style__sub-title___3QnWO">COO</div>
      </div>
      <div class="style__social-links___nAIjA"><a 
          rel="nofollow" target="_blank">
          <div class="style__linkedin___HM79c"></div>
        </a><a  rel="nofollow" target="_blank">
          <div class="style__twitter___3ooSY"></div>
        </a>
      </div>
    </div>
    </div>


    <div class="col-xs-12 col-md-4 col-sm-6 text-center style__list-item___31SDt">
      <div class="inner-box">
      <div class="style__item-image-2___2mb8H"><img src="../../../assets/img/user.jpeg"
          alt="Sanjiv Gupta"></div>
      <div class="style__item-info___1vsjr">
        <div class="style__name___10Jjn">R K Sharama</div>
        <div class="style__sub-title___3QnWO">CFO</div>
      </div>
      <div class="style__social-links___nAIjA"><a 
          rel="nofollow" target="_blank">
          <div class="style__linkedin___HM79c"></div>
        </a>
        <div class="style__twitter-fade___20qbe"></div>
      </div>
    </div>
    </div>




  </div>
</div>




