

                        
    <div  class="container-fluid" >
        <div class=""><div class="">
        <div class="col-sm-7 ">
            <div class="integrations-header "><h1>Whealthy Life Prime Integration</h1></div>
        </div>
    </div>
    <div class="ui fitted divider "></div>
    </div>
    <div class="ui sixteen wide column prime-main-block ng-scope">
       
        <div   class=""><div class="section benefits ng-scope">
         
            
        <div class="follow-up-head">
            <p class="bold-text">Wondering how many patients walked in to your clinic for a consultation?</p>
            <p>You can now accurately and easily track patient walk-ins by enabling Prime integration!<a target="_blank"><b>Know more</b></a></p>
        </div>
        <p class="bold-text mt-4 ">How it works:</p>


        <div class="row mt-4">


            <div  class="col-sm-3 padd mt-3">

                <img src="../../../../assets/img/consultation.svg">
                <img src="../../../../assets/img/arrow.svg" class="arrow">
                <div class="section-head">Patient walks in &amp; consults the doctor</div>
            </div>


            <div  class="col-sm-3 padd mt-3">

                <img src="../../../../assets/img/consultation.svg">
                <img src="../../../../assets/img/arrow.svg" class="arrow">
                <div class="section-head">Action performed</div>
                <div class="text-grey ">Billing/Prescription/File sharing/Check-in action performed on Ray.</div>

            </div>


            <div  class="col-sm-3 padd  mt-3">

                <img src="../../../../assets/img/consultation.svg" >
                <div class="section-head">Checked-in on Prime</div>
                <div class="text-grey">The patient gets checked-in automatically on the Prime dashboard.</div>

            </div>

           

        </div>


        <div class=" form  no-padding" >


            <div class="form-check  " >
                <mat-checkbox class="color-black" >I agree to Prime <a ><b>Terms and Conditions</b></a></mat-checkbox>
            </div>

            
        


        </div>


       
        <button mat-flat-button class="mt-2 mat-button-cust" >Enable Prime Integration</button>
        <div class="note m-3">
            <p  class="note">Please note : This will be enabled for all Prime doctors in your practice.</p>
        </div>
    </div>
    </div>

    </div>
    </div>







<!-- prime -->
