<!-- <p>contact-us works!</p> -->


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.742759098362!2d77.60621321413416!3d12.859884420800947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6b20af8c141b%3A0x3d4c99009f402006!2sNobel+Residency+Road+%26+2nd+Cross+Road%2C+Nobel+Residency%2C+Phase+2%2C+Tejaswini+Nagar%2C+Bengaluru%2C+Karnataka+560076!5e0!3m2!1sen!2sin!4v1559983349830!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0; height: 260px;" allowfullscreen="">
</iframe>
<div class="container margin_60_35">
    <div class="row">
        <aside class="col-lg-3 col-md-4">
            <div id="contact_info">
                <h3>Contacts info</h3>
                <p>
                    53, 2nd Cross, 1st Main, <br>Nobel Residency,<br> Bannerghatta Road,<br>
                    Bangalore : 560076 Karnataka<br>
                </p>
                <ul>
                    <li><strong>Phone</strong>
                        <p>
                            <i class="pe-7s-call"></i><a href="https://wa.me/917278000555">+91 7278000555</a><br>
                            <i class="pe-7s-call"></i><a href="https://wa.me/917278888000">+91 7278888000</a><br>
                        </p>
                    </li>
                    <li><strong>Email</strong>
                        <p><i class="pe-7s-mail"></i><a href="mailto:support@whealthylife.com">support@whealthylife.com</a></p>
                    </li>
                </ul>
            </div>
        </aside>
        <!--/aside -->
        <div class=" col-lg-8 col-md-8 ml-auto">
            <div class="box_general">
                <h3>Contact us</h3>
                <div>
                    <div id="message-contact"></div>
                    <form method="post" action="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone number">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" style="height:100px;" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="btn_1 add_top_20">
                    </form>
                </div>
                <!-- /col -->
            </div>
        </div>
        <!-- /col -->
    </div>
    <!-- End row -->
</div>