<!-- <p>contact-us works!</p> -->
<div class="back">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.742759098362!2d77.60621321413416!3d12.859884420800947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6b20af8c141b%3A0x3d4c99009f402006!2sNobel+Residency+Road+%26+2nd+Cross+Road%2C+Nobel+Residency%2C+Phase+2%2C+Tejaswini+Nagar%2C+Bengaluru%2C+Karnataka+560076!5e0!3m2!1sen!2sin!4v1559983349830!5m2!1sen!2sin"
    width="100%"
    height="450"
    frameborder="0"
    style="border: 0; height: 260px"
    allowfullscreen=""
  >
  </iframe>
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-3 col-md-4 box_general ml-auto">
        <div class="">
          <div id="contact_info">
            <h3 class="contact">Contacts info</h3>
            <p>
              Nobel Residency, <br />
              Second Floor, 53, <br />2nd Cross, 1st Main,<br />
              Bannerghatta Road, <br />Bangalore Bangalore KA (560076)<br />
            </p>
            <ul>
              <li>
                <strong>Email</strong>
                <div class="row">
                  <div class="col-12">
                    <p class="">
                      <i class="pe-7s-mail">
                        <span class="text-danger ml-2"
                          >support@whealthylife.co.in</span
                        ></i
                      >
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <strong>CIN Number</strong>
                <div class="row">
                  <div class="col-12">
                    <p class="">
                      <i class="pe-7s-credit">
                        <span class="text-danger ml-2"
                          >U33129KA2020PTC134166</span
                        ></i
                      >
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/aside -->
      <div class="col-lg-8 col-md-8 ml-auto">
        <div class="box_general">
          <div
            *ngIf="alert"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong>Success !</strong> Your request has been sent successfully.
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
              (click)="closeAlert()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <h3 class="contact mt-4">Contact us</h3>
          <div class="button-block mb-3">
            <p>Your query is about</p>
            <div class="mydiv">
              <button
                type="button"
                class="btn btn-outline-success mr-3"
                [class.changestyle]="check1"
                (click)="onClick1()"
              >
                E-Consult
              </button>
              <button
                type="button"
                class="btn btn-outline-success mr-3"
                [class.changestyle]="check2"
                (click)="onClick2()"
              >
                Lab-Test
              </button>
              <button
                type="button"
                class="btn btn-outline-success mr-3"
                [class.changestyle]="check3"
                (click)="onClick3()"
              >
                Medicine
              </button>
              <button
                type="button"
                class="btn btn-outline-success mr-3"
                [class.changestyle]="check4"
                (click)="onClick4()"
              >
                Patnerships
              </button>
              <button
                type="button"
                class="btn btn-outline-success mr-3"
                [class.changestyle]="check5"
                (click)="onClick5()"
              >
                Join Us
              </button>
              <button
                type="button"
                class="btn btn-outline-success mr-3"
                [class.changestyle]="check6"
                (click)="onClick6()"
              >
                Others
              </button>
            </div>
          </div>
          <div>
            <div id="message-contact"></div>
            <form [formGroup]="contactFrom" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="phone"
                      class="form-control"
                      placeholder="Phone number"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="subject"
                      class="form-control"
                      placeholder="Subject"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      rows="5"
                      formControlName="message"
                      class="form-control"
                      style="height: 100px"
                      placeholder="Your Message"
                    ></textarea>
                    <!-- <div
                      class="g-recaptcha"
                      data-sitekey="6LcmyXoaAAAAAEJ-TaklnPhnqerCIQfAuc7nyapc"
                    ></div> -->
                  </div>
                </div>
              </div>
              <ngx-recaptcha2
                #captchaElem
                siteKey="'6LcmyXoaAAAAAEJ-TaklnPhnqerCIQfAuc7nyapc'"
                formControlName="recaptcha"
              >
              </ngx-recaptcha2>
              <input
                type="submit"
                value="Submit"
                class="btn_1 add_top_20"
                style="background-color: #1a9007"
              />
            </form>
          </div>
          <!-- /col -->
        </div>
      </div>
      <!-- /col -->
    </div>
    <!-- End row -->
  </div>
</div>
