.pe-7s-call_{
    color:red;
}


.btn_1{
    font-size: 18px;
    height: 40px;
    width: 100px
    
  

}

#contact_info p {
    font-size: 16px;
    line-height: 1.8;
  
}
.phone{
    color: red;
}

.container{

    font-weight: bold;
}
.contact{
    font-size: 16px !important;
    font-weight: bold;
}
