.pe-7s-call_ {
  color: red;
}
.back {
  background-color: #ecf0f1;
}
.btn_1 {
  font-size: 18px;
  height: 40px;
  width: 100px;
}
.button-block {
  button {
    size: 14px;
  }
  .btn:hover {
    color: #fff !important;
    text-decoration: none;
  }
  .btn:active {
    background-color: green !important;
  }
}
#contact_info p {
  font-size: 14px;
  line-height: 1.8;
  text-align: justify;
  i {
    font: 1rem;
    color: red;
  }
  span {
    font-size: 16px;
  }
}
.phone {
  color: red;
  margin: 12px !important;
}
.container {
  font-weight: 400;
}
.contact {
  font-size: 21px !important;
  font-weight: 400;
}
.form-control {
  font-size: 16px !important;
}
@media only screen and (max-width: 768px) {
  .button-block {
    button {
      width: 46%;
      margin: 0.5rem 0;
      font-size: 12px;
    }
    .btn:hover {
      color: #fff !important;
      text-decoration: none;
    }
    .btn:active {
      background-color: green !important;
    }
  }
}
