.mat-button-t{
    background-color: #ffa000;
    color: #fff;
  
   
       float: right;
    font-size: 12px;
}


.l-b-p{
    font-weight: 400;
    color: black;
}

.labl{ margin-left: 14px;}  

 .mat-dialog-container{
  padding: 10%;
   
  }

  .sp{color: red;}