<div mat-dialog-title>Receipt ID Generation</div>
<mat-dialog-content class="mat-typography mt-4 " >
    <div class="col-md-12 col-sm-12">
        <div class="row">


            <div class="col-sm-6">

              <div class="form-group">
                <label class="l-b-p">Receipt Number (Prefix)</label>
                <input type="email" class="form-control" value="RCPT" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>

            </div>


            <div class="col-sm-6">

              <div class="form-group">
                <label class="l-b-p">Numeric Only <span class="sp">*</span></label>
                <input type="email" class="form-control" value="1" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>

            </div>

          
          </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" >
    <button mat-button mat-dialog-close>Cancel</button>
    <button  class="mat-button-t" mat-button [mat-dialog-close]="true" cdkFocusInitial>Apply</button>
</mat-dialog-actions>
