
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex">
                Home <span> > </span><p class="">Skin Care</p> <span> > </span><p class="bold">Body And Bath</p>
            </div>
        </div>
    </div>
</section>
<section class="sec1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>CATEGORIES</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">                                       
                        <div class="d-flex comm">
                           <div class="updowns"><a routerLink="/health-products/skin-care">Skin Care</a> </div>
                          <span class="angle-right1"> <i class="fa fa-angle-right"  data-toggle="collapse" data-target="#demo"></i></span>
                        </div>
                           <div  id="demo" class="collapse">
                               <div class="updown"><a routerLink="/health-products/acne-care">Acne care</a></div>
                               <div class="updown"><a routerLink="/health-products/body-and-bath">Body and Bath</a></div>
                               <div class="updown"><a routerLink="/health-products/face-wash-and-cleansers">Face Wash and Cleansers</a></div>
                               <div class="updown"><a routerLink="/health-products/skin-care-supplement">Skin Care Suppliment</a></div>
                           </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 senior">
                        <h1 class="seniorh1">Body and Bath</h1>
                        <span class="seniorspan">35 Products</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row prcdetails">
                                            <div class="col-sm-12">                                           
                                                    <span class="priceoriginal">₹76.50</span>
                                                    <span class="strikthrough">₹16.50</span>
                                                    <span class="greentext">15% off</span>                                   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm">ADD</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row prcdetails">
                                            <div class="col-sm-12">                                           
                                                    <span class="priceoriginal">₹76.50</span>
                                                    <span class="strikthrough">₹16.50</span>
                                                    <span class="greentext">15% off</span>                                   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>