<section>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="My Cart" #tab>
      <div class="container-fluid" style="padding:0px;min-height:660px" id="body-container">
        <div>
          <div class="container style-wrapper style-desktop-view">
            <div>
              <div class="row style-mt-0">
                <div class="col-lg-8 col-xs-12">
                  <div class="row style-d-mt-0 style-center-align">
                    <div class="col-xs-6">
                      <h2 class="style-header">
                        Order Overview
                      </h2>
                    </div>
                    <div class="col-xs-6">
                      <div class="style-add-more-tests ">
                        +Add More Tests
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="row style-overview-block">
                      <div class="col-xs-12">
                        <div class="style-desktop-view1 style-wrapper">
                          <div class="style-header-1">
                            <div class="row">
                              <div class="col-lg-12 style-fs-12 style-m-fs-11">
                                <span class="style-text-gray style-upcase">
                                  PATHOLOGY tests (1)
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-9 col-xs-8">
                                <h3 class="style-fs-16 style-m-fs-14">
                                  <b>
                                    {{name}}
                                  </b>
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div class="style-body">
                            <div class="row style-mt-0 style-d-flex">
                              <div class="col-xs-12 col-lg-8">
                                <div>
                                  <div class="row style-test-summary">
                                    <div class="col-lg-9 col-xs-8 style-pl-0 style-test-name style-m-pl-15">
                                      <b>
                                        {{tile}}
                                      </b>
                                      <div class="style-tat-cart">
                                        E-Reports with in 72 hours post sample collection
                                      </div>
                                    </div>
                                    <div class="col-lg-3 col-xs-4 text-right-order">
                                      <div class="style-font-bold style-test-price">
                                        ₹{{amount}}
                                      </div>
                                      <div class="style-test-mrp style-fs-12 style-m-fs-11 style-text-gray">
                                        ₹ {{mrp}}
                                      </div>
                                    </div>

                                    <div class="row no-gutters">
                                      <div class="col-2 example-button-row">
                                        <button mat-button>-</button>
                                      </div>
                                      <div class="col text-center">{{quantity}} in cart</div>
                                      <div class="col-2 example-button-row">
                                        <button mat-button>+</button>
                                      </div>
                                    </div>

                                    <div
                                      class="col-xs-12 style-pl-0 style-show-remove style-mt-0 style-fs-12 style-m-fs-11 style-m-pl-15">
                                      <span class="style-pointer">
                                        <span (click)="removeAt(CartData[0]._id)">
                                          <span class="style-text-gray">
                                            <i class="fa fa-trash-o"></i>
                                            Remove
                                          </span>
                                        </span>
                                      </span>
                                    </div>

                                  </div>
                                  <hr>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-info-banner style-warning style-consult-a-doctor-banner">
                            <div class="row style-mt-0-order">
                              <div class="col-lg-6 style-m-fs-12 style-font-bold">
                                <img src="/src/assets/img/Swati/consultation.svg" class="style-mr-10">
                                Consult a Doctor FREE with this order!
                              </div>
                              <div class="col-lg-6 style-m-fs-12 style-lh-2em">
                                You can consult online once your test report is generated
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                  <div class="row style-price-block">
                    <div>
                      <div class="style-wrapper-order-1 style-desktop-view-order-1">
                        <div class="row">
                          <div class="col-xs-12">
                            <i class="fa fa-check-circle style-text-blue"></i>
                            You saved
                            <span class="style-text-green">
                              ₹{{saveAmount}}
                            </span>
                          </div>
                          <div class="col-xs-12 style-text-gray style-fs-12 style-mt-15  style-m-ml-0">
                            <b>
                              COMP:
                            </b>
                            Flat {{offer}}% off
                            <!-- {{item?.packageId?.offerPercent}} -->
                          </div>
                          <div class="col-xs-12 style-fs-12">
                            <div class="style-mt-15 style-pt-15 style-border-top-summary">
                              <div class="col-xs-3">
                                <button class="button-text style-button-text style-text-gray">
                                  REMOVE
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="style-mt-20 style-m-mt-0 style-wrapper-summary">
                      <div class="row style-text-gray style-fs-12-summary style-item-summary">
                        <div class="col-xs-6">
                          M.R.P. Total
                        </div>
                        <div class="col-xs-6 text-right-summary">
                          ₹10960
                        </div>
                      </div>
                      <div class="row style-text-gray style-fs-12-summary style-item-summary">
                        <div class="col-xs-6">
                          Price Discount
                        </div>
                        <div class="col-xs-6 text-right-summary">
                          - ₹8561
                        </div>
                      </div>
                      <div class="row style-text-gray style-fs-12-summary style-item-summary">
                        <div class="col-xs-6">
                          Coupon Discount
                        </div>
                        <div class="col-xs-6 text-right-summary">
                          - ₹1200
                        </div>
                      </div>
                      <div class="row text-right-summary style-font-bold-summary">
                        <div class="col-xs-6">
                          Total
                        </div>
                        <div class="col-xs-6 text-right-summary">
                          ₹1199
                        </div>
                      </div>
                      <div class="row style-background-green style-pt-10 style-item-summary-1">
                        <div class="col-xs-12">
                          Total Savings
                          <span class="style-text-green-summary style-font-bold-summary">
                            ₹9761
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row style-mt-0">
                    <button class="btn style-schedule-button style-button-summary style-info " (click)="openDialog()">
                      SCHEDULE
                    </button>
                  </div>
                </div>
              </div>
              <div class="row style-mt-50-summary style-m-mt-0-sum">
                <div class="col-lg-8 col-xs-12">
                  <div class="col-xs-12 style-disclaimer-sum">
                    1mg is a technology platform to facilitate transaction of business. The products and services are
                    offered
                    for sale by the sellers. The user authorizes the delivery personel to be his agent for delivery of
                    the goods.
                    For details read
                    <a target="_blank" href="">
                      terms and conditions.
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                  <div class="col-xs-12 style-disclaimer-sum">
                    *1mgCash will be credited 7 days after your complete order is delivered in case of Products and in
                    case of
                    Lab Services 1mgCash will be credited within 24 hours from the time of generation of test report.
                    1mgCash will not be credited in case a return request is initiated for the order.
                    <br>**Coupon Discount value may change if the total order value changes.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="Order Summary">
      <app-order-summary [tabIndex]="tab"></app-order-summary>
    </mat-tab>

    <mat-tab label="Payment">
      <app-paument-cart [tabIndex]="tab"></app-paument-cart>
    </mat-tab>

  </mat-tab-group>
</section>
