<section style="margin-top: 100px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm bg-white navbar-white start-style">
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Dropdown link
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Dropdown link
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Dropdown link
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                        </li>

                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Dropdown link
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Home <span> > </span><p>Family Care</p>
            </div>
        </div>
    </div>
</section>
<section class="sec1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>CATEGORIES</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex">
                            <span class="angle-right"><i class="fa fa-angle-right"></i>
                            </span>
                            <!-- <span><i class="fa fa-angle-down"></i>
                            </span> -->
                           <div class="updownn"><a routerLink="/health-products/family-care"> Family Care</a></div>
                        </div>
                        <div class="updowna"><a routerLink="/health-products/senior-care">Senior Care</a> </div>
                        <div class="d-flex comm">
                           <div class="updowns"><a routerLink="/health-products/womens-care">Women's Care</a> </div>
                          <span class="angle-right1"> <i class="fa fa-angle-right"  data-toggle="collapse" data-target="#demo"></i></span>
                        </div>
                           <div  id="demo" class="collapse">
                               <div class="updown"><a routerLink="/health-products/feminine-hygiene">Feminine Hygiene</a></div>
                               <div class="updown"><a routerLink="/health-products/mother-care">Mother Care Hygiene</a></div>
                           </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-5 family">
                        <h1 class="familyh1">Family Care</h1>
                        <span class="familyspan">36 Products</span>
                    </div>
                </div>
                <div class="row shopbycat">
                    <div class="col-sm-5">
                        <h1>Shop by category</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="co-sm-3 colordcard">
                        <a routerLink="/health-products/senior-care">
                        <div class=" bg-primary">
                            <div class="card-body text-center">
                              <p class="card-text cat">SENIOR CARE</p>
                            </div>
                          </div>
                        </a>
                        
                    </div>
                    <div class="co-sm-3 colordcard">
                        <a routerLink="/health-products/womens-care">
                        <div class=" bg-success">
                            <div class="card-body text-center">
                              <p class="card-text cat">WOMEN'S</p>
                              <p class="catnextp"> CARE</p>
                            </div>
                          </div>
                        </a>
                    </div>
                </div>
                <div class="row bestseller">
                    <div class="col-sm-3">
                        <h1>Best Sellers</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm">ADD</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>