<div class="card shadow mb-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-3 first">
                        <h2 class="font-weight-bold text-primary">Profile</h2>
                    </div>
                    <div class="col-sm-9">
                        <button class="c-button--primary  btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-sm-6  maincol">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>Profile photo</div>
                                <div class="row">
                                    <div class="col-sm-6" style="padding: 10px;">
                                        <img src="../../../.././../assets/img/avatar.png"
                                            style="width:100px;height:100px;border-radius: 50%;border :1px solid;outline: none;">
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div sty>
                                            <h4 style="font-size: 14px;">Pick a photo from your computer</h4>
                                            <a style="color:blue">add Photo</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr class="bodhr">
                            <div class="col-sm-6 ">
                                <div class="form-group">
                                    <label for="ClinicName"> Name<span>*</span></label>
                                    <input type="text" class="form-control" id="ClinicName">
                                </div>
                            </div>
                            <div class="col-sm-6  mt-4">
                                <div class="form-group">
                                    <label for="Specialization">Phone number</label>
                                    <a style="float: right;color:blue">Edit</a>
                                    <input type="text" class="form-control" id="Contact">
                                </div>
                            </div>
                            <div class="col-sm-6  mt-4">
                                <div class="form-group">
                                    <label for="gstin">Email Address</label>
                                    <a style="float: right; color:blue">Edit</a>
                                    <input type="text" class="form-control" id="gstin">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="country">Gender</label>
                                    <select class="form-control" id="country">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="website">Date of birth</label>
                                    <input type="text" class="form-control" id="website">
                                </div>
                            </div>
                            <hr style="border-top: 1px solid lightgray;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="country"> Blood group</label>
                                    <select class="form-control" id="country" aria-placeholder="Select an Option">
                                        <option>O+</option>
                                        <option>A+</option>
                                        <option>B+</option>
                                        <option>O-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="country"> Time Zone</label>
                                    <select class="form-control" id="country" aria-placeholder="Select an Option">
                                        <option>O+</option>
                                        <option>A+</option>
                                        <option>B+</option>
                                        <option>O-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bodhr">
                <div class="row">
                    <div class="col-sm-6  maincol ">
                        <div class="mainhed">Address</div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Specialization">
                                        House No./ Street Name/ Area</label>

                                    <input type="text" class="form-control" id="Contact">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Specialization">
                                        Colony / Street / Locality</label>

                                    <input type="text" class="form-control" id="Contact">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Specialization">City</label>
                                    <input type="text" class="form-control" id="Contact">
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="form-group">
                                    <label for="Specialization">
                                        State</label>
                                    <input type="text" class="form-control" id="Contact">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="country">
                                        Country<span>
                                            *
                                        </span></label>
                                    <select class="form-control" id="country">
                                        <option>India</option>
                                        <option>America</option>
                                        <option>Africa</option>
                                        <option>Norvey</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Specialization">
                                                Pincode</label>
                                            <input type="text" class="form-control" id="Contact">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bodhr">
            </div>

            <div class="col-sm-6  maincol">
                <div class="mainhed">Other information</div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Specialization">
                                Extra phone numbers</label>
                            <input type="text" class="form-control" id="Contact">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="country">Language</label>
                            <select class="form-control" id="country">
                                <option>English</option>
                                <option>Marathi</option>
                                <option>Hindi</option>
                                <option>Telgu</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>