<p-toast class="custom-error" [showTransformOptions]="'translateX(100%)'"></p-toast>
<div class="card shadow mb-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-3 first">
                        <h2 class="font-weight-bold text-primary">Accounts</h2>
                    </div>
                    <div class="col-sm-9">
                        <button mat-stroked-button class="float-right" (click)="onSave()">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row" [formGroup]="profileForm">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6  maincol">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>Profile photo</div>
                                    <div class="row">
                                        <div class="col-sm-6" style="padding: 10px;">
                                            <img [src]="avatar"
                                                onerror="this.src='../../../.././../assets/img/avatar.png'"
                                                class="profile-avtar">
                                            <input type="file" style="display: none;" #file
                                                (change)="browseFile($event)">
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div>
                                                <h4 style="font-size: 14px;">Pick a photo from your computer</h4>
                                                <a style="color:blue; cursor: pointer;" (click)="file.click()">add
                                                    Photo</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bodhr">
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                        <label for="firstname">First Name<span>*</span></label>
                                        <input type="text" formControlName="firstName" class="form-control"
                                            id="firstname">
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                        <label for="lastName">Last Name<span>*</span></label>
                                        <input type="text" formControlName="lastName" class="form-control"
                                            id="lastName">
                                    </div>
                                </div>

                                <div class="col-sm-6  mt-4">
                                    <div class="form-group">
                                        <label for="Specialization">Phone number</label>
                                        <!-- <a style="float: right ;color:blue">Edit</a> -->
                                        <input type="number" formControlName="mobileNumber" class="form-control"
                                            readonly id="Contact">
                                    </div>
                                </div>
                                <div class="col-sm-6  mt-4">
                                    <div class="form-group">
                                        <label for="gstin">Email Address</label>
                                        <!-- <a style="float: right; color:blue">Edit</a> -->
                                        <input type="email" formControlName="email" class="form-control" readonly
                                            id="gstin">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" formControlName="gender" id="gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="website">Date of birth</label><br />
                                        <p-calendar formControlName="dob"></p-calendar>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Specialisations">Specialisations</label>
                                        <select class="form-control" formControlName="specialitie" id="Specialisations"
                                            placeholder="Select an Option">
                                            <option *ngFor="let spec of speciality" [value]="spec?.name">{{spec?.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <hr style="border-top: 1px solid lightgray;">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="bloodGroup"> Blood group</label>
                                        <select class="form-control" id="bloodGroup" formControlName="bloodGroup" placeholder="Select an Option">
                                            <option>O+</option>
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                            <option>O-</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="timezone"> Time Zone</label>
                                        <select class="form-control" id="timezone" formControlName="timeZone"
                                            placeholder="Select an Option">
                                            <option *ngFor="let time of timeZone" [value]="time?.name">{{time?.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="bodhr">
                    <div class="row">
                        <div class="col-sm-6  maincol ">
                            <div class="mainhed">Address</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Specialization">
                                            House No./ Street Name/ Area</label>
                                        <input type="text" formControlName="address" class="form-control" id="Contact">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Specialization">
                                            Colony / Street / Locality</label>
                                        <input type="text" formControlName="landmark" class="form-control" id="Contact">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="country">
                                            Country<span>
                                                *
                                            </span></label>
                                        <select class="form-control" id="country" formControlName="country"
                                            (change)="getState()">
                                            <option *ngFor="let country of countryList" [value]="country?.id">
                                                {{country?.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label for="Specialization">
                                            State
                                        </label>
                                        <select class="form-control" id="state" formControlName="state"
                                            (change)="getCity()">
                                            <option *ngFor="let state of stateList" [value]="state?.id">
                                                {{state?.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <select class="form-control" id="city" formControlName="city">
                                            <option *ngFor="let city of cityList" [value]="city?.id">
                                                {{city?.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="Specialization">
                                                    Pincode</label>
                                                <input type="number" formControlName="pincode" class="form-control"
                                                    id="Contact">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="bodhr">
                </div>

                <div class="col-sm-6  maincol">
                    <div class="mainhed">Other information</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Specialization">
                                    Extra phone numbers</label>
                                <input type="text" formControlName="extraPhoneNumber" class="form-control" id="Contact">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="country">Language</label>
                                <select formControlName="language" class="form-control" id="language">
                                    <option>English</option>
                                    <option>Marathi</option>
                                    <option>Hindi</option>
                                    <option>Telgu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>