
    .mat-bt{
        background-color: #ffa000;
        color: #fff;
      
        font-size: 12px;
    }


//     .md-dialog-container {
       
//         width: 650px;
//         height: 650px
//   }




.mousecursor {
    cursor: pointer;
}

.navactive {
    background-color: #e7e7e7!important;
    border-left-style: solid !important;
    border-left-width: 3px !important;
   
    color: black;
}
.navactive1 {
    background-color: #59697f!important;
    color: #fff!important;
    border-left-style: solid !important;
    border-left-width: 3px !important;
}


.sp{
    color: red;
}





.valid-lable{
    margin-left: -20px !important;
}