


<section>

<div  class="container" style="background-color: white; font-size: 14px;">

    <div class="col-sm-12" >
        <span class="main-heading" style="font-size: 18px;">Insurance</span>
    </div>

    <div class="ui fitted divider"></div>

    <div class="bold  fontmain"><span>Building India's first truly Cashless OPD Insurance Network</span></div>


    <div class="mini-header bold-text  "><span>Key Benefits</span></div>

<div class="row  " >

    <div class="col-sm-4  paddt">

        <div >
            <img src="../../../../../assets/img/growth.svg" alt="" class="ui tiny benefits image">
            <p class="tiny-header bold-text">Grow your Practice</p>
            <div class="tiny-title charcoal">
                Increase patient footfall by tapping into the fast growing network of insurance customers.
            </div>
        </div>


    </div>

    <div class="col-sm-4 paddt">


        <div class="">
            <img src="../../../../../assets/img/growth.svg" alt="" class="ui tiny benefits image">
            <p class="tiny-header bold-text">Real-time authorization</p>
            <div class="tiny-title charcoal">
                Easy 3-step process for filing claims online. Instant approval without any paperwork
            </div>
        </div>

    </div>

    <div class="col-sm-4  ">

        <div class="top-container">
            <div class="tiny-header bold-text  fontmain text-center">Our partners</div>
            <div class="tiny-title steel ">Bringing the top insurance companies of India on a single platform</div>
            
           <div  >


            <div class="row">

                <div class="ui fitted divider"></div>
                <div class="col-sm-6"  >
  
                  <div class="eight wide logo-wrapper column">
                      <img src="../../../../../assets/img/max-bupa.svg" alt="Max Bupa logo" class="ui tiny fluid image">
                  </div>
  
                </div>  
                  
  
                <div class="col-sm-6" >
  
                  <div class="eight wide logo-wrapper column">
                      <img src="../../../../../assets/img/max-bupa.svg" alt="Max Bupa logo" class="ui tiny fluid image">
                  </div>
  
                </div> 
  
  
  
              </div>
  
  
           
              <div class="row" style="padding: 10px;">
  
                  <div class="col-sm-6" >
    
                    <div class="eight wide logo-wrapper column">
                        <img src="../../../../../assets/img/max-bupa.svg" alt="Max Bupa logo" class="ui tiny fluid image">
                    </div>
    
                  </div>  
                    
    
                  <div class="col-sm-6"  >
    
                    <div class="eight wide logo-wrapper column">
                        <img src="../../../../../assets/img/max-bupa.svg" alt="Max Bupa logo" class="ui tiny fluid image">
                    </div>
    
                  </div> 
                  <div class="ui fitted divider"></div>
    
    
                </div>
    


           </div>

            

        </div>
          

        </div>

    </div>





    <div class="row">

        <div class="col-sm-4  paddt"  >
 
            <div class="">
                <img src="../../../../../assets/img/growth.svg" alt="" class="ui tiny benefits image">
                <p class="tiny-header bold-text">Stand out from peers</p>
                <div class="tiny-title charcoal">
                    Increase the clinic visibility by getting listed onto insurer and Practo platforms.
                </div>
            </div>



        </div>
    
        <div class="col-sm-4  paddt" >
          
            <div class="">
                    <img src="../../../../../assets/img/growth.svg" alt="" class="ui tiny benefits image">
                    <p class="tiny-header bold-text">Guaranteed on-time payment</p>
                    <div class="tiny-title charcoal">
                        Quick and guaranteed settlements with an easy to access earnings dashboard.
                    </div>
                </div>


        </div>
    
        <div class="col-sm-4">
    

            <!-- fisrst -->

            <div class="ui fitted divider"></div>

            <div class="bottom-container  ">
                <div class="row">
                   <div class="col-sm-6  paddt">


                    <div class="four wide column mini-title charcoal highlighted-text">
                        <span class="wealthy-orange focus-text">2000+</span> DOCTORS
                    </div>
                   


                   </div>

                   
                   <div  class="col-sm-6  paddt">

                    <div class="">
                        <span class="steel">
                            Already LIVE with 2000+<br>
                            doctors across top cities in<br>
                            India and growing fast
                        </span>
                    </div>

                   </div>

        
                </div>
                <div class="row">
                   

                    <div  class="col-sm-6  paddt">

                        <div class="four wide column mini-title charcoal highlighted-text">
                            <span class="wealthy-orange focus-text">7</span><br>CITIES
                        </div>
                        

                    </div>


                    <div  class="col-sm-6  paddt">

                        <div class="">
                            <span class="steel">
                                Delhi-NCR  |  Mumbai<br>
                                Pune  |  Kolkata  |  Bengaluru<br>
                                Hyderabad  |  Chennai
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            

           
            <!-- endfirdt -->
    
            </div>
    
        </div>



    


    




</div>

</section>
