.insurance-index {
    color: #4a4a5a;
}



.main-heading{

    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: black;

}
.paddt{
    padding: 20px;
}

.fontmain{
    font-size: 19px;

    color: black;
    font-weight: 400;
}


.mini-header{
    font-size: 17px;
font-weight: bold;
    color: black;
    margin-top: 10px;
}

.tiny-header{
   
    
    font-size: 17px;

    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}


.wealthy-orange{
    color: rgb(255, 160, 0);
    font-size: 30px !important;
}

