.slick-list {
  width: 100%;
  overflow: auto;
}

svg.bi.bi-arrow-right-circle-fill {
  width: 50px;
  height: 50px;
}
svg.bi.bi-arrow-left-circle-fill {
  width: 50px;
  height: 50px;
}

.fever-img{
  display: block;
   margin: auto;
   max-width: 100%;
}
.diabetes-img{
  display: block;
   margin: auto;
   max-width: 100%;
}
.diabetes-div{
  outline: none;
  width: 197px;
}
.div{
  width: 1576px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  display: flex !important;
  flex-direction: row !important;
}
.dis{
  display: block;
}
.outline{
  outline: none;
  width: 197px;
}
.dia-div{
  width: 120px;
  margin: 0px auto;
}
.c-landingpage-card--title, .u-padtb--std, .u-text--center, .u-font-bold{
  margin: 26px 71px !important;
}

@media only screen and (max-width: 600px) {
  div{
    display: flex;
      flex-direction: column !important;
  }
  .slider-arroy{
    display: none !important;
  }
}

.slider-arroy{
  color:#ce2224;
  display:flex;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  margin: 0px;
  width: 97%;
  top: 25%;
}

.sliderr{
  position: absolute;
  top: 150;
  display: flex !important;
  justify-content: center !important;

}
.font-change{
  color: white;
  font-weight: 600;
}

.div-title{
  position: absolute;
  display: flex;
  top:150px;
  justify-content: center;
  align-items: center;
  width:100%
}



.card-title11{
  color: white;
  font-weight: 600;
  width: 100%;
}

.card-style1{
  box-shadow:5px 5px 5px #ca2224 !important;
  border-radius:5px !important;
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21ac0c;
  // margin: 30px !important;
}