<div id="landingpage-list" class="c-landingpage-list dg-wrapper u-padb--dbl" style="margin: 200px 0;">

  <div class="slick-custom-arrows">
    <div class="slick-slider slider variable-width slick-initialized" dir="ltr">
      <div
        data-role="none"
        class="slick-arrow slick-prev slick-disabled dis"
        currentslide="0"
        slidecount="8"
      >
    </div>
      <div class="slick-list">
        <div
          class="slick-track div">
          <div
            data-index="0"
            class="slick-slide slick-active slick-current outline"
            tabindex="-1"
            aria-hidden="false"
          >
            <div>
              <a
                href="/health-checkup-packages/diabetes-checkup?city=ahmedabad"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div ">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/Diabetes.png"
                    alt="image"
                    class="diabetes-img "
                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Diabetes
                </div></a
              >
            </div>
          </div>
          <div
            data-index="1"
            class="slick-slide slick-active outline"
            tabindex="-1"
            aria-hidden="false"
          >
            <div>
              <a
                href="/health-checkup-packages/cancer-screening-health-checkup?city=ahmedabad"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/Cancer.png"
                    alt="image"
                    class=" diabetes-img"
                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Cancer
                </div></a
              >
            </div>
          </div>
          <div
            data-index="2"
            class="slick-slide slick-active outline"
            tabindex="-1"
            aria-hidden="false"
          >
            <div>
              <a
                href="/health-checkup-packages/skin-care-checkups?city=ahmedabad"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/skin.png"
                    alt="image"
                    class="diabetes-img "

                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Skin
                </div></a
              >
            </div>
          </div>
          <div
            data-index="3"
            class="slick-slide slick-active outline"
            tabindex="-1"
            aria-hidden="false"
          >
            <div>
              <a
                href="/health-checkup-packages/kidney-urine-checkups?city=ahmedabad"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/kidney.png"
                    alt="image"
                    class="diabetes-img "
                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Kidney
                </div></a
              >
            </div>
          </div>
          <div
            data-index="4"
            class="slick-slide slick-active outline"
            tabindex="-1"
            aria-hidden="false"
          >
            <div>
              <a
                href="/health-checkup-packages/stomach-digestion-checkups?city=ahmedabad"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div ">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/Digestion.png"
                    alt="image"
                    class="diabetes-img"
                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Digestion
                </div></a
              >
            </div>
          </div>
          <div
            data-index="5"
            class="slick-slide slick-active outline"
            tabindex="-1"
            aria-hidden="false"
          >
            <div>
              <a
                href="#"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div ">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/sexualwellness.png"
                    alt="image"
                    class="diabetes-img"
                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Sexual Wellness
                </div></a
              >
            </div>
          </div>
          <div
            data-index="6"
            class="slick-slide outline"
            tabindex="-1"
            aria-hidden="true"

          >
            <div>
              <a
                href="/health-checkup-packages/bone-joints-checkups?city=ahmedabad"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/Bone.png"
                    alt="image"
                    class="diabetes-img"
                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Bone
                </div></a
              >
            </div>
          </div>
          <div
            data-index="7"
            class="slick-slide outline"
            tabindex="-1"
            aria-hidden="true"
          >
            <div>
              <a
                href="/health-checkup-packages/fever-checkup?city=ahmedabad"
                class="c-landingpage-card u-pointer undefined"
                ><div class="dia-div">
                  <img
                    src="../../../assets/img/Swati/BookHeathCheckup/fever.png"
                    alt="image"
                    class="fever-img "
                  />
                </div>
                <div
                  class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold"
                >
                  Fever
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        data-role="none"
        class="slick-arrow slick-next dis"
        currentslide="0"
        slidecount="8"
      >
        <div class="slick-arrow-wrapper">
          <i class="icon-ic_next_cheveron u-center"></i>
        </div>
      </div>
    </div>
  </div>
</div>
