.fever-img{
  display: block;
   margin: auto;
   max-width: 100%;
}
.diabetes-img{
  display: block;
   margin: auto;
   max-width: 100%;
}
.diabetes-div{
  outline: none;
  width: 197px;
}
.div{
  width: 1576px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.dis{
  display: block;
}
.outline{
  outline: none;
  width: 197px;
}
.dia-div{
  width: 120px;
  margin: 0px auto;
}
