.slick-list {
  width: 100%;
  overflow: auto;
}



.fever-img{
  display: block;
   margin: auto;
   max-width: 100%;
}
.diabetes-img{
  display: block;
   margin: auto;
   max-width: 100%;
}
.diabetes-div{
  outline: none;
  width: 197px;
}
.div{
  width: 1576px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  display: flex !important;
  flex-direction: row !important;
}
.dis{
  display: block;
}
.outline{
  outline: none;
  width: 197px;
}
.dia-div{
  width: 120px;
  margin: 0px auto;
}
.c-landingpage-card--title, .u-padtb--std, .u-text--center, .u-font-bold{
  margin: 26px 71px !important;
}

@media only screen and (max-width: 600px) {
  div{
    display: flex;
      flex-direction: column !important;
  }
}