<p-toast class="custom-error" [showTransformOptions]="'translateX(100%)'"></p-toast>
<section class="mt-120 mb-50 login-area ">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-6 sidimg d-none d-sm-block">
                <img src="../assets/img/Whealthy Life-07.jpg">
            </div>
            <div class="col-md-6 margin-toprm">
                <div class="row">
                    <div class="col-sm-12 ">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" routerLink="/register">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane container active" id="Login"></div>
                            <div class="tab-pane container fade" id="Register"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <form [formGroup]="loginForm">
                            <div class="box">
                                <div class="outer-box  outer-space">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="padding-bottom-8">
                                                Mobile Number / Email ID
                                            </div>
                                            <input autofocus="" class="form-control email-text" id="username" formControlName="email" placeholder="Mobile Number / Email ID" type="text">
                                            <span id="usernameErrorBlock" class="errorText textMuted error-block display-block">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="passwordContainer" style="pointer-events: auto; opacity: 1;">
                                                <div class="padding-bottom-8 padding-top-20">Password</div>

                                                <input class="form-control email-text" id="password" formControlName="password" placeholder="Password" type="password">

                                            </div>
                                            <span id="passwordErrorBlock" class=" errorText textMuted error-block display-block"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="forgotPasswordContainer" style="pointer-events: auto; opacity: 1;">
                                                <div class="padding-top-8 font-12">
                                                    <div id="rememberMeBlock" class="display-inline-block">
                                                        <div class="remember-me">
                                                            <div class="remember">
                                                                <input checked="" id="remember" name="remember" type="checkbox" value="y">
                                                                <label for="remember"></label>
                                                            </div>
                                                            <label class="mousePointer textMuted line-height-20" for="remember">Remember me for 30 days</label>
                                                        </div>

                                                    </div>
                                                    <div class="forget-pasword">
                                                        <a routerLink="/forgot_password" id="forgotPassword">Forgot password?</a>
                                                    </div>
                                                    <div style="clear:both"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-md-12">
                                            <div class="padding-top-20 font-12 textMuted">
                                                <div class="otp-flow">
                                                    <div class="otp_flow">
                                                        <input id="otp_flow" name="otp_flow" type="checkbox" value="y">
                                                        <label for="otp_flow"></label>
                                                    </div>
                                                    <label class="mousePointer font-12 textMuted line-height-20"
                                                        for="otp_flow">Login with OTP instead of password</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <button (click)="onSubmit()" class="btn  btn-lg common-btn WhealthyLife-btn" id="login">
                                                    Login
                                                </button>
                                            </div>
                                            <div id="fbContainer" style="pointer-events: auto; opacity: 1;">
                                                <div class="hr-container">
                                                    <hr class="hr-inline" style="text-align:left">
                                                    <span class="hr-text"> or </span>
                                                    <hr class="hr-inline" style="text-align:left">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button mat-stroked-button class="w-100 fb" (click)="signInWithFB()">
                                                <i class="social_facebook"></i>
                                                Login with Facebook
                                            </button>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <button mat-stroked-button class="w-100 google">
                                                <mat-icon>more_vert</mat-icon>
                                                Login with Google
                                            </button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
