// .tour-play-button{

//    font-size: 15px;
//    width: 70px;
//    color: black;
// }

.tour-button{
    font-size: 15px;
    color: black;
    float:initial; margin-left: 30px !important;
}

.mainmargin{
    margin-left: 15px;
}

.secondmargin{
    margin-left: 19px;
}

.explaintext{
    margin-top: 10px;
}

.selecttype{
    margin-left: 20px  !important;
   

    font-size: 14px;
    color: black;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #777 !important;
    cursor: pointer;
}
.nav-item{
    font-size: 1.4rem !important;  
    border:1px solid black;
   //  border-radius: 50%;
   cursor: pointer;
}

// .sumbtn{
//     font-size: 16px; float: right;
//     margin-left: 291px !important;
// }
.btnfooter{
    font-size: 12px;
}
.exportbtn{
    float: right;
    font-weight: bold;
    font-size: 14px;
}
.cres{
    float: right;
}
.text-center{
    font-size: 14px;
}
h1{
    color: black;
}
.fds{
    display: flex;
}
.container-fluid{
    background-color: white; 
     height: 100%;
}
.nav{
    color: white;
}
.container{
    font-size: 15px;
}