// .tour-play-button{

//    font-size: 15px;
//    width: 70px;
//    color: black;
// }

.tour-button{
    font-size: 15px;
    color: black;
    float:initial; margin-left: 30px !important;
}




.mainmargin{
    margin-left: 15px;
}

.secondmargin{
    margin-left: 19px;
}

.explaintext{
    margin-top: 10px;
}

.selecttype{
    margin-left: 20px  !important;
   

    font-size: 14px;
    color: black;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #777 !important;
}

.sumbtn{
    font-size: 16px; float: right;
    margin-left: 291px !important;


}