<div  class="container-fludic" >

  <div class="card"style="height:100vh">
    <div class="card-header">
    <div class="row">
     <div class="col-sm-10">
        <h1>Import / Export</h1>
     </div>
     <div class="col-sm-2">
      <button mat-raised-button class="mat-button  btn  btnadd" (click)="RequestExpImpModalOpen()">
        Request Import / Export
    </button>
     </div>
    
    </div>

   

    </div>
    <div class="card-body">

      <div  class="row">

        <div  class=" col-sm-12 ">
      
          <div class="text-center justify-content-center ">
            No Import / Export requested

          </div>
        </div>

      </div>
    
    </div>
  </div>


</div>







