<div class="card shadow mb-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-header">
                <div class="col-sm-3 first">
                    <h2 class="font-weight-bold text-primary">Drug Catalogue</h2>
                </div>

                <div class="col-sm-9 third">
                    <button type="button" class="btn btn-warning btnadd">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <form class="form-inline">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                </form>
            </div>
        </div>
        <div class="row tbs">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>TYPE</th>
                            <th>STREANGTH</th>
                            <th>INSTRUCTIONS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>fol-5</td>
                            <td>Tablet</td>
                            <td>5</td>
                            <td>-</td>
                            <td><i class="fas fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>fol-5</td>
                            <td>Tablet</td>
                            <td>5</td>
                            <td>-</td>
                            <td><i class="fas fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>fol-5</td>
                            <td>Tablet</td>
                            <td>5</td>
                            <td>-</td>
                            <td><i class="fas fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>fol-5</td>
                            <td>Tablet</td>
                            <td>5</td>
                            <td>-</td>
                            <td><i class="fas fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>fol-5</td>
                            <td>Tablet</td>
                            <td>5</td>
                            <td>dosage is 0.1 mg - 0.2 mg intravenously, incrementally.</td>
                            <td><i class="fas fa-trash"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>