.card-header{
    margin-top:4%;
}
.first{
    margin-top: -3%;
}
.text-primary{
    font-size: 2.0rem;
    display: flex;
    font-weight: 400;
    
}
// .second{
//     margin-top: -3%;
// }
.third{
    margin-top: -3%;
    float: right;
}
.btnadd{
    float: right;
    font-size: 13px;
}
.cdb{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
thead {
    th{
        font-size: 14px;
    }
}
tbody{
    td{
        font-size: 12px;
    }
}
.tbs{
    margin-top: 20px;
}