<section class="bgcolor">
    <div class="container-md" style="padding-top: 85px;">
        <div class="row">
            <div class="col-sm-12 col-md-8 p-md-4 pt-sm-3 ">
                <div class="row bg-white p-3 shadow">

                    <div>
                        <h1 class="lybText--big lybText--bold lybMar-top-btm lybText--capitalize" itemprop="headline">
                            Child Nutrition: Treatment, Procedure, Cost and Side Effects</h1>
                        <div id="navbar-example2 " class="ly-header-table-content text-secondary">
                            <span (click)="scroll(target)">
                                What
                                is the treatment?</span>
                            <span (click)="scroll(target2)">
                                How is the treatment
                                done?</span>
                            <span class="lybText--red" href="#3">
                                Who
                                is eligible for the treatment? (When is the treatment done?)</span>
                            <span class="lybText--red" href="#4">
                                Who is not
                                eligible for the treatment?</span>
                            <span class="lybText--red" href="#5">
                                Are there any side
                                effects?</span>
                            <span class="lybText--red" href="#6">
                                What are
                                the post-treatment guidelines?</span>
                            <span class="lybText--red" href="#7">
                                How long does it
                                take to recover?</span>
                            <span class="lybText--red" href="#7">
                                What
                                is the price of the treatment in India?</span>
                            <span class="lybText--red" href="#8">
                                Are the
                                results of the treatment permanent?</span>
                            <span class="lybText--red" href="#9">
                                What
                                are the alternatives to the treatment?</span>
                        </div>
                    </div>


                </div>

                <div class="row bg-white p-3 mt-3 shadow">

                    <div>
                        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                            <span>
                                <h2 #target>What is the treatment?</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> When a child is born, the family of the child has to do their best to ensure his
                                        well-being and good health. While a part of this is composed of timely
                                        vaccinations and good living environments, the nutrition offered to the child
                                        also plays a major part. The first stage of offering nutrition to the child lies
                                        in breastfeeding for which the mother should be healthy too and produce adequate
                                        <a href="https://www.lybrate.com/topic/milk-dudh-benefits-and-side-effects"
                                            target="_blank">milk</a>. This helps the child in deriving the maximum
                                        nutrients from breast milk, which consequently helps him to grow up to be a
                                        healthy child. However, the process of child nutrition does not stop at
                                        breastfeeding. It progresses on to weaning, which is the introduction of
                                        semi-solid and solid foods in a child's diet; and from then on it progresses to
                                        proper meals that are made up of healthy food items such as fresh fruits and
                                        vegetables and lean meats sans breast milk. The right nutrition can prevent the
                                        child from suffering due to a number of diseases. Diseases that are common among
                                        child due to poor nutrition and bad eating habits include <a
                                            href="https://www.lybrate.com/topic/malnutrition"
                                            target="_blank">malnutrition</a>, <a
                                            href="https://www.lybrate.com/topic/diabetes" target="_blank">diabetes</a>,
                                        <a href="https://www.lybrate.com/topic/obesity" target="_blank">obesity</a>,
                                        weak immunity, slow physical as <a
                                            href="https://www.lybrate.com/medicine/wells-12-5mg-tablet"
                                            target="_blank">wells</a> as mental growth rate and host of other problems,
                                        some of which can prove to be life threatening. This is the reason why
                                        governments of nations all over the world place great emphasis on child
                                        nutrition and even have laws in place to ensure that children are exposed to
                                        basic nutritional requirements so that they grow up to be healthy individuals.
                                    </p>
                                </div>
                                <h2 #target2>How is the treatment done?</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> Child nutrition is not a treatment per se as much as way of living to ensure the
                                        child leads a healthy life. The right <a
                                            href="https://www.lybrate.com/topic/healthy-diet" target="_blank">diet</a>
                                        can help a child greatly in growing and learning quickly. It can also help
                                        prevent all kinds of diseases, which act as obstacles in their development. To
                                        make sure their child's diet is healthy parents should give their children
                                        nutritious and home-cooked meals once they're off the breast. Every meal given
                                        to a child should be composed of a portion of fresh fruits and vegetables.
                                        Moreover, parents should make sure that their child's diet is inclusive of
                                        healthy sources of <a
                                            href="https://www.lybrate.com/topic/protein-benefits-sources-and-side-effects"
                                            target="_blank">protein</a> such as nuts, eggs, pulses, soy and lean <a
                                            href="https://www.lybrate.com/topic/meat-benefits-and-side-effects"
                                            target="_blank">meat</a>. When giving them breakfast, parents should choose
                                        whole-grain cereals and breads instead of those made of flour as whole-grain
                                        food items are a rich source of fiber, which keeps the stomach full and helps
                                        control junk food craving. The quanitity of refined grains should be reduced in
                                        a child's diet as it can have adverse effects on their health. Moreover, fried
                                        foods should be avoided to the extent possible and while cooking meals, parents
                                        should made sure veggies and meats are not fried but rather broiled, steamd or
                                        grilled. This helps preserve the nurtrients in foods so that the child can get
                                        maximum nutrition from his meals. Junk food should be given to children in very
                                        limited quantities and instead healthy snacks should be offered. Parents should
                                        also give their children milk or fresh fruit juices instead of sodas and cold
                                        drinks. Besides monitoring what the child eats, another thing parents need to do
                                        is offer thier child meals on the right time and regularly so that they can keep
                                        healthy. </p>
                                </div>
                                <h2 id="3">Who is eligible
                                    for the treatment? (When is the treatment done?)</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> Every single child is eligible for and has the right to proper nutrition without
                                        any exceptions. So there's no eligibility criteria for child nutrition. </p>
                                </div>
                                <h2 id="4">Who is not eligible for the treatment?
                                </h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> Since childhood is the stage where food allergies develop, parents should make
                                        sure that their child is not exposed to <a
                                            href="https://www.lybrate.com/topic/allergy" target="_blank">allergy</a>
                                        causing food items. Moreover, in certain cases, a child may need a special diet
                                        in order to combat or minimize the effects of a particular disease. In such
                                        cases, parents should consult their doctor to know what should be a part of
                                        their diet. </p>
                                </div>
                                <h2 id="are-there-any-side-effects-">Are there any side effects?</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> Side effects are non-existent when it comes to child nutrition. In fact, there
                                        are only benefits to reap. However, as mentioned before, those foods should be
                                        avoided which the child is allergic to even if they fall into the category of
                                        healthy food items. </p>
                                </div>
                                <h2 id="what-are-the-post-treatment-guidelines-">What are the post-treatment guidelines?
                                </h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> In case the child was advised a special diet to help cure a disease, parents
                                        should not discontinue this diet all of a sudden after the child feels well.
                                        Having a nutritious diet is a life-long thing. Hence, the only guideline here is
                                        that parents should ensure their child always eats healthy. </p>
                                </div>
                                <h2 id="how-long-does-it-take-to-recover-">How long does it take to recover?</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> Since child nutrition is not a treatment method to be precise, there's no
                                        recovery period. However, if a special diet has been prescribed by the doctor to
                                        <a href="https://www.lybrate.com/medicine/mitigate-th-tablet"
                                            target="_blank">mitigate</a> the effects of a disease, the recovery period
                                        of the disease may vary depending on what it is. </p>
                                </div>
                                <h2 id="what-is-the-price-of-the-treatment-in-india-">What is the price of the treatment
                                    in India?</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> Child nutrition is a matter of consuming the right foods; and the prices of
                                        foods can vary year on year. Hence, there's no fixed price to child nutrtion.
                                    </p>
                                </div>
                                <h2 id="are-the-results-of-the-treatment-permanent-">Are the results of the treatment
                                    permanent?</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> Child nutrition is important for the child's health and well-being and can even
                                        prevent a number of diseases. In that way, it can be said the results are
                                        permanent. However, certain diseases can still occur despite following the right
                                        diet. </p>
                                </div>
                                <h2 id="what-are-the-alternatives-to-the-treatment-">What are the alternatives to the
                                    treatment?</h2>
                                <div class="lybMar-btm lybMar-top">
                                    <p> There's no alternative to child nutrition; and eating the right foods is a must.
                                        However, if a child is allergic to a particular source of a particular nutrient,
                                        for example if he is lactose intolerant, then supplements can be given to meet
                                        the daily nutrient requirement. However, this should only be done in
                                        consultation with a doctor. </p>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 p-md-4 pt-sm-3 shadow p-sm-3">
                <div class="row bg-white p-3">
                    <div class="card cad2">
                        <div class="card-header" style="padding: 0px;">
                            <div class="row">
                                <div class="col-4">
                                    <img [src]="doctor?.avatar" onerror="this.src='../../../assets/images/doc.jpg'" alt="Avatar" class="img-thumbnail img2">
                                </div>
                                <div class="col-8">
                                    <h2 class="hed3"><a [routerLink]="['/doctors/doctor_profile/',doctor?._id]">Dr.
                                            {{doctor?.firstName}}
                                            {{doctor?.lastName}}</a></h2>
                                    <p style="margin: 0px;font-size: 12px;">{{doctor?.specialitie}}</p>
                                    <p style="margin: 0px;font-size: 12px;">
                                        <b>{{doctor?.experience}}</b> years experience overall</p>
                                    <p><i class="fa fa-thumbs-up text-success"></i> 100%</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 10px;line-height: 10px;font-size: 12px;text-align: left; ">
                            <div class="col-12">
                                <p>
                                    <b>{{doctor?.location?.landmark}}
                                    </b>
                                </p>
                                <p><b>Rs. {{doctor?.fees}}</b> Consultation Fees</p>
                                <p> Available Today</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>