.sidimg {
    img {
        height: 400px;
        width: 400px;
    }
}
.mt-120{
    margin-top: 120px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding-bottom: 24px;
}

.outer-space {
    padding: 20px 25px;
}

.center-align {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.outer-box {
    border: solid 3px rgba(216, 216, 216, 0.5);
    border-radius: 4px;
    font-family: "Camphor";
    color: #787887;
}

.box-header {
    ont-size: 18px;
    padding: 12.5px 25px;
    border-bottom: solid 1px #ebebeb;
    height: 50px;
    width: 100%;
    background-color: #ebebeb;
}

#joinWhealthyLife {
    font-weight: 400;
}

.display-inline {
    display: inline;
}

.no-bottom-margin {
    margin-bottom: 0;
}

p {
    margin: 0 0 10px;
}

a[href*="signup"] {
    text-decoration: none;
}

.align-top {
    margin-top: 3px;
}

.font-12 {
    font-size: 12px;
}

.black-link {
    color: #2f2f2f;
}

.register {
    float: right;
}

.blue-link {
    color: #ed9b2d;
    font-family: sans-serif;
}

.align-top {
    margin-top: 3px;
}

.font-14 {
    font-size: 14px;
    font-family: sans-serif;
}

p {
    margin: 0 0 10px;
}

.outer-space {
    padding: 20px 25px;
}

.box-header,
.no-bottom-margin {
    margin-bottom: 0;
}

.col-sm-12,
.no-bottom-margin {
    font-size: 15px;
}

.padding-top-8 {
    padding-top: 8px;
}

.email-text {
    height: 35px;
    width: 100%;
}

.form-control {
    border-radius: 2px;
    border: solid 1px #cacad3;
}

.form-control {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.display-block {
    display: block;
}

.error-block {
    color: #e35a49;
    font-size: 12px;
}

.padding-top-8 {
    padding-top: 8px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.select-box {
    border: 1px solid #ccc;
    width: 100px;
    height: 35px;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    // background: #fff url(data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==) no-repeat 90% 50%;
}

.select-box select {
    padding: 10px 10px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    line-height: 100%;
}

.select-box + .mobile-number {
    width: 228px;
    float: left;
    position: relative;
    margin-left: 20px;
}

.email-text {
    height: 35px;
    width: 100%;
}

.form-control {
    border-radius: 2px;
    border: solid 1px #cacad3;
}

.display-block {
    display: block;
}

.error-block {
    color: #e35a49;
    font-size: 12px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.password-strength {
    display: none;
}

.font-12 {
    font-size: 12px;
}

.padding-top-20 {
    padding-top: 20px;
}

.textMuted {
    color: #7f7f7f;
}

.mousePointerSignup {
    font-weight: normal;
    margin-bottom: 0;
}

.mousePointerSignup,
.sign-up-terms {
    margin-left: 30px;
}

.font-12 {
    font-size: 12px;
}

.textMuted {
    color: #7f7f7f;
}

.otp_flow input[type="checkbox"]:checked + label,
.remember input[type="checkbox"]:checked + label {
    background: #14bef0;
    border: 0;
}

.otp_flow input[type="checkbox"],
.remember input[type="checkbox"] {
    opacity: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.remember input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.line-height-20 {
    line-height: 20px;
}

.mousePointer {
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 30px;
}

.textMuted {
    color: #7f7f7f;
}

.forget-pasword a {
    color: #14bef0;
}

a[href*="forgot_password"] {
    text-decoration: none;
}

a {
    background: transparent;
}

.otp-flow label,
.remember-me label {
    cursor: pointer;
    user-select: none;
}

label[for="otp_flow"] {
    font-weight: normal;
}

.otp-flow label,
.remember-me label {
    cursor: pointer;
    user-select: none;
}

.otp_flow label {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border-radius: 1px;
    border: solid 1px #b4b4be;
    background: white;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.otp_flow input[type="checkbox"]:checked + label,
.remember input[type="checkbox"]:checked + label {
    background: #14bef0;
    border: 0;
}

.otp_flow input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.otp_flow label:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 2px solid #fcfff4;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.otp_flow {
    width: 16px;
    position: absolute;
    margin-top: 2px;
}

button,
input,
optgroup,
select,
textarea {
    // margin: 0;
    font: inherit;
    color: inherit;
}

.padding-top-20 {
    padding-top: 20px;
}

.WhealthyLife-btn {
    background: #13bef0;
    color: #fff;
}

.common-btn {
    border: 1px solid #14bef0;
    width: 100%;
    height: 45px;
    font-family: "Camphor";
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 24px;
    font-family: sans-serif;
    font-size: 20px;
}

// .btn-lg, .btn-group-lg>.btn {
//     padding: 10px 16px;
//     font-size: 18px;
//     line-height: 1.33;
//     border-radius: 6px;
// }
.mt-150 {
    margin-top: 150px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-57 {
    margin-top: 57px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.login-area .nav {
    display: flex;
    align-items: center;
    justify-content: left;
}

.login-area .nav-pills .nav-link {
    color: #000 !important;
    padding: 10px 15px !important;
    border-radius: 0;
    font-size: 15px;
}

.login-area .nav-pills .nav-link.active {
    color: #000 !important;
    background-color: #ebebeb;
    padding: 10px 15px !important;
    border-radius: 0;
    font-size: 15px;
}

.login-area .nav > li > a:focus,
.nav > li > a:hover {
    color: #fff !important;
    background-color: #13bef0;
    padding: 10px 15px !important;
    border-radius: 0;
    font-size: 15px;
}

.login-area .outer-space {
    padding: 30px;
}

.login-area .padding-bottom-8 {
    padding-bottom: 8px;
    font-size: 18px;
    font-family: sans-serif;
    color: #585858;
}

.login-area label {
    font-family: sans-serif;
}

.login-area .forget-pasword {
    font-family: sans-serif;
}

.login-area .no-bottom-margin {
    margin-bottom: 0;
    // font-size: 18px;
    font-family: sans-serif;
    color: #585858;
}

.login-area .select-box {
    width: 100px;
    line-height: 40px !important;
    float: left;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    border: solid 1px #cacad3;
}

.select-mob {
    width: 15% !important;
}

.select-mob + .mobile-number {
    width: 80% !important;
}

@media (max-width: 1199px) {
    .select-mob {
        width: 22% !important;
    }
    .select-mob + .mobile-number {
        width: 70% !important;
    }
}


