
<section class="sect-top">
    <div class="container ">
      <div class="col-sm-12   justify-content-center">
       
        <div class="row row-forgot ">
          <div class="col-sm-4 mb-5  center">
            <div [formGroup]="conPass" class="  no-border  ">
              <div class=" ">
                <div class="fortitle">Enter New Password</div>
              </div>
              <hr class="divide-line">
              <div class=" card-body  ">
               
                <div class="mt-2">
                  <h2>
                  </h2>
                </div>
                <div class="form mt-3">
                  <div class="">Password</div>
                  <input class="form-control input-otp mt-1" 
                    placeholder="Please Enter New Password" formControlName="password"  value="">
              
                    <div class="invalid-feedback" *ngIf="submitted && f.password.errors" >
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                
                </div>

                <div class="form mt-3">
                  <div class="">Confirm Password</div>
                  <input class="form-control input-otp mt-1"  
                    placeholder="Confirm Your Password" formControlName="confirmPassword"  value="">
              
                    <div class="invalid-feedback" *ngIf="submitted && f.confirmPassword.errors" >
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                  <button class="submitBtn  btn" (click)="onSubmit()">Verify</button>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>