
<section class="sect-top">
    <div class="container ">
      <div class="col-sm-12   justify-content-center">
       
        <div class="row row-forgot ">
          <div class="col-sm-4 mb-5  center">
            <div [formGroup]="conPass" class="  no-border  ">
              <div class=" ">
                <div class="fortitle">Enter New Password</div>
              </div>
              <hr class="divide-line">
              <div class=" card-body  ">
               
                <div class="mt-2">
                  <h2>
                  </h2>
                </div>
                <div class="form mt-3" style="display: flex;">
                  <div class="" style="margin-top: 0.9rem;">Password</div>
                  <input class="form-control input-otp mt-1" id="password" name="password" placeholder="Password" type="password"
                  formControlName="password" value="" style="margin-left: 14px;"  [type]="hide ? 'password' : 'text'" />
                  <span class="material-icons" style="font-size: 17px;border: 1px solid lightgray;
                    padding: 10px;cursor: pointer;margin-top: 0.2rem;border-radius: .25rem;" (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}
                  </span>

                    <div class="invalid-feedback" *ngIf="submitted && f.password.errors" >
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>

                <div class="form mt-3" style="display: flex;">
                  <div class="">Confirm Password</div>
                    <input class="form-control input-otp mt-1" id="password" name="password" placeholder="Password" type="password"
                    formControlName="confirmPassword" value="" [type]="hide1 ? 'password' : 'text'" />
                    <span class="material-icons" style="font-size: 17px;border: 1px solid #ced4da;
                    padding: 10px;cursor: pointer;margin-top: 0.2rem;border-radius: .25rem;" (click)="hide1 = !hide1">
                      {{hide1 ? 'visibility_off' : 'visibility'}}
                    </span>

                    <div class="invalid-feedback" *ngIf="submitted && f.confirmPassword.errors" >
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                  
                </div>
                <button class="submitBtn  btn" (click)="onSubmit()">Verify</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>