<section>
    <div class="container-fluid cf" >
        <div class="row">
            <div class="col-3">
                <ul class="navbar-nav bg-white text-dark sidebar accordion" id="settingSidebar">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard">
                        <div class="sidebar-brand-text"> PATIENTS </div>
                    </a>
                    <hr class="sidebar-divider my-0">
                    <li class="nav-item" *ngFor="let Patient of patient" style="cursor: pointer; ">
                        <a class="nav-link" >
                            <span>{{Patient.name}}</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div class="card shadow mb-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-header">
                                <div class="col-sm-3 first">
                                    <h2 class="font-weight-bold text-primary">Calendar</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p-fullCalendar [events]="events" #fc [options]="options"></p-fullCalendar>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








