<section class="bgcolor mt-5">
    <div class="container-fluid   mt-5">
        <div class="row  p-md-5 p-sm-0  mt-5 ">
            <div class="col-sm-3 col-md-3 col-lg-2 bg-white border-bottom">
                <h2 class="p-2">Your Drive</h2>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-10 bg-white border-bottom ">
               <div class="row">
                   <div class="ml-2 mt-1"><i class="fa fa-user-circle fa-4x" aria-hidden="true"></i></div>
                   <div class="ml-3 mt-3" > sunitdk11@gmail.com </div>

               </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 hb border colsm-4-h">
                <div class="row border bg-white mousecursor" (click)="navigation('record')"  [ngClass]="{navactive: router.url == '/record'}">
                    <div class="p-3 "> Medical records</div>
                </div>
                <div class="row border bg-white mousecursor" (click)="navigation('appointments')"  [ngClass]="{navactive: router.url == '/appointments'}">
                    <div class="p-3 "> Appointments
                    </div>
                </div>
                <div class="row border bg-white mousecursor" (click)="navigation('Tests')"  [ngClass]="{navactive: router.url == '/Tests'}">
                    <div class="p-3 "> Lab Tests
                    </div>
                </div>
                <div class="row border bg-white mousecursor" (click)="navigation('Orders')" [ngClass]="{navactive: router.url == '/Orders'}">
                    <div class="p-3 "> Medicine Orders
                    </div>
                </div>
                <div class="row border bg-white mousecursor" (click)="navigation('Consultations')"  [ngClass]="{navactive: router.url == '/Consultations'}">
                    <div class="p-3 ">Online Consultations
                    </div>
                </div>
                <div class="row border bg-white mousecursor" (click)="navigation('Articles')"  [ngClass]="{navactive: router.url == '/Articles'}">
                    <div class="p-3 "> Articles
                    </div>

                </div>
                <div class="row border bg-white mousecursor" (click)="navigation('Feedback')"  [ngClass]="{navactive: router.url == '/Feedback'}">
                    <div class="p-3 "> Feedback
                    </div>
                </div>
                <div class="row border bg-white mousecursor" (click)="navigation('Payments')"  [ngClass]="{navactive: router.url == '/Payments'}">
                    <div class="p-3 "> Payments</div>
                </div>


            </div>
            <div class="col-sm-12 col-md-9 col-lg-10 hb colsm-8-h">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</section>