<!-- <div class="container" style="top: 50%;left: 50%;">
    <div class="col-sm-12">
        <div class="imgpromo">
            <img src="../../../../../assets/img/consent_form_promo_icon.svg">
        </div>
    </div>
</div> -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
      <div class="mx-auto">
          <img src="../../../../../assets/img/consent_form_promo_icon.svg">
        </div>
      <p class="lead text-gray-900 mb-5"><b>Consent Forms now available on the <strong>WealthyLife</strong> Tab!</b></p>
      <p class="text-gray-700 mb-0">You can now create and store your own medical consent forms for your practice. Conveniently collect patient's signature on consent forms using the WealthyLife Tab.</p>
      <a href="#">Read More</a>
      <p class="text-darkgray-700 mb-5"><b>To get started, please contact us</b></p>
      <p class="text-darkgray-700 mb-0"><b>Mail:support@wealthylife.com</b></p>
      <p class="text-darkgray-700 mb-0"><b>Call: 8880588999</b></p>


    </div>

  </div>