<div class="col-lg-12 col-xs-12 product-container-wrapper">
    <div></div>
    <div class="timeline-container-wrapper">
        <div class="timeline-container">
            <!-- <div class="timeline-container-header separator hidden-xs">
                     <label class="btn button text-center heading-four btn-positive">
                        Upload records <input type="file" hidden>
                    </label>      
            </div> -->
            <div class="no-records">
                <div class="no-records-img"><img alt="no-records" src="../assets//img/no_record_logo.svg"></div>
                <div class="no-records-msg text"> Sorry, no records shared yet </div>
            </div>
            <div class="upload-records-mob hidden-lg hidden-md hidden-sm separator-top"><a
                    href="#">
                    <div class="upload-records-mob-btn heading-sixteen bold">Upload records</div>
                </a>
            </div>
        </div>
    </div>
</div>


