<div class="card shadow mb-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-header">
                <div class="col-sm-3 first">
                    <h2 class="font-weight-bold text-primary">Charting Templates</h2>
                </div>

                <div class="col-sm-9 third">
                    <button type="button" class="btn btn-warning btnadd">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row tbs">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>TEMPLATE NAME</th>
                            <th>DIAGNOSES</th>
                            <th>CONSTITUENTS</th>
                            <th></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PCOS</td>
                            <td>NA</td>
                            <td>Follow up after: 14 days.</td>
                            <td><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>PCOS</td>
                            <td>NA</td>
                            <td>Follow up after: 14 days.</td>
                            <td><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>PCOS</td>
                            <td>NA</td>
                            <td>Follow up after: 14 days.</td>
                            <td><i class="fas fa-edit"></i></td>
                           
                        </tr>
                        <tr>
                            <td>PCOS</td>
                            <td>NA</td>
                            <td>Follow up after: 14 days.</td>
                            <td><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>PCOS</td>
                            <td>NA</td>
                            <td>Follow up after: 14 days.</td>
                            <td><i class="fas fa-edit"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>