.pharmacyimg {
  img {
    height: 150px !important;
    width: 100% !important;
  }
}

// .custom-search-input[_ngcontent-gfd-c122] input[type=submit][_ngcontent-gfd-c122] {
//   font-size: 16px !important;
// }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.adj {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.adj2 {
  height: 388px !important;
}
#custom-search-input .search-query {
  width: 77.7%;
  padding-left: inherit;
}

#custom-search-input .btn_search {
  margin-top: 11px;
}

.labsimg {
  img {
    height: 150px !important;
    width: 100% !important;
  }
}

.modal-content {
  height: 85%;
}

.pharmacy {
  color: red;
  font-size: 22px;
}

.labs {
  color: red;
}

.lb {
  font-size: 22px;
}

.modal-title {
  color: black !important;
  font-weight: 800;
}

hr {
  border: 1px solid;
}

.bbt {
  width: 170px;
  margin-left: 30%;
  margin-bottom: 9px;
  margin-top: 35px;
  height: 56px;
  float: right;
  margin-right: 10px;
  font-size: 18px;
}

#custom-search-input input[type="submit"] {
  font-size: 16px !important;
}

#custom-search-input {
  margin: 0;
  top: 0 !important;
  padding: 0;
  width: 911px;
  margin: auto;
  position: relative;
}

// .mat-form-field-wrapper {
//   position: relative;
//   top: 41px;
// }

a {
  // color: #337ab7;
  text-decoration: none;
}

.search-deivde {
  border-left: 3px solid !important;
  padding-left: 10px;
}

.btn-main {
  border-radius: 20px;
  padding: 10px 30px !important;
  background-color: #0ba114;
  cursor: pointer;
  color: white !important;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  z-index: 1;
  position: absolute;
}

.categories h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.categories .prev-next {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.categories .prev-next i {
  color: #0880c4;
  margin: 0 3px;
}
.categories .prev-next i:hover {
  color: #000;
  margin: 0 3px;
}

.fixed {
  top: 13%;
  width: 95%;
}

@media (max-width: 786px) {
  .lb {
    font-size: 16px;
  }
  .pharmacy {
    font-size: 16px;
  }
  .pharmacyimg img {
    height: 98px !important;
    width: 76% !important;
  }
  .labsimg img {
    height: 93px !important;
    width: 76% !important;
  }
  .bbt {
    width: 152px;
    margin-bottom: 9px;
    margin-top: 17px;
    height: 44px;
    font-size: 15px;
    float: right;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .pharmacyimg img {
    height: 98px !important;
    width: 48% !important;
    margin: 0px 22%;
  }
  .labsimg img {
    height: 93px !important;
    width: 48% !important;
    margin: 0px 22%;
  }
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1.5rem -1rem -1rem auto;
  font-size: 29px;
}

.lhs {
  position: absolute;
  top: 54%;
  z-index: 999;
  left: 16px;
  font-size: 10px;
}

.rhs {
  position: absolute;
  top: 54%;
  z-index: 999;
  right: 16px;
  font-size: 10px;
}

.categories .prev-next i {
  color: #f1f3ff;
  margin: 0 3px;
}

@media (max-width: 768px) {
  .lab-slide .main_title h2 {
    text-align: left;
    margin-bottom: 5px;
    font-size: 22px;
  }
}

.app-download-sec .pic-middle img {
  max-width: 151px;
}

.app-download-sec .info h2 {
  font-size: 29px;
}

.testimonial h1 {
  font-size: 1.8em;
}

.h2-size {
  font-size: 1.5rem;
}

.container.margin_120_95 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.deal-offer h1 {
  font-size: 1.8em;
}

.deal-offer h4 {
  font-size: 1rem;
}

.element:before {
  content: "\f000";
  font-family: FontAwesome;
}

div#myCarousel {
  padding: 0px !important;
}
