<!-- <section>
  <div class="container-fluid" >
    <div class="row hero_home version_1">
      <h1> Diagnostic Tests at your Doorstep! </h1>
    </div>
  </div>
</section> -->

<main>
  <div class="hero_home version_1">
    <div class="col-12">
      <div class="row flecs1">
        <h1 class="head1">Diagnostic Tests at your Doorstep!</h1>
      </div>
      <div class="row mar-30">
        <div class="flec1">
          <span class="wid-80">
            <input type="email" class="form-control adj-mar" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Type test name and select from option" />
          </span>
          <span class="wid-25">
            <button class="btn btn-danger btnn">Search</button>
          </span>
        </div>
      </div>

      <div class="row" style="margin-top: 50px !important">
        <div class="col-lg-6 offset-lg-3 col-12" style="display: flex;
            justify-content: space-evenly;flex-wrap: wrap;width: 100%;">
          <div class="row hov">
            <div class="col-lg-4 col-6 hov2 changes12" [routerLink]="['/bookappointment']"
              routerLinkActive="router-link-active">
              <img src="../../../assets/img/Swati/Appointment.svg " alt="lab"
                style="height: 60px; margin-bottom: 10px; cursor: pointer;" />
              <span class="sub-title" style="cursor: pointer;">Book Appointment</span>
            </div>
            <div class="col-lg-4 col-6 changes12" [routerLink]="['/booktests']" routerLinkActive="router-link-active">
              <img src="../../../assets/img/Swati/LabTest.svg" alt="lab" style="height: 60px; margin-bottom: 10px; cursor: pointer;" />
              <span class="sub-title" style=" cursor: pointer;">Lab Test</span>
            </div>
            <div class="col-lg-4 col-6 changes12" [routerLink]="['/']" routerLinkActive="router-link-active">
              <img src="../../../assets/img/Swati/OnlineReport.svg" alt="lab"
                style="height: 60px; margin-bottom: 10px; cursor: pointer;" />
              <span class="sub-title" style=" cursor: pointer;">Online Reports</span>
            </div>
            <div class="col-lg-4 offset-lg-2 col-6 changes12" [routerLink]="['/consult']"
              routerLinkActive="router-link-active">
              <img src="../../../assets/img/Swati/Medicine.svg" alt="lab" style="height: 60px; margin-bottom: 10px; cursor: pointer;" />
              <span class="sub-title" style=" cursor: pointer;">Order Medicine</span>
            </div>
            <div class="col-lg-4 changes12" [routerLink]="['/']" routerLinkActive="router-link-active">
              <img src="../../../assets/img/Swati/TrackOrder.svg" alt="lab" style="height: 60px; margin-bottom: 10px; cursor: pointer;" />
              <span class="sub-title" style=" cursor: pointer;">Track Your Order</span>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row mar-30">
        <div class="col-6 offset-3">
          <ul class="banner-ft">
            <div class="flecs2 ">
              <li class="text-center mar-30" [routerLink]="['/bookappointment']" routerLinkActive="router-link-active" >

                  <img src="../../../assets/img/Swati/Appointment.svg " alt="lab">
                  <span class="sub-title" >Book Appointment</span>

              </li>
              <li class="text-center mar-30" [routerLink]="['/booktests']" routerLinkActive="router-link-active" >
                  <img src="../../../assets/img/Swati/LabTest.svg " alt="lab">
                  <span class="sub-title">Lab Test</span>
              </li>
              <li class="text-center mar-30" [routerLink]="['/']" routerLinkActive="router-link-active" >
                  <img src="../../../assets/img/Swati/OnlineReport.svg" alt="lab">
                  <span class="sub-title" >Online Reports</span>
              </li>
            </div>
            <div class="flecs2 marTop-30" >

              <li class="text-center" [routerLink]="['/']" routerLinkActive="router-link-active"  >
                <img src="../../../assets/img/Swati/Medicine.svg" alt="lab">
                <span class="sub-title">Order Medicine</span>
            </li>
            <li class="text-center mar-30" [routerLink]="['/']" routerLinkActive="router-link-active"  >
                <img src="../../../assets/img/Swati/TrackOrder.svg" alt="lab">
                <span class="sub-title">Track Your Order</span>
            </li>
            </div>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
  <div class="bottom-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="opt" [routerLink]="['/SamplePickup']" routerLinkActive="router-link-active">
            <div class="division" style="display: flex; align-items: center">
              <img src="../../../assets/img/Swati/SamplePickup.svg" alt="icon"
                style="height: 34px; width: 34px; border-radius: 50%" />
              <h4 class="mb-0">Free Home Sample Pickup</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="opt" [routerLink]="['/ViewReport']" routerLinkActive="router-link-active">
            <div class="division" style="display: flex; align-items: center">
              <img src="../../../assets/img/Swati/ReportOnline.svg" alt="icon"
                style="height: 34px; width: 34px; border-radius: 50%" />
              <h4 class="mb-0">View Reports Online</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="opt" [routerLink]="['/DoctorConsulation']" routerLinkActive="router-link-active">
            <div class="division" style="display: flex; align-items: center">
              <img src="../../../assets/img/Swati/DoctorConsulation.svg" alt="icon"
                style="height: 34px; width: 34px; border-radius: 50%" />
              <h4 class="mb-0">Free Doctor Consultation</h4>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="opt" [routerLink]="['/PricesGuaranted']" routerLinkActive="router-link-active">
            <div class="division" style="display: flex; align-items: center">
              <img src="../../../assets/img/Swati/BestPrices.svg" alt="icon"
                style="height: 34px; width: 34px; border-radius: 50%" />
              <h4 class="mb-0">Best Prices Guaranteed</h4>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="division opt"  [routerLink]="['/PricesGuaranted']" routerLinkActive="router-link-active">
            <img src="../../../assets/img/Swati/BestPrices.svg " alt="icon"
            style="height: 34px;width:34px;border-radius:50%;"/>
            <h4 class="mb-0" >Best Prices Guaranteed</h4>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <section class="first-sec">
    <div class="container margin_120_95">
      <div class="row">
        <div class="col-md-7">
          <div class="main_title" data-aos="fade-right">
            <div class="h2txt">
              <h2>Now <span style="color: cornflowerblue;"> Book an appointment </span> with
                our doctors for free </h2>

                <h3 style=" width: 276px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Enjoy peace of mind while giving sample with heighly skilled & friendly technicians at home or office</h3>

                <!-- <ul>
                  <li>Enjoy peace of mind while giving sample</li>
                  <li>with heighly skilled & friendly</li>
                  <li>technicians at home or office</li>
                </ul> -->

              <!-- <h2>
                Now <strong>Book</strong> an <strong>appointment</strong> with
                our doctors for free
              </h2> -->
              <!-- <p>
                <strong>Enjoy peace of mind while giving samples <br />with highly
                  skilled & friendly technicians<br />
                  at home or office.</strong>
              </p> -->
            </div>
            <a [routerLink]="['bookappointment']" routerLinkActive="router-link-active" class="btn-main mt-3">Book an
              Appointment</a>
          </div>
        </div>
        <div class="col-md-5">
          <img src="../../../assets/img/Swati/BookAppointment.jpg" alt="WhealthyLife" class="img-fluid"
            data-aos="fade-left" />
        </div>
      </div>
    </div>
  </section>
  <!-- /container -->

  <section class="home-package">
    <div class="container-fluid margin_60_35">
      <div class="main_title mb-5" data-aos="fade-down">
        <h2>Affordable full body <strong>health checkups</strong> at home</h2>
      </div>
      <div *ngIf="showmore" class="mx-auto packs">
        <div class="form-row">
          <div *ngFor="let item of labs" class="col-md-3 col-sm-6 col-12" data-aos="fade-right">
            <div class="adj2 p-single equal-height">
              <div class="p-head">
                <h4>{{ item.heading }}</h4>
                <p>{{ item.subHeading }}</p>
              </div>
              <div class="p-body">
                <div class="sec-content">
                  <img src="../assets/img/micro.svg" alt="icon" class="icon-left" />
                  <ul class="sec-content-ul">
                    <li classs="truncate-overflow">
                      <strong  >{{ item.discription }}</strong>
                    </li>
                  </ul>
                </div>
                <div class="sec-content mini">
                  <img src="../assets/img/stethoscope.svg" alt="icon" class="icon-left" />
                  <ul class="sec-content-ul">
                    <li><strong>Powered by WhealthyLife</strong></li>
                    <li>Online reports in 24 hrs</li>
                    <li>NABL, CAP accredited</li>
                  </ul>
                </div>
              </div>
              <div class="p-footer">
                <span class="tag">% off</span>
                <span class="price"><i class="fa fa-inr"></i>999
                  <small><del><i class="fa fa-inr"></i></del></small></span>
                <a href="#" class="btn-border">View More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3 mb-3" data-aos="fade-down">
          <a class="btn-main" (click)="showmoreFun()">More Packages</a>
        </div>
      </div>
      <div *ngIf="!showmore" class="mx-auto packs">
        <div class="form-row">
          <div *ngFor="let item of labs" class="col-md-3 col-sm-6 col-12" data-aos="fade-right">
            <div class="adj2 p-single equal-height">
              <div class="p-head">
                <h4>{{ item.heading }}</h4>
                <p>{{ item.subHeading }}</p>
              </div>
              <div class="p-body">
                <div class="sec-content">
                  <img src="../assets/img/micro.svg" alt="icon" class="icon-left" />
                  <ul class="sec-content-ul" *ngIf="item.discription && item.discription.length > 0">
                    <li>
                      <strong>{{ item.discription }}</strong>
                    </li>
                  </ul>
                </div>
                <div class="sec-content mini">
                  <img src="../assets/img/stethoscope.svg" alt="icon" class="icon-left" />
                  <ul class="sec-content-ul">
                    <li><strong>Powered by WhealthyLife</strong></li>
                    <li>Online reports in 24 hrs</li>
                    <li>NABL, CAP accredited</li>
                  </ul>
                </div>
              </div>
              <div class="p-footer">
                <span class="tag">% off</span>
                <span class="price"><i class="fa fa-inr"></i>999
                  <small><del><i class="fa fa-inr"></i></del></small></span>
                <a href="#" class="btn-border">View More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3 mb-3" data-aos="fade-down">
          <a class="btn-main" (click)="showmoreFun()">More Packages</a>
        </div>
      </div>
    </div>
  </section>

  <section class="third-sec">
    <div class="container margin_60_35">
      <div class="row">
        <div class="col-md-6">
          <div class="pic-middle" data-aos="fade-right">
            <img src="../../../assets/img/Swati/MedicalRecord.jpg" alt="WhealthyLife" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="info" data-aos="fade-left">
            <h2 class="h2" style="text-align: inherit">
              All your medical records<br />
              <strong style="text-align: inherit">In one secure app.</strong>
            </h2>
            <ul>
              <li>256-bit end to end encryption</li>
              <li>Records are accessible only by you</li>
              <li>Access your records across 8000+ centers</li>
            </ul>
            <a href="#" class="btn-main">Find out more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- //site breack / -->

  <section *ngIf="Specialit">
    <div class="container">
      <h2>TOP CATEGORIES</h2>
      <div>
        <div class="row">
          <div class="col-12" style="display: flex;justify-content: space-between;width: 100%;position:absolute;top:50%">
            <div (click)="review1.prev()" style="z-index: 9;">
              <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
            </div>
            <div (click)="review1.next()" style="z-index: 9;">
              <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <owl-carousel-o [options]="customOptions" #review1>
            <ng-template carouselSlide *ngFor="let item of Specialit">
              <div class="pr-2 pl-2">
                <a [routerLink]="['/doctors/' + item._id]" routerLinkActive="router-link-active">
                  <div class="cat-content">
                    <div class="inner-cat-content">
                      <h2> {{ item.fullName }} </h2>
                    </div>
                    <img [src]="item.backImg" onError="this.src='../../../assets/img/Empty Cart.png'" alt="img"/>
                  </div>
                </a>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="categories">
    <div class="row">
      <div class="container">
        <div class="col-sm-12 pt-5 pb-5">
          <h2>TOP CATEGORIES</h2>
          <owl-carousel-o [options]="customOptions" #review>
            <ng-template carouselSlide *ngFor="let item of Specialit">
              <div class="pr-2 pl-2">
                <a
                  [routerLink]="['/doctors/' + item._id]"
                  routerLinkActive="router-link-active"
                >
                  <div class="cat-content">
                    <div class="inner-cat-content">
                      <h2>{{ item.fullName }}</h2>
                    </div>

                    <img
                      [src]="item.backImg"
                      onError="this.src='./../../../assets/img/Swati/MedicalRecord.jpg'"
                      alt="img"
                    />
                  </div>
                </a>
              </div>
            </ng-template>
          </owl-carousel-o>
          <div class="row prev-next">
            <div class="lhs" (click)="review.prev()">
              <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
            </div>
            <div class="rhs" (click)="review.next()">
              <i
                class="fa fa-chevron-circle-right fa-3x"
                aria-hidden="true"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="clients">
    <div class="container margin_60_35">
      <div class="row">
        <div class="col-md-7">
          <div class="info" data-aos="fade-right">
            <h2 style="text-align: inherit">
              Leading Healthcare Providers.<br />
              <strong style="text-align: inherit">Trust us for Business</strong>
            </h2>
            <ul>
              <li>Get seen by 25M+ patients on WhealthyLife</li>
              <li>The most advanced software for clinics and hospitals</li>
              <li>State of the art business analytics for enterprises</li>
            </ul>
            <a href="#" class="btn-main">Learn more</a>
          </div>
        </div>
        <div class="col-md-5">
          <img src="../../../assets/img/Swati/HealthCareProvider.png" alt="WhealthyLife" class="img-fluid"
            data-aos="fade-left" />
        </div>
      </div>
    </div>
  </section>

  <section class="v-packages deal-offer">
    <div class="container margin_60_35">
      <div class="title-left">
        <h1>Top deals and offers</h1>
        <h4>Hand-picked deals for a healthier you</h4>
      </div>
      <div *ngIf="!showmore" class="row">
        <div class="col-md-3" data-aos="fade-right" *ngFor="let item of offerData; let i = index">
          <div class="checkup-visual-containers">
            <a href="#">
              <div class="text-info">
                <h3>
                  <strong>{{ item?.title }}</strong><br />{{ item?.descriptiitem?.userId?.firstNameon }}
                </h3>
                <p>{{ item.buttonText }}</p>
              </div>
              <img [src]="item.backImg" alt="checkup" onerror="this.src='../../../assets/img/Empty Cart.png'"/>
            </a>
          </div>
        </div>
        <div class="text-center mt-3 mb-3" data-aos="fade-down">
          <a class="btn-main" (click)="showmoreFun()">More Packages</a>
        </div>
        <!-- <div class="col-md-3" data-aos="fade-up">
          <div class="checkup-visual-containers">
            <a href="#">
              <div class="text-info">
                <h3>
                  <strong>Free</strong><br />
                  home sample collection <br />
                  for Diagnostic tests
                </h3>
                <p>Know more</p>
              </div>
              <img src="../assets/img/ckup-2.jpg" alt="checkup" />
            </a>
          </div>
        </div>
        <div class="col-md-3" data-aos="fade-down">
          <div class="checkup-visual-containers">
            <a href="#">
              <div class="text-info">
                <h3>
                  <strong>Free</strong><br />
                  View test results online
                </h3>
                <p>View results</p>
              </div>
              <img src="../assets/img/ckup-3.jpg" alt="checkup" />
            </a>
          </div>
        </div>
        <div class="col-md-3" data-aos="fade-left">
          <div class="checkup-visual-containers">
            <a href="#">
              <div class="text-info">
                <h3>
                  <strong>Free</strong><br />
                  Book an Appointment
                </h3>
                <p>Book now</p>
              </div>
              <img src="../assets/img/ckup-4.jpg" alt="checkup" />
            </a>
          </div>
        </div> -->
      </div>
      <div *ngIf="showmore" class="row">
        <div class="col-md-3" data-aos="fade-right" *ngFor="let item of offerData">
          <div class="checkup-visual-containers">
            <a href="#">
              <div class="text-info">
                <h3>
                  <strong>{{ item?.title }}</strong><br />{{ item?.description }}
                </h3>
                <p>{{ item?.buttonText }}</p>
              </div>
              <img [src]="item?.backImg" alt="checkup"  onerror="this.src='../../../assets/img/Empty Cart.png'" />
            </a>
          </div>
        </div>
        <div class="text-center mt-3 mb-3" data-aos="fade-down" style="display: flex;
        justify-content: center;
        width: 100%;">
          <a class="btn-main" (click)="showmoreFun()">More Packages</a>
        </div>
      </div>
    </div>
  </section>

  <section class="lab-slide" *ngIf="Labdata">
    <div class="container margin_60_35">
      <div class="main_title">
        <div class="row">
          <div class="col">
            <h2>Featured Labs</h2>
          </div>
          <div class="col">
            <a href="#" class="btn-link text-right float-right">View All</a>
          </div>
        </div>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <owl-carousel-o [options]="customOptions1">
            <ng-template carouselSlide *ngFor="let item of Labdata; let a = index">
              <div class="swiper-slide">
                <div class="c-logo">
                  <img [src]="item.icon" alt="logo-client" />
                </div>
              </div>
            </ng-template>
            <!-- <ng-template carouselSlide>
              <div class="swiper-slide">
                <div class="c-logo">
                  <img  [src]="item.icon" alt="logo-client" />
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="swiper-slide">
                <div class="c-logo">
                  <img  [src]="item.icon" alt="logo-client" />
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="swiper-slide">
                <div class="c-logo">
                  <img
                     [src]="item.icon"
                    alt="logo-client"
                  />
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="swiper-slide">
                <div class="c-logo">
                  <img  [src]="item.icon" alt="logo-client" />
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="swiper-slide">
                <div class="c-logo">
                  <img  [src]="item.icon" alt="logo-client" />
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="swiper-slide">
                <div class="c-logo">
                  <img  [src]="item.icon" alt="logo-client" />
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="swiper-slide">
                <div class="c-logo">
                  <img
                     [src]="item.icon"
                    alt="logo-client"
                  />
                </div>
              </div>
            </ng-template> -->
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="testimonial">
    <div class="container margin_120_95">
      <div class="row">
        <div class="col-md-7 m-auto" data-aos="fade-right">
          <h1 class="text-center">Our Happy Customers</h1>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
            <div class="carousel-inner">
              <div class="item carousel-item active">
                <p class="testimonial">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                  eu sem tempor, varius quam at, luctus dui. Mauris magna metus,
                  dapibus nec turpis vel, semper malesuada ante. Idac bibendum
                  scelerisque non non purus. Suspendisse varius nibh non
                  aliquet.
                </p>
                <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
              </div>
              <div class="item carousel-item">
                <p class="testimonial">
                  Vestibulum quis quam ut magna consequat faucibus. Pellentesque
                  eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus.
                  Pellentesque viverra sagittis quam at mattis. Suspendisse
                  potenti. Aliquam sit amet gravida nibh, facilisis gravida
                  odio.
                </p>
                <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
              </div>
              <div class="item carousel-item">
                <p class="testimonial">
                  Phasellus vitae suscipit justo. Mauris pharetra feugiat ante
                  id lacinia. Etiam faucibus mauris id tempor egestas. Duis
                  luctus turpis at accumsan tincidunt. Phasellus risus risus,
                  volutpat vel tellus ac, tincidunt fringilla massa. Etiam
                  hendrerit dolor eget rutrum.
                </p>
                <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5" data-aos="fade-left">
                    <h2 class="mb-3 h2-size">Reliable Results. Always.</h2>
                    <div class="intrinsic">
                        <iframe width="560" height="315"
                            src="https://www.youtube-nocookie.com/embed/jo5gQxB0DlE?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
      </div>
    </div>
  </section> -->

  <section *ngIf="reviewdata">
    <div class="container">
      <h2>Our Happy Customer</h2>
      <div>
        <owl-carousel-o [options]="customOptions5" #review>
          <ng-template carouselSlide>
            <div class="pr-2 pl-2">
              <div class="carousel-inner">
                <div class="item carousel-item active" *ngFor="let item of reviewdata; let k = index">
                  <p class="testimonial">
                    {{ item.review }}
                  </p>
                  <p class="overview">
                    <b>{{ item?.userId?.firstName }} {{ item?.userId?.lastName }}</b>, {{ item?.userId?.designation }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
        <div class="row prev-next">
          <div class="lhs" (click)="review.prev()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
          </div>
          <div class="rhs" (click)="review.next()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="app-download-sec">
    <div class="container margin_120_95">
      <div class="row">
        <div class="col-md-6 col-12 d-none d-md-block">
          <div class="pic-middle aos-init aos-animate" data-aos="fade-right">
            <img src="../assets/imag/app-screen1.png" alt="WhealthyLife" class="img-fluid" style="max-width: 250px" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="info aos-init aos-animate" data-aos="fade-left">
            <h2>Download the WhealthyLife app</h2>
            <ul>
              <li>Book appointments and lab tests</li>
              <li>Order medicines</li>
              <li>Consult doctors online</li>
              <li>Set medicine reminders</li>
              <li>Store health records</li>
              <li>Read health tips</li>
            </ul>
            <div>
              <a href="#" class="app"><img src="../assets/img/1_EiZrcN_DIapbZaxutxbZRA.png" alt="app" /></a>
            </div>
            <div>
              <a href="#" class="app"><img src="./../../../assets/img/app-store.e30d53a6.png" style="margin-top: 3px"
                  alt="app" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- modal -->
<div class="container">
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg fixed">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Didn't find what you are looking for?</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row ss">
            <div class="col-sm-4">
              <div class="pharmacyimg">
                <img src="../assets/img/pharmacy.gif" style="height: 300px" />
              </div>
            </div>
            <div class="col-sm-8">
              <p class="lb">
                <span class="pharmacy">Get up to 18% off on allopathy medicines.</span>
                Also, earn up to ₹500 with Paytm, ₹300 Amazon Pay & more*
              </p>
              <button class="btn btn-danger btn-lg bbt">Order Medicines</button>
            </div>
          </div>
          <hr />
          <div class="row ss">
            <div class="col-sm-4">
              <div class="labsimg">
                <img src="../assets/img/labs.gif" style="height: 100px" />
              </div>
            </div>
            <div class="col-sm-8">
              <p class="lb">
                <span class="labs">Flat 20% off on lab tests</span> and health
                checkups*
              </p>
              <button class="btn btn-danger btn-lg bbt">Lab Test</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

