.pharmacyimg {
    img {
        height: 150px !important;
        width: 100% !important;
    }
}

.adj {
    display: flex;
    justify-content: center;
}

.adj2 {
    height: 388px !important;
}

.labsimg {
    img {
        height: 150px !important;
        width: 100% !important;
    }
}

.modal-content {
    height: 85%;
}

.pharmacy {
    color: red;
    font-size: 22px;
}

.labs {
    color: red;
}

.lb {
    font-size: 22px;
}

.modal-title {
    color: black !important;
    font-weight: 800;
}

hr {
    border: 1px solid;
}

.bbt {
    width: 170px;
    margin-left: 30%;
    margin-bottom: 9px;
    margin-top: 35px;
    height: 56px;
    float: right;
    margin-right: 10px;
    font-size: 19px;
}

#custom-search-input input[type="submit"] {
    font-size: 16px !important;
}

a {
    // color: #337ab7;
    text-decoration: none;
}

.btn-main {
    border-radius: 20px;
    padding: 10px 30px !important;
    background-color: #0880c4;
    color: #fff;
    text-align: center;
    line-height: 1.25;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

.categories h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.categories .prev-next {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.categories .prev-next i {
    color: #0880c4;
    margin: 0 3px;
}
.categories .prev-next i:hover {
    color: #000;
    margin: 0 3px;
}

.fixed {
    top: 13%;
    width: 95%;
}

@media (max-width: 786px) {
    .lb {
        font-size: 16px;
    }
    .pharmacy {
        font-size: 16px;
    }
    .pharmacyimg img {
        height: 98px !important;
        width: 76% !important;
    }
    .labsimg img {
        height: 93px !important;
        width: 76% !important;
    }
    .bbt {
        width: 152px;
        margin-bottom: 9px;
        margin-top: 17px;
        height: 44px;
        font-size: 15px;
        float: right;
        margin-right: 10px;
    }
}

@media (max-width: 575px) {
    .pharmacyimg img {
        height: 98px !important;
        width: 48% !important;
        margin: 0px 22%;
    }
    .labsimg img {
        height: 93px !important;
        width: 48% !important;
        margin: 0px 22%;
    }
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1.5rem -1rem -1rem auto;
    font-size: 29px;
}