<main>
    <div class="hero_home version_1">
        <div class="content">
            <h3 class="mb-3">Diagnostic Tests at your Doorstep!</h3>
            <!-- <p>
                Book tests with top labs, get sample pick up, share reports with doctors online
            </p> -->
            <form method="post" action="#">
                <div id="custom-search-input">
                    <div class="adj input-group">
                        <input type="text" class=" search-query" placeholder="Type test names and select from options">
                        <select class="city-select">
                            <option>Enter City</option>
                            <option>Delhi</option>
                            <option>Kolkata</option>
                            <option>Mumbai</option>
                            <option>Chennai</option>
                        </select>
                        <input type="submit" class="btn_search" value="Search">
                    </div>
                    <ul class="banner-ft">
                        <li>
                            <img src="../assets/img/microscope.svg" alt="lab">
                            <span>Certified Diagnostic Labs</span>
                        </li>
                        <li>
                            <img src="../assets/img/doctor.svg" alt="lab">
                            <span>Trained Pickup Staff</span>
                        </li>
                        <li>
                            <img src="../assets/img/newspaper.svg" alt="lab">
                            <span>Online Reports</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="division">
                        <img src="../assets/img/delivery.svg" alt="icon">
                        <h4>Free Home Sample Pickup</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="division">
                        <img src="../assets/img/webpage.svg" alt="icon">
                        <h4>View Reports Online</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="division">
                        <img src="../assets/img/stethoscope-hd.svg" alt="icon">
                        <h4>Free Doctor Consultation</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="division">
                        <img src="../assets/img/feedback.svg" alt="icon">
                        <h4>Best Prices Guaranteed</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="first-sec">
        <div class="container margin_120_95">
            <div class="row">
                <div class="col-md-6">
                    <div class="main_title" data-aos="fade-right">
                        <h2>Now <strong>Book</strong> an <strong>appointment</strong> with our doctors for free</h2>
                        <p><strong>Enjoy peace of mind while giving samples <br>with highly skilled & friendly
                                technicians<br> at home or office.</strong></p>
                        <a href="#" class="btn-main mt-3">Book an Appointment</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../assets/img/2451232.png" alt="wealthylife" class="img-fluid" data-aos="fade-left">
                </div>
            </div>
        </div>
    </section>
    <!-- /container -->

    <section class="home-package">
        <div class="container-fluid margin_60_35">
            <div class="main_title mb-5" data-aos="fade-down">
                <h2>Affordable full body <strong>health checkups</strong> at home</h2>
            </div>
            <div class="mx-auto packs">
                <div class="form-row">
                    <div class="col-md-3 col-sm-6 col-12 " data-aos="fade-right">
                        <div class="adj2 p-single equal-height">
                            <div class="p-head">
                                <h4>Young Indian Health Checkup</h4>
                                <p>Ideal for individuals aged 21 to 40 years</p>
                            </div>
                            <div class="p-body">
                                <div class="sec-content">
                                    <img src="../assets/img/micro.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Includes 60 Tests</strong></li>
                                        <li>T3-T4-TSH</li>
                                        <li>Iron Deficiency Profile</li>
                                        <li>Liver Function Tests</li>
                                        <li>and 57 other tests</li>
                                    </ul>
                                </div>
                                <div class="sec-content mini">
                                    <img src="../assets/img/stethoscope.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Powered by wealthylife</strong></li>
                                        <li>Online reports in 24 hrs</li>
                                        <li>NABL, CAP accredited</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-footer">
                                <span class="tag">45% off</span>
                                <span class="price"><i class="fa fa-inr"></i>999 <small><del><i
                                                class="fa fa-inr"></i>1800</del></small></span>
                                <a href="#" class="btn-border">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 " data-aos="fade-down">
                        <div class="adj2 p-single equal-height">
                            <div class="p-head">
                                <h4>Advanced Young Indian Health Checkup</h4>
                                <p>Ideal for men aged 21 to 40 years</p>
                            </div>
                            <div class="p-body">
                                <div class="sec-content">
                                    <img src="../assets/img/micro.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Includes 63 Tests</strong></li>
                                        <li>T3-T4-TSH</li>
                                        <li>Iron Deficiency Profile</li>
                                        <li>Liver Function Tests</li>
                                        <li>and 60 other tests</li>
                                    </ul>
                                </div>
                                <div class="sec-content mini">
                                    <img src="../assets/img/stethoscope.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Powered by wealthylife</strong></li>
                                        <li>Online reports in 24 hrs</li>
                                        <li>NABL, CAP accredited</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-footer">
                                <span class="tag">36% off</span>
                                <span class="price"><i class="fa fa-inr"></i>1799 <small><del><i
                                                class="fa fa-inr"></i>2800</del></small></span>
                                <a href="#" class="btn-border">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 " data-aos="fade-left">
                        <div class="adj2 p-single equal-height">
                            <div class="p-head">
                                <h4>Working Women's Health Checkup</h4>
                                <p>Ideal for women aged 21 to 40 years</p>
                            </div>
                            <div class="p-body">
                                <div class="sec-content">
                                    <img src="../assets/img/micro.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Includes 66 Tests</strong></li>
                                        <li>Anandham 1.3</li>
                                        <li>Follicle Stimulating Hormone</li>
                                        <li>Luteinising Hormone (LH)</li>
                                        <li>and 63 other tests</li>
                                    </ul>
                                </div>
                                <div class="sec-content mini">
                                    <img src="../assets/img/stethoscope.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Powered by wealthylife</strong></li>
                                        <li>Online reports in 24 hrs</li>
                                        <li>NABL, CAP accredited</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-footer">
                                <span class="tag">46% off</span>
                                <span class="price"><i class="fa fa-inr"></i>1799 <small><del><i
                                                class="fa fa-inr"></i>3300</del></small></span>
                                <a href="#" class="btn-border">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 " data-aos="fade-right">
                        <div class="adj2 p-single equal-height">
                            <div class="p-head">
                                <h4>Young Indian Health Checkup</h4>
                                <p>Ideal for individuals aged 21 to 40 years</p>
                            </div>
                            <div class="p-body">
                                <div class="sec-content">
                                    <img src="../assets/img/micro.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Includes 60 Tests</strong></li>
                                        <li>T3-T4-TSH</li>
                                        <li>Iron Deficiency Profile</li>
                                        <li>Liver Function Tests</li>
                                        <li>and 57 other tests</li>
                                    </ul>
                                </div>
                                <div class="sec-content mini">
                                    <img src="../assets/img/stethoscope.svg" alt="icon" class="icon-left">
                                    <ul class="sec-content-ul">
                                        <li><strong>Powered by wealthylife</strong></li>
                                        <li>Online reports in 24 hrs</li>
                                        <li>NABL, CAP accredited</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-footer">
                                <span class="tag">45% off</span>
                                <span class="price"><i class="fa fa-inr"></i>999 <small><del><i
                                                class="fa fa-inr"></i>1800</del></small></span>
                                <a href="#" class="btn-border">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3 mb-3" data-aos="fade-down">
                    <a href="#" class="btn-main">More Packages</a>
                </div>
            </div>
        </div>
    </section>

    <section class="third-sec">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-md-6">
                    <div class="pic-middle" data-aos="fade-right">
                        <img src="../assets/img/Healthcare-characters-vector-3-01.jpg" alt="wealthylife" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info" data-aos="fade-left">
                        <h2>All your medical records<br>
                            <strong>In one secure app.</strong></h2>
                        <ul>
                            <li>256-bit end to end encryption</li>
                            <li>Records are accessible only by you</li>
                            <li>Access your records across 8000+ centers</li>
                        </ul>
                        <a href="#" class="btn-main">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="categories">
        <div class="row">
            <div class="container">

                <div class="col-sm-12 pt-5 pb-5">
                    <h2>TOP CATEGORIES</h2>
                    <owl-carousel-o [options]="customOptions" #review>
                        <ng-template carouselSlide>
                            <div class="pr-2 pl-2">
                                <a>
                                    <div class="cat-content">
                                        <div class="inner-cat-content">
                                            <h2>Dietitian/Nutritionist</h2>
                                        </div>
                                        <img src="../assets/img/Nutritionist.jpg" alt="img">
                                    </div>
                                </a>
                            </div>

                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="pr-2 pl-2">
                                <a>
                                    <div class="cat-content">
                                        <div class="inner-cat-content">
                                            <h2>Gynaecologist</h2>
                                        </div>
                                        <img src="../assets/img/gynaecologist.jpg" alt="img">
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="pr-2 pl-2">
                                <a>
                                    <div class="cat-content">
                                        <div class="inner-cat-content">
                                            <h2>Psychologist</h2>
                                        </div>
                                        <img src="../assets/img/Psychologist.jpg" alt="img">
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="pr-2 pl-2">
                                <a>
                                    <div class="cat-content">
                                        <div class="inner-cat-content">
                                            <h2>Dermatologist</h2>
                                        </div>
                                        <img src="../assets/img/dermatologist.jpg" alt="img">
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="pr-2 pl-2">
                                <a>
                                    <div class="cat-content">
                                        <div class="inner-cat-content">
                                            <h2>Homeopath</h2>
                                        </div>
                                        <img src="../assets/img/homeopathy.jpg" alt="img">
                                    </div>
                                </a>
                            </div>
                        </ng-template>

                    </owl-carousel-o>
                    <div class="row prev-next">
                        <div class="lhs" (click)="review.prev()"> <i class="fa fa-chevron-circle-left fa-3x " aria-hidden="true"></i></div>
                        <div class="rhs" (click)="review.next()"> <i class="fa fa-chevron-circle-right fa-3x " aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="clients">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-md-7">
                    <div class="info" data-aos="fade-right">
                        <h2>Leading Healthcare Providers.<br>
                            <strong>Trust us for Business</strong></h2>
                        <ul>
                            <li>Get seen by 25M+ patients on wealthylife</li>
                            <li>The most advanced software for clinics and hospitals</li>
                            <li>State of the art business analytics for enterprises</li>
                        </ul>
                        <a href="#" class="btn-main">Learn more</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="../assets/img/Doctor-And-Patient.png" alt="wealthylife" class="img-fluid" data-aos="fade-left">
                </div>
            </div>
        </div>
    </section>

    <section class="v-packages deal-offer">
        <div class="container margin_60_35">
            <div class="title-left">
                <h1>Top deals and offers</h1>
                <h4>Hand-picked deals for a healthier you</h4>
            </div>
            <div class="row">
                <div class="col-md-3" data-aos="fade-right">
                    <div class="checkup-visual-containers">
                        <a href="#">
                            <div class="text-info">
                                <h3><strong>Offer</strong><br>Health checkup <br> Starting at Rs 999</h3>
                                <p>Buy now</p>
                            </div>
                            <img src="../assets/img/ckup-1.jpg" alt="checkup">
                        </a>
                    </div>
                </div>
                <div class="col-md-3" data-aos="fade-up">
                    <div class="checkup-visual-containers">
                        <a href="#">
                            <div class="text-info">
                                <h3><strong>Free</strong><br> home sample collection <br> for Diagnostic tests</h3>
                                <p>Know more</p>
                            </div>
                            <img src="../assets/img/ckup-2.jpg" alt="checkup">
                        </a>
                    </div>
                </div>
                <div class="col-md-3" data-aos="fade-down">
                    <div class="checkup-visual-containers">
                        <a href="#">
                            <div class="text-info">
                                <h3><strong>Free</strong><br> View test results online</h3>
                                <p>View results</p>
                            </div>
                            <img src="../assets/img/ckup-3.jpg" alt="checkup">
                        </a>
                    </div>
                </div>
                <div class="col-md-3" data-aos="fade-left">
                    <div class="checkup-visual-containers">
                        <a href="#">
                            <div class="text-info">
                                <h3><strong>Free</strong><br> Book an Appointment</h3>
                                <p>Book now</p>
                            </div>
                            <img src="../assets/img/ckup-4.jpg" alt="checkup">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lab-slide">
        <div class="container margin_60_35">
            <div class="main_title">
                <div class="row">
                    <div class="col">
                        <h2>Featured Labs</h2>
                    </div>
                    <div class="col">
                        <a href="#" class="btn-link text-right float-right">View All</a>
                    </div>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <owl-carousel-o [options]="customOptions1">
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/Thyrocare_Logo.png" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/lalpath.jpg" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/pathcare.jpg" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/metropolis-logo.png" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/1457378413.jpg" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/lalpath.jpg" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/pathcare.jpg" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="swiper-slide">
                                <div class="c-logo">
                                    <img src="../assets/img/metropolis-logo.png" alt="logo-client">
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonial">
        <div class="container margin_120_95">
            <div class="row">
                <div class="col-md-7" data-aos="fade-right">
                    <h1 class="text-center">Our Happy Customers</h1>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
                                    sem tempor, varius
                                    quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada
                                    ante. Idac bibendum
                                    scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                                <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
                            </div>
                            <div class="item carousel-item">
                                <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque
                                    eget nisi a mi
                                    suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at
                                    mattis. Suspendisse
                                    potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                                <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
                            </div>
                            <div class="item carousel-item">
                                <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia. Etiam
                                    faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt.
                                    Phasellus risus risus,
                                    volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget
                                    rutrum.</p>
                                <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5" data-aos="fade-left">
                    <h2 class="mb-3">Reliable Results. Always.</h2>
                    <div class="intrinsic">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jo5gQxB0DlE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="app-download-sec">
        <div class="container margin_120_95">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="pic-middle aos-init aos-animate" data-aos="fade-right">
                        <img src="../assets/images/mobileapp/mobileapp.jpg" alt="wealthylife" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="info aos-init aos-animate" data-aos="fade-left">
                        <h2>Download the wealthylife app</h2>
                        <ul>
                            <li>Book appointments and lab tests</li>
                            <li>Order medicines</li>
                            <li>Consult doctors online</li>
                            <li>Set medicine reminders</li>
                            <li>Store health records</li>
                            <li>Read health tips</li>
                        </ul>
                        <a href="#" class="app"><img src="../assets/img/1_EiZrcN_DIapbZaxutxbZRA.png" alt="app"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!-- modal -->
<div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg fixed">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Didn't find what you are looking for?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row ss">
                        <div class="col-sm-4">
                            <div class="pharmacyimg">
                                <img src="../assets/img/pharmacy.gif" style="height: 300px;">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="lb"><span class="pharmacy">Get up to 18% off on allopathy medicines.</span> Also, earn up to ₹500 with Paytm, ₹300 Amazon Pay & more*</p>
                            <button class="btn btn-danger btn-lg bbt">Order Medicines</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row ss">
                        <div class="col-sm-4">
                            <div class="labsimg">
                                <img src="../assets/img/labs.gif" style="height: 100px;">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="lb"> <span class="labs">Flat 20% off on lab tests</span> and health checkups*</p>
                            <button class="btn btn-danger btn-lg bbt">Lab Test</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>