.main-menu > ul > li > a {
    color: rgb(0, 0, 0);
    padding: 10.5px 8px;
    font-size: 14px !important;
    font-size: 0.875rem;
    font-weight: 500;
}
.log{
    height: 80px;
    width: 86px !important;
}

.main-menu ul a, .main-menu ul li a {
    position: relative;
    margin: 0;
    padding: 0 !important;
    display: block;
    padding: 10px !important;
}
a {
    color: #337ab7 !important;
    text-decoration: none;
}
.fixed-popup a {
    color: #fff !important;
}
.top .top-list li a {
    color: #000 !important;
    font-size: 12px;
}
.bp-btn a:hover{
    color:#fff !important;
}





.navbar:after{
    display: none !important;
    content: " ";
}

.navbar:before{
    display: none !important;
    content: " ";
}
.container:before {
    display: none !important;
    content: " ";
}
.row:before {
    display: none !important;
    content: " ";
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }