// body {
//     font-size: 10rem;
// }

// p {
//     font-size: 1.5rem;
// }


// .text-xs {
//     font-size: 1.5rem;
// }

p {
  font-family: Lato;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}