.toptest{
    outline: none; width: 197px !important;
}

.startmain{
    position: relative;
}
.desies{
    width: 120px; margin: 0px auto;
}

.medicaltest{
    outline: none; width: 394px !important;

}


.mobilesize{

    width: 250px;
}

.corner{

    width: 55%;
}

.c-opd-inputable-box{
    border: none;
}

.spanstyle{
    border-right: 1px solid rgb(211, 211, 211);
}






.flex{

    flex-grow: 0.1; border-top: 1px solid rgb(120, 120, 135);
}


.u-round-corner--tpl{display: block; margin: auto; max-width: 100%;


}
.life{
    display: block; margin: auto; max-width: 100%; height: 40px; width: 20px;
}
.blod{
    height: 75px; display: block;
}
.happycustomermain{
    outline: none; width: 1080px;

}
.wedogreat{
    display: block; margin: auto; max-width: 100%;
}

.collection{
    display: block; margin: auto; max-width: 100%; height: 40px; width: 20px;
}

.c-search__container__wrapper-v2{
    padding: 4px;
}

.u-display-none{
    border: 3px solid white;
}

.c-shopping-cart__global{
    padding: 1px; box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 5px 0px;
}

.slick-cloned{
    width: 1080px;
}

.banner{
    display: block; margin: auto; max-width: 100%;
}



.cartsize{
    width: 90px;
}






.slicktraceone{
    width: 2364px; opacity: 1; transform: translate3d(0px, 0px, 0px);
}

.slicktracetwo{
    width: 1576px; opacity: 1; transform: translate3d(0px, 0px, 0px);
}

.slicktracethree{
    width: 1970px; opacity: 1; transform: translate3d(0px, 0px, 0px);
}

.slicktracefour{
    width: 7560px; opacity: 1; transform: translate3d(-3240px, 0px, 0px);
}

.reports{
    padding: 50px 100px;
}

.we{
    padding: 70px 0px;
}

.sliderfont{
    width: 100%; display: inline-block;
}

.slick-arrow{
    display: block;
}

.labone{
    width: 75%;
}

.labtwo{

    width: 85%;
}

.u-br-rule{
    height: 75px; display: block;
}

.u-marginb--std-half{
    width: 280px;
}

.great{
    width: 300px;
}

.u-t-ellipses-dbl{
    height: 35px;
}

.works{
    width: 20px; margin: auto;
}
.u-line-height-std-half{
    border-top: none; line-height: 2.5;
}


.u-center--vertical{
    width: 400px; left: 50px;
}
    

.mainbanner{
    width: 1280px; margin: 0px auto; position: relative;
}




.u-pad--std--half{
    display: block;
}


.u-margin--less{

    width: 100%; display: inline-block;
}
.slick-slide{
    outline: none; width: 1080px;
}

    .happycustemer{

        margin-top: auto; margin-bottom: auto;
    }


    .slick-dots{
        display: block
    }

    .mobileapp{
        width: 420px; margin: auto 0px;
    }

    .mobileappimge{
        display: block; margin: auto; max-width: 100%;
    }