<div class="u-separator u-bg--white">
    <div class=" startmain dg-wrapper u-padtb--dbl">
        <div class="c-search__container o-flex ">
            <div class="c-search__container__wrapper-v2 o-flex u-border--dark u-round-corner--dbl">
                <div class="c-search__location-container o-flex">
                    <div class="c-search u-width--full o-flex o-flex-order--1">
                        <div class="u-width--full">
                            <div class="c-search__btn u-bg--white">
                                <input data-aid="search-input" autocomplete="password"
                                    placeholder="Select any city or locality" class="c-search__input--location"
                                    id="locationInput" type="text" value="Pune">
                                <i class="c-search__icon--remove icon-ic_cross o-font-size--16"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-font-size--22 o-f-color--disabled">|</div>
                <div class="c-search c-search__omni o-flex-order--2">
                    <div><input data-aid="search-input" autocomplete="password"
                            placeholder="Search for Tests and Profiles" class="c-search__input" id="omniSearch"
                            type="text" value="">
                        <div>
                            <div class="c-search__suggestion-container"></div>
                        </div>
                    </div>
                </div>
                <div class="u-display-none">
                    <i class="c-search__icon--remove icon-ic_cross o-font-size--16"></i>
                </div>
                <div class="c-search__search-icon__wrapper o-flex-order--3">
                    <div class="c-search__search-icon">
                        <div class="c-search__search-icon-image">

                        </div>
                    </div>
                </div>
            </div>
            <div class=" u-border--dark c-shopping-cart__global u-pointer u-round-corner">
                <span class="cartsize">
                    <!-- <i class="icon-ic_cart o-font-size--26 o-f-color--subtle u-v-align"></i> -->
                    <img src="../../../assets/img/shopping_cart-black-18dp.svg" alt="">
                </span>
                <span class="u-font-bold u-padr--std">Cart</span></div>
        </div>
    </div>
</div>


<div class="u-padb--dbl ">
    <div class="mainbanner">
        <div class=" ">

            <img src="../../../assets/images/images-dweb_top_banner.png" alt="Free Home Sample" class="banner">
        </div>
        <div class="u-center--vertical">
    <div  class="mainbanner" >
    <div class=" ">

        <img src="../../../assets/images/images-dweb_top_banner.png" alt="Free Home Sample" class="banner">
    </div>
    <div class="u-center--vertical" >
            <div class="clearfix">
                <div class="c-home-intro u-padt--std u-padb--dbl">
                    <h1 class="u-font-bold o-font-size--30">Get lab tests and full body checkups from the comfort of
                        your home.</h1>
                    <div class="o-f-color--dark-green u-padt--std">
                        <span class="u-font-bold o-font-size--24">Upto 45% OFF</span>
                        <span> + </span>Get 10% Health Cashback<span>*</span>
                        <span class="u-pointer undefined"> T&amp;C</span>
                    </div>
                </div>
            </div>
            <a>
                <div data-aid="" class="c-button c-button--bigger">See all Packages</div>
            </a>
        </div>
    </div>
    <div class="dg-wrapper">
        <div class="dg-twelve dg-last">
            <h2 class="u-font-bold o-font-size--24 u-padt--dbl u-margintb--std">Top Booked Diagnostic Tests</h2>

            <div class="col-sm-12 pt-5 pb-5">
                <h2 class="mb-3">TOP CATEGORIES</h2>
                <owl-carousel-o [options]="customOptions" #review>
                    <ng-template carouselSlide *ngFor="let item of f_list">
                        <div class="pl-2 pr-2">
                            <div class="u-pointer u-shadow--hover u-margin--less">
                                <a class="u-pad--std--half u-border--std">
                                    <div class="u-font-bold u-t-ellipsis">Thyroid Profile (T3, T4, TSH)</div>
                                    <div class="o-f-color--sec o-font-size--12 u-margintb--standard u-t-ellipses-dbl">
                                        Known as Thyroid Profile Total Blood</div>
                                    <div><span class="u-font-bold o-font-size--18">₹400</span></div>
                                </a>
                                <div class="u-text--center u-border--std u-line-height-std-half u-font-bold u-pointer">
                                    <div class="o-f-color--plight">ADD</div>
                                </div>
                            </div>
                        </div>

                    </ng-template>


                </owl-carousel-o>
                <div class="row">
                    
                    <div class="lhs" (click)="review.prev()"> <i class="fa fa-chevron-circle-left fa-3x "
                            aria-hidden="true"></i></div>
                    <div class="rhs" (click)="review.next()"> <i class="fa fa-chevron-circle-right fa-3x "
                            aria-hidden="true"></i></div>
                </div>
            </div>


        </div>
    </div>
    <div id="landingpage-list" class="c-landingpage-list dg-wrapper u-padb--dbl">
        <h2 class="u-font-bold o-font-size--24 u-padtb--dbl">Health Checkups and Screenings For</h2>


        <div class="col-sm-12 pt-5 pb-5">

            <owl-carousel-o [options]="customOptions2" #reviews>
                <ng-template carouselSlide *ngFor="let item of f_list">
                    <div>
                        <a class="c-landingpage-card u-pointer undefined">
                            <div class="desies ">
                                <img src="../../../assets/img/diarrhea.png" alt="image" class="banner ">
                            </div>

                            <div class="c-landingpage-card--title u-padtb--std u-text--center u-font-bold">Diabetes
                            </div>
                        </a>
                    </div>
                </ng-template>


            </owl-carousel-o>
            <div class="row">
                <div class="lhs" (click)="reviews.prev()"> <span class="c-testimonial-list__next_arrow c-testimonial-list__arrow"><i class="c-testimonial-list__next_arrow icon-ic_next_cheveron c-testimonial-list__arrow"></i></span></div>
                <div class="rhs" (click)="reviews.next()"> <i class="fa fa-chevron-circle-right fa-3x "
                        aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="dg-wrapper u-padtb--std--half">

        </div>
        <div class="c-top-booked dg-wrapper">
            <h2 class="u-font-bold o-font-size--24 u-padt--dbl">Top booked Medical tests</h2>
            <div class="u-padt--less u-padb--std--half o-f-color--primary">Get 10% Health Cashback<span>*</span>
                <span class="u-pointer o-f-color--plight"> T&amp;C</span>
            </div>
            <div class="slick-custom-arrows ">

                <owl-carousel-o [options]="customOptions3" #reviewfour>
                    <ng-template carouselSlide *ngFor="let item of f_list">
                        <div>
                            <div
                                class="c-top-booked__category u-border--std u-width--full u-padt--dbl u-round-corner--dbl c-slider__item">
                                <div class="u-font-bold u-pad--dbl o-font-size--18"><img class="u-v-align" class="w-t"
                                        src="../../../assets/img/diarrhea.png">
                                    <h3 class="u-d__inline u-marginl--std"><a>Lipid Profile</a></h3>
                                </div>
                                <div class="c-top-booked__category__tests">
                                    <a
                                        class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                                        <div class="c-top-booked__category__test-name u-font-bold">Ldl Cholesterol Test
                                        </div>
                                        <div class="o-f-color--subtle o-font-size--12">Also known as Cholesterol Ldl
                                            Enzymatic Colorimetric Method Blood</div>
                                    </a>
                                    <a
                                        class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                                        <div class="c-top-booked__category__test-name u-font-bold">Hdl Cholesterol Test
                                        </div>
                                        <div class="o-f-color--subtle o-font-size--12">Also known as Cholesterol Hdl
                                            Enzymatic Colorimetric Method Blood</div>
                                    </a>
                                    <a
                                        class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                                        <div class="c-top-booked__category__test-name u-font-bold">Vldl Cholesterol Test
                                        </div>
                                        <div class="o-f-color--subtle o-font-size--12">Also known as Vldl Cholesterol
                                            Blood</div>
                                    </a>
                                    <a
                                        class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                                        <div class="c-top-booked__category__test-name u-font-bold">Total Cholesterol
                                            Test</div>
                                        <div class="o-f-color--subtle o-font-size--12">Also known as Cholesterol Test
                                        </div>
                                    </a>
                                    <a
                                        class="u-br-rule c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline">
                                        <div class="c-top-booked__category__test-name u-font-bold">Triglycerides Blood
                                            Test</div>
                                        <div class="o-f-color--subtle o-font-size--12">Also known as Triglycerides Blood
                                        </div>
                                    </a><a class=" c-button c-button--bigger u-marginrl--dbl u-marginb--double">Book
                                        Now</a></div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
                <div class="row">
                    <div class="lhs" (click)="reviewfour.prev()"> <i class="fa fa-chevron-circle-left fa-3x "
                            aria-hidden="true"></i></div>
                    <div class="rhs" (click)="reviewfour.next()"> <i class="fa fa-chevron-circle-right fa-3x "
                            aria-hidden="true"></i></div>
        <div class="slick-custom-arrows ">

          <owl-carousel-o [options]="customOptions3" #reviewfour>
            <ng-template carouselSlide  *ngFor="let item of f_list">
              <div>
                <div class="c-top-booked__category u-border--std u-width--full u-padt--dbl u-round-corner--dbl c-slider__item">
                    <div class="u-font-bold u-pad--dbl o-font-size--18"><img class="u-v-align" class="w-t" src="../../../assets/img/diarrhea.png">
                        <h3 class="u-d__inline u-marginl--std"><a>Lipid Profile</a></h3>
                    </div>
                    <div class="c-top-booked__category__tests">
                        <a class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                            <div class="c-top-booked__category__test-name u-font-bold">Ldl Cholesterol Test</div>
                            <div class="o-f-color--subtle o-font-size--12">Also known as Cholesterol Ldl Enzymatic Colorimetric Method Blood</div>
                        </a>
                        <a class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                            <div class="c-top-booked__category__test-name u-font-bold">Hdl Cholesterol Test</div>
                            <div class="o-f-color--subtle o-font-size--12">Also known as Cholesterol Hdl Enzymatic Colorimetric Method Blood</div>
                        </a>
                        <a class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                            <div class="c-top-booked__category__test-name u-font-bold">Vldl Cholesterol Test</div>
                            <div class="o-f-color--subtle o-font-size--12">Also known as Vldl Cholesterol Blood</div>
                        </a>
                        <a class="c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline u-br-rule">
                            <div class="c-top-booked__category__test-name u-font-bold">Total Cholesterol Test</div>
                            <div class="o-f-color--subtle o-font-size--12">Also known as Cholesterol Test</div>
                        </a>
                        <a class="u-br-rule c-top-booked__category__test u-padtb--std u-padrl--dbl u-d__inline">
                            <div class="c-top-booked__category__test-name u-font-bold">Triglycerides Blood Test</div>
                            <div class="o-f-color--subtle o-font-size--12">Also known as Triglycerides Blood</div>
                        </a><a class=" c-button c-button--bigger u-marginrl--dbl u-marginb--double">Book Now</a></div>
                </div>

            </div>
                </ng-template>
              </owl-carousel-o>
              <div class="row">
                  <div class="lhs" (click)="reviewfour.prev()"> <i class="fa fa-chevron-circle-left fa-3x " aria-hidden="true"></i></div>
                  <div class="rhs" (click)="reviewfour.next()"> <i class="fa fa-chevron-circle-right fa-3x " aria-hidden="true"></i></div>
              </div>

        </div>
        <div class="u-bg--grey u-margint--double" class="reports">
            <div class="u-font-bold o-font-size--16 u-marginb--double u-text--center o-font-size--30">Why book with us?
            </div>
            <div class="o-flex o-flex--wrap u-padt--dbl dg-wrapper">
                <div class="package-page__selected-item u-marginb--double o-flex__half">
                    <div class=" u-d__inline u-padr--std">
                        <img src="../../../assets/img/syringe2.png" alt="image" class=" bannertwo">
                    </div>
                    <div class=" labone u-carousal__item">
                        <div class="u-font-bold">Home sample collection for FREE</div>
                        <div>A certified professional will collect your sample from a location of your preference.</div>
                    </div>
                </div>
                <div class="package-page__selected-item u-marginb--double o-flex__half">
                    <div class=" u-d__inline u-padr--std">
                        <img src="../../../assets/img/syringe2.png" alt="image" class="bannertwo ">
                    </div>
                    <div class=" labone u-carousal__item">
                        <div class="u-font-bold">wealthylife Powered Labs</div>
                        <div>Certified labs to ensure highest accuracy of your reports.</div>
                    </div>
                </div>
                <div class="package-page__selected-item u-marginb--double o-flex__half">
                    <div class=" u-d__inline u-padr--std">
                        <img src="../../../assets/img/syringe2.png" alt="image" class=" bannertwo"></div>
                    <div class=" labone u-carousal__item">
                        <div class="u-font-bold">Digital reports</div>
                    </div>
                    <div>Access your reports anytime on your wealthylife account. We will email you a copy.</div>
                </div>
                <div class="package-page__selected-item u-marginb--double o-flex__half">
                    <div class=" u-d__inline u-padr--std">
                        <img src="../../../assets/img/syringe2.png" alt="image" class="bannertwo "></div>
                    <div class="labone u-carousal__item">
                        <div class="u-font-bold">Offers and affordable prices</div>
                        <div>Get great discounts and offers on tests and packages.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" we u-bg--white ">
            <div class="u-font-bold o-font-size--16 u-padtb--dbl o-font-size--30 u-text--center">How it works?</div>
            <div class="o-f-color--sec o-flex u-padt--dbl o-flex__justify--evenly dg-wrapper">
                <div class=" u-marginb--std-half u-text--center">
                    <div>
                        <div
                            class=" package-page__icon package-page__icon-with-background u-marginr--std u-image__center u-padb--dbl">
                            <div class="works ">
                                <img src="../../../assets/img/testimonial-default-women-v1.png" alt="image"
                                    class=" collection u-padtb--std">
                            </div>
                        </div>
                        <div class="  labtwo u-carousal__item">Search for tests and packages and seamlessly book a home
                            sample collection.</div>
                    </div>
                    <span class="flex o-f-color--subtle u-margint--double"></span>
                    <div class=" howitwork u-marginb--std-half u-text--center">
                        <div>
                            <div
                                class="package-page__icon package-page__icon-with-background u-marginr--std u-image__center u-padb--dbl">
                                <div class="works ">
                                </div>
                                <img src="../../../assets/img/testimonial-default-women-v1.png" alt="image"
                                    class=" collection u-padtb--std">
                            </div>
                        </div>
                        <div class=" labtwo u-carousal__item">We will send a certified professional to your place to
                            assist you with the sample collection</div>
                    </div>
                </div>
                <span class=" flex o-f-color--subtle u-margint--double">
                </span>
                <div class="u-marginb--std-half u-text--center">
                    <div>
                        <div
                            class="package-page__icon package-page__icon-with-background u-marginr--std u-image__center u-padb--dbl">
                            <div class=" works">
                                <img src="../../../assets/img/testimonial-default-women-v1.png" alt="image"
                                    class=" life u-padtb--std">
                            </div>
                        </div>
                        <div class=" labtwo u-carousal__item">We will email you the reports. You can also access your
                            reports within your account on the Wealthy Life app</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" we u-bg--grey  ">
            <div class="dg-wrapper">
                <div class="u-font-bold u-marginb--double o-font-size--36 u-text--center">We do great</div>
                <div class="o-flex o-flex__justify--around u-padt--dbl">
                    <div class="great">
                        <div class=" u-marginb--double">
                            <img src="../../../assets/img/offer-specialist-v1.png" alt="image" class="wedogreat">
                        </div>
                        <div class="u-font-bold u-padt--std--half o-font-size--24 u-text--center">15 Million users every
                            month</div>
                    </div>
                    <div class="great">
                        <div class=" u-marginb--double">
                            <img src="../../../assets/img/offer-specialist-v1.png" alt="image" class="wedogreat ">
                        </div>
                        <div class="u-font-bold u-padt--std--half o-font-size--24 u-text--center">Trusted by 2,00,000
                            healthcare professionals</div>
                    </div>
                    <div class="great">
                        <div class=" u-marginb--double">
                            <img src="../../../assets/img/offer-specialist-v1.png" alt="image" class=" wedogreat">
                        </div>
                        <div class="u-font-bold u-padt--std--half o-font-size--24 u-text--center">We serve in 40+ cities
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-testimonials ">
            <h2 class="u-padb--less u-font-bold o-font-size--36">Thousands of Happy Customers</h2>
            <owl-carousel-o [options]="customOptions4" #reviewfour>
                <ng-template carouselSlide>
                    <div>
                        <div class=" sliderfont c-slider__item o-font-size--24">
                            <div class="c-testimonials__content u-padb--dbl">
                                <span class="o-font-size--36 u-font-bold">“</span>Good service, Wealthy Life is avoiding
                                to stand in que for health checkup.</div>
                            <div class="o-font-size--14">
                                <div class="happycustemer">
                                    <div class="u-font-bold">Lalita Hegde</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
            <div class="row">
                <div class="lhs" (click)="reviewfour.prev()"><span
                    class="c-testimonial-list__prev_arrow c-testimonial-list__arrow"><i class="c-testimonial-list__prev_arrow icon-ic_back_cheveron c-testimonial-list__arrow"></i></span></div>
                <div class="rhs" (click)="reviewfour.next()"> <span class="c-testimonial-list__next_arrow c-testimonial-list__arrow"><i class="c-testimonial-list__next_arrow icon-ic_next_cheveron c-testimonial-list__arrow"></i></span></div>
    </div>
    <div class="c-testimonials ">
        <h2 class="u-padb--less u-font-bold o-font-size--36">Thousands of Happy Customers</h2>
        <owl-carousel-o [options]="customOptions4" #reviewfour>
          <ng-template carouselSlide>
            <div>
              <div class=" sliderfont c-slider__item o-font-size--24">
                  <div class="c-testimonials__content u-padb--dbl">
                      <span class="o-font-size--36 u-font-bold">“</span>Good service, Wealthy Life is avoiding to stand in que for health checkup.</div>
                  <div class="o-font-size--14">
                      <div class="happycustemer">
                          <div class="u-font-bold">Lalita Hegde</div>
                      </div>
                  </div>
              </div>
          </div>
              </ng-template>
            </owl-carousel-o>
            <div class="row">
                <div class="lhs" (click)="reviewfour.prev()"> <i class="fa fa-chevron-circle-left fa-3x " aria-hidden="true"></i></div>
                <div class="rhs" (click)="reviewfour.next()"> <i class="fa fa-chevron-circle-right fa-3x " aria-hidden="true"></i></div>
            </div>
            </div>
    </div>
</div>
<div class="u-bg--grey u-padtb--tpl">
    <div class="dg-wrapper">
        <div class="dg-twelve">
            <div class="o-flex" style="justify-content: space-evenly;">
                <div>
                    <div class="mobilesize ">
                        <img src="../../../assets/images/mobileapp/mobileapp.jpg" alt="image" class="mobileappimge">
                    </div>
                </div>
                <div class="mobileapp">
                    <div class="o-font-size--36 u-font-bold">Download the Wealthy Life app</div>
                    <div class="o-font-size--16 u-font-bold u-padtb--std">Your home for health is one tap away.</div>
                    <div class="o-f-color--subtle">Book appointments, Order health products, Chat with a doctor online,
                        Book health checkups, store health records &amp; read health tips.</div>
                    <div class="u-padtb--tpl ">
                        <div class="u-font-bold u-padtb--std">Send the link to download the app</div>
                        <div class="o-flex">
                            <div class=" corner u-border--std u-round-corner--dbl u-bg--white ">
                                <span class="  spanstyle u-v-align u-padrl--std u-font-bold">+91</span>
                                <input type="tel" class="c-opd-inputable-box" placeholder="Enter phone number" value="">
                            </div>
                            <div data-aid="" class="c-button u-marginl--std c-button--bigger" style="width: 150px;">Send
                                app link</div>
                        </div>
                        <div class="o-f-color--green"></div>
                    </div>
                    <div class="o-flex u-padtb--std">
                        <a>
                            <div class="u-marginr--std u-round-corner--tpl u-pointer ">
                                <img src="../../../assets/images/mobileapp/google_play.svg?v=1232" alt="image"
                                    class="u-marginr--std u-round-corner--tpl u-pointer ">
                            </div>
                        </a>
                        <a to="https://app.appsflyer.com/com.wealthylife.fabric?pid=web&amp;c=homepage">
                            <div class="u-round-corner--tpl u-pointer "><img
                                    src="../../../assets/images/mobileapp/app_store.svg?v=434" alt="image"
                                    class="u-round-corner--tpl u-pointer ">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
