<section style="margin-top: 100px">
  <div class="container">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 10px">
          <div class="input-group">
            <input type="text" class="form-control" (click)="modalopen()" placeholder="Select any city or locality" />
            <div class="input-group-append">
              <span class="input-group-text"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg></span>
            </div>
            <input type="text" class="form-control" placeholder="Search for Tests and Profiles" />
            <div class="input-group-append">
              <span class="input-group-text"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                  <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                  </svg></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
        <img src="../../../assets/img/corona.png" alt="Free Home Sample" style="position: relative" class="banner"
          style="height: 300px" />
        <div class="row" style="position: absolute">
          <div class="col-lg-6 col-md-8" style="margin: 10px">
            <h1 class="o-font-size--30 u-font-bold" style="text-align: center; font-weight: 600">
              Get lab tests and full body checkups from the comfort of your
              home.
            </h1>
            <span class="u-font-bold o-font-size--24 text-success">Upto 45% OFF</span>
            <span class="text-success"> + </span>
            <span class="text-success">Get 10% Health Cashback</span>
            <span class="text-success">*</span>
            <span class="text-success u-pointeru-pointer"> T&amp;C</span>
            <div style="margin-top: 20px; text-align: center">
              <button mat-raised-button color="primary">
                See all Packages
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <h2 style="font-weight: 600">Top Booked Diagnostic Tests</h2>
        <div class="col-sm-12 col-md-12 col-lg-12 cen">
          <div class="row" style="
              position: absolute;
              z-index: 9;
              width: 100%;
              justify-content: space-between;
              top: 70px;
            ">
            <span (click)="review12.prev()">
              <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true">
              </i>
            </span>
            <span (click)="review12.next()">
              <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true">
              </i>
            </span>
          </div>
          <owl-carousel-o [options]="customOptions" #review12>
            <ng-template carouselSlide *ngFor="let prof of Profile; let k = index">
              <div class="card card-style cad1" [routerLink]="['pop-health/profile',prof._id]"
              routerLinkActive="router-link-active" >
                <div class="card-body">
                  <h3 class="card-title truncate fw-600">{{ prof.title }}</h3>
                  <div style="height: 50%">
                    <p class="card-text">{{ prof.description }}</p>
                  </div>
                  <h2 class="fw-600" style="margin: 0px">
                    ₹ {{ prof.yourPrice }}
                  </h2>
                </div>
                <div class="card-footer fw-600" style="
                    color: #14bef0;
                    font-weight: 600;
                    text-align: center;
                    background: white;
                  ">
                  ADD
                </div>
              </div>
            </ng-template>

          </owl-carousel-o>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <h2 style="font-weight: 600">Health Checkups and Screenings For</h2>
        <div class="col-sm-12 col-md-12 col-lg-12 cen">
          <div class="row" style="
              position: absolute;
              width: 100%;
              justify-content: space-between;
              top: 20px;
            ">
            <span (click)="review25.prev()" style="z-index: 9">
              <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true">
              </i>
            </span>
            <span (click)="review25.next()" style="z-index: 9">
              <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true">
              </i>
            </span>
          </div>
          <owl-carousel-o [options]="customOptions2" #review25>
            <ng-template carouselSlide *ngFor="let item of GetAll">
              <img [src]="item.icon" alt="image" [routerLink]="['pop-health/test',item._id]"
              routerLinkActive="router-link-active"
                onError="this.src='../../../assets/img/Swati/BookHeathCheckup/Cancer.png'" class="banner1" />
              <h4 class="m-2 text-bold">{{ item?.title }}</h4>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="margin-top: 30px">
  <div class="container">
    <h2 style="font-weight: 600">Popular Health Checkup Packages</h2>
    <div style="display: flex; flex-wrap: wrap; justify-content: flex-start">
      <!-- <button type="button" class="btn btns"> Featured Checkups </button> -->
      <button type="button" [ngClass]="{ btns3: health }" class="btn btns" (click)="healthCheck()">
        Women's Health
      </button>
      <button type="button" [ngClass]="{ btns3: !health }" class="btn btns" (click)="healthCheck()">
        Men's Health
      </button>
    </div>

    <div class="col-12" *ngIf="health">
      <div class="row" style="
          position: absolute;
          z-index: 9;
          width: 100%;
          justify-content: space-between;
          top: 100px;
        ">
        <span (click)="review321.prev()">
          <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"> </i>
        </span>
        <span (click)="review321.next()">
          <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"> </i>
        </span>
      </div>
      <owl-carousel-o [options]="customOptions321" #review321>
        <ng-template carouselSlide *ngFor="let pack of Package; let i = index">
          <div class="card card-style">
            <div class="card" [routerLink]="['pop-health/' + pack._id]" [routerLink]="['pop-health/package',pack._id]"
            routerLinkActive="router-link-active"
              style="width: 100%; border: 1px solid #dedcdc !important">
              <div style="height: 175px">
                <img class="card-img-top" src="{{ pack.icon }}" alt="Card image cap" style="height: 175px" />
                <div class="asdd"></div>
              </div>

              <div class="card-body">
                <h2 class="card-title" style="margin: 0px; font-weight: 600">
                  {{ pack.title }}
                </h2>
                <p class="card-text">
                  Ideal for individuals aged
                  <span style="font-weight: 600; font-size: 14px">
                    20 - 40 years</span>
                </p>
                <button type="button" class="btn btns1" style="margin: 0px">
                  60 tests included
                </button>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-8">
                    <div>
                      <span style="font-size: 20px; font-weight: 600">
                        {{ pack.mrp }}</span>
                      <s>{{ pack.yourPrice }} </s><span style="color: #00a500">
                        {{ pack.offerPercent }}% off</span>
                    </div>
                    <p style="color: #4ece4e">+ 10% Health cashback* T&C</p>
                  </div>
                  <div class="col-lg-4" style="display: flex; justify-content: center">
                    <button class="btn btn-primary" style="height: 40px">
                      Book Now
                    </button>
                  </div>
                </div>

                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>

    <div class="col-12" *ngIf="!health">
      <div class="row" style="
          position: absolute;
          z-index: 9;
          width: 100%;
          justify-content: space-between;
          top: 100px;
        ">
        <span (click)="review321a.prev()">
          <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"> </i>
        </span>
        <span (click)="review321a.next()">
          <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"> </i>
        </span>
      </div>
      <owl-carousel-o [options]="customOptions321" #review321a>
        <ng-template carouselSlide *ngFor="let pack of Package; let i = index">
          <div class="card card-style">
            <div class="card" [routerLink]="['pop-health/' + pack._id]" [routerLinkActive]="['active']"
              style="width: 100%; border: 1px solid #dedcdc !important">
              <div style="height: 175px">
                <img class="card-img-top" src="{{ pack.icon }}" alt="Card image cap" style="height: 175px" />
                <div class="asdd"></div>
              </div>

              <div class="card-body">
                <h2 class="card-title" style="margin: 0px; font-weight: 600">
                  {{ pack.title }}
                </h2>
                <p class="card-text">
                  Ideal for individuals aged
                  <span style="font-weight: 600; font-size: 14px">
                    20 - 40 years</span>
                </p>
                <button type="button" class="btn btns1" style="margin: 0px">
                  60 tests included
                </button>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-8">
                    <div>
                      <span style="font-size: 20px; font-weight: 600">
                        {{ pack.mrp }}</span>
                      <s>{{ pack.yourPrice }} </s><span style="color: #00a500">
                        {{ pack.offerPercent }}% off</span>
                    </div>
                    <p style="color: #4ece4e">+ 10% Health cashback* T&C</p>
                  </div>
                  <div class="col-lg-4" style="display: flex; justify-content: center">
                    <button class="btn btn-primary" style="height: 40px">
                      Book Now
                    </button>
                  </div>
                </div>

                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row bg1">
      <div class="col-sm-12 col-md-12 col-lg-12 m-3">
        <h2 class="text-center">Why book with us?</h2>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="media">
          <img src="../../../assets/img/Swati/LabTest/HomeSampleColl.png" style="width: 80px" class="mr-3" alt="" />
          <div class="media-body">
            <h2>Home sample collection for FREE</h2>
            <h3>
              A certified professional will collect your sample from a location
              of your preference.
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="media">
          <img src="../../../assets/img/Swati/LabTest/WealthyLifeAssiciate.png" style="width: 80px" class="mr-3"
            alt="" />
          <div class="media-body">
            <h2>WhealthyLife Associate Labs: Labs with industry standards</h2>
            <h3>To ensure the accuracy of reports.</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="media">
          <img src="../../../assets/img/Swati/LabTest/HomeSampleColl.png" style="width: 80px" class="mr-3" alt="" />
          <div class="media-body">
            <h2>Home sample collection for FREE</h2>
            <h3>
              A certified professional will collect your sample from a location
              of your preference.
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="media">
          <img src="../../../assets/img/Swati/LabTest/WealthyLifeAssiciate.png" style="width: 80px" class="mr-3"
            alt="" />
          <div class="media-body">
            <h2>WhealthyLife Associate Labs: Labs with industry standards</h2>
            <h3>To ensure the accuracy of reports.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 m-3">
        <h2 class="text-center">How it works?</h2>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/LabTest/test.png" alt="" width="20px" />
        <p>
          Search for tests and packages and seamlessly book a home sample
          collection.
        </p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/LabTest/Certified.png" alt="" width="20px" />
        <p>
          We will send a certified professional to your place to assist you with
          the sample collection
        </p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/LabTest/report.png" alt="" width="20px" />
        <p>
          We will email you the reports. You can also access your reports within
          your account on the WhealthyLife app
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row bg1">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center m-3">
        <h2>We do great</h2>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/LabTest/Users.png" alt="" style="width: 70px; margin-bottom: 10px" />
        <h4>15 Million users every month</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/LabTest/HeathCareProfessional.png" alt=""
          style="width: 70px; margin-bottom: 10px" />
        <h4>Trusted by 2,00,000 healthcare professionals</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/LabTest/Cities.png" alt="" style="width: 70px; margin-bottom: 10px" />
        <h4>We serve in 40+ cities</h4>
      </div>
    </div>
  </div>
</section>

<section class="lab-slide" *ngIf="Labdata">
  <div class="container margin_60_35">
    <div class="main_title">
      <div class="row">
        <div class="col">
          <h2>Rencently Added Labs</h2>
        </div>
        <div class="col">
          <a href="#" class="btn-link text-right float-right">View All</a>
        </div>
      </div>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div *ngIf="Labdata.length > 4">
          <owl-carousel-o [options]="customOptions1">
            <ng-template carouselSlide *ngFor="let item of Labdata; let a = index"
              style="margin: 10px; border: 1px solid">
              <div class="card">
                <img [src]="item.icon" alt="logo-client"
                  onerror="this.src='../../../assets/imag/Doctor-And-Patient.png'"
                  style="height: 100px; border: 1px solid" />
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
        <div class="row">
          <div class="col-3" *ngFor="let item of Labdata; let a = index" style="margin: 10px">
            <div>
              <div class="card">
                <img [src]="item.icon" alt="logo-client"
                  onerror="this.src='../../../assets/imag/Doctor-And-Patient.png'"
                  style="height: 100px; border: 1px solid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center m-2 mt-5">
        <h2>Thousands of Happy Customers</h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 text-center m-2">
        <div class="row disp" style="
            position: absolute;
            width: 100%;
            justify-content: space-between;
            top: 20px;
          ">
          <span (click)="reviewlast.prev()" style="z-index: 9">
            <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"> </i>
          </span>
          <span (click)="reviewlast.next()" style="z-index: 9">
            <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"> </i>
          </span>
        </div>
        <owl-carousel-o [options]="customOptions4" #reviewlast>
          <ng-template carouselSlide>
            <div>
              <p>
                Everything went very well and smoothly. Technician was right on
                time. Really happy with the service.
              </p>
              <p class="mt-4">Ashish Garnaik</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div>
              <p>
                Good service, WhealthyLife is avoiding to stand in que for
                health checkup.
              </p>
              <p class="mt-4">Lalita Hegde</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div>
              <p>
                Very professional phlebo. Excellent job in collecting the
                sample. No pain at all. Got my report also within 24 hours.
              </p>
              <p class="mt-4">Malathi Ganapathy</p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>