.margintop {
  margin-top: 7em;
}
.c-search__input--location {
  border: 1px solid #b4b4be;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 30px;
  vertical-align: middle;
}
.banner {
  display: block;
  margin: auto;
  max-width: 100%;
}

.banner1 {
  display: block;
  margin: auto;
  max-width: 50%;
}
.bg {
  background-color: rgb(209, 213, 238);
}
.cen {
  text-align: center;
}
.u-border--std {
  border: 1px solid #f0f0f5;
}

.lhs {
  position: absolute;
  top: 30% !important;
  z-index: 999 !important;
  left: 1px !important;
  font-size: 10px !important;
}

.rhs {
  position: absolute;
  top: 30% !important;
  z-index: 999 !important;
  right: 1px !important ;
  font-size: 10px !important;
}
.bg1 {
  background-color: #f6f6f9;
}

.lipid-img {
  width: 50%;
}

.width-img {
  width: 38px !important;
}
.owl-carousel .owl-item img {
  display: block;
  width: 10% !important;
}

.u-center--vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clearfix,
.dg-eight,
.dg-eleven,
.dg-five,
.dg-four,
.dg-inner-wrapper,
.dg-last,
.dg-nine,
.dg-one,
.dg-seven,
.dg-six,
.dg-ten,
.dg-three,
.dg-twelve,
.dg-two,
.dg-wrapper {
  display: block;
}
.u-padb--dbl {
  padding-bottom: 20px;
}
.u-padt--std {
  padding-top: 10px;
}

.lhs1 {
  position: absolute;
  top: 30% !important;
  z-index: 999 !important;
  left: -25px !important;
  font-size: 10px !important;
}
.o-font-size--30 {
  font-size: 30px;
}
.u-font-bold {
  font-weight: 500;
}
.o-font-size--24 {
  font-size: 24px;
}
.u-pointer {
  cursor: pointer;
}

.fa-chevron-circle-left:before {
  content: "\f137";
  font-family: "FontAwesome";
}

.fa-chevron-circle-right:before {
  content: "\f138";
  font-family: "FontAwesome";
}
