/*! CSS Used from: https://drive.practo.com/css/bootstrap-custom.min.css */
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.row{margin-left:-15px;margin-right:-15px;}
.col-lg-2,.col-sm-3,.col-sm-9,.col-lg-10,.col-xs-12,.col-sm-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:768px){
.col-sm-3,.col-sm-9,.col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-9{width:75%;}
.col-sm-3{width:25%;}
}
@media (min-width:1200px){
.col-lg-2,.col-lg-10{float:left;}
.col-lg-10{width:83.33333333%;}
.col-lg-2{width:16.66666667%;}
}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.hidden{display:none!important;}
@media (max-width:767px){
.hidden-xs{display:none!important;}
}
@media (min-width:768px) and (max-width:991px){
.hidden-sm{display:none!important;}
}
@media (min-width:992px) and (max-width:1199px){
.hidden-md{display:none!important;}
}
@media (min-width:1200px){
.hidden-lg{display:none!important;}
}
/*! CSS Used from: https://drive.practo.com/css/home-c8c2cffac40076e469b94afa454f17dd.css */
a,div,img,span{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:none;}
.hidden{display:none;}
a:active,a:focus,a:hover,a:link,a:visited{text-decoration:none;cursor:pointer;cursor:hand;outline:none;}
.heading-two{font-weight:700;line-height:30px;}
.heading-two{font-size:18px;}
.heading-four{font-weight:700;}
.heading-four,.text{font-size:14px;line-height:20px;}
.text,.text-small{font-weight:400;}
.text-small{font-size:12px;line-height:15px;}
.heading-four,.heading-two,.text,.text-small{color:#414146;}
.text-small.subtle{color:#787887;}
.bg-white{background-color:#fff;}
.bg-grey{background-color:#f0f0f5;}
.separator{border-bottom:1px solid #e0e0e5;border-collapse:collapse;}
a{color:#14bef0;}
.col-lg-2,.col-lg-10,.col-sm-3,.col-sm-9,.col-sm-12,.col-xs-12{padding-left:0;padding-right:0;}
.row{margin-left:0;margin-right:0;}
@media screen and (max-width:767px){
.m-heading-three{font-size:14px;font-weight:700;line-height:20px;}
}
.main-container{height:100%;}
#mainContainer{padding:26px 40px 20px;height:calc(100% - 102px);}
@media (max-width:767px){
#mainContainer{padding:0;height:calc(100% - 60px);}
}
@media (min-width:768px){
#mainContainer{min-height:500px;}
}
.user-card{padding:15px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.user-card .product-name{margin-top:5px;margin-bottom:5px;}
.user-card .user-info{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
.user-card .user-info .user-image{height:40px;width:40px;}
.user-card .user-info .user-details{margin-left:10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.sidebar{height:100%;width:100%;overflow-y:auto;}
.sidebar .sidebar-item{padding:16px 10px 16px 20px;}
.sidebar .sidebar-item:hover{background-color:#f0f0f5;}
.sidebar .sidebar-item.active{border-left:4px solid #14bef0;background-color:#f0f0f5;padding:16px 10px 16px 16px;}
.sidebar .sidebar-item .unread-count{color:#fff;background:#14bef0;padding:3px 7px;float:right;}
.app-container{height:100%;}
.app-container #userCardContainer{margin-left:0;margin-right:0;}
.app-container #userCardContainer .user-card-wrapper{padding-left:0;padding-right:0;}
.app-container #sideBarAppContainer{height:calc(100% - 70px);}
.app-container #sideBarAppContainer>div{height:100%;}
.app-container #sideBarAppContainer .sidebar-wrapper{border-right:1px solid #e0e0e5;}
@media (max-width:767px){
.app-container #sideBarAppContainer{height:100%;}
}
.appointment-container{height:100%;width:100%;}
.appointment-container .no-appointments{background:#fff;height:100%;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center;}
.appointment-container .no-appointments .no-appointments-img img{height:110px;}
.appointment-container .no-appointments .no-appointments-msg{margin-top:16px;}
@media (max-width:767px){
.appointment-container .product-title{padding:15px 10px;}
}