.font-weight-bold {
    font-weight: 500 !important;
}

p {
    text-align: justify;
    display: inline;
}

h1 {
    line-height: 28px;
    display: inline-block;
}

.textwidth {
    width: 100%;
}

.text-decoration-underline {
    text-decoration: underline;
}

.mcursor {
    cursor: pointer;
}

@media (min-width: 768) {
    .img {
        height: 300px;
        background-position: center;
        background-repeat: inherit;
        background-size: cover;
    }
}

.cardrd {
    border: 1px solid #ffffff !important;
    border-radius: 15px !important;
}

.mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 50px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f5;
    width: 100%;
}

li {
    float: left;
}

li .a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .a:hover:not(.selectActive) {
    background-color: #f0f0f5;
}

.selectActive {
    background-color: white;
    color: blue;
}

.starbgandcolor {
    color: #01a400;
    background-color: #f0f0f5;
}

.fontsizesmall {
    font-size: small;
}

.checkprime {
    color: #8a45e6;
}

.buttonlineh {
    line-height: 14px;
}

.font-sizex-small {
    font-size: x-small
}

.font-sizexx-small {
    font-size: xx-small;
}