<section style="background-color: #f0f0f5;">
    <div class="container-lg mt-5">
        <div class="row mt-5">
            <div class="col-sm-12 col-md-8 mt-5">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-2 p-2 img">
                            <img src="https://imagesx.practo.com/providers/cd16fce1-2995-49c5-bea9-d59f01db5cdf.jpg?i_type=t_100x100" class="card-img" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body mr-3">
                                <div class="row text-dark">
                                    <h1 class=" font-weight-bold">
                                        Dr. M. R. Pujari </h1>
                                    <p class="pl-1 pt-2 font-weight-bold">Profile is claimed</p>
                                </div>
                                <div class="row text-dark">
                                    <p class="m-0">
                                        BDS, MDS - Oral Medicine and Radiology
                                    </p>
                                </div>
                                <div class="row text-dark">
                                    <p>
                                        Dentist, Dental Surgeon, Cosmetic/Aesthetic Dentist, Implantologist, Oral Medicine and Radiology, 14 Years Experience Overall (14 years as specialist)
                                    </p>
                                </div>
                                <div class="row text-dark">
                                    <i class="fa fa-check-circle p-1 text-success" aria-hidden="true"></i>
                                    <p>BDS, MDS - Oral Medicine and Radiology</p>
                                </div>
                                <div class="row text-dark">
                                    <i class="fa fa-thumbs-up text-success p-1" aria-hidden="true"> 96% </i>
                                    <p>(3673 votes)</p>
                                </div>
                                <div class="row text-dark">
                                    <p>
                                        Dr. M. R. Pujari is highly qualified and highly experienced doctor with 13 years of vast experience. Working as a chief consultant in various dental clinics, cosmetic dentist, root canal specialist, TMJ and oral medicine specialist.
                                    </p>
                                </div>

                            </div>
                            <div class="card-body ">
                                <div class="row text-dark">
                                    <p class="text-right text-info textwidth mcursor">
                                        Give Feedback
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <ul>

                    <li>
                        <div class="a font-weight-bold mcursor " [ngClass]="{selectActive: active=='Info'}" (click)="activefn('Info')">Info</div>
                    </li>
                    <li>
                        <div class="a font-weight-bold mcursor" [ngClass]="{selectActive: active=='Feedback'}" (click)="activefn('Feedback')">Feedback</div>
                    </li>
                    <li>
                        <div class="a font-weight-bold mcursor" [ngClass]="{selectActive: active=='Consult'}" (click)="activefn('Consult')">Consult</div>
                    </li>
                    <li>
                        <div class="a font-weight-bold mcursor" [ngClass]="{selectActive: active=='Q&AHealthfeed'}" (click)="activefn('Q&AHealthfeed')">Q&AHealthfeed</div>
                    </li>
                </ul>
                <div class="card mb-3" *ngIf="active=='Info'">
                    <div class="row no-gutters">

                        <div class="col-md-12">
                            <div class="card-body ml-3 mr-3">
                                <div class="row text-dark">

                                    <p class="pl-1 pt-2 font-weight-bold">Marathahalli, Bangalore</p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="row text-dark">
                                            <p class="pl-1 pt-2 font-weight-bold text-left mcursor text-info  text-decoration-underline">32 Smiles Multispeciality Dental Clinic
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="starbgandcolor p-1" title="5">
                                                <div class="">
                                                    <span class="">5.0</span>
                                                    <span class="">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p class="text-left pr-3 text-dark fontsizesmall">130, Green Garden Layout, Kundalahalli Gate, Sai Baba Temple Road, Silver Springs Layout, Landmark: Near Pavani Prestige, Kundalahalli Gate Signal & Opposite Family Mall, Bangalore</p>
                                        </div>
                                        <div class="row">
                                            <p class="text-info font-weight-bold">Get Directions

                                            </p>
                                        </div>


                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="row text-dark">
                                            <p class="pl-1 pt-2 font-weight-bold">Mon - Sun</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="text-dark fontsizesmall">09:00 AM - 02:00 PM</p>
                                            </div>
                                            <div class="col-sm-12">
                                                <p class="text-dark fontsizesmall">09:00 AM - 02:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="row text-dark">
                                            <p class="pl-1 pt-2 ">200</p>
                                        </div>
                                        <div class="row">

                                            <p class="font-weight-bold checkprime">Prime</p><i class="fa fa-check-circle p-1 checkprime" aria-hidden="true"></i>
                                            <p class="checkprime"> Max. 15 mins wait + Verified details
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="row text-dark">
                                    <button class="btn btn-info buttonlineh pl-2 pr-2"><i class="fa fa-bolt font-sizex-small" aria-hidden="true"></i> <span class="font-sizex-small">Book Appointment</span> <br><span class="pl-1 font-sizexx-small" >No Booking Fee</span> </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-5">
                <div class="card mb-3 cardrd">
                    <div class="row no-gutters">

                        <div class="col-12">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="First">Content 1</mat-tab>
                                <mat-tab label="Second">Content 2</mat-tab>
                                <mat-tab label="Third">Content 3</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 cardrd">
                    <div class="row no-gutters">

                        <div class="col-12">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="First">Content 1</mat-tab>
                                <mat-tab label="Second">Content 2</mat-tab>
                                <mat-tab label="Third">Content 3</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>