<div class="container-fluid">
<div class="pt-4"   >
  <h1>Online follow-up</h1>
  <div>
    <div class="section mt-4 p-2" >
        <div class="follow-up-head mt-2">
            <b class="b-100">1000+</b> <span class="text-grey">clinics have enabled online follow-up. 
            Keep your patients coming back and monetise repeat interactions!</span>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
               <div class="row m-auto">
                <img src="../../../../../assets/img/swtich-illustration.svg" >
               </div>
                <div class="section-head mt-2  "   >Engage</div>
                <div class="text-grey mt-2">Retain patients better: Give them a convenient way to follow-up with you.</div>
            </div>
            <div class="col-sm-3">
                <img src="../../../../../assets/img/swtich-illustration.svg"  >
                <div class="section-head control  mt-2" >Control</div>
                <div class="text-grey mt-2">Control follow-up interactions: Limit free follow-up period, set online fees, and more.</div>
            </div>
            <div class="col-sm-3  ">
                <img class="monetise-illustration " src="../../../../../assets/img/swtich-illustration.svg">
                <div class="section-head monetise  mt-2"  >Monetise</div>
                <div class="text-grey mt-2">Monetise your follow-ups: Charge patients for repeat follow-up interactions.</div>
            </div>  
        </div>
    </div>

    <div class="section-2 mt-2 p-2" >
        <div class="section-head">Here's how it works</div>
        <div class="row mt-3">
            <div class="col-sm-3">
                <div class="indexing mt-2">1</div> 
                <p  class="mt-2">
                    After patients visit your clinic, 
                    they receive an sms with a link to follow-up online.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="indexing mt-2 " >2</div>
                <p  class="mt-2">
                    You answer follow-up queries
                  on the Practo Partner App
                </p>
            </div>
            <div class="col-sm-3">
                <div class="indexing mt-2">3</div>
                <p class="mt-2">
                    After the free follow-up expires, 
                    patients can pay to continue chatting with you.
                </p>
            </div>  
        </div>
    </div>



    <div class="row mt-2 p-3">
        <div class="section-head mt-2">Enable Follow up</div>
        <p class="text-grey mt-2">By enabling online follow-up you’ll be allowing Practo to use appointment details so that your patients can be reached via SMS / Notification for the above benefits and services. You will enable it for all doctors in your practice.</p>
        <button mat-flat-button class="mt-2 mat-button-cust" >Enable Now</button>
    </div>

    <div class="note mt-5 p-1">
        <b>Note :</b>
        <p>Online follow-ups will be available to your entire practice. Individual doctors can disable the feature from the app.</p>
    </div>

   
  </div>
</div>
</div>
