.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  width: 100%;
  border-radius: 0.35rem;
}

.img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  margin-left: -50px;
  margin-bottom: 40px;
}

.large {
  font-size: 15px;
}

.stext {
  font-size: 12px;
}

.lht {
  line-height: normal;
}

.btn {
  font-size: 1.5rem !important;
}

.bg {
  background-color: #dff8f6;
}

.textcol {
  color: #14aa9b;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #f6c23e;
}

.mat-icon-button.mat-success {
  color: #f6c23e;
}

span.material-icons {
  font-family: Material Icons !important;
}

.fa-lightbulb-o:before {
  content: "\f0eb";
  font-family: "FontAwesome";
}
