<section class="firstsection">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control"
                        placeholder="Search for medicines and health products and more" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="fitstbtn">
                    <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart"></i>View
                        Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <div>Home><span class="tabletname">Shelcal Tablet</span></div>
            </div>
        </div>
    </div>
</section>
<section class="details">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4 col-xs-2 smallimg">
                        <div class="leftsideimg"><img src="../../../assets/img/med1.jpg"></div>
                        <div class="leftsideimg"><img src="../../../assets/img/med1.jpg"></div>
                        <div class="leftsideimg"><img src="../../../assets/img/med1.jpg"></div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <img src="../../../assets/img/med1.jpg" class="card-img-top" alt="...">
                            <hr>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span class="priceoriginal">₹76.50</span>
                                    <span class="strikthrough">₹16.50</span>
                                    <span class="greentext">15% off</span>
                                </h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="PACK SIZE" class="packsize">PACK SIZE</label>
                                       
                                        <select class="custom-select-sm" id="inputGroupSelect01">
                                            <option selected>500Mg.</option>
                                            <option value="250Mg">250Mg</option>
                                           
                                          </select>
                                        
                                       
                                    </div>
                                    <div class="col-sm-6 unitflex">
                                        <label for="UNIT COUNT" class="packsize">UNIT COUNT</label>
                                        <div class="btntype">15
                                            TABLET ( 15 / STRIP )
                                        </div>
                                    </div>
                                </div>
                                <div class="row btnused">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary addtocart">ADD TO CART</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="headingtablet">
                            <h1>Shelcal-500 Tablet</h1>
                        </div>
                        <div class="manufactured">
                            <p>Manufactured By</p>
                            <span class="company">Torrent Pharmaceuticals Ltd.</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Highlights
                        </div>
                        <div class="list">
                            <ul>
                                <li>Calcium and Vitamin D supplement</li>
                                <li>Obtained from natural organic sources - oyster shell</li>
                                <li>Fights calcium and Vitamin D deficiency</li>
                                <li>Improves bone mass and bone strength</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Description
                        </div>
                        <div class="description">
                            <p>Shelcal-500 Tablet is a Calcium and Vitamin D supplement which is used for improving bone
                                and joint health. It is used for treating Calcium and Vitamin D deficiency and
                                associated conditions like osteoporosis, osteomalacia, etc.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Ingredients
                        </div>
                        <div class="description">
                            <p>Calcium- 500 mg, Vitamin D3- 250 IU</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Key Features
                        </div>
                        <div class="description">
                            <p>The calcium in Shelcal-500 Tablet is obtained from natural organic sources of calcium -
                                oyster shells. Calcium and Vitamin D are essential for bone formation, repair, and bone
                                strength. This tablet helps to fight calcium and vitamin D deficiency and associated
                                diseases such as osteoporosis, osteomalacia, etc. It also helps to improve bone mass and
                                strength. It generally does not cause any major side effects and can be used for both
                                children and adults.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            How to use
                        </div>
                        <div class="description">
                            <p>Usually, 1 tablet should be taken by mouth with food or immediately after food. However,
                                consult your doctor before taking it and consume this tablet as recommended by your
                                doctor.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Caution and storage

                        </div>
                        <div class="description">
                            <p>Keep away from children Take this tablet as recommended by your doctor Store in a cool
                                and dry place Regular physical activity (exercise) and exposure to sunlight (preferably
                                before 9 a.m.) are also recommended along with this tablet to achieve the best possible
                                effect</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row caution">
                    <div class="col-sm-6">
                        <div class="highlight">
                            Something doesn’t feel right?
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="notright">                         
                                Report an error
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>