
<section>
    <div  class=" container-fluid"  style="color: #414146;">

        <div class="">
            <div class="" style="border-bottom: 1px solid lightgray;">
               <h1 class="pt-4" >Record Share via WelthyLife Drive</h1>
              </div>
            <div class="mt-3">
                <div>
                    <div>
                      You can now securely share your health records with your patients via WealthyLife Drive.
                    </div>
                    <div>Click <a  target="_blank">here</a> to know more.
                    </div>
                    
                    <div class="shared-record mt-3">
                        <p>Select the records for which you want to turn on automatic sharing:</p>
                        <div>
                          <div class="ui form">
                            <div ng-repeat="emrSetting in emrSettings" class="field ng-scope">
                              <div class="ui checkbox share-input">
                               <mat-checkbox>Prescriptions</mat-checkbox>
                              </div>
                            </div>
                            <div class="field ng-scope">
                              <div class="ui checkbox share-input">
                               <mat-checkbox>Billing (Invoices and Payments)</mat-checkbox>
                              </div>
                            </div>
                            <div  class="field ng-scope">
                              <div class="ui checkbox share-input">
                               <mat-checkbox>Treatment Plans</mat-checkbox>
                              </div>
                            </div>
                            <div  class="field ng-scope">
                              <div class="ui checkbox share-input">
                               <mat-checkbox>Vital Signs</mat-checkbox>
                              </div>
                            </div>
                            <div  class="field ng-scope">
                              <div class=" share-input">
                               <mat-checkbox>Lab Orders</mat-checkbox>
                              </div>
                            </div>
                            <div  class="field ng-scope">
                              <div class="ui checkbox share-input">
                                <mat-checkbox>Clinical Notes (including attachments)</mat-checkbox>
                              </div>
                            </div>
                            <div  class="field ng-scope">
                              <div class="ui checkbox share-input">
                                <mat-checkbox>Files</mat-checkbox>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                     

                  </div>
    
            </div>



            <div>


                <div class="integrations-header pt-3" style="border-bottom: 1px solid lightgray;"><h1>My Doctors</h1></div>

            </div>

            <div class=" share-main-block mt-4">
              <div   class="ng-scope"><div class="my-doctors ">
          <div  class="ng-scope"><div class="my-doctor-acceptance-info ">
            <div class="my-doctor-acceptance-item-info">
                Enable the new ‘My Doctors’ feature to give your patients quick access to appointment details and actions. It will help you:
            </div>
        
            <div class="my-doctor-acceptance-item-info mt-2">
                <div class="float-left indexing">1.&nbsp;</div>
                <div class="my-doctor-acceptance-item-info-bold">Get upto 30% more repeat bookings</div>
            </div>
        
            <div class="my-doctor-acceptance-item-info  mt-2">
                <div class="float-left indexing">2.&nbsp;</div>
                <div class="my-doctor-acceptance-item-info-bold">Reduce no shows by upto 20%</div>
            </div>
        </div>
        <div class="ui form ng-scope mt-4 ">
            <div class="field" >
                <mat-checkbox class="sdfs">By accepting, you will be sharing your patient information with WealthyLife to reach your patients via SMS/Notification for the above benefits and services. </mat-checkbox>
            </div>
        </div>
      
        <button mat-flat-button class="mt-2 mat-button-cust " >Enable Now</button>
        </div>
        </div>
       
        </div>
            </div>

        

          </div>

        
    </div>
</section>