<section class="bg-white p-sm-3">
    <div class="row">
        <div class="col-md-5 col-lg-3 offset-md-2">
            <p class="mb-2" style="font-size: 15px;">Dr. {{profileData?.firstName}} {{profileData?.lastName}}</p>
            <div class="row">
                <div class="border bgh m-auto">
                    <input type="file" class="d-none" #file (change)="browseFile($event)">
                    <button type="button" (click)="file.click()" class="btn border bg-white px-5 h3 z-index">
                        Upload
                    </button>
                    <div *ngIf="registrationProff">One file is Uploaded</div>
                </div>
                <p class="pt-2" style="font-size: 12px;">
                    Please upload your identity proof to ensure that the ownership of your
                    profile remains with only you.
                </p>
                <p>Acceptable documents</p>
            </div>
            <div class="row">
                <ul>
                    <li>Medical Registration Certification</li>
                    <li>214 Maharashtra Medical Council</li>
                </ul>
            </div>
            <hr />
            <div class="row">
                <p>Extra proofs required to be uploaded:</p>
            </div>
            <div class="row">
                <ul>
                    <li>1. Establishment Proof</li>
                </ul>
            </div>
            <hr />
            <div class="row">
                <button mat-raised-button matStepperPrevious>
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                </button>
                <button mat-raised-button (click)="onSave()" color="success">
                    Save and contnue
                    <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right
                    </mat-icon>
                </button>
            </div>
        </div>
        <div class="col-md-3 col-lg-5 offset-md-1">
            <div class="d-none d-sm-none d-md-block col-md-12 col-lg-8 mt-5 ml-5 pr-0 pl-0"
                style="border: 1px solid #14aa9b;">
                <div class="bg p-4 textcol">
                    <div><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i></div>
                    <p class="stext font-weight-bold">
                        2.5M patients are looking for a doctor on WhealthyLife. Verify your
                        credentials and reach out to them
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>