<div class="card shadow mb-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-header">
          <div class="col-sm-3 first">
            <h2 class="font-weight-bold text-primary">Communications</h2>
          </div>     
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="row">
          <div class="col-sm-8 mm">
            <div class="alert alert-info">
              All practice correspondence will be sent to - Contact Number: <span>+91912312312</span> , Email: <span>abcd@gmail.com</span>. To change, go to <a href="">Practice Details.</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="Language">SMS Language</label>
              <select class="form-control" id="Language">
                  <option>Hindi</option>
                  <option>English</option>
                  <option>telugu</option>
                  <option>Kannad</option>
              </select>
              <label>SMS to patients will be sent in this language
              </label>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                <th>CATEGORY</th>
                <th>	TYPE</th>
                <th>SMS</th>
                <th>EMAIL</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Appointment</td>
                    
                    <td>
                      
                      <tr><td>confirmation</td></tr>
                      <tr><td>cancellation</td></tr>
                      <tr><td>Reminder(day of appt. at 7.30am).<a href=""> Modify</a></td></tr>
                    
                  
                  </td>
                    <td>
                      <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                      <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                      <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                    </td>
                    <td>
                      <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                    <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                    <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                  </td>
                  <td><button type="button" class="btn btn-light">Customise</button></td>
                </tr>
                <tr>
                  <td>Preventive Follow-up</td>
                  <td>Reminder<br>Follow up 6 months after the last appointment.<a href=""> Modify</a>	
                    </td>
                  <td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td>
                  <td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td>
                  <td><button type="button" class="btn btn-light">Customise</button></td>
                </tr>
                <tr>
                  <td>Payment</td>
                  <td>Payment</td>
                  <td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td>
                  <td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td>
                  <td><button type="button" class="btn btn-light">Customise</button></td>
                </tr>
                <tr>
                  <td>Wishes</td>
                  
                  <td>
                    
                    <tr><td>Anniversary</td></tr>
                    <tr><td>Birthday</td></tr>
                </td>
                  <td>
                    <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                    <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                   
                  </td>
                  <td>
                    <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                  <tr><td><input type="checkbox" id="Sunday" name="Sunday" value="Bike"></td></tr>
                </td>
                <td><button type="button" class="btn btn-light">Customise</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>


<!-- <div class="modal col-sm-12 col-md-12">
  <div class="row">
  <div class="col-sm-12">
  <div class="header">
    sdfsdfsafsdfsafsdfsdfsdfsfasdf
  </div>
  </div>
  <hr>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8">
          
        </div>
        <div class="col-sm-4">

        </div>
      </div>
    </div>
  </div>
</div> -->
    <!-- modal1 add doctor -->
    <div class="modal" id="myModal">
      <div class="modal-lg dialog">
        <div class="modal-content">
         
          <!-- <div class="col-sm-12"> -->
          <div class="row">
            <div class="col-sm-8">
              <div class="header">
                <h1 class="modal-title mtitl">Preview - Appointment Confirmation</h1>
              </div>
            </div> 
            <!-- <div class="col-sm-4">
              <button type="button">SMS</button>
              <button type="button">Email</button>
            </div>          -->
        </div>
      <!-- </div> -->
    
        
      
          <div class="modal-body">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-sm-8">
  adsad
                </div>
                <div class="col-sm-4" style="float: right;">
  asdads
                </div>
              </div>
            
            </div>
    
            <div class="row btnmodal">
              <button type="button" class="btn btn-light btnm" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-warning btnm">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>