.app-container #sideBarAppContainer>div {
    height: 100%;
}
.articles-container {
    height: 395px;
    -webkit-overflow-scrolling: touch;
    margin: 4px -165px 0px -42px;
}
.articles-container .articles-header {
    display: none;
}
.articles-container .no-articles {
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    // -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
}
.articles-container .no-articles .no-article-img {
    text-align: center;
}
.articles-container .no-articles .no-article-msg {
    text-align: center;
    font-weight: 400;
    letter-spacing: .4px;
    color: #414146;
    margin-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    // 
}
.articles-container .no-articles .no-article-img img {
    height: 110px;
}