



<section style="background-color: #f0f0f5;">
    <div class="container-lg mt-5">
        <div class="row mt-5">
            <div class="col-sm-12 col-md-8 mt-5">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-2 p-2 img">
                            <img  [src]="profileData.avatar"
                            onerror="this.src='../assets/img/user.jpeg'"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body mr-3">
                                <div class="row text-dark mb-0">
                                    <h2 class=" font-weight-bold mb-0">
                                        Dr. {{profileData.firstName}} {{profileData.lastName}}</h2>
                                   
                                </div>
                                <p class="pl-1 pt-2 font-weight-bold ">Profile is claimed</p>
                                <div class="row text-dark">
                                    <p class="m-0">
                                        {{profileData.degree}} - {{profileData.specialitie}}
                                    </p>
                                </div>
                                <div class="row text-dark">
                                    <p>
                                     
                                        {{profileData.experience}} Years Experience Overall ({{profileData.experience}} years as specialist)
                                    </p>
                                </div>
                                <div class="row text-dark">
                                    <i class="fa fa-check-circle p-1 text-success" aria-hidden="true"></i>
                                    <p>{{profileData.degree}} - {{profileData.specialitie}}</p>
                                </div>
                                <div class="row text-dark">
                                    <i class="fa fa-thumbs-up text-success p-1" aria-hidden="true"> 96% </i>
                                    <p>(3673 votes)</p>
                                </div>
                                <div class="row text-dark">
                                    <p>
                                        Dr. {{profileData.firstName}} {{profileData.lastName}} is highly qualified and highly experienced doctor with {{profileData.experience}} years
                                        of vast experience.
                                     
                                    </p>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
                
               
            </div>
           
        </div>
    </div>
</section>





