
  <div class="row pt-2 pb-2 maindiv" >
    
      <div class="m-2 adddiv"  ><i class="fa fa-plus text-center fa-2x addicon"  aria-hidden="true"></i>
 </div>
      <div class="m-2 adddiv"  ><i class="fa fa-plus text-center fa-2x addicon"  aria-hidden="true"></i>
 </div>
      <div class="m-2 adddiv"  ><i class="fa fa-plus text-center fa-2x addicon"  aria-hidden="true"></i>
 </div>
      <div class="m-2 adddiv"  ><i class="fa fa-plus text-center fa-2x addicon"  aria-hidden="true"></i>
 </div>
      <div class="m-2 adddiv"  ><i class="fa fa-plus text-center fa-2x addicon"  aria-hidden="true"></i>
 </div>
    
     
    
  </div>
  <div class="row mt-2 mb-2">
      <form>
          <div class="form-group">
              <input type="text" class="form-control" id="inputAddress2" placeholder="Title">
            </div>
        <div class="form-row">
          <div class="form-group col-6">
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="sunitdk11@gmail.com">
          </div>
          <div class="form-group col-6">
            <input type="password" class="form-control" id="inputPassword4" placeholder="">
          </div>
        </div>
      </form>
  </div>
  <div class="row border-bottom">
      <p>Type of Record</p>
      <div class=" col-md-4"> </div>
      <div class=" col-md-4"></div>
      <div class=" col-md-4"></div>
  </div>

<div class="row p-2 float-right">
    <button type="button" class="btn btn-info2 m-2">Cancel</button>
    <button type="button" class="btn btn-info m-2">Done</button>
    
</div>
    
