<section class="bg-white p-sm-3">
    <div class="row">
        <div class="col-md-5 col-lg-3 offset-md-2">
            <p style="font-size: 15px;">Please select any one of the following:</p>
            <div class="form-group" [formGroup]="profileform">
                <mat-radio-group aria-label="Select an option" formControlName="typeOfEstablishment">
                    <div class="row py-2 pl-2">
                        <mat-radio-button value="OwnEstablishment">I own a establishment</mat-radio-button>
                    </div>
                    <div class="row py-2 pl-2">
                        <mat-radio-button value="VisitEstablishment" >I visit a establishment</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <hr class="mt-5 mb-5">
            <div class="row">
                <button mat-raised-button matStepperPrevious>
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                    Back
                </button>
                <button class="themeColorBtn" style="margin-left: 10px !important;"  mat-raised-button color="warn" 
                 (click)="onSave()" routerLinkActive="router-link-active">
                    Save and Continue
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3 col-lg-5 offset-md-1">
            <div class="d-none d-sm-none d-md-block col-md-12 col-lg-8 mt-5 ml-5 pr-0 pl-0"
                style="border: 1px solid #14aa9b;">
                <div class="bg p-4 textcol">
                    <div>
                        <i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                    </div>
                    <p class="stext font-weight-bold">Patients often search for doctors by locality. Therefore, adding
                        all your practice establishments ensures that your profile is visible to patients in all the
                        relevant searches.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>