.bg {
    background-color: #dff8f6;
}

.textcol {
    color: #14aa9b;
}

.btn {
    font-size: 1.50rem !important;
}

.butsetr {
    position: absolute;
    right: 0;
}

.onboarding-radio__item {
    border-bottom: 1px solid #b4b4be;
}

.o-radio--input:checked+.o-radio--label {
    color: #414146;
}

.o-radio--label {
    position: relative;
    padding-left: 28px;
}

.contact-verification .resend-otp,
.o-checkbox--oval,
.o-photo__image,
.o-photo__image--delete,
.o-radio--label,
.u-pointer {
    cursor: pointer;
}

.o-radio--input:checked+.o-radio--label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ffa000;
    border-radius: 100%;
    background: #fff;
}

.o-radio--input:checked+.o-radio--label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #ffa000;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
}

.onboarding-radio__list {
    border: 1px solid #b4b4be;
    border-bottom: 0;
    border-radius: 2px;
    font-size: 14px;
}

.onboarding-radio__list,
.u-spacer-sm--bottom {
    margin-bottom: 8px;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
    width: 100%;
}

.onboarding-radio__item {
    border-bottom: 1px solid #b4b4be;
}

.c-infobox,
.onboarding-radio__item,
.profile-suggestion--no-match__header,
.u-cushion-sm--all {
    padding: 8px;
}

[type=checkbox].input,
[type=radio].input,
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.o-checkbox--oval__input,
.o-radio--input,
.u-hide {
    display: none;
}

.input,
input {
    width: 100%;
    border: 1px solid #b4b4be;
    padding: 11px 9px;
    outline: none;
    border-radius: 2px;
    color: #414146;
    font-size: 14px;
    height: 40px;
}

.input,
input {
    line-height: normal;
}

.input,
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.o-radio--input:checked+.o-radio--label {
    color: #414146;
}

.o-radio--label {
    position: relative;
    padding-left: 28px;
}

.contact-verification .resend-otp,
.o-checkbox--oval,
.o-photo__image,
.o-photo__image--delete,
.o-radio--label,
.u-pointer {
    cursor: pointer;
}