<section class="firstsection">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control"
                        placeholder="Search for medicines and health products and more" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="fitstbtn">
                    <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart"></i>View
                        Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <div>Home>Family Care >
                    Women's Care >
                    Feminine Hygiene ><span class="productname">
                    O.b. Pro Comfort Regular Tampons
                    </span></div>
            </div>
        </div>
    </div>
</section>
<section class="details">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../../assets/img/placeholder_product.webp" class="card-img-top" alt="...">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">
                            <span class="priceoriginal">₹76.50</span>
                            <span class="strikthrough">₹16.50</span>
                            <span class="greentext">15% off</span>
                        </h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="PACK SIZE" class="packsize">PACK SIZE</label>
                              <div class="selcontent">
                                <select class="custom-select-sm" id="inputGroupSelect01">
                                    <option selected>10</option>
                                    <option value="20">20</option>
                                </select>
                            </div>

                            </div>
                            <div class="col-sm-6">
                                <label for="UNIT COUNT" class="packsize">UNIT COUNT</label>
                                <div class="selcontent">
                                    <select class="custom-select-sm" id="inputGroupSelect01">
                                        <option selected>20 TAMPON 20PACKET.</option>
                                        <option value="10">10 TAMPON 10PACKET</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row btnused">
                            <div class="col-sm-12">
                                <button class="btn btn-primary addtocart">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="headingproduct">
                            <h1>O.b. Pro Comfort Regular Tampons 20 Pieces</h1>
                        </div>
                        <div class="manufactured">
                            <p>Manufactured By</p>
                            <span class="company">Johnson & Johnson</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Highlights
                        </div>
                        <div class="list">
                            <ul>
                                <li>These tampons expand to custom fit your shape in a perfect way, thus avoiding any gaps and prevents leakages.</li>
                                <li>It protects from leakage, staining and menstrual odour.</li>
                                <li>Its very hygienic and comfortable to use.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Description
                        </div>
                        <div class="description">
                            <p>O. b. Pro Comfort tampons are made up of absorbent fibres with many compressed layers, which remain intact.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="highlight">
                            Key Benefits
                        </div>
                        <div class="list">
                            <ul>
                                <li>It is safe and convenient for use.</li>
                                <li>Gives gap-free snug fit.</li>
                                <li>Prevents staining accident and odour.</li>
                                <li>Contains fluid lock grooves for locked-in protection.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row caution">
                    <div class="col-sm-6">
                        <div class="highlight">
                            Something doesn’t feel right?
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="notright">
                            Report an error
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>