<div  class="container-fluid">

    <div class="card">
        <div class="card-header">
        <h1 class="text-center why-title ">WealthyLife</h1>
        </div>
        <div class="card-body mt-0 card-b"  >
          <div  class="row  active-div">
            <div class="col-sm-12">
               <div  class="corosal-opt  text-center  ">

                <h1 class="hd-title">Share your expertise. Help millions.</h1>
                <p class="mt-4 p-text">Share health articles and tips with millions of users.</p>
                <button class="submit-btn-mat mt-5" mat-raised-button  (click)=" startfreemodalopen()" > <span class="ng-scope">It's free, start now!</span></button>
                    

               </div>
               
            </div>

          </div>

          <div class="row">
           <div class="col-sm-12"  style="padding: 50px;">
            <h1 class="text-center why-title ">Why use Health Feed?</h1>
           </div>
        </div>

        
        <div  class="row" style="padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;">

            <div  class="col-sm-4 img-article"  >
               
                    <img class="img-circle" src="../../../../assets/img/invite-connect.png" alt="Generic placeholder image" width="140" height="140" >
                    <h3 class="why-head-main">Express Yourself</h3>
                    <p>Publish health articles and tips that are read by millions of users.</p>
               

            </div>

            <div  class="col-sm-4 img-article" >
                

                <img class="img-circle" src="../../../../assets/img/invite-visibility.png" alt="Generic placeholder image" >
                <h3  class="why-head-main">Connect</h3>
                <p>Use Health Feed to connect with users looking for relevant information.</p>
            </div>

            <div  class="col-sm-4 img-article"  >
               
               

                <img class="img-circle" src="../../../../assets/img/invite-bulb.png" alt="Generic placeholder image" >
                <h3  class="why-head-main">Inspire</h3>
                <p >Opportunity to inspire people's lifestyle and help them live healthier and longer.</p>

            </div>




        </div>


        <hr class="featurette-divider">

        <div>
          <h1  class="why-title mt-5 mb-5">  Join thousands of doctors</h1>
        </div>



        <div  class="carousel-caption-custome  center-block " style="padding-left: 20%; padding-right: 20%;">


          <owl-carousel-o [options]="customOptions" #review class="carousel-inner"  >
            <ng-template carouselSlide >
             


              <div class="carousel-caption-custome carousel-inner"  >
                <p class="ng-binding  ptext-m">Practo Health Feed is a wonderful platform for doctors to connect to their patients ,current or future. I have personally started writing on health feed and the response of my patients who look up my Practo profile is very encouraging.</p>
                <p class="mtp"><span class="doc-name   text-center">Dr. Sita Bhatt</span><br>
                  <span class="spec  ">Homeopath</span>
                </p>
            </div>

             

            </ng-template>
            <ng-template carouselSlide >
            
              

              
              <div class="carousel-caption-custome carousel-inner"   >
                <p class="ng-binding  ptext-m">Practo Health Feed is a wonderful platform for doctors to connect As a Clinical Psychologist, the biggest hurdle one faces is of stigma and ignorance (related to mental health) and creating awareness is the first step to overcoming that. Definitely a thumbs up for the ease of use and delivery of useful information on one platform</p>
                <p class="mtp"><span class="doc-name  text-center">Dr. Pallavi Tomar</span><br>
                  <span class="spec text-center  ">Clinical Psychologist</span>
                </p>
            </div>


          </ng-template>
      
        </owl-carousel-o>

        <div class="row prev-next">
          <div class="lhs" (click)="review.prev()"> <i class="fa fa-chevron-circle-left fa-3x "
                  aria-hidden="true"></i></div>
          <div class="rhs" (click)="review.next()"> <i class="fa fa-chevron-circle-right fa-3x "
                  aria-hidden="true"></i></div>
      </div>



        </div>
        


        <div  class="row">


          <div class=" footer-text ">
          

            <h1  class="head-Our" > Our Impact</h1>

            <div class="col-sm-5 mt-4 text-center  d-flex justify-content-center" >



              <div  class="row mt-6">


                <div  class="col-sm-6  mt-3">

                  <span class="stats-right  ">1500+</span>
                  <span class="stats-spec-right mt-3">Doctors writing</span>
                </div>


                <div  class="col-sm-6 mt-3">

                  <span class="stats-right">1+million</span>
                  <span class="stats-spec-right mt-3">Monthly reade</span>
                </div>

              </div>



            </div>



        </div>


        </div>
      


          
        </div>
      </div>
</div>