  <mat-dialog-content class="mat-typography">
    <h3 class="text">ISO</h3>
    <p>ISO (International Organization for Standardization) is the world largest developer and publisher of International Standards.
      It is a non-governmental organization that forms a bridge between the public and private sectors.
      ISO 9001 is a certification of management and administrative procedures and does not entail technical competence.
      ISO 15189 is International Standards for Medical testing Laboratories.
      The first version was published in 2003, it was revised in 2007 and the third edition of the standard was published in 2012.
      While the standard is based on ISO/IEC 17025 and ISO 9001, it is a unique document that takes into consideration the specific
      requirements of the medical environment and the importance of the medical laboratory to patient care. Software solutions
      designed specifically for medical laboratories can aid in achieving ISO 15189 based accreditation. In particular, document
      control software can help by improving turnaround time (TAT) for document reviews, increasing efficiency of staff and improving
      overall quality.
    </p>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
  </mat-dialog-actions>
