
button.mat-focus-indicator.mat-stroked-button.mat-button-base.mat-accent {
    min-width: 100% !important;
    min-height: 50px;
    background-color: orange;
    color: white;
}


button.mat-focus-indicator.mat-button.mat-button-base.mat-warn {
    min-width: 100% !important;
    min-height: 50px;
    background-color:#f44336;
    color: white;
}

.btu{
    display: block;
    margin: auto;
    font-size: 17px;
}
 