<section>
  <div class="container">
    <div class="row margintop">
      <div class="col-sm-6 col-md-6 col-lg-6 pink">
        <h1 class="first-fold heading mt-5">Skip the travel!</h1>
        <h1 class="first-fold heading">Take Online Doctor Consultation</h1>
        <h1 class="description">
          Private chat + call · Starts at just
          <!-- -->₹199
        </h1>
        <article class="instant-doctors-card strip">
          <div class="doctor-images">
            <img
              src="../../../assets/img/offer-specialist-v1.png"
              class="each-image"
              width="10%"
              alt=""
            />
          </div>
        </article>
       
        <button mat-raised-button color="primary" class="m-3" style=" z-index: 1;
        padding-left: 6px;
        padding-right: 5px;">
          Consult Now
        </button>
      
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 m-3">
            <div class="media">
              <img
                src="../../../assets/img/images.png"
                class="mr-3 width-img txt"
                alt=""
              />
              <div class="media-body txt">
                <h4 class="text-bold ">Verified Doctors</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 m-3">
            <div class="media">
              <img
                src="../../../assets/img/download.jpeg"
                class="mr-3 width-img txt"
                alt=""
              />
              <div class="media-body txt">
                <h4 class="text-bold" style="margin-right: 10px;">Free Followup</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 pink">
        <img
          class="hero-image web"
          src="../../../assets/img/homepage-hero-image-web-v1.png" 
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 m-3">
        <h2 class="homepage-section-heading horizontal-scroll">
          Common health problems
        </h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row" style="position: absolute;width: 100%;justify-content: space-between;top: 70px;">
          <span (click)="review.prev()" style="z-index: 9;">
            <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true">
            </i>
          </span>
          <span (click)="review.next()" style="z-index: 9;">
            <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true">
            </i>
          </span>
        </div>
        <owl-carousel-o [options]="customOptions" #review>
          <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/cough-cold-v1.jpg"
            class="card-img-top"  style=" "
            alt=""
          />
          <div class="card-body">
            <h4 class="card-text">
              Cough & Cold?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/period-problems-v1.jpg" 
            class="card-img-top" style=" "
            alt=""
          />
          <div class="card-body">
            <h4 class="card-text">
              Period problems?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/performance-issues-bed-v1.jpg"
            class="card-img-top" style=" "
            alt=""
          />
          <div class="card-body">
            <h4 class="card-text">
              Performance issues in bed?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/skin-problems-v1.jpg"
            class="card-img-top" style=" "
            alt=""
          />
          <div class="card-body">
            <h4 class="card-text">
              Skin problems?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
      </div>
    </div>
  </div>
</section>


<section style="margin-top: 30px;">
  <div class="container">

    <h2>Offers</h2>
    <div class="col-12">
      <div class="row" style="position: absolute;width: 100%;justify-content: space-between;top: 140px;">
        <span (click)="review1.prev()" style="z-index: 9;">
          <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true">
          </i>
        </span>
        <span (click)="review1.next()" style="z-index: 9;">
          <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true">
          </i>
        </span>
      </div>
      <owl-carousel-o [options]="customOptions2" #review1>
        <ng-template *ngFor="let item of Offers" carouselSlide>
          <div style="margin: 0px 10px;">
          <div class="card " style="border: 1px solid black !important;
          box-shadow: 5px 5px 5px grey;">
            <div style="display: flex;
            justify-content: center;
            align-items: center;">
              <img class="" [src]="item?.backImg"  style="width: 150px;height: 150px;border: 2px solid #c5c1c1;border-radius: 50%;
              margin: 10px;" alt="Generic placeholder image" onError="this.src='./../../../assets/img/briefcase.png'" />
            </div>
            <div class="card-body">
              <div style="height: 100px;">
              <h3 class="heading"> {{item?.title}}</h3>
            </div>
            <div class="card-footer"  style="display: flex;justify-content:center;align-items: flex-end">

                <button mat-raised-button color="light" class="card-title" style="width: 100%;">
                  {{ item?.buttonText}}
                 </button>
           
            </div>
            </div>
          </div>
        </div>
      <!-- <div class="card" style="width:100%;"  >
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <button mat-raised-button color="light" class="card-title">
               {{ item?.buttonText}}
              </button>
              <h4 class="heading">
              {{item?.title}}
              </h4>
              <h4 class="heading">
                Download App >
              </h4>
            </div>
            <img
              class="ml-3 mb-0"
              [src]="item?.backImg" 
              style="width: 30%;"
              alt="Generic placeholder image"
              onError="this.src='./../../../assets/img/briefcase.png'"
            />
          </div>
        </div>
      </div> -->
    </ng-template>
  </owl-carousel-o>
    </div>
  </div>
</section>









<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 m-3">
        <h2 class="homepage-section-heading horizontal-scroll">
          Top Specialities
        </h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row" style="position: absolute;width: 100%;justify-content: space-between;top: 70px;">
          <span (click)="review2.prev()" style="z-index: 9;">
            <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true">
            </i>
          </span>
          <span (click)="review2.next()" style="z-index: 9;">
            <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true">
            </i>
          </span>
        </div>
        <owl-carousel-o [options]="customOptions" #review2>
          <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/Gynecologist.png"
            class="card-img-top"  style=" height: 130px;
            width: 145px;
            align-self: center;"
            alt=""
          />
          <div class="card-body">
            <h4 class="heading" style="text-align: center;">Gynaecology</h4>
            <p style="text-align: center;">
              ₹ 249
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/General physician.png" 
            class="card-img-top" style=" height: 130px;
            width: 145px;
            align-self: center;"
            alt=""
          />
          <div class="card-body">
            <h4 class="heading" style=" text-align: center;">General physician</h4>
            <p style=" text-align: center;">
              ₹ 199
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/Dermatologist.png"
            class="card-img-top" style=" height: 130px;
            width: 145px;
            align-self: center;"
            alt=""
          />
          <div class="card-body">
            <h4 class="heading" style="text-align: center;">Dermatology</h4>
            <p style="text-align: center;">
              ₹ 199
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/Psychiatrist.png"
            class="card-img-top" style=" height: 130px;
            width: 145px;
            align-self: center;"
            alt=""
          />
          <div class="card-body">
            <h4 class="heading" style="text-align: center;">Psychiatry</h4>
            <p style="text-align: center;">
              ₹ 249
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/Stomach and Digestion.png"
            class="card-img-top" style=" height: 130px;
            width: 145px;
            align-self: center;"
            alt=""
          />
          <div class="card-body">
            <h4 class="heading" style="text-align: center;">Stomach and digestion</h4>
            <p style="text-align: center;">
              ₹ 299
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width:100%;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/Pediatrics.png"
            class="card-img-top" style=" height: 130px;
            width: 145px;
            align-self: center;"
            alt=""
          />
          <div class="card-body">
            <h4 class="heading" style="text-align: center;">Pediatrics</h4>
            <p style="text-align: center;">
              ₹ 249
            </p>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>
    
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="col-12">

       
      </div>
  </div>
</section>



<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 cen">
        <h2 class="homepage-section-heading horizontal-scroll">
          How it works
        </h2>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/ChatWithDoctor/TalkToDoctor.png" width="10%" alt="" />
        <p>Talk to a doctor online</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/ChatWithDoctor/MedicineDelivered.png" width="10%" alt="" />
        <p>Get medicines delivered to you</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/ChatWithDoctor/Smiley.png" width="10%" alt="" />
        <p>Follow up with the doctor for free</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row purple">
      <div class="col-sm-4 col-md-4 col-lg-4 cen mt-3">
        <h4 class="text-light text-bold">2,00,000+</h4>
        <h4 class="text-light text-bold">Happy Users</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen mt-3">
        <h4 class="text-light text-bold">20,000+</h4>
        <h4 class="text-light text-bold">Verified Doctors</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen mt-3">
        <h4 class="text-light text-bold">169+</h4>
        <h4 class="text-light text-bold">Specialities</h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 cen">
        <h2 class="homepage-section-heading horizontal-scroll">
          What our users say
        </h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 cen">
        <owl-carousel-o [options]="customOptions4" #review3>
          <ng-template carouselSlide>
        <div class="card ml" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <img
                src="../../../assets/img/testimonial-abhy-v1.png"
                style="width: 20%;"
                class="mr-1"
                alt="..."
              />
              <div class="media-body">
                <h3 class="mt-0">Abhy</h3>
                <h5>33 yr old IT Professional</h5>
                <h5>
                  I was really sick and
                  <strong>couldn’t get out of bed.</strong> I talked to the
                  doctor through WhealthyLife and he shared a
                  <strong>prescription in 10 minutes.</strong> I even got the
                  <strong>medicines delivered on the same day</strong> through
                  WhealthyLife, just a WOW experience.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card ml" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <img
                src="../../../assets/img/testimonial-default-women-v1.png"
                style="width: 20%;"
                class="mr-1"
                alt="..."
              />
              <div class="media-body">
                <h3 class="mt-0">Deepak</h3>
                <h5>29 yr old traveller</h5>
                <h5>
                  I was travelling to a <strong>remote place</strong> for scuba
                  diving and <strong>injured myself.</strong> Tough to find
                  doctors around, so did an
                  <strong>online consultation</strong> on WhealthyLife and hey presto,
                  I have my <strong>medicines.</strong> Disruptive. Convenient.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card ml" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <img
                src="../../../assets/img/testimonial-abhy-v1.png"
                style="width: 20%;"
                class="mr-1"
                alt="..."
              />
              <div class="media-body">
                <h3 class="mt-0">Abhy</h3>
                <h5>33 yr old IT Professional</h5>
                <h5>
                  I was really sick and
                  <strong>couldn’t get out of bed.</strong> I talked to the
                  doctor through WhealthyLife and he shared a
                  <strong>prescription in 10 minutes.</strong> I even got the
                  <strong>medicines delivered on the same day</strong> through
                  WhealthyLife, just a WOW experience.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="row prev-next">
      <div class="lhs" (click)="review3.prev()">
        <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
      </div>
      <div class="rhs" (click)="review3.next()">
        <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>
