<div class="pink">
  <section class="first-fold desktop-wrapper">
    <div class="content">
      <div class="heading">
        Skip the travel!<br />
        <h1>Talk to a doctor now.</h1>
      </div>
      <p class="description">
        Private chat + call · Starts at just
        <!-- -->₹199
      </p>
      <article class="instant-doctors-card strip">
        <div class="doctor-images">
          <span class="each-image"
            ><img
              src="https://images1-fabric.practo.com/doctor/541644/dr-jatinder-sachdeva-5a9cc148c6bbb.jpg/thumbnail" /></span
          ><span class="each-image"
            ><img
              src="https://s3-ap-southeast-1.amazonaws.com/practo-fabric/dr-vijay-kumar-rai-1477391472-580f3470b8944.jpg/thumbnail" /></span
          ><span class="each-image"
            ><img
              src="https://images1-fabric.practo.com/dr-milind-kulkarni-1484306142-5878b6de533af.jpg/thumbnail" /></span
          >
        </div>
      </article>
      <a class="link primary-button cta" href="#"
        >Chat Now</a
      >
    </div>
    <img
      class="hero-image web"
      src="../../../assets/img/homepage-hero-image-web-v1.png"
    />
    <div class="additional-value-prop">
      <img src="../../../assets/img/images.png" class="img-icon" alt="">
      <p>Verified Doctors</p>
      <img src="../../../assets/img/download.jpeg" class="img-icon" alt="">
      <p>Free Followup</p>
    </div>
  </section>
</div>
<div
  class="homepage-section-wrapper desktop-wrapper horizontal-scroll health-problem-cards"
>
  <h2 class="homepage-section-heading horizontal-scroll">
    Common health problems
  </h2>
  <div
    class="glide slider health-problems-slider glide--ltr glide--slider glide--swipeable"
  >
    <div class="glide__track" data-glide-el="track">
      <ul
        class="glide__slides"
        style="
          transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          width: 917.25px;
          transform: translate3d(0px, 0px, 0px);
        "
      >
        <li
          class="glide__slide glide__slide--active"
          style="width: 191.25px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=22"
              ><img
                src="../../../assets/img/cough-cold-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Cough &amp; Cold?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=16"
              ><img
                src="../../../assets/img/period-problems-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Period problems?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a class="link health-problem-card" href="#"
              ><img
                src="../../../assets/img/performance-issues-bed-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Performance issues in bed?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=5"
              ><img
                src="../../../assets/img/skin-problems-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Skin problems?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=2"
              ><img
                src="../../../assets/img/depression-anxiety-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Depression or anxiety?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=18"
              ><img
                src="../../../assets/img/lose-weight-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Want to lose weight?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=22"
              ><img
                src="../../../assets/img/stomach-issues-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Stomach issues?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 91.25px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=16"
              ><img
                src="../../../assets/img/vaginal-infections-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Vaginal infections?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
        <li class="glide__slide" style="width: 191.25px; margin-left: 6px;">
          <div class="horizontal-list-card">
            <a
              class="link health-problem-card"
              href="/consult/direct/new_consultation?id=17"
              ><img
                src="../../../assets/img/sick-kid-v1.jpg"
                width="150px"
                height="100px"
                layout="responsive" />
              <div class="content">
                <h4 class="heading">Sick kid?</h4>
                <span class="link primary cta"
                  >Chat now <span class="icon-ic_next_cheveron"></span
                ></span></div
            ></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="slider-controls" data-glide-el="controls">
      <button class="slider-back" data-glide-dir="<" disabled="">
        <i class="icon-ic_back_cheveron"></i></button
      ><button class="slider-next" data-glide-dir=">">
        <i class="icon-ic_next_cheveron"></i>
      </button>
    </div>
  </div>
</div>
<div class="homepage-section-wrapper desktop-wrapper horizontal-scroll">
  <h2 class="homepage-section-heading horizontal-scroll">Offers</h2>
  <div
    class="glide slider offers-slider glide--ltr glide--slider glide--swipeable"
  >
    <div class="glide__track" data-glide-el="track">
      <ul
        class="glide__slides"
        style="
          transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          width: 607.5px;
          transform: translate3d(0px, 0px, 0px);
        "
      >
        <li
          class="glide__slide glide__slide--active"
          style="width: 380.5px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link offer-card green"
              href="https://practo.onelink.me/1025359428?pid=mweb&amp;c=consult_homepage_v2_offers"
              ><div class="content">
                <span class="badge">Offer</span>
                <h4 class="h">
                  Download the App &amp; get ₹100 HealthCash
                </h4>
                <p class="c">
                  Download App<!-- -->
                  <span class="icon-ic_next_cheveron"></span>
                </p>
              </div>
              <img
                src="../../../assets/img/offer-app-v1.png"
                width="100px"
                height="90px"
                layout="responsive"
            /></a>
          </div>
        </li>
        <li
          class="glide__slide"
          style="width: 380.5px; margin-left: 6px; margin-right: 6px;"
        >
          <div class="horizontal-list-card">
            <a
              class="link offer-card pink"
              href="/plus?utm_medium=home_offer&amp;utm_source=CONSULT"
              ><div class="content">
                <span class="badge">practo PLUS</span>
                <h4 class="h">
                  Get unlimited consultations for a year for just ₹1999
                </h4>
                <p class="c">
                  Get Membership<!-- -->
                  <span class="icon-ic_next_cheveron"></span>
                </p>
              </div>
              <img
                src="../../../assets/img/offer-plus-plan-v1.png"
                width="100px"
                height="90px"
                layout="responsive"
            /></a>
          </div>
        </li>
        <li class="glide__slide" style="width: 380.5px; margin-left: 6px; margin-top:10px">
          <div class="horizontal-list-card">
            <a
              class="link offer-card yellow"
              href="/consult/direct/new_consultation"
              ><div class="content">
                <span class="badge">Offer</span>
                <h4 class="h">Chat with specialists at just ₹199</h4>
                <p class="c">
                  Chat Now<!-- -->
                  <span class="icon-ic_next_cheveron"></span>
                </p>
              </div>
              <img
                src="../../../assets/img/offer-specialist-v1.png"
                width="100px"
                height="90px"
                layout="responsive"
            /></a>
          </div>
        </li>
      </ul>
    </div>

    <div
      class="homepage-section-wrapper desktop-wrapper horizontal-scroll top-speciality-cards"
    >
      <h2 class="homepage-section-heading horizontal-scroll">
        Top Specialities
      </h2>
      <div
        class="glide slider top-specialities-slider glide--ltr glide--slider glide--swipeable"
      >
        <div class="glide__track" data-glide-el="track">
          <ul
            class="glide__slides"
            style="
              transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
              width: 814px;
              transform: translate3d(0px, 0px, 0px);
            "
          >
            <li
              class="glide__slide glide__slide--active"
              style="width: 191.25px; margin-right: 6px;"
            >
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=16"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-dermatologist.svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online Gynecologist"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">Gynaecology</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->249</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=14"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-sexology.svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online Sexologist"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">Sexology</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->249</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=22"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-gp.svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online General Physician"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">General physician</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->199</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=5"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-dermatologist.svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online Dermatologist"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">Dermatology</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->199</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=2"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-psychiatric.svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online Psychiatrist"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">Psychiatry</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->249</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=10"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-stomach.svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online Gastroenterologist"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">Stomach and digestion</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->299</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 191.25px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=17"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-pediatric (1).svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online Pediatrician"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">Pediatrics</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->299</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
            <li class="glide__slide" style="width: 91.25px; margin-left: 6px;">
              <div class="horizontal-list-card">
                <a
                  class="link top-speciality-card"
                  href="/consult/direct/new_consultation?id=9"
                  ><figure>
                    <img
                      src="../../../assets/img/top-speciality-kidney.svg"
                      width="70"
                      height="70"
                      layout="fixed"
                      alt="Online Kidney Specialist"
                    />
                  </figure>
                  <div class="content">
                    <h4 class="heading">Kidney and urine</h4>
                    <div class="prices">
                      <p class="price">₹<!-- -->299</p>
                    </div>
                  </div></a
                >
              </div>
            </li>
          </ul>
        </div>
        <div class="slider-controls" data-glide-el="controls">
          <button class="slider-back" data-glide-dir="<" disabled="">
            <i class="icon-ic_back_cheveron"></i></button
          ><button class="slider-next" data-glide-dir=">">
            <i class="icon-ic_next_cheveron"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="homepage-section-wrapper desktop-wrapper">
      <h2 class="homepage-section-heading how-it-works-section-heading">
        How it works
      </h2>
      <div class="how-it-works-section">
        <div class="each-value-prop">
          <img src="../../../assets/img/download.jpeg" class="img-icon1" alt="">
          <p>Talk to a doctor online</p>
        </div>
        <div class="each-value-prop">
          <img src="../../../assets/img/power.png" class="img-icon1" alt="">
          <p>Get medicines delivered to you</p>
        </div>
        <div class="each-value-prop">
          <img src="../../../assets/img/smile.png" class="img-icon1" alt="">
          <p>Follow up with the doctor for free</p>
        </div>
      </div>
    </div>
    <div class="purple">
      <div class="trust-metrics-section desktop-wrapper">
        <div class="each-metric">
          <p class="metric-count">2,00,000+</p>
          <p class="metric-name">Happy Users</p>
        </div>
        <div class="each-metric">
          <p class="metric-count">20,000+</p>
          <p class="metric-name">Verified Doctors</p>
        </div>
        <div class="each-metric">
          <p class="metric-count">169+</p>
          <p class="metric-name">Specialities</p>
        </div>
      </div>
    </div>
    <div class="homepage-section-wrapper desktop-wrapper horizontal-scroll">
      <h2
        class="homepage-section-heading horizontal-scroll testimonial-section-heading"
      >
        What our users say
      </h2>
      <div
        class="glide slider testimonials-slider glide--ltr glide--slider glide--swipeable"
      >
        <div class="glide__track" data-glide-el="track">
          <ul
            class="glide__slides"
            style="
              transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
              width: 2466px;
              transform: translate3d(0px, 0px, 0px);
            "
          >
            <li
              class="glide__slide glide__slide--active"
              style="width: 401px; margin-right: 6px;"
            >
              <div class="testimonial-card">
                <div class="about-user">
                  <figure>
                    <img
                      src="../../../assets/img/testimonial-abhy-v1.png"
                      width="50px"
                      height="50px"
                      layout="responsive"
                    />
                  </figure>
                  <div class="user-details">
                    <h4 class="name">Abhy</h4>
                    <p class="occupation">33 yr old IT Professional</p>
                  </div>
                </div>
                <p class="testimonial">
                  I was really sick and
                  <strong>couldn’t get out of bed.</strong> I talked to the
                  doctor through practo and he shared a
                  <strong>prescription in 10 minutes.</strong> I even got the
                  <strong>medicines delivered on the same day</strong> through
                  practo, just a WOW experience.
                </p>
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 401px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="testimonial-card">
                <div class="about-user">
                  <figure>
                    <img
                      src="../../../assets/img/testimonial-default-women-v1.png"
                      width="50px"
                      height="50px"
                      layout="responsive"
                    />
                  </figure>
                  <div class="user-details">
                    <h4 class="name">Preeti</h4>
                    <p class="occupation">26 yr old IT Professional</p>
                  </div>
                </div>
                <p class="testimonial">
                  I was <strong>in pain</strong> and it was really
                  <strong>late at night.</strong> I wanted help but couldn’t go
                  to see the doctor due to lateness of the hour. Consulted
                  online on practo and
                  <strong>doctor responded immediately.</strong>
                </p>
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 401px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="testimonial-card">
                <div class="about-user">
                  <figure>
                    <img
                      src="../../../assets/img/testimonial-bismoy-v1.png"
                      width="50px"
                      height="50px"
                      layout="responsive"
                    />
                  </figure>
                  <div class="user-details">
                    <h4 class="name">Deepak</h4>
                    <p class="occupation">29 yr old traveller</p>
                  </div>
                </div>
                <p class="testimonial">
                  I was travelling to a <strong>remote place</strong> for scuba
                  diving and <strong>injured myself.</strong> Tough to find
                  doctors around, so did an
                  <strong>online consultation</strong> on practo and hey presto,
                  I have my <strong>medicines.</strong> Disruptive. Convenient.
                </p>
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 401px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="testimonial-card">
                <div class="about-user">
                  <figure>
                    <img
                      src="/consult/static/images/blank-background-v1.png"
                      width="50px"
                      height="50px"
                      layout="responsive"
                    />
                  </figure>
                  <div class="user-details">
                    <h4 class="name">Anamika Bajpai</h4>
                    <p class="occupation">Anonymous</p>
                  </div>
                </div>
                <p class="testimonial">
                  Excellent experience consulting on practo. I could solve my
                  health issue without going to a clinic! Highly recommended!
                </p>
              </div>
            </li>
            <li
              class="glide__slide"
              style="width: 401px; margin-left: 6px; margin-right: 6px;"
            >
              <div class="testimonial-card">
                <div class="about-user">
                  <figure>
                    <img
                      src="/consult/static/images/blank-background-v1.png"
                      width="50px"
                      height="50px"
                      layout="responsive"
                    />
                  </figure>
                  <div class="user-details">
                    <h4 class="name">Maitreyi Purohit</h4>
                    <p class="occupation">Anonymous</p>
                  </div>
                </div>
                <p class="testimonial">
                  I got answers to all my medical queries. I’ll definitely
                  recommend online consultations on practo to others.
                </p>
              </div>
            </li>
            <li class="glide__slide" style="width: 401px; margin-left: 6px;">
              <div class="testimonial-card">
                <div class="about-user">
                  <figure>
                    <img
                      src="/consult/static/images/blank-background-v1.png"
                      width="50px"
                      height="50px"
                      layout="responsive"
                    />
                  </figure>
                  <div class="user-details">
                    <h4 class="name">Mr. Bismoy Murasing</h4>
                    <p class="occupation">Anonymous</p>
                  </div>
                </div>
                <p class="testimonial">
                  The consultation on practo was great and I’m very happy with
                  the experience. Would certainly ask other people to consult
                  online.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="slider-controls" data-glide-el="controls">
          <button class="slider-back" data-glide-dir="<" disabled="">
            <i class="icon-ic_back_cheveron"></i></button
          ><button class="slider-next" data-glide-dir=">">
            <i class="icon-ic_next_cheveron"></i>
          </button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <button
            class="glide__bullet glide__bullet--active"
            data-glide-dir="=0"
          ></button
          ><button class="glide__bullet" data-glide-dir="=1"></button
          ><button class="glide__bullet" data-glide-dir="=2"></button
          ><button class="glide__bullet" data-glide-dir="=3"></button
          ><button class="glide__bullet" data-glide-dir="=4"></button
          ><button class="glide__bullet" data-glide-dir="=5"></button>
        </div>
      </div>
    </div>
  </div>
</div>
