.first-fold{
  font-size: 36px;
  line-height: 1.28;
}
.heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.42;
  }
.margintop{
  margin-top: 7em;
}
.description {
  margin-top: 8px;
  font-size: 20px;
  line-height: 1.4;
}
.instant-doctors-card {
  margin-top: 22px;
}
.doctor-images {
  margin: 0;
  min-height: 42px;
}
.each-image {
  z-index: 4;
  border-radius: 50%;
}
.strip{
  border-radius: 50%;
}
.width-img{
  width: 15%;
}
.hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 318px;
}

.hero-image.web {
  display: block;
  width: 100%;
}
.homepage-section-heading {
  font-size: 24px;
}
.homepage-section-heading {
  color: #2d2d32;
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 12px;
}
.lhs {
  position: absolute;
  top: 30% !important;
  z-index: 999 !important;
  left: -30px !important;
  font-size: 10px !important;
  z-index: 99999;
  margin: 0 30px;
}
.rhs {
  position: absolute;
  top: 30% !important;
  z-index: 999 !important;
  right: 1px !important ;
  font-size: 10px !important;
}
.badge {
  color: #2e6f5a;
  font-size: large;
  font-weight: 700;
}
.cen{
  text-align: center;
}
.offer-img{
  width: 30%;
}
.ml{
  margin-left: 25%;
}
.txt{
  z-index: 1;
}


@media screen and (max-width:600px){
  .heading{
    font-size:20px !important;
  }
}


