<section>
  <div class="container">
    <div class="row margintop">
      <div class="col-sm-6 col-md-6 col-lg-6 pink">
        <h1 class="first-fold heading mt-5">Skip the travel!</h1>
        <h1 class="first-fold heading">Take Online Doctor Consultation</h1>
        <h1 class="description">
          Private chat + call · Starts at just
          <!-- -->₹199
        </h1>
        <article class="instant-doctors-card strip">
          <div class="doctor-images">
            <img
              src="../../../assets/img/offer-specialist-v1.png"
              class="each-image"
              width="10%"
              alt=""
            />
          </div>
        </article>
        <button mat-raised-button color="primary" class="m-3">
          Consult Now
        </button>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 m-3">
            <div class="media">
              <img
                src="../../../assets/img/images.png"
                class="mr-3 width-img"
                alt=""
              />
              <div class="media-body">
                <h4 class="text-bold">Verified Doctors</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 m-3">
            <div class="media">
              <img
                src="../../../assets/img/download.jpeg"
                class="mr-3 width-img"
                alt=""
              />
              <div class="media-body">
                <h4 class="text-bold">Free Followup</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 pink">
        <img
          class="hero-image web"
          src="../../../assets/img/homepage-hero-image-web-v1.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 m-3">
        <h2 class="homepage-section-heading horizontal-scroll">
          Common health problems
        </h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <owl-carousel-o [options]="customOptions" #review>
          <ng-template carouselSlide>
        <div class="card border" style="width: 18rem;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/cough&cold.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-text">
              Cough & Cold?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width: 18rem;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/periodProblem.jpg"
            class="card-img-top"
            alt="" style="height: 190px;"
          />
          <div class="card-body">
            <h4 class="card-text">
              Period problems?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width: 18rem;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/performanceIssues.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-text">
              Performance issues in bed?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card border" style="width: 18rem;">
          <img
            src="../../../assets/img/Swati/ChatWithDoctor/skin.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-text">
              Skin problems?
            </h4>
            <h4 class="card-text primary">
              Consult Now >
            </h4>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="row prev-next">
      <div class="lhs" (click)="review.prev()">
        <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
      </div>
      <div class="rhs" (click)="review.next()">
        <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="homepage-section-heading horizontal-scroll">
          Offers
        </h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <owl-carousel-o [options]="customOptions2" #review1>
          <ng-template carouselSlide>
        <div class="card green" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <button mat-raised-button color="light" class="card-title">
                  Offer
                </button>
                <h4 class="heading">
                  Download the App &amp; get ₹100 HealthCash
                </h4>
                <h4 class="heading">
                  Download App >
                </h4>
              </div>
              <img
                class="ml-3 mb-0"
                src="../../../assets/img/offer-app-v1.png"
                style="width: 30%;"
                alt="Generic placeholder image"
              />
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card pink" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <button mat-raised-button color="light" class="card-title">
                  WhealthyLife PLUS
                </button>
                <h4 class="heading">
                  Get unlimited consultations for a year for just ₹1999
                </h4>
                <h4 class="heading">
                  Get Membership >
                </h4>
              </div>
              <img
                class="ml-3 mb-0"
                src="../../../assets/img/offer-plus-plan-v1.png"
                style="width: 30%;"
                alt="Generic placeholder image"
              />
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card yellow" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <button mat-raised-button color="light" class="card-title">
                  Offer
                </button>
                <h4 class="heading">
                  Chat with specialists at just ₹199
                </h4>
                <h4 class="heading">
                  Chat Now >
                </h4>
              </div>
              <img
                class="ml-3 mb-0"
                src="./../../assets/img/offer-specialist-v1.png"
                style="width: 30%;"
                alt="Generic placeholder image"
              />
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="row prev-next">
      <div class="lhs" (click)="review1.prev()">
        <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
      </div>
      <div class="rhs" (click)="review1.next()">
        <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="homepage-section-heading horizontal-scroll">
          Top Specialities
        </h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <owl-carousel-o [options]="customOptions3" #review2>
          <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
          <img
            src="../../../assets/img/top-speciality-gynaecologist.svg"
            style="width: 30%;" class="ml-5"
            alt="..."
          />
          <div class="card-body">
            <h4 class="heading">Gynaecology</h4>
            <p>
              ₹ 249
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
          <img
            src="../../../assets/img/top-speciality-gp.svg"
            style="width: 30%;" class="ml-5"
            alt="..."
          />
          <div class="card-body">
            <h4 class="heading">General physician</h4>
            <p>
              ₹ 199
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
          <img
            src="../../../assets/img/top-speciality-dermatologist.svg"
            style="width: 30%;" class="ml-5"
            alt="..."
          />
          <div class="card-body">
            <h4 class="heading">Dermatology</h4>
            <p>
              ₹ 199
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
          <img
            src="../../../assets/img/top-speciality-psychiatric.svg"
            style="width: 30%;" class="ml-5"
            alt="..."
          />
          <div class="card-body">
            <h4 class="heading">Psychiatry</h4>
            <p>
              ₹ 249
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
          <img
            src="../../../assets/img/top-speciality-stomach.svg"
            style="width: 30%;" class="ml-5"
            alt="..."
          />
          <div class="card-body">
            <h4 class="heading">Stomach and digestion</h4>
            <p>
              ₹ 299
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
          <img
            src="../../../assets/img/top-speciality-pediatric (1).svg"
            style="width: 30%;" class="ml-5"
            alt="..."
          />
          <div class="card-body">
            <h4 class="heading">Pediatrics</h4>
            <p>
              ₹ 249
            </p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="row prev-next">
      <div class="lhs" (click)="review2.prev()">
        <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
      </div>
      <div class="rhs" (click)="review2.next()">
        <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
      </div>
    </div>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 cen">
        <h2 class="homepage-section-heading horizontal-scroll">
          How it works
        </h2>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/ChatWithDoctor/TalkToDoctor.png" width="10%" alt="" />
        <p>Talk to a doctor online</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/ChatWithDoctor/MedicineDelivered.png" width="10%" alt="" />
        <p>Get medicines delivered to you</p>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen">
        <img src="../../../assets/img/Swati/ChatWithDoctor/Smiley.png" width="10%" alt="" />
        <p>Follow up with the doctor for free</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row purple">
      <div class="col-sm-4 col-md-4 col-lg-4 cen mt-3">
        <h4 class="text-light text-bold">2,00,000+</h4>
        <h4 class="text-light text-bold">Happy Users</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen mt-3">
        <h4 class="text-light text-bold">20,000+</h4>
        <h4 class="text-light text-bold">Verified Doctors</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 cen mt-3">
        <h4 class="text-light text-bold">169+</h4>
        <h4 class="text-light text-bold">Specialities</h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 cen">
        <h2 class="homepage-section-heading horizontal-scroll">
          What our users say
        </h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 cen">
        <owl-carousel-o [options]="customOptions4" #review3>
          <ng-template carouselSlide>
        <div class="card ml" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <img
                src="../../../assets/img/testimonial-abhy-v1.png"
                style="width: 20%;"
                class="mr-1"
                alt="..."
              />
              <div class="media-body">
                <h3 class="mt-0">Abhy</h3>
                <h5>33 yr old IT Professional</h5>
                <h5>
                  I was really sick and
                  <strong>couldn’t get out of bed.</strong> I talked to the
                  doctor through WhealthyLife and he shared a
                  <strong>prescription in 10 minutes.</strong> I even got the
                  <strong>medicines delivered on the same day</strong> through
                  WhealthyLife, just a WOW experience.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card ml" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <img
                src="../../../assets/img/testimonial-default-women-v1.png"
                style="width: 20%;"
                class="mr-1"
                alt="..."
              />
              <div class="media-body">
                <h3 class="mt-0">Deepak</h3>
                <h5>29 yr old traveller</h5>
                <h5>
                  I was travelling to a <strong>remote place</strong> for scuba
                  diving and <strong>injured myself.</strong> Tough to find
                  doctors around, so did an
                  <strong>online consultation</strong> on WhealthyLife and hey presto,
                  I have my <strong>medicines.</strong> Disruptive. Convenient.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card ml" style="width: 30rem;">
          <div class="card-body">
            <div class="media">
              <img
                src="../../../assets/img/testimonial-abhy-v1.png"
                style="width: 20%;"
                class="mr-1"
                alt="..."
              />
              <div class="media-body">
                <h3 class="mt-0">Abhy</h3>
                <h5>33 yr old IT Professional</h5>
                <h5>
                  I was really sick and
                  <strong>couldn’t get out of bed.</strong> I talked to the
                  doctor through WhealthyLife and he shared a
                  <strong>prescription in 10 minutes.</strong> I even got the
                  <strong>medicines delivered on the same day</strong> through
                  WhealthyLife, just a WOW experience.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="row prev-next">
      <div class="lhs" (click)="review3.prev()">
        <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
      </div>
      <div class="rhs" (click)="review3.next()">
        <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>
