// .app-container #sideBarAppContainer>div {
//     height: 100%;
// }
// .timeline-container-wrapper {
//     height: 100%;
// }
// .timeline-container {
//     background: #f0f0f5;
//     height: 100%;
//     width: 100%;
// }
// .timeline-container-header {
//     margin: 3px -15px 0 -43px;
//     background-color: #fff;
//     padding: 16px;
//     // display: -webkit-box;
//     // display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: reverse;
//     // -ms-flex-direction: row-reverse;
//     flex-direction: row-reverse;
//     // -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     // -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
//     box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
// }

// .separator {
//     border-bottom: 1px solid #e0e0e5;
//     border-collapse: collapse;
// }
// .button.btn-positive {
//     color: #fff;
//     background-color: #14bef0;
// }
// .button {
//     padding: 6px 20px;
//     border-radius: 2px;
//     border: 1px solid #14bef0;
//     cursor: pointer;
//     display: inline-block;
// }

// .text-center {
//     text-align: center;
// }
// .timeline-container .no-records {
//     overflow-y: scroll;
//     background: #fff;
//     // height: calc(100% - 73px);
//     height: 328px;
//     margin:  3px -15px 0 -43px;
//     // width: calc(100% - 3px);
//     // display: -webkit-box;
//     // display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     // -ms-flex-direction: column;
//     flex-direction: column;
//     -webkit-box-pack: center;
//     // -ms-flex-pack: center;
//     justify-content: center;
//     text-align: center;
// }
// .timeline-container .no-records .no-records-msg {
//     margin-top: 16px;
// }
// .heading-four, .heading-one, .heading-three, .heading-two, .heading-zero, .text, .text-small {
//     color: #414146;
// }

// .text, .text-small, body, p {
//     font-weight: 400;
// }
// .heading-four, .text, body, p {
//     font-size: 14px;
//     line-height: 20px;
// }   
// @media (max-width: 1199px) and (min-width: 992px){
// .hidden-md {
//     display: none !important;
// }
// }   
// .timeline-container .no-records .no-records-img img {
//     height: 110px;
// }
/*! CSS Used from: https://drive.practo.com/css/bootstrap-custom.min.css */
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
@media (max-width:767px){
.hidden-xs{display:none!important;}
}
@media (min-width:768px) and (max-width:991px){
.hidden-sm{display:none!important;}
}
@media (min-width:992px) and (max-width:1199px){
.hidden-md{display:none!important;}
}
@media (min-width:1200px){
.hidden-lg{display:none!important;}
}
/*! CSS Used from: https://drive.practo.com/css/home-c8c2cffac40076e469b94afa454f17dd.css */
a,div,img{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:none;}
a:active,a:focus,a:hover,a:link,a:visited{text-decoration:none;cursor:pointer;cursor:hand;outline:none;}
.heading-sixteen{font-size:16px;font-weight:400;line-height:24px;}
.heading-four{font-weight:700;}
.heading-four,.text{font-size:14px;line-height:20px;}
.text{font-weight:400;}
.bold{font-weight:700!important;}
.heading-four,.text{color:#414146;}
.separator{border-bottom:1px solid #e0e0e5;border-collapse:collapse;}
.separator-top{border-top:1px solid #e0e0e5;border-collapse:collapse;}
a{color:#14bef0;}
.text-center{text-align:center;}
.text-center{text-align:center;}
.button{padding:6px 20px;border-radius:2px;border:1px solid #14bef0;cursor:pointer;display:inline-block;}
.button.btn-positive{color:#fff;background-color:#14bef0;}
.button.btn-positive:hover{background-color:#14addb;}
.button.btn-positive:active{background-color:#168db3;}
.timeline-container-wrapper{height:100%;}
.timeline-container{background:#f0f0f5;height:100%;width:100%;}
.timeline-container-header{margin:3px 0 0 3px;background-color:#fff;padding:16px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.12);box-shadow:0 1px 2px 0 rgba(0,0,0,.12);}
.timeline-container .no-records{background:#fff;height:calc(100% - 73px);margin:3px 0 0 3px;width:calc(100% - 3px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center;}
.timeline-container .no-records .no-records-img img{height:110px;}
.timeline-container .no-records .no-records-msg{margin-top:16px;}
@media (max-width:767px){
.timeline-container{height:100%;}
.timeline-container .no-records{height:calc(100% - 64px);margin:0;width:100%;}
.timeline-container .upload-records-mob{height:63px;background-color:#fff;padding:8px 16px;}
.timeline-container .upload-records-mob-btn{width:100%;height:100%;border-radius:2px;background-color:#14bef0;color:#fff;text-align:center;padding:10px;}
}