footer h5 {
    font-size: 14px !important;
    // font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
footer ul li a {
    font-size: 13px !important;
    color: white !important;
    cursor: pointer;
}
.bg{
    background-image: linear-gradient(to right bottom, #33f917, #2bd511, #22b10c, #1a9007, #126f04);
    // background-image: linear-gradient(to right top, #3d6031, #4c7235, #5c8437, #6f9738, #84a938, #87ab38, #89ac38, #8cae38, #7ca038, #6e9238, #608537, #547735) !important; 
}
