footer h5 {
    font-size: 14px !important;
    // font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
footer ul li a {
    font-size: 13px !important;
}