<footer class="bg">
    <div class="mx-auto margin_60_35 footer-grid">
        <div class="row p-md-5">
            <div class="col-md-2 col-6" data-aos="fade-right">
                <h5>Know Us</h5>
                <ul class="links">
                    <li style="color: white;"><a [routerLink]="['/about']">About us</a></li>
                    <li style="color: white;"><a [routerLink]="['/contact']">Contact us</a></li>
                    <li style="color: white;"><a [routerLink]="['/login']">Login</a></li>
                    <li style="color: white;"><a [routerLink]="['/register']">Register</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6" data-aos="fade-down">
                <h5>Our Policies</h5>
                <ul class="links">
                    <li style="color: white;"><a [routerLink]="['privcyPolicy']">Privacy Policy</a></li>
                    <li style="color: white;"><a [routerLink]="['privcyPolicy']">Terms and Conditions</a></li>
                    <li style="color: white;"><a [routerLink]="['privcyPolicy']">Editorial Policy</a></li>
                    <li style="color: white;"><a [routerLink]="['privcyPolicy']">Return Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-6" data-aos="fade-top">
                <h5>Our Services</h5>
                <ul class="links">
                    <li><a href="#0">Book Lab Tests</a></li>
                    <li><a href="#0">Consult a Doctor</a></li>
                    <li><a href="#0">Ayurveda Articles</a></li>
                    <li><a href="#0">Hindi Articles</a></li>
                    <li><a href="#0">Diabetes Care Plan</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <div class="follow_us" data-aos="fade-down">
                    <h5>Contact with Us</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/whealthylife.in" target="_blank"><i class="social_facebook"></i></a></li>
                        <li><a href="https://twitter.com/whealthy_life" target="_blank"> <i class="social_twitter"></i></a></li>
                        <li><a ><i class="social_linkedin"></i></a></li>
                        <li><a ><i class="social_instagram"></i></a></li>
                    </ul>
                    <p>Want daily dose of health?</p>
                    <!-- <a href="#" class="btn-main">Sign up</a> -->
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="follow_us app-download" data-aos="fade-left">
                    <h5>Download App</h5>
                    <ul>
                        <li>
                            <a href="#0">
                                <img src="../assets/img/1_EiZrcN_DIapbZaxutxbZRA.png" alt="download" class="app">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-footer" style="background-image: linear-gradient(to right top, #9e2724, #aa2624, #b62524, #c22424, #ce2224, #ce2224, #ce2224, #ce2224, #c22424, #b62524, #aa2624, #9e2724) !important; border-radius: 80px;  box-shadow: 0 8px 6px -6px black; margin-top: -30px;">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="footer-icon">
                        <img src="../../../assets/img/Swati/Footer/Reliable.png" alt="icon" style="width: 100px;">
                        <h3>Reliable</h3>
                        <p>All products displayed on 1mg are 100% genuine and all labs listed on the platform are
                            accredited</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-icon">
                        <img src="../../../assets/img/Swati/Footer/Secure.png" alt="icon" style="width: 100px;">
                        <h3>Secure</h3>
                        <p>1mg uses Secure Sockets Layer (SSL) 128-bit encryption and is Payment Card Industry Data
                            Security Standard (PCI DSS)
                            compliant</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-icon">
                        <img src="../../../assets/img/Swati/Footer/Affordable.png" alt="icon" style="width: 100px;">
                        <h3>Affordable</h3>
                        <p>Enjoy 20% off on allopathy medicines, up to 50% off on health products, up to 80% off on lab
                            tests and free doctor
                            consultations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto footer-grid pt-3">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <img src="../assets/img/logo.png" alt="logo" class="img-logo"> -->
                <div id="copy">© 2019 WhealthyLife. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->

<div id="toTop"></div>