<mat-dialog-content class="mat-typography">
  <h3 class="text">NABL</h3>
  <p>NABL is an autonomous body under the Department of Science and Technology, Government of India.
    The standards laid down by NABL are in accordance with ISO 15189:2012. To get accredited, a laboratory has to fulfil
    the parameters in ISO 15189, which is an International standard. Accreditation is a formal recognition of the technical
    competence of a lab in all aspects including its quality system management based on a third party assessment, following
    the latest national and international guidelines. The NABL accreditation is given in the disciplines like testing laboratories,
     medical laboratories and calibration laboratories. It is the highest level of accreditation for laboratories in India.
     Features of NABL accredited lab include external quality control, internal quality control, quality audits and confidentiality.
  </p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
