<div class="card shadow mb-4">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-header">
        <div class="col-sm-3 first">
          <h2 class="font-weight-bold text-primary">Practice Staff</h2>
        </div>
        <div class="col-sm-3 third">
          <button mat-raised-button class="btnadd" matTooltipPosition="left" (click)="addDoctor()">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <mat-tab-group class="mt-3rem">
      <mat-tab>
        <ng-template mat-tab-label>
          Doctors
        </ng-template>
        <div class="tab-content">
          <div class="table-responsive table">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-sort="ascending" aria-label="Name: activate to sort column descending"
                          style="width: 70px;">
                          Name
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="Position: activate to sort column ascending" style="width: 100px;">
                          Access Type
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="Office: activate to sort column ascending" style="width: 54px;">
                          This Doctors Notifications
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="Age: activate to sort column ascending" style="width: 31px;">
                          All Doctors Notifications
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="Age: activate to sort column ascending" style="width: 31px;"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td class="sorting_1">Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td><a href="">edit</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Other Staff
        </ng-template>
        <div class="tab-content">
          <div class="col-sm-12">
            <div class="row staffspan">
              <span>No staff member added yet.<a class="href" (click)="addPractice()">Add staff</a></span>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>