<div class="card shadow mb-4">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-header">
        <div class="col-sm-3 first">
          <h2 class="font-weight-bold text-primary">Practice Staff</h2>
        </div>
        <div class="col-sm-3 third">
          <button
            mat-raised-button
            class="btnadd"
            matTooltipPosition="left"
            (click)="adddoctorpopup()"
            *ngIf="sark"
          >
            Add
          </button>
          <button
            mat-raised-button
            class="btnadd"
            matTooltipPosition="left"
            (click)="addstaffpopup()"
            *ngIf="second"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <mat-tab-group class="mt-3rem">
      <mat-tab>
        <ng-template mat-tab-label>
          Doctors
        </ng-template>
        <div class="tab-content">
          <div class="table-responsive table">
            <div
              id="dataTable_wrapper"
              class="dataTables_wrapper dt-bootstrap4"
            >
              <div class="row">
                <div class="col-sm-12">
                  <table
                    class="table table-bordered dataTable"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                    role="grid"
                    aria-describedby="dataTable_info"
                    style="width: 100%;"
                  >
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                          style="width: 70px;"
                        >
                          Name
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-label="Position: activate to sort column ascending"
                          style="width: 100px;"
                        >
                          Access Type
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-label="Office: activate to sort column ascending"
                          style="width: 54px;"
                        >
                          This Doctors Notifications
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-label="Age: activate to sort column ascending"
                          style="width: 31px;"
                        >
                          All Doctors Notifications
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-label="Age: activate to sort column ascending"
                          style="width: 31px;"
                        ></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr role="row" class="odd">
                        <td class="sorting_1">Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td><a href="">edit</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Other Staff
        </ng-template>
        <div class="tab-content">
          <div class="col-sm-12">
            <div class="row staffspan">
              <span
                >No staff member added yet.<a
                  class="href"
                  (click)="addstaffpopup()"
                  >Add staff</a
                ></span
              >
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="modal" id="myModal" *ngIf="doctor">
  <div class="modal-lg dialog">
    <div class="modal-content">
      <div class="header">
        <h1 class="modal-title mtitl">Add Doctor</h1>
      </div>
      <div class="modal-body" id="scrollbar">
        <div class="col-md-12 col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="cols" for="Name"
                  >Name<span class="redstar">*</span></label
                >
                <input type="text" class="form-control" id="Name" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="cols" for="Mobile">Mobile Number</label>
                <input type="text" class="form-control" id="Mobile" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="cols" for="email">Email ID</label>
                <input type="email" class="form-control" id="email" />
              </div>
            </div>
          </div>
          <div class="row">
            <span class="head">WealthyLife Access </span>
          </div>
          <div class="row">
            <div class="col-sm-6 rad">
              <div class="form-check">
                <label class="form-label chk">
                  <input type="radio" class="form-input" name="optradio" />
                  Administrator (Complete access)
                </label>
              </div>
              <div class="form-check">
                <label class="form-label chk">
                  <input
                    type="radio"
                    class="form-input"
                    name="optradio"
                  />Consultant (No access to Billing and Reports, limited access
                  to Appointments, EMR)
                </label>
              </div>
              <div class="form-check">
                <label class="form-label chk">
                  <input type="radio" class="form-input" name="optradio" />None
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <span class="head">Notifications </span>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th class="six wide body-normal-grey ng-scope">Type</th>
                  <th class="two wide body-normal-grey ng-scope">SMS</th>
                  <th class="two wide body-normal-grey ng-scope">EMAIL</th>
                  <th></th>
                </tr>
                <tr></tr>
              </thead>
              <tbody>
                <tr>
                  <td class="simp">This doctor</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="simp">Daily Schedule</td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-check-label">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          value=""
                        />
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-label">
                        <input type="checkbox" class="form-input" value="" />
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-label">
                        <input
                          type="checkbox"
                          class="form-input"
                          value=""
                          disabled
                        />Enable Whatsapp Notification
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="simp">Appointments Confirmation</td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-check-label">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          value=""
                        />
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-label">
                        <input type="checkbox" class="form-input" value="" />
                      </label>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="simp">All doctors</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="simp">Daily Schedule</td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-check-label">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          value=""
                        />
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-label">
                        <input type="checkbox" class="form-input" value="" />
                      </label>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row btnmodal">
          <button
            type="button"
            class="btn btn-light btnm"
            data-dismiss="modal"
            (click)="adddoctorpopup()"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-warning btnm">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal2 add Staff -->
<div class="modal" id="myModal" *ngIf="staff">
  <div class="modal-lg dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="header">
        <h1 class="modal-title mtitl">Add Staff</h1>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="col-md-12 col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="cols" for="Name"
                  >Name<span class="redstar">*</span></label
                >
                <input type="text" class="form-control" id="Name" />
              </div>
            </div>
            <div class="col-sm-6"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="cols" for="Mobile"
                  >Mobile Number<span class="redstar">*</span></label
                >
                <input type="text" class="form-control" id="Mobile" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="cols" for="email"
                  >Email ID<span class="redstar">*</span></label
                >
                <input type="email" class="form-control" id="email" />
              </div>
            </div>
          </div>
          <div class="row">
            <span class="head">WealthyLife Access </span>
          </div>
          <div class="row">
            <div class="col-sm-6 rad">
              <div class="form-check">
                <label class="form-label chk">
                  <input type="radio" class="form-input" name="optradio" />
                  Administrator (Complete access)
                </label>
              </div>
              <div class="form-check">
                <label class="form-label chk">
                  <input
                    type="radio"
                    class="form-input"
                    name="optradio"
                  />Consultant (No access to Billing and Reports, limited access
                  to Appointments, EMR)
                </label>
              </div>
              <div class="form-check">
                <label class="form-label chk">
                  <input type="radio" class="form-input" name="optradio" />None
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <span class="head">Notifications </span>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th class="six">Type</th>
                  <th class="two">SMS</th>
                  <th class="two">EMAIL</th>
                  <th></th>
                </tr>
                <tr></tr>
              </thead>
              <tbody>
                <tr>
                  <td class="simp">Daily Schedule</td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-check-label">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          value=""
                        />
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="form-check fchk">
                      <label class="form-label">
                        <input type="checkbox" class="form-input" value="" />
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row btnmodal">
          <button
            type="button"
            class="btn btn-light btnm"
            data-dismiss="modal"
            (click)="addstaffpopup()"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-warning btnm">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
