
<div mat-dialog-title>Select a city</div>
<mat-dialog-content class="mat-typography" id="scrollbar">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <input type="text" [formControl]="myControl"  (blur)="ValGet()"  [matAutocomplete]="auto"   placeholder="Search for city" class="c-search__input" >
          
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option  (click)="ValGet()" *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
              <p class="m-3">Top city</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 cen">
              <img src="../../../../assets/img/Bangalore.svg" alt="">
              <p class="mt-2">Bangalore</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 cen">
              <img src="../../../../assets/img/Delhi.svg" alt="">
              <p class="mt-2"> Delhi</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 cen">
              <img src="../../../../assets/img/Mumbai.svg" alt="">
              <p class="mt-2">Mumbai</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 cen">
              <img src="../../../../assets/img/Chennai.svg" alt="">
              <p class="mt-2" >Chennai</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 cen">
              <img src="../../../../assets/img/Hyderabad.svg " alt="">
              <p class="mt-2" >Hyderabad</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 cen">
              <img src="../../../../assets/img/Kolkata.svg" alt="">
              <p class="mt-2" >Kolkata</p>
            </div>
            <div  class="col-md-12 col-sm-12 col-lg-12">
              <hr>
            </div>
            <div class=" col-md-3 col-sm-3 col-lg-3" *ngFor="let item of citys">
              <p style="cursor: pointer;" (click)="ValGetS(item._id)">{{item._id}}</p>
            </div>
          
      </div>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>
