.c-input--standard, .c-search__input, .c-search__input--location {
  border: 1px solid #b4b4be;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
  vertical-align: middle;
  width: 400px;
}
.cen{
  text-align: center;
}
::ng-deep .redMatch
{
  font-size: 30px !important;
  color:white;
  background: #a70000 !important;
 
}