.uiadddoctor{
    display: block !important;
    opacity: 1;
    position: fixed;
    -webkit-perspective:2000px ;
    perspective: 2000px;
    -webkit-transform-origin: center center;
    transform-origin: center center


}

.addpatient{
    font-size: 12px;
}

.malecheck{
    margin-left: -18px
}

.patientbtn{
    float: right!important;
    font-size: 15px;
   
}

.buttonaddpationent{
    background-color: white; width: 70px; height: 30px; margin: 5px; font-size: 15px;
}

.buttonpationetsave{
    background-color:#ffa000;width: 70px; height: 30px; margin: 5px; color:#FFFFFF;font-size: 15px;
}

.btn i {
    margin-right: 0px;
}
.btn{
    border: 1px solid #ddd;
                height: 7rem;
                width: 7rem;
                margin: 15px;
                line-height: .25em;border-radius: 50%;
}

.textsizep{
    font-size: 18px;
}



.ptn{
    margin-top: 30px;
    margin-bottom: 30px;
}













.header{
    margin-top: 30px;
    margin-left: 30px;
    }
    .modal-body{
        padding: 60px ;
        margin-top:-52px ;
    }
    .redstar{
        color: red;
    }
    #myModal{
        margin-left: 18%;
        top: 10%;
    }
    .chk{
       font-size: 12px;
    }
    .head{
        font-size: 12px !important;
    }
    .rad{
        margin-left: 10%;
    }