.uiadddoctor{
    display: block !important;
    opacity: 1;
    position: fixed;
    -webkit-perspective:2000px ;
    perspective: 2000px;
    -webkit-transform-origin: center center;
    transform-origin: center center


}

.mainaddpatient{
    font-size: 16px;
}