<div class="card shadow mb-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-header">
          <div class="col-sm-3 first">
            <h2 class="font-weight-bold text-primary">Patient Groups</h2>
          </div>
          
          <div class="col-sm-9 third">
            <button type="button" class="btn btn-warning btnadd">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="row tbs">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>GROUP NAME</th>
                            <th>TYPE</th>
                            <th>NUMBER OF MEMBERS</th>
                            <th></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>All Patients</td>
                            <td>Smart</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>All Female Patients</td>
                            <td>Smart</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>All Male Patients</td>
                            <td>Smart</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Female Patients Under 30</td>
                            <td>Smart</td>
                            <td>0</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
  
  
      </div>
    </div>
    </div>
