<div class="card shadow mb-4"  id="scrollbar">
  <div class="card-header">
      <div class="row">
          <div class="col-sm-10 first">
              <h2 class="font-weight-bold text-primary">Patient Groups</h2>
          </div>
          <div class="col-sm-2 third">
              <button type="button" class="btn btn-warning btnadd" (click)="shomodalp()">Add</button>
          </div>
      </div>
  </div>
  <div class="card-body">
      <!-- <div class="row">
          <div class="col-sm-5">
              <form class="form-inline">
                  <i class="fas fa-search" aria-hidden="true"></i>
                  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                      aria-label="Search">
              </form>
          </div>
      </div> -->
      <div class="row tbs">
          <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> GROUP NAME </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>
                  <ng-container matColumnDef="TYPE">
                      <th mat-header-cell *matHeaderCellDef> TYPE </th>
                      <td mat-cell *matCellDef="let element"> {{element.TYPE}} </td>
                  </ng-container>
                  <ng-container matColumnDef="STREANGTH">
                      <th mat-header-cell *matHeaderCellDef>NUMBER OF MEMBERS </th>
                      <td mat-cell *matCellDef="let element"> {{element.STREANGTH}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
      </div>
  </div>
</div>


<!-- modal1 add doctor -->
<div class="modal" id="myModal" *ngIf="opmod">
  <div class="modal-lg dialog">
      <div class="modal-content">
          <div class="row">
              <div class="col-sm-8">
                  <div class="header">
                      <h1 class="modal-title mtitl">Add Drug</h1>
                  </div>
              </div>
          </div>
          <div class="modal-body">
              <div class="">
                  <div class="row">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th> NAME<span class="redstar">*</span></th>
                                  <th>TYPE<span class="redstar">*</span></th>
                                  <th>STREANGTH</th>
                                  <th>UNIT </th>
                                  <th>IMSTRUCTION</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>

                                      <div class="input-group md-form form-sm form-1 pl-0">

                                          <input class="form-control fctr my-0 py-1" type="text"
                                              placeholder="Enter Drug Name">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="">
                                          <select class="form-control fctr" id="country">
                                              <option>India</option>
                                              <option>America</option>
                                              <option>Africa</option>
                                              <option>Norvey</option>
                                          </select>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="input-group fctr md-form form-sm form-1 pl-0">

                                          <input class="form-control my-0 py-1" type="text"
                                              placeholder="Enter Drug Name">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="">
                                          <select class="form-control fctr" id="country">
                                              <option>India</option>
                                              <option>America</option>
                                              <option>Africa</option>
                                              <option>Norvey</option>
                                          </select>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="input-group fctr md-form form-sm form-1 pl-0 dis" *ngIf="inp">

                                          <input class="form-control fctr my-0 py-1" type="text"
                                              placeholder="Enter Drug Name">
                                      </div>
                                      <a class="anchorbtn1" (click)="inpfield()" *ngIf="!inp">Add Instruction</a>
                                  </td>
                                  <td><a class="closeicon"><i class="fas fa-close"></i></a></td>

                              </tr>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                      <div class="addmore">
                                          <a class="anchorbtn1" style="float: right;">Add More</a>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>

                      </table>

                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light btnm" data-dismiss="modal"
                  (click)="modalopen()">Cancel</button>
              <button type="button" class="btn btn-warning btnm">Save</button>
          </div>
      </div>
  </div>
</div>