<section class="bg-white p-sm-3">
    <div class="row">
        <div class="col-md-5 col-lg-3 offset-md-2">

            <form [formGroup]="dynamicForm">
                <div formArrayName="filters">
                    <div *ngFor="let filter of filtersFormArray.controls; let i = index;let x = index;">

                        <div [formGroupName]="i" class="container">

                            <div class="form-group">


                                <label for="college">Degree</label>
                                <app-dynamic-autocomplete formControlName="option" [options]="states" (added)="onItemAdded($event)">
                                </app-dynamic-autocomplete>


                            </div>

                            <div class="form-group">
                                <label for="college">College/Institute</label>
                                <input type="text" class="form-control" formControlName="college" id="college" placeholder="">

                            </div>
                            <div class="form-group ">
                                <label for="RegistrationYear">Year of completion</label>
                                <select id="RegistrationYear" class="form-control" formControlName="yearOfCompletion">
                                    <option *ngFor="let item of items;index as i" [value]="2019-i+1"> {{2019-i+1}} </option>
                                </select>

                            </div>



                            <div class="col-12 mb-5">


                                <button mat-mini-fab color="warn" *ngIf="i >= '1'" (click)="removeFilterFromFiltersFormArray(i)" class=" mx-2 float-right" aria-label="Example icon button with a menu icon">
                                    <mat-icon> delete</mat-icon>
                                  </button>

                                <button mat-mini-fab color="primary" *ngIf="filtersFormArray.controls.length == x+1" (click)="addFilterToFiltersFormArray()" class=" mx-2 float-right" aria-label="Example icon button with a menu icon">
                                    <mat-icon>add_circle_outline</mat-icon>
                                  </button>

                            </div>
                            <hr style="margin-top: 72px;">
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <button class="mr-2" mat-raised-button matStepperPrevious>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_left
                    </mat-icon>
                    Back
                </button>
                <button class="ml-2" mat-raised-button color="success" (click)="save()">Save and Contnue
                    <mat-icon aria-hidden="false" aria-label="Example home icon" >chevron_right
                    </mat-icon>
                </button>
                <!-- <button class="save" mat-stroked-button color="primary" [disabled]="dynamicForm.invalid || filtersFormArray.controls.length < 1" (click)="save()">
                Save
              </button> -->
            </div>

        </div>
        <div class="col-md-3 col-lg-5 offset-md-1">
            <div class=" d-none d-sm-none d-md-block col-md-12 col-lg-8 mt-5 ml-5 pr-0 pl-0" style="border: 1px solid #14aa9b;">
                <div class=" bg p-4 textcol">
                    <div><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i> </div>
                    <p class="stext font-weight-bold">On WhealthyLife, doctors are listed under the relevant specializations based on their academic degrees. Both, education and years of experience, showcase doctor’s expertise and are among the top 3 things that patients consider while
                        making their decision</p>
                </div>
            </div>
        </div>
    </div>
</section>