.cdh{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px !important;
        margin: 12px;
   
}

.sdsdd {
        border: 1px solid;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin: auto;
      
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.sdsssd{
        border: 1px solid lightgray;
    width: 60px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.mat-focus-indicator.mat-stroked-button.mat-button-base.mat-accent {
        min-width: 100% !important;
    min-height: 50px;
    background-color:#f44336;
    color: white;
    }

    .card-footer {
        background: white;
    }

    .example-container .mat-form-field {
        width: 220px;
      }
      