<section class="sec1" >
    <div class="container-fluid">
        <div class="row" style="padding-top:20px" >
            <div class="col-8">
                <div class="card" >
                    <div class="card-header cdh">
                        <div class="" >
                            <h2>My Cart (1)</h2>
                        </div>
                        <div class="">
                            <input matInput type="text" placeholder="Enter Your Pincode"> 
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 Adj1" >
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <div class="col-12 " style="text-align: center;">
                                        <img class="img-fluid imge1 " src="../../../assets/img/med1.jpg" alt="Card image cap" >
                                            </div>
                                            <div class="col-12 flec1" >
                                                <div >
                                                    <div class="sdsdd"> - </div>
                                                </div>
                                                <div>
                                                    <div class="sdsssd"> 2 </div>
                                                </div>
                                                <div>
                                                    <div class="sdsdd" > + </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 maxH" >
                                                    <h4>SHELCAL 500MG Tablet 15'S</h4>
                                                    <p>Available offers</p>
                                                    <h1>₹76.50</h1>
                                                </div>
                                                <div class="col-12 flec2">
                                                    <div classd="">
                                                        <h3 class="fontS">SAVE FOR LATER</h3>
                                                    </div>
                                                    <div classd="">
                                                        <h3 class="fontS">REMOVE</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="col-4">
                                        <h4>Delivery by Mon Jul 6 | Free₹80</h4>
                                        <p>7 Days Replacement Policy</p>
                                        
                                    </div>
        
                                </div>
                            </div>
                            <hr class="hgcdsbjb">
                            <div class="col-12 marg12" >
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row">
                                            <div class="col-12 TextA" >
                                        <img class="img-fluid imge1 " src="../../../assets/img/med1.jpg" alt="Card image cap" >
                                            </div>
                                            <div class="col-12" style="    display: flex;
                                            justify-content: space-around;">
                                                <div >
                                                    <div class="sdsdd"> - </div>
                                                </div>
                                                <div>
                                                    <div class="sdsssd"> 2 </div>
                                                </div>
                                                <div>
                                                    <div class="sdsdd" > + </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 maxH" >
                                                    <h4>SHELCAL 500MG Tablet 15'S</h4>
                                                    <p>Available offers</p>
                                                    <h1>₹76.50</h1>
                                                </div>
                                                <div class="col-12" style="display: flex;
                                                justify-content: space-between;
                                                margin-top: 30px;">
                                                    <div classd="">
                                                        <h3  class="FontS"> SAVE FOR LATER </h3>
                                                    </div>
                                                    <div classd="">
                                                        <h3 class="FontS"> REMOVE </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="col-4">
                                        <h4>Delivery by Mon Jul 6 | Free₹80</h4>
                                        <p>7 Days Replacement Policy</p>
                                        
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="offset-8 col-4">
                            <a [routerLink]="['/order/Payment']" style="text-decoration: none;"> 
                                <button mat-stroked-button color="accent"  class="btu">
                                    <span> PLACE ORDER</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header cdh">
                        <div class="" >
                            <h2>PRICE DETAILS</h2>
                        </div>
                    </div>
                    <div class="card-body">
                       <div class="row">
                           <div class="col-6" >
                            <h3>Price (1 items)</h3>
                           </div>
                           <div class="col-6 TextAl">
                            <h3>₹76.50</h3>
                        </div>
                       </div>
                       <div class="row">
                        <div class="col-6">
                           <h3> Delivery Fee </h3>
                        </div>
                        <div class="col-6 TextAl">
                            <h3>FREE</h3>
                     </div>
                    </div>
                    <hr class="hr12">
                    <div class="row">
                        <div class="col-6">
                            <h3>Total Amount</h3>
                        </div>
                        <div class="col-6 TextAl" >
                           <h3> ₹76.50 </h3>
                     </div>
                    </div>
                    <hr class="hr12">
                    <div>
                        You will save ₹0 on this order
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
