<div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

              <div  class="adj1">
              <h2 >  My Clinic </h2>
              <hr >
            <div class="col-12 scroll"  >

                  <div class="col-12 addre" *ngFor="let item of ClinicName; let i = index" >
                      <div class="col-12  col-sm-12 col-md-8 col-lg-6" *ngIf="clinicId[i]">
                          <h3 class="cl1">{{item}}</h3>
                    </div>
                    <hr>
                      <div class="row"  *ngFor="let items of Address; let a = index" >
                          <div class="col-12 col-sm-12 col-md-8 col-lg-6">

                              <div class="" *ngIf="ClicId[a] === clinicId[i]" >

                                  <p class="pstyle">Address:-
                                      <span> {{items.address}} </span>,
                                      <span>{{items.landmark}} </span>,
                                      <span> {{items.country}} </span>,
                                      <span>{{items.state}} </span>,
                                      <span> {{items.city}} </span>,
                                      <span> {{items.pincode}} </span>
                                  </p>
                                  <hr>
                              </div>
                          </div>
                      </div>
                  </div>
                  <h3 style="text-align: center;" *ngIf="clinicId == 0">No Clinic Here</h3>
              <!-- <div class="col-12 addre" >
                  <div class="row">
                      <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                          <div class="" >

                              <p class="pstyle">Address:-
                                  <span> Kailash Nagar Street </span>,
                                  <span> Behaind Maruti Temple </span>,
                                  <span> Pune </span>,
                                  <span> Maharashtra </span>,
                                  <span> India </span>,
                                  <span> Pincode: 440099 </span>.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 addre" >
                  <div class="row">
                      <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                          <div  >
                              <p class="pstyle" >Address:-
                                  <span> Kailash Nagar Street </span>,
                                  <span> Behaind Maruti Temple </span>,
                                  <span> Pune </span>,
                                  <span> Maharashtra </span>,
                                  <span> India </span>,
                                  <span> Pincode: 440099 </span>.
                              </p>
                          </div>
                      </div>
                  </div>
              </div> -->
          </div>
          </div>

    </div>

</div>








