<div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
        <div  class="adj1">
        <h2 >  My Clinic </h2>
        <hr >
       <div class="col-12">

        <div class="col-12 addre" >
            <div class="col-12 col-sm-8 col-lg-6">
                <h3 class="cl1">Manoj Sharma Clinic</h3>
           </div>
            <div class="row">
               
                <div class="col-12 col-sm-8 col-lg-6">
                    <div class="" >
                       
                        <p class="pstyle">Address:-
                            <span> Kailash Nagar Street </span>,
                            <span> Behaind Maruti Temple </span>,
                            <span> Pune </span>,
                            <span> Maharashtra </span>,
                            <span> India </span>,
                            <span> Pincode: 440099 </span>.
                        </p>
                    </div>
                </div>
                <!-- <div class="col-12 col-sm-4 col-lg-3" >
                    <div class="flec sho" >
                    <span class="material-icons ic" matTooltip="Information"  >
                        info
                    </span>
                    <span class="material-icons" matTooltip="Edit">
                        create
                    </span>
                    <span class="material-icons" matTooltip="Delete">
                        delete
                    </span>
                </div>
                </div> -->
            </div>
        </div>
       
        <div class="col-12 addre" >
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-6">
                    <div class="" >
                        <!-- <h3 class="cl1">Clinic Name :Manoj Sharma Clinic</h3> -->
                        <p class="pstyle">Address:-
                            <span> Kailash Nagar Street </span>,
                            <span> Behaind Maruti Temple </span>,
                            <span> Pune </span>,
                            <span> Maharashtra </span>,
                            <span> India </span>,
                            <span> Pincode: 440099 </span>.
                        </p>
                    </div>
                </div>
                <!-- <div class="col-12 col-sm-4 col-lg-3" >
                    <div class="flec sho" >
                    <span class="material-icons ic" matTooltip="Information"  >
                        info
                    </span>
                    <span class="material-icons" matTooltip="Edit">
                        create
                    </span>
                    <span class="material-icons" matTooltip="Delete">
                        delete
                    </span>
                </div>
                </div> -->
            </div>
        </div>
        
        <div class="col-12 addre" >
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-6">
                    <div  >
                        <!-- <h3 class="cl1">Clinic Name :Manoj Sharma Clinic</h3> -->
                        <p class="pstyle" >Address:-
                            <span> Kailash Nagar Street </span>,
                            <span> Behaind Maruti Temple </span>,
                            <span> Pune </span>,
                            <span> Maharashtra </span>,
                            <span> India </span>,
                            <span> Pincode: 440099 </span>.
                        </p>
                    </div>
                </div>
                <!-- <div class="col-12 col-sm-4 col-lg-3" >
                    <div class="flec sho" >
                    <span class="material-icons ic" matTooltip="Information"  >
                        info
                    </span>
                    <span class="material-icons" matTooltip="Edit">
                        create
                    </span>
                    <span class="material-icons" matTooltip="Delete">
                        delete
                    </span>
                </div>
                </div> -->
            </div>
        </div>
       
    
    
    </div>
    </div>
    </div>
    
</div>








