.settings-header{
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
    margin-top: 21px;
}

.generate
{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.linkpop{
    color: blue;
}

.desc-text{
    font-size: 14px;
    margin-top: 20px;
    color:  #414146;;
}

.body-normal-grey{
    font-size: 14px;  

    color:  #414146;;
}