<div  class="container-fluid "  style="height: 512px; font-size: 19px; background-color: white;">
    <div class="settings-header main-heading ng-scope">Automatic ID Generation</div>
<div class="ui fitted divider ng-scope"></div>
<div class="" >
    <div class="">
        <div class="col-12">
            <input type="checkbox" tabindex="0" id="patient-id"    class="ng-pristine ng-untouched ng-valid">
            <label class="generate label" for="patient-id" >Patient ID Generation</label>
        </div>
        <p class="body-normal-grey desc-text">
           Wealthy Life lets you automatically assign Patient IDs for newly added patients to your records. You can also assign Patient IDs to all your existing patients.
        </p>
       <h3 class="body-normal-grey " >Current Pattern: P <span>{{</span>PATIENT-NUMBER<span>}}</span> <a class="linkpop" (click)="PatientID()"> edit</a>
        </h3>
    </div>
    <div class="ui fitted divider ng-scope"></div>


    <div class="row">
        <div class="col-12">
            <input type="checkbox" tabindex="0"  class="ng-pristine ng-untouched ng-valid">
            <label class="generate label" for="invoice-id">Invoice ID Generation</label>
        </div>
        <p class="body-normal-grey desc-text">
            You need to select an Initial Value. You can choose an alphanumeric prefix (will not be increment), and a numeric part which will be automatically incremented for every new bill.
        </p>
       <h3 class="body-normal-grey ng-binding ng-scope" >Current Pattern: INV <span>{{</span>INVOICE-NUMBER<span>}}</span> <a class="linkpop" (click)="InvoiceID()"> edit</a>
        </h3>
    </div>
   

    <div class="ui fitted divider ng-scope"></div>

    <div class="row " style="background-color: white;">
        <div class="col-12">
            <input type="checkbox" tabindex="0"  id="receipt-id"  class="ng-pristine ng-untouched ng-valid">
            <label class="generate label" for="receipt-id">Receipt ID Generation</label>
        </div>
        <p class="body-normal-grey desc-text">
            You need to select an Initial Value. You can choose an alphanumeric prefix (will not be increment), and a numeric part which will be automatically incremented for every new receipt.
        </p>
     <h3 class="body-normal-grey ng-binding ng-scope" >Current Pattern: RCPT <span>{{</span>RECEIPT-NUMBER<span>}}</span> <a class="linkpop" (click)="ReceiptID()"> edit</a>
        </h3>
    </div>
</div>

</div>








<!-- first -->

<div class="modal  " id="myModal" *ngIf="show"  style="display: block;  width: 50%; margin-left: 40%; ">
    <div class="modal-xl dialog   modal-dialog-centered ">
      <div class="modal-content">
     

        <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLongTitle"  style="margin-top: 20px;  color: black ; font-weight: bold;">Patient ID Generation</h1>
         
          </div>

        <div class="modal-body" >
       

            <div  class="container"  style="font-size: 15px;">


                <div  class="row">
            
                    
                    <div  class="col-sm-6">
                           
                        <div class="form-group">
                            <label >Patient ID (Prefix)</label>
                            <input type="email" class="form-control"  value="P" id="exampleInputEmail1" aria-describedby="emailHelp" >
                         
                          </div>
            
                    </div>
            
            
                    <div  class="col-sm-6">
            
                        <div class="form-group">
                            <label >Numeric Only *</label>
                            <input type="email" class="form-control"  value="1" id="exampleInputEmail1" aria-describedby="emailHelp" >
                         
                          </div>
            
                    </div>
            
                    <div class="row">
            
                        <div  class="col-sm-12">
            
                            <label  style="margin-left: 9px;">We can assign patient numbers to all your existing contacts</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label"  style="  margin-left: 21px;" for="exampleCheck1">Override IDs for 0 patients</label>
                              </div>
            
                        </div>
            
                    </div>
            
            
            
                </div>
            
                </div>
            
            

      </div>

      <div class="modal-footer"  style="font-size: 16px;">
        <button type="button" class=""   (click)="PatientID()">Cancel</button>
        <button type="button" class=""  style="background-color: coral;">Apply</button>
      </div>


    </div>
  </div>

</div>








<!-- 
second -->







<div class="modal  " id="myModal" *ngIf="showInvoice"  style="display: block;  width: 50%; margin-left: 40%; ">
    <div class="modal-xl dialog   modal-dialog-centered ">
      <div class="modal-content">
     

        <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLongTitle"  style="margin-top: 20px;  color: black ; font-weight: bold;">Invoice ID Generation</h1>
         
          </div>

        <div class="modal-body" >
       

            <div  class="container"  style="font-size: 15px;">


                <div  class="row">
            
                    
                    <div  class="col-sm-6">
                           
                        <div class="form-group">
                            <label >Invoice Number (Prefix)</label>
                            <input type="email" class="form-control" value="INV" id="exampleInputEmail1" aria-describedby="emailHelp" >
                         
                          </div>
            
                    </div>
            
            
                    <div  class="col-sm-6">
            
                        <div class="form-group">
                            <label >Numeric Only *</label>
                            <input type="email" class="form-control"  value="1" id="exampleInputEmail1" aria-describedby="emailHelp" >
                         
                          </div>
            
                    </div>
            
            
            
                </div>
            
                </div>
            
            

      </div>

      <div class="modal-footer"  style="font-size: 16px;">
        <button type="button" class=""   (click)="InvoiceID()">Cancel</button>
        <button type="button" class=""  style="background-color: coral;">Apply</button>
      </div>


    </div>
  </div>

</div>









<!-- third -->




<div class="modal  " id="myModal" *ngIf="showReceipt"  style="display: block;  width: 50%; margin-left: 40%; ">
    <div class="modal-xl dialog   modal-dialog-centered ">
      <div class="modal-content">
     

        <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLongTitle"  style="margin-top: 20px;  color: black ; font-weight: bold;">Receipt ID Generation</h1>
         
          </div>

        <div class="modal-body" >
       

            <div  class="container"  style="font-size: 15px;">


                <div  class="row">
            
                    
                    <div  class="col-sm-6">
                           
                        <div class="form-group">
                            <label >Receipt Number (Prefix)</label>
                            <input type="email" class="form-control"  value="RCPT" id="exampleInputEmail1" aria-describedby="emailHelp" >
                         
                          </div>
            
                    </div>
            
            
                    <div  class="col-sm-6">
            
                        <div class="form-group">
                            <label >Numeric Only *</label>
                            <input type="email" class="form-control"  value="1"  id="exampleInputEmail1" aria-describedby="emailHelp" >
                         
                          </div>
            
                    </div>
            
            
            
                </div>
            
                </div>
            
            

      </div>

      <div class="modal-footer"  style="font-size: 16px;">
        <button type="button" class=""   (click)="ReceiptID()">Cancel</button>
        <button type="button" class=""  style="background-color: coral;">Apply</button>
      </div>


    </div>
  </div>

</div>























