.intri{
    font-size: 14px;
    
}


.mainintrigation{
    margin: 0px -8px 0px -30px; text-align: center;
}

.tigate{
    margin-left: 27px;
}

.form-check{
    margin-top: 10px;
}



.integrations-header {
    height: 2.42em;
    padding: 0.9em 0.6em;
    font-size: 30px;
}
.padd{
    padding: 30px;
}


.works{
    margin-left: 20px;
}


.indexingmg{

   
    text-align: center;
    height: 25px;
    width: 25px;
    background-color:#cecece;
    border-radius: 2px;
}

.main-heading {
    font-size: 30px;
    font-weight: 500;
    color: rgb(65, 65, 70) !important;
}

hr.line {
    border-top: 1px solid 	#808080;
  }

  
  .ui.primary.button {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 160, 0);
    border-image: initial;
    padding: 5px;
    margin-top: 20px;
}

.ui.primary.button {
    box-shadow: rgb(202, 202, 211) 0px 0px 0px 0px inset;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: rgb(255, 160, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
    background-image: none;
    border-radius: 2px;
    font-size: 12px;
}

// .follow-up-head{
//     margin-top: 10px;
//     margin-bottom: 10px;
// }

.section-head{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;

    
   
}


.clinicafter{
    margin-top: -20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }



.prime-main-block .benefits img.arrow {
    width: 38px;
    height: 26px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 40px;
}



.bold-text{
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

// .manindevider{

// }

.maininit{

    
    padding: 20px;
}
.h-divider{
    height:1px;
    width:100%;
    border-top:1px solid #cecece;
   }


   .medium-text {
    font-size: 14px;
}


.prime-main-block .section .enable-cta {
    margin: 20px 0;
    width: 204px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
}