<section>
    <div class="container-fluid " style="background-color: white; ">
        <div class="row">

            <div class="col-sm-2" style="border-right: 1px solid gray;height: 100vh;">

<div class="maininit">


    
    <h1 style="color: black; ">Integrations</h1>

    <h3>qweqw - Kattupakkam</h3>

</div>

                <div class="intri  mainintrigation" >

                    <div class=" h-divider "></div>

                    <div  class="nav nav-pills  nav-link">

                        WealthyLife.com
                    </div>
                    <div class=" h-divider "></div>
                    
                    <div class="nav nav-pills  nav-link " style="display: block;">
                        <a class="nav-link active" href="#first" [ngClass]="{ 'active':activeTab==='first'}"
                            (click)="first('first')" data-toggle="tab">Drive</a>

                            <div >


                            </div>
                         
                    </div>

                    <div class=" h-divider "></div>

                    <div class="nav nav-pills mt-2" style="display: block;">
                        <a class="nav-link" href="#results" [ngClass]="{ 'active':activeTab==='secondon'}"
                            data-toggle="tab" (click)="secondon('secondon')">Online follow-up</a>
                    </div>


                    <div class=" h-divider "></div>

                    <div class="nav nav-pills mt-2" style="display: block;">
                        <a class="nav-link" href="#wealthylife" [ngClass]="{ 'active':activeTab==='wealthylife'}"
                            data-toggle="tab" (click)="wealthylife('wealthylife')">Wealthy Life Prime</a>
                    </div>

                    <div class=" h-divider "></div>

                </div>
            </div>

            
            <div class="col-sm-10 intri">



                <div class="tab-content">
                    <div class="tab-pane" id="first" [ngClass]="{ 'active':activeTab==='first'}">


                        <div class="integrations-header main-heading">
                            Record Share via Wealthy Life Drive

                        </div>
                       

                        <div class="ui fitted divider ng-scope"></div>

                        <div class="ui sixteen wide column share-main-block ng-scope">
                            <div>
                                <div>
                                    <div>
                                        You can now securely share your health records with your patients via Wealthy
                                        Life Drive.
                                    </div>
                                    <div>Click <a href="#" target="_blank">here</a> to know more.
                                    </div>
                                </div>
                                <div class="shared-records">
                                    <p>Select the records for which you want to turn on automatic sharing:</p>
                                    <div>
                                        <div class="  form">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                                <label class="form-check-label tigate"
                                                    for="exampleCheck1">Prescriptions</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                                <label class="form-check-label tigate" for="exampleCheck1">Billing
                                                    (Invoices and Payments)</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                                <label class="form-check-label tigate" for="exampleCheck1">Treatment
                                                    Plans</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                                <label class="form-check-label tigate" for="exampleCheck1">Vital
                                                    Signs</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                                <label class="form-check-label tigate" for="exampleCheck1">Lab
                                                    Orders</label>
                                            </div>

                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                                <label class="form-check-label tigate" for="exampleCheck1">Clinical
                                                    Notes (including attachments)</label>
                                            </div>

                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                                <label class="form-check-label tigate" for="exampleCheck1">Files</label>
                                            </div>


                                            <div class="integrations-header main-heading">

                                                My Doctors
                                                <div class="ui fitted divider ng-scope"></div>


                                                <div class="intri" style="margin-top: 20px;">

                                                    <div class="my-doctor-acceptance-info ">
                                                        <div class="my-doctor-acceptance-item-info">
                                                            Enable the new ‘My Doctors’ feature to give your patients
                                                            quick access to appointment details and actions. It will
                                                            help you:
                                                        </div>

                                                        <div class="my-doctor-acceptance-item-info form-check">
                                                            <div class="float-left indexing">1.&nbsp;</div>
                                                            <div class="my-doctor-acceptance-item-info-bold">Get upto
                                                                30% more repeat bookings</div>
                                                        </div>

                                                        <div class="my-doctor-acceptance-item-info form-check">
                                                            <div class="float-left indexing">2.&nbsp;</div>
                                                            <div class="my-doctor-acceptance-item-info-bold">Reduce no
                                                                shows by upto 20%</div>
                                                        </div>
                                                    </div>



                                                    <div class="ui form " style="margin-top: 20px;">
                                                        <div class="field">
                                                            <div class="ui checkbox float-left">
                                                                <input type="checkbox" style="margin-top: -7px; margin-left: 10px;">
                                                                <label class="empty-label">&nbsp;</label>
                                                            </div>
                                                            <div class="">
                                                                <div
                                                                    class="ten wide column checkbox-label my-doctor-acceptance">
                                                                    By accepting, you will be sharing your patient
                                                                    information with Wealthy Life to reach your patients
                                                                    via SMS/Notification for the above benefits and
                                                                    services.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <button class="ui primary button enable-my-doctors  ">Enable
                                                        Now</button>

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="tab-pane" id="secondon" [ngClass]="{ 'active':activeTab==='secondon'}">
                        
                        <!-- second tb -->
                        
                        <div  class="thirteen wide column integrations-right-container ng-scope" ui-view="" style="height: 561px;">
                            <div ng-include="'/patients/assets/src/integrations/templates/header.html'" class="ng-scope"><div class="ui grid ng-scope">
                            <div class="ui seven wide column">
                                <div class="integrations-header main-heading ng-binding">Online follow-up</div>
                            </div>
                        </div>
                        <div class="ui fitted divider ng-scope"></div>
                        </div>
                        <div class="ui sixteen wide column consult-main-block ng-scope">
                         <div ng-if="isOwner &amp;&amp; showEnableFollowupView" ng-include="'/patients/assets/src/integrations/templates/consult/enableFollowup.html'" class="ng-scope"><div class="section benefits ng-scope">
                            <div class="follow-up-head">
                                <b>1000+</b> <span class="text-grey">clinics have enabled online follow-up. 
                                Keep your patients coming back and monetise repeat interactions!</span>
                            </div>
                          
                            <div class="row  ">

                                <div class="col-sm-4  padd">

                                    <img  class="center" src="../../../../assets/img/consult-illustration.svg">
                                    <div class="section-head text-center">Engage</div>
                                    <div class="text-grey">Retain patients better: Give them a convenient way to follow-up with you.</div>

                                </div>

                                <div class="col-sm-4 padd ">

                                    <img  class="center" src="../../../../assets/img/consult-illustration.svg">
                                    <div class="section-head control text-center">Control</div>
                                    <div class="text-grey">Control follow-up interactions: Limit free follow-up period, set online fees, and more.</div>

                                </div>
                                <div class="col-sm-4 padd  ">


                                    <img class="monetise-illustration center" src="../../../../assets/img/consult-illustration.svg">
                                    <div class="section-head monetise text-center">Monetise</div>
                                    <div class="text-grey">Monetise your follow-ups: Charge patients for repeat follow-up interactions.</div>

                                </div>

                            </div>
                        


                        </div>
                        <div class="ui fitted divider ng-scope"></div>
                      
                        <div class="section-head"  >Here's how it works</div>
                        <div class="row clinicafter">
                           

                            <div class="col-sm-4  padd">

                                <div class="">
                                    <div class="indexingmg " >1</div> 
                                    <p>
                                        After patients visit your clinic, 
                                        they receive an sms with a link to follow-up online.
                                    </p>
                                </div>
                                
                            </div>

                            <div class="col-sm-4   padd">


                                <div >
                                    <div class="indexingmg">2</div>
                                    <p>
                                        You answer follow-up queries
                                      on the wealthy Life Partner App
                                    </p>
                                </div>

                            </div>

                            <div class="col-sm-4  padd">


                                <div >
                                    <div class="indexingmg">3</div>
                                    <p>
                                        After the free follow-up expires, 
                                        patients can pay to continue chatting with you.
                                    </p>
                                </div> 

                            </div>

                        </div>





                        <div class="ui fitted divider ng-scope"></div>

                        <div class="enable-cta section ng-scope">
                            <div class="section-head" style="color: black;" >Enable Follow up</div>
                            <p class="text-grey">By enabling online follow-up you’ll be allowing Wealthy Life to use appointment details so that your patients can be reached via SMS / Notification for the above benefits and services. You will enable it for all doctors in your practice.</p>
                            <button class="ui primary button enable-now" >Enable Now</button>


                            <div >
                                <b>Note :</b>
                                <p>Online follow-ups will be available to your entire practice. Individual doctors can disable the feature from the app.</p>
                            </div>

                        </div>
                    
                        </div>

                        </div>
                        </div>
                        
                        
                    </div>

                    <div class="tab-pane  works" id="wealthylife" [ngClass]="{ 'active':activeTab==='wealthylife'}">

                        
                        <div ng-style="{'height': timelineHeight}" class="thirteen wide column integrations-right-container ng-scope" ui-view="" style="height: 512px;">
                            <div class="ng-scope"><div class="ui grid ng-scope">
                            <div class="ui seven wide column">
                                <div class="integrations-header main-heading ng-binding">Wealthy Life Prime Integration</div>
                            </div>
                        </div>
                        <div class="ui fitted divider ng-scope"></div>
                        </div>
                        <div class="ui sixteen wide column prime-main-block ng-scope">
                           
                            <div   class="ng-scope"><div class="section benefits ng-scope">
                             
                                
                            <div class="follow-up-head">
                                <p class="bold-text">Wondering how many patients walked in to your clinic for a consultation?</p>
                                <p>You can now accurately and easily track patient walk-ins by enabling Prime integration!<a target="_blank"><b>Know more</b></a></p>
                            </div>
                            <p class="bold-text ">How it works:</p>


                            <div class="row">


                                <div  class="col-sm-4 padd">

                                    <img src="../../../../assets/img/consultation.svg">
                                    <img src="../../../../assets/img/arrow.svg" class="arrow">
                                    <div class="section-head">Patient walks in &amp; consults the doctor</div>
                                </div>


                                <div  class="col-sm-4  padd">

                                    <img src="../../../../assets/img/consultation.svg">
                                    <img src="../../../../assets/img/arrow.svg" class="arrow">
                                    <div class="section-head">Action performed</div>
                                    <div class="text-grey">Billing/Prescription/File sharing/Check-in action performed on Ray.</div>

                                </div>


                                <div  class="col-sm-4  padd">

                                    <img src="../../../../assets/img/consultation.svg">
                                    <div class="section-head">Checked-in on Prime</div>
                                    <div class="text-grey">The patient gets checked-in automatically on the Prime dashboard.</div>

                                </div>

                               

                            </div>


                            <div class=" form"    >


                                <div class="form-check " style="margin-top: 20px;">
                                    <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                    <div class="medium-text tigate">I agree to Prime <a target="_blank"><b>Terms and Conditions</b></a>
                                    </div>
                                </div>

                                
                                <!-- <div class="field"  >
                                    <div>
                                        <div class="ui checkbox float-left">
                                            <input type="checkbox" >
                                            <label class="empty-label">&nbsp;</label>

                                        </div>
                                        <div class="medium-text">I agree to Prime <a target="_blank"><b>Terms and Conditions</b></a>
                                        </div>
                                    </div>
                                </div> -->


                            </div>


                            <button class="ui primary button enable-cta" >Enable Prime Integration</button>
                            <div class="note text-grey">
                                <p>Please note : This will be enabled for all Prime doctors in your practice.</p>
                            </div>
                        </div>
                        </div>

                        </div>
                        </div>







                    <!-- prime -->
                    </div>

                </div>

            </div>


        </div>

    </div>



</section>