* .fa {
  font-family: "FontAwesome";
}

.input-group {
  display: flex;
}

.sidebar .nav-item .nav-link {
  display: flex;
}

.topbar {
  height: 4.375rem;
  font-size: 2.2rem;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
}

.topbar .navbar-search {
  width: 33rem;
}

#accordionSidebars {
  position: fixed;
  z-index: 99999;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 72px !important;
  transition-property: width;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 1ms;
  > .h {
    display: none !important;
  }
  > .d {
    display: block !important;
  }
  > li {
    > a {
      width: 9px !important;
      cursor: pointer !important;
      > span {
        font-family: Camphor, verdana !important;
        white-space: normal;
        display: none;
        padding-top: 0.7rem;
        font-weight: 500;
      }
    }
  }
}

#accordionSidebars:hover {
  width: 16% !important;
  > .h {
    display: block !important;
  }
  > .d {
    display: none !important;
  }
  > li {
    > a {
      width: 100% !important;
      > span {
        font-family: Camphor, verdana !important;
        white-space: normal;
        display: block;
        padding-top: 0.7rem;
        font-weight: 500;
      }
    }
  }
}

.sidebar .nav-item {
  position: relative;
  font-size: 1rem;
  padding: 0px 1.5rem;
}

.sidebar-dark .nav-item.active .nav-link {
  color: #ffffff !important;
}

.container-fixed {
  margin-top: 5.4rem;
  margin-left: 4.2rem;
  width: 96%;
}

.sidebar-dark .nav-item.active .nav-link i {
  color: #fff;
  padding-right: 2rem;
  font-size: 1.3rem;
  padding-top: 10px;
}

.fa-bell {
  font-size: 2rem !important;
  font-family: "FontAwesome";
}

.fa-envelope {
  font-size: 2rem !important;
  font-family: "FontAwesome";
}
.bg-color {
  background-color: #f44336;
}
.accordion {
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.dropdown-item {
  cursor: pointer;
}

.fa-tachometer:before {
  content: \f625;
  font-family: "FontAwesome";
}

.fa-medkit:before {
  content: "\f0fa";
  font-family: "FontAwesome";
}

.fa-home:before {
  content: "\f015";
  font-family: "FontAwesome";
}

.fa-comments:before {
  content: "\f086";
  font-family: "FontAwesome";
}

.fa-gear:before,
.fa-cog:before {
  font-family: "FontAwesome";
  content: "\f013";
}

.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
  font-family: "FontAwesome";
}

// .fa-thumbs-up:before {
//   content: "\f164";
//   font-family: "FontAwesome";
// }

.fa-bullhorn:before {
  font-family: "FontAwesome";
  content: "\f0a1";
}

.fa-file:before {
  content: "\f15b";
  font-family: "FontAwesome";
}

.fa-bell:before {
  content: "\f0f3";
  font-family: "FontAwesome";
}

.fa-envelope:before {
  content: "\f0e0";
  font-family: "FontAwesome";
}

.fa-user:before {
  content: "\f007";
  font-family: "FontAwesome";
}

.fa-list:before {
  content: "\f03a";
  font-family: "FontAwesome";
}

.fa-user-alt:before {
  content: "\f007";
  font-family: "FontAwesome";
}

.fa-award:before {
  content: "\f559";
  font-family: "FontAwesome";
}

.fa-calendar-alt:before {
  content: "\f073";
  font-family: "FontAwesome";
}

.fa-broadcast-tower:before {
  content: "\f519";
  font-family: "FontAwesome";
}

.fa-chart-area:before {
  content: "\f1fe";
  font-family: "FontAwesome";
}

.fa-thumbs-up:before {
  content: "\f164";
  font-family: "FontAwesome";
}
