<section>

    <div class="row">
        <div class="d-none d-sm-none d-md-block col-md-1 col-lg-2">
            <!-- //sidebar -->
            <app-doctor-slider></app-doctor-slider>
        </div>
        <div class="col-sm-12 col-md-11 col-lg-10">

            <div class="row">
                <app-doctor-header></app-doctor-header>
            </div>

            <!-- Dashbord -->

            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <!-- footer -->
    </div>
</section>