<p-toast key="otperror" [showTransformOptions]="'translateX(100%)'"></p-toast>
<section class="sect-top">
  <div class="container ">
    <div class="col-sm-12   justify-content-center">
      <p-messages [(value)]="msgs">
      </p-messages>
      <p-messages [(value)]="msgsWarn">
        <a href="dkjhdd">dkjksdskdsk</a>
      </p-messages>
      <div class="row row-forgot ">
        <div class="col-sm-4 mb-5  center">
          <div class="  no-border  ">
            <div class=" ">
              <div class="fortitle">Verify OTP</div>
            </div>
            <hr class="divide-line">
            <div class=" card-body  ">
              <div class="we-otp" style="margin-top: 0 px !important ; color: black; ">
                We have sent you an OTP on
              </div>
              <div class="mt-2">
                <h2>
                  {{mobileNumber}}
                </h2>
              </div>
              <div class="form mt-3">
                <div class="">OTP</div>
               
                <!-- <input class="form-control input-otp mt-1" (input)="validate()" id="username" name="username"
                  placeholder="Please enter the 4 digit OTP here to verify" [(ngModel)]="otp" type="number" [maxlength]="4" value=""> -->
                  <otp [setting]="settings" (onValueChange)="onInputChange($event)" type="number" value="" id="username" ></otp>
                   <!-- [(ngModel)]="otp" name="username" (input)="validate()" -->
                <span class="text-danger" *ngIf="error" style="font-size: 11px;">{{error}}</span>
                <div>
                  <div>
                  </div>
                </div>
                <button class="submitBtn  btn" (click)="onVerify()">Verify</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>