<div class="card shadow mb-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-header">
          <div class="col-sm-3 first">
            <h2 class="font-weight-bold text-primary">Data Security</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-2">
                <input type="checkbox" id="Sunday" name="Sunday" value="Bike">     
            </div>
            <div class="col-sm-10 cdb">
              <span class="">Two Factor Authentication</span><br> 
              <span class="">- Two Factor Authentication adds an extra layer of security to your Practo account. Once enabled, Two Factor Authentication will be required to log into Ray practice.</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-2">
                <input type="checkbox" id="Sunday" name="Sunday" value="Bike">     
            </div>
            <div class="col-sm-10 cdb">
              <span class="">WealthyLife Access Zones</span> <br>
              <span class="">- Create secure access zones for your WealthyLife users.</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-2">
                <input type="checkbox" id="Sunday" name="Sunday" value="Bike">     
            </div>
            <div class="col-sm-10 cdb">
              <span class="">Hide cancelled Invoices</span> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-2">
                <input type="checkbox" id="Sunday" name="Sunday" value="Bike">     
            </div>
            <div class="col-sm-10 cdb">
              <span class="">Hide cancelled Payments</span> 
            </div>
          </div>
        </div>
    </div>
</div>
