.card-header{
    margin-top:4%;
}
.first{
    margin-top: -3%;
}
.text-primary{
    font-size: 2.2rem;
    display: flex;
    font-weight: 400;
    
}
// .second{
//     margin-top: -3%;
// }
// .third{
//     margin-top: -3%;
//     float: right;
// }
// .btnadd{
//     float: right;
//     font-size: 12px;
// }
.cdb{
    font-size: 12px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: -4%;
    
}
// .card{
//     height: 60% !important;
// }
.mtitle{
    font-size: 0.5rem !important;
    // top: 10%;
}
// .modal{
//     padding: 30px 70px 30px 70px;
// }
.cols{
    font-size: 1.1rem;
}

.header{
margin-top: 34px;
margin-left: 20px;
// height: 30%;
z-index: 1;
background: white;
}
.ng-binding {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.fourteen{
    font-size: 17px;
    // margin-top: 30% !important;
}

.mtitle{
    font-size:16px !important;
    // top: 10%;
}
// .modal{
//     padding: 30px 70px 30px 70px;
// }
.cols{
    font-size: 1.1rem;
}

.header{
margin-top: 34px;
margin-left: 20px;
// height: 30%;
z-index: 1;
background: white;
}
.modal-body{
    padding: 60px;
    margin-top:-52px ;
    // margin-bottom: -40px;
    // overflow: scroll;
    height: 2   0vh;
    // overflow-y: scroll;
}
// .redstar{
//     color: red;
// }
#myModal{
    margin-left: 23%;
    top: 5%;
    // padding-bottom: -20%;
    display: block;
    
}
.chk{
   font-size: 12px;
}
// .head{
//     font-size: 12px !important;
// }
// .rad{
//     margin-left: 10%;
// }
// .fchk {
//     position: relative;
//     display: flex;
//     padding-left: 1.25rem;
// }
// .btnmodal{
//     float: right;
// }
.btnm{
    font-size: 1.6rem;
}
.modal-sm{
    margin-top: 13%;
    margin-left: 15%;
}
.mc{
    width: 40vw !important;
}
.table{
    border: none;
    // border-bottom: none;
}