.card-header{
    margin-top:4%;
}
.first{
    margin-top: -3%;
}
.text-primary{
    font-size: 2.2rem;
    display: flex;
    font-weight: 400;
    
}
// .second{
//     margin-top: -3%;
// }
// .third{
//     margin-top: -3%;
//     float: right;
// }
// .btnadd{
//     float: right;
//     font-size: 12px;
// }
.cdb{
    font-size: 12px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: -4%;
    
}
// .card{
//     height: 60% !important;
// }