
@media screen and (max-width:500px){
    .container-fluid{

        padding-left: 15px;
        padding-right: 33px;
    }
    .hb{
        margin-right: 44px !important;
    }
}

.data-row{
    margin-left: 10px;
}