.text-primary{
    font-size: 2.2rem;
    display: flex;
    font-weight: 400;
    
}
// .second,.nav{
//     display: flex !important;
//   justify-content: center !important;
//   align-items: center;
  
//  >.nav-item{
//      font-size: 1.4rem !important;  
//      border:1px solid black;
//     //  border-radius: 50%;
//  }
// }
// .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
//     color: #fff !important;
//     background-color: #777 !important;
// }

// .text1{
//     font-size: 1.7rem !important;
// }

.card{
    height:750px;
}

.btnadd{
    // height: 30%;
    // width: 35%;
    font-size: 15px;
    float: right;
    
}
.card-header{
    margin-top:4%;
}
.first{
    margin-top: -3%;
}
.second{
    margin-top: 3%;
}
.third{
    margin-top:-3%;
    float: right;
}
.forth{
    margin-top: 2%;
    margin-left: 45px;
    font-size: 11px;
}
// .fchk {
//     position: absolute;
//     display: flex;
//     padding-left: 1.25rem;
//     font-size: 12px;
// }

.fcl{
    margin-left: 45px;
    font-size: 11px;
}
.fci{
    margin-left: -30px;
}
// .form-check-input .fsk {
//     margin-left: -10% !important;
// }
// .form-check-label .csd {
//     margin-left: -21% !important;
//     font-size: 11px;
// }
.tabth{
    font-size: 14px;
}
.tabtd{
    font-size: 12px;
}
// .tabtd a{
//     display: none;
// }

// .tr td a:hover{
//    display: none;
// }
.mtitle{
    font-size: 0.3rem !important;
    // top: 10%;
}
// .modal{
//     padding: 30px 70px 30px 70px;
// }
// .cols{
//     font-size: 1.1rem;
// }

.header{
margin-top: 34px;
margin-left: 20px;
// height: 30%;
z-index: 1;
background:white;
// padding:20px 40px 20px 20px;
}
.modal-body{
    padding: 60px;
    margin-top:-52px ;
    // margin-bottom: -40px;
    // overflow: scroll;
    height: 60vh;
    overflow-y: scroll;
}
.redstar{
    color: red;
}
#myModal{
    margin-left: 23%;
    top: 5%;
    // padding-bottom: -20%;
    display: block;
    
}
// .chk{
//    font-size: 12px;
// }
// .head{
//     font-size: 12px !important;
// }
// .rad{
//     margin-left: 10%;
// }
// .fchk {
//     position: relative;
//     display: flex;
//     padding-left: 1.25rem;
// }
.btnmodal{
    float: right;
  font-size: 14px;
}
.btnm{
    font-size: 1.6rem;
}
// .simp{
//     font-size: 10px;
// }
// .href{
//     color: blue;
// }
.labl {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 12px;
    padding: 2px 7px;
}
.inpt{
    display: flex;
    // padding: 10px;
}
// .fgm{
//     display: flex;
// }
.sess2{
    margin-left: 53% !important;
    margin-top:5% !important;
}
.addtiming{
    a{
        color:blue;
        float: right;
        font-size: 12px;
    }
}