<div class="card shadow mb-4">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-header">
        <div class="col-sm-3 first">
          <h2 class="font-weight-bold text-primary">Clinical Notes Catalog</h2>
        </div>
        <div class="col-sm-3 third">
          <button type="button" class="btn btn-warning btnadd">Add</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Complaints
          </ng-template>
          <div class="table-responsive table">
            <table class="table">
              <thead>
                <tr>
                  <th class="fourteen">
                    complaints
                  </th>
                  <th class="two wide"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="ng-scope">
                  <td colspan="2" class="cn-empty-state">
                    <span class="cdc">
                      No complaints added yet.
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Observations
          </ng-template>
          <div class="table-responsive table">
            <table class="table">
              <thead>
                <tr>
                  <th class="fourteen">
                    Observations
                  </th>
                  <th class="two wide"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="ng-scope">
                  <td colspan="2" class="cn-empty-state">
                    <span class="cdc">
                      No observations added yet..
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Diagnoses
          </ng-template>
          <div class="table-responsive table">
            <table class="table">
              <thead>
                <tr>
                  <th class="fourteen">
                    Diagnoses
                  </th>
                  <th class="two wide"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="ng-scope">
                  <td colspan="2" class="cn-empty-state">
                    <span class="cdc">
                      No diagnoses added yet.
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Other Notes
          </ng-template>
          <div class="table-responsive table">
            <table class="table">
              <thead>
                <tr>
                  <th class="fourteen">
                    Notes
                  </th>
                  <th class="two wide"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="ng-scope">
                  <td colspan="2" class="cn-empty-state">
                    <span class="cdc">
                      No notes added yet.
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>