<div class="card shadow mb-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-header">
                <div class="col-sm-3 first">
                    <h2 class="font-weight-bold text-primary">Practice Details</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center">
                        <div class="avatar-wrapper" style="display: flex; align-items: center;">
                            <img class="profile-pic" src="" />
                            <div class="upload-button">
                                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                            </div>
                            <input class="file-upload" type="file" accept="image/*" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 ccla">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ClinicName">Clinic Name:</label>
                                    <input type="text" class="form-control" id="ClinicName">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Specialization">Specialization</label>
                                    <select class="form-control" id="Specialization">
                                        <option>Accupuncture</option>
                                        <option>Physician</option>
                                        <option>Audiologist</option>
                                        <option>Ayurveda</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="gstin">GSTIN</label>
                                    <input type="text" class="form-control" id="gstin">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Contact">Contact No</label>
                                    <input type="text" class="form-control" id="Contact">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="text" class="form-control" id="website">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="ClinicName">Address</label>
                                    <input type="text" class="form-control" id="ClinicName"
                                        placeholder="Address Line 1">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="locality">Locality</label>
                                    <input type="text" class="form-control" id="locality" placeholder="Enter Locality">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="country"></label>
                                    <select class="form-control" id="country">
                                        <option>India</option>
                                        <option>America</option>
                                        <option>Africa</option>
                                        <option>Norvey</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="state"></label>
                                    <select class="form-control" id="state">
                                        <option>Tamil Nadu</option>
                                        <option>Bengal</option>
                                        <option>Madhya Pradesh</option>
                                        <option>Bihar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="pincode"></label>
                                    <input type="text" class="form-control" id="pincode" placeholder="enter pincode">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">


                <div class="row ">

                    <div  class="col-sm-12">
                        <button mat-raised-button class="mat-button  btn  btnadd" >Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
