.app-container #sideBarAppContainer>div {
    height: 100%;
}
.consult-container {
    height: 100%;
    width: 100%;
}
.product-nav {
    // margin: 0 0 1px;
    margin:0px -166px 0px -43px;
}
.product-nav .product-nav-tab.selected {
    border-bottom: 3px solid #14bef0;
    color: #14bef0;
}

.product-nav .product-nav-tab {
    text-align: center;
    color: #b4b4be;
    line-height: 14px;
    padding: 20px 25px 16px;
}
.product-nav .product-nav-tab {
    padding: 16px 25px;
    display: inline-block;
    color: #787887;
    font-weight: 400;
    cursor: pointer;
}
.link:active, .link:focus, .link:hover, .link:link, .link:visited, a:active, a:focus, a:hover, a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    outline: none;
}
.no-consults {
    background: #fff;
    // height: calc(100% - 60px);
    height: 348px;
    margin:  1px -166px 0px -42px;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    // -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.no-consults-cta {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.no-consults .btn-blue {
    background-color: #14bef0;
    padding: 12px 33px;
    color: #fff;
}