<div class="col-sm-9 col-lg-10 col-xs-12 product-container-wrapper">
    <div class="consult-container">
        <div class="m-heading-three product-title hidden-sm hidden-md hidden-lg bg-white">Online Consultations</div>
        <div class="bg-white product-nav">
            <a class="product-nav-tab" routerLink="/drive/consultation">Free</a>
            <a class="product-nav-tab selected" routerLink="/drive/consultation/paid">Paid</a>
        </div>
        <div class="no-consults">
            <div class="no-consults-img">
                <img alt="no-consults" src="../assets/img/consult-illustration.svg" width="200"
                    height="140">
                </div>
            <div class="no-consults-msg">You do not have any consultations yet.</div>
            <div class="row no-consults-cta">
                <a
                href="https://www.practo.com/consult/direct/new_consultation?product=drive&amp;attribution=free_cta"
                target="_blank" class="btn btn-blue heading-two">Ask a doctor
            </a>
            </div>
        </div>
    </div>
</div>

