
<section style="min-height: 100vh;">
  <div class="container-fluid cf" >
    <div class="col-12">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <ul class="navbar-nav bg-white text-dark sidebar accordion" id="settingSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard">
                <div class="sidebar-brand-text">CLINICS</div>
            </a>
            <hr class="sidebar-divider my-0">
            <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="#">
                    My Clinics</a>
            </li> -->
            <!-- <hr class="sidebar-divider"> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="dashboard">
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="display_Clinic">
                    <span>My Clinics</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Members">
                    <span>Members</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="AddClinic">
                    <span>Add Clinic</span></a>
            </li>
           
        </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-12">
          <div class="col-12 bg" >
            <router-outlet ></router-outlet>
             
           
        </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section>
    <div class="container-fluid">
        <div class="col-sm-12 bg" >

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">
                    <form  class="adj1">
                      <button _ngcontent-ose-c259="" type="button" class="btn btn-light butt"   (click)="onSave()" >Save</button>
                    <h2 > MY CLINIC </h2>
                    <hr >
                    <div class="col-lg-4 form-group adj4 "  >
                        <label class="lab">Cline Name</label>
                        <ng-autocomplete   type="text"  [data]="countries"  [searchKeyword]="keyword"
                             placeHolder="Search doctors, clinics, hospitals etc" 
                            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)' historyIdentifier="countries"
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" >
                        </ng-autocomplete>
             
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div><button mat-raised-button class="ad">Add</button>
                        </ng-template>
             
                    </div>
                    <div class="fir">
                        <p class="lab mar1">Address</p>
                       
                        <div class="row adj3" *ngFor="let address of dataArray; let i=index" >
                          <div class="col-12">
                            
                              <mat-icon (click)="removeAddress(i)" *ngIf=" i!= 0 "  >delete</mat-icon>
                           
                          </div>
                         
                      <div class="form-group col-lg-4" >
                        <label for="exampleInputEmail1">Street</label>
                        <input type="type" class="form-control" id="exampleInputEmail1"  name="Street{{i}}"  [(ngModel)]="address.Street">
                      </div>
                      <div class="form-group col-lg-4" >
                        <label for="exampleInputEmail1">Landmark</label>
                        <input type="type" class="form-control" id="exampleInputEmail1"  name="Landmark{{i}}" [(ngModel)]="address.Landmark">
                      </div>
                      <div class="form-group col-lg-4" >
                        <label for="exampleInputEmail1">Country</label>
                        <input type="type" class="form-control" id="exampleInputEmail1"  name="Country{{i}}" [(ngModel)]="address.Country">
                      </div>
                      <div class="form-group col-lg-4" >
                        <label for="exampleInputEmail1">State</label>
                        <input type="type" class="form-control" id="exampleInputEmail1"  name="State{{i}}" [(ngModel)]="address.State">
                      </div>
                      <div class="form-group col-lg-4" >
                        <label for="exampleInputEmail1">City</label>
                        <input type="type" class="form-control" id="exampleInputEmail1"  name="City{{i}}" [(ngModel)]="address.City">
                      </div>
                      
                      <div class="form-group col-lg-4" >
                        <label for="exampleInputEmail1">Pincode</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"  name="Pincode{{i}}" [(ngModel)]="address.Pincode">
                      </div>
                      
                    </div>
                    <button mat-raised-button (click)="addAddress()" class="fl" >
                      <span class="material-icons">
                        add
                        </span>New Address</button>
                    
                    </div>

                   
                </form>
                </div>
                
            </div>
        </div>
    </div>
</section> -->

