
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex">
                Home <span> > </span><p class="bold">Sexual Wellness</p>
            </div>
        </div>
    </div>
</section>
<section class="sec1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>CATEGORIES</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">                                       
                        <div class="d-flex comm">
                           <div class="updowns"><a routerLink="/health-products/sexual-wellness">Sexual Wellness</a> </div>
                          <span class="angle-right1"> <i class="fa fa-angle-right"  data-toggle="collapse" data-target="#demo"></i></span>
                        </div>
                           <div  id="demo" class="collapse">
                               <div class="updown"><a routerLink="/health-products/condoms">Condoms</a></div>
                           </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-5 family">
                        <h1 class="familyh1">Sexual Wellness</h1>
                        <span class="familyspan">36 Products</span>
                    </div>
                </div>
                <div class="row shopbycat">
                    <div class="col-sm-5">
                        <h1>Shop by category</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="co-sm-3 colordcard">
                        <a routerLink="/health-products/condoms">
                        <div class=" bg-primary">
                            <div class="card-body text-center">
                              <p class="card-text cat">CONDOMS</p>
                            </div>
                          </div>
                        </a>                       
                    </div>                   
                </div>
                <div class="row bestseller">
                    <div class="col-sm-3">
                        <h1>Best Sellers</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm">ADD</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a routerLink="/health-products/product-details">
                            <div class="card">
                                <img class="card-img-top" src="../../../../assets/img/placeholder_product.webp"
                                    alt="Card image">
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">Appolo Life Unisex Adult Diapers(XL)</h4>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="custom-select-sm" id="inputGroupSelect01">
                                                    <option selected>2 Diapers.</option>
                                                    <option value="250Mg">10 Diapers(10/Poly bag)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#"
                                                    class="btn btn-outline-primary btn-sm disabled">Unavailable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>