
ul > div >li {
  margin: 0px 20px !important;
}
.sectiona{
  margin-top: 150px;
}
.ingrp{
  border: 1px solid;
}
.sticky {  }

.fixed {
  position: fixed;
  top:-30px; left:0;
  width: 100%;
  z-index: 9999;
  
}
.sticky1 {  }

.fixed1 {
  position: fixed;
  top:135px; right:0;
  width:33.33%;
  z-index: 999;
  bottom:300px;

}

#exampleFormControlSelect1{
  width: 200px;
  background-color:  #434ea2;
  color: white;border:none
}


.primeclas{
  color: #8a45e6;
}
.liss{
  margin-top: 10px !important;
  color: white ;
}
// .formcdd{
//   width: 200px;
//   background-color: #434ea2;
//   color: white;border:none
// }
.listd{
  display: contents;
}
.sortby{
  margin-right: 5px;
  margin-top: 10px !important;
}
.mapimage{
    // background-size: cover;
    // background-repeat: no-repeat;
    width: auto;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/img/bangalore.webp');
   
}
.asd{
  height: 64px;
}

@media screen and (max-width:767px){
  .side{
    display:block !important;
  }
  .asd{
    display: none !important;
  }
  // .ullist{
  //   display: none;
  // }
  .ullist1{
    // display: block !important; 
    // list-style: none;
    // margin: 10px 0px 0px 0px;
    display: inline !important;
    list-style: none;
    // margin: 10px 0px 0px 0px;
    // height: 42px; 
  }

 ul > .flixin > li{
    margin: 12px 20px !important; 
  }
  .btnbar{
    display: block !important;
    color: white;
    float: right;
  }
  
  .fixed1 {
    position: static;
    top:0px; right:0;
    width:100%;
    z-index: 0;
    bottom:0px;
  
  }
  .don{
    display: none;
  }
  .card-body {
  text-align: center;
}
#exampleFormControlSelect1{
  width: 100% !important;
  background-color: #434ea2;
  color: white;
  border: none;
}
.profcard{
  // top: 32px;
  padding: 20px;
}
.flixin{
  margin: 30px 18px;
}
.headerc {
  background: #10185f;
  margin-top: 103px;
}

.mat-tab-group .mat-primary{
  width: 100% !important;
}
.slidetime{
  margin: 0px !important; 
}
.driven{
  display: flex !important;
  overflow-x: auto !important;
}

}

.side{
  display: none;
}

.btnbar{
  display: none;
  color: white;
  float: right;
}



// .list-group{
//   display: none;
// }


.btn-secondary{
  background:#10185f !important;
}


.btnlocation{
  margin: 4px;
}
.currentLocation{
  width: 10rem;
}
.btnsuccess{
  padding: 2px !important;

}
.sect1{
  margin-top: 120px;
}
.fedup{
  font-size: 12px;
}
.prime{
  color: green;
}
.fa-check-circle{
  color:green;
}
// .ullist{
//   display: inline-flex !important; 
//   list-style: none;
//   margin: 10px 0px 0px 0px;
// }
.inlflx{
  display: inline-flex !important; 
  margin: 10px 0px 0px 0px !important;
  list-style: none;

}
.headerc{
  background: #10185f;
  margin-top: 48px;
}
.firstcard{
  background: white;
  margin-bottom: 40px;
}
.profcard{
  top:30px;
  padding: 20px;
}
.profimage{
  img{
  border-radius: 50%;
}
}
.vprofile{
  text-align: center;
}
.feedbacktext{
  color: black;
}
.bookingside{
  color: green;
}
.availableicon{
  margin:9px;
}
.btnbooking{
  width: 100%;
  line-height: 13px;
}
.nobooktext{
  font-size: 12px;
}
.btnvideoconultation{
  width: 100%;
}
.cardex2{
  // width: 21rem;
  z-index:999;
  margin: 0px 30px;
  // left: 50px;
  border-radius: 5px !important;
}

.gap11{
  padding-left: 0px;
    padding-right: 0px;
}


.grp{
  line-height: 1px;
}
.noslot{
  text-align: center;
  margin-top: 8%;
}
.c-day-session__slot {
  width: 14.285%;
  padding: 4px;
  letter-spacing: normal;
}
.c-day-session__slot span {
  width: 84px;
  border-radius: 3px;
  border: 1px solid #e0e0e4;
  padding: 5px 0;
  display: inline-block;
  text-align: center;
  color: #2d2d32;
  cursor: pointer;
}
.slotsavailable{
  margin-top: 8%;
}
.or{
  margin-top: 5%;
}
.alert{
  font-size: 10px;
}
// .c-concierge-card__pulse, .u-pulse {
//   margin: 4px 20px 0 4px;
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   background: #14bef0;
//   cursor: pointer;
//   -webkit-box-shadow: 0 0 0 rgba(40,190,240,.4);
//   box-shadow: 0 0 0 rgba(40,190,240,.4);
//   -webkit-animation: pulse 1.2s infinite;
//   animation: pulse 1.2s infinite;
//   display: inline-block;
// }
.showtime{
  margin-top:10%;
}
.slidetime{
  margin: 40px;
}
.don{
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 999;
  border-radius: 8px !important;
  background-image: url('../../../assets/img/dweb_bg.webp');
  width: 320px;
  height: 200px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.cosevn{
  padding: 7px 0px 0px 30px;
  >h2{
    color: white;
  }
}
.pmary{
  color: white;
}
.disr{
  img{
    z-index: 9999;
  }
}

.mat-checkbox-background {
  background-color: white !important;
}
.pp{
  margin:0px;
}
.blue{
  color: blue;
}
.bringwhite{
  background-color: white !important;
}
.morningslot{
  display: flex;
}
// .mat-tab-header{
//   left: 147px !important;
// }
// .mat-tab-list {
//   padding-left: 147px !important;
// }
// .mat-tab-label-container {
//   margin-left: 200px !important;
// }