


<section class="se1">
    <div class="container-fluid cont1">
        <div class="row">
            <div class="col-sm-3 mt-30">
                <div class="input-group mb-3">
                    <div class="input-group-prepend" >
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search Doctor Here !" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="searchText" (input)="search()">
                  
                    </div>
                
                </div>
                <div class="card cad1 hidd">
                    <h2 class="hed1">
                        <b>SPECIALITY</b>
                    </h2>
                    <ul class="list-group list-group-flush scroll1">
                        <li class="list-group-item" style="cursor: pointer;" *ngFor="let speciality of specialityList"  [routerLink]="['/doctors', speciality._id]"
                        routerLinkActive="router-link-active">{{speciality.fullName}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 scroll1 aduj1 ">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12" *ngFor="let doctor of doctorList">
                            <div class="card cad2">
                                <div class="card-header" style="padding: 0px;">
                                    <div class="row">
                                        <div class="col-4" >
                                            <img  [routerLink]="['/doctors/doctor_profile/',doctor?.doctorId?._id]" [src]="doctor?.doctorId?.avatar" onerror="this.src='../../../assets/images/doc.jpg'" alt="Avatar" class="img-thumbnail img2">
                                        </div>
                                        <div class="col-8">
                                            <h2 class="hed3"><a [routerLink]="['/doctors/doctor_profile/',doctor?.doctorId?._id]">Dr.
                                                    {{doctor?.doctorId?.firstName}}
                                                    {{doctor?.doctorId?.lastName}}</a></h2>
                                            <p style="margin: 0px;font-size: 12px;"><span *ngFor="let spec of doctor?.doctorId?.specialitie | slice:0:2"> {{spec.fullName}}</span></p>
                                            <p style="margin: 0px;font-size: 12px;">
                                                <b>{{doctor?.doctorId?.registrationYear}}</b> years experience overall</p>
                                            <p><i class="fa fa-thumbs-up text-success"></i> 100%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="padding: 10px;line-height: 10px;font-size: 12px;text-align: left; ">
                                    <div class="col-12">
                                        <p>
                                            <b>{{doctor?.doctorId?.location?.landmark}}
                                            </b>
                                        </p>
                                        <p><b>Rs. {{doctor?.doctorId?.fees}}</b> Consultation Fees</p>
                                        <p> Available Today</p>
                                    </div>
                                </div>
                                <div class="card-footer cdfot">
                                    <button type="button" (click)="onConsultation(doctor?.doctorId?._id)" class="btn btn-outline-primary fsize">Video
                                        Consultation</button>

                                    <a> <button [routerLink]="['/doctors/timeSlot/',doctor?.doctorId?._id]" class="btn btn-primary fsize">Book Appointment
                                        </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12 fweight" *ngIf="doctorList.length==''">
                            No Doctor Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






 