<section class="sect-top">
    <div class="container ">

        <div class="col-sm-12   justify-content-center">

            <!-- <div class="text-center  justify-content-center  d-flex mt-4  ">


                <div class=" d-flex text-head">
                    <div class=" head-forgot">

                        <div>
                            Login
                        </div>
                        <div>
                            Register
                        </div>
                    </div>
                </div>


            </div>

            <hr class="divide-line"> -->
            <div class="row row-forgot ">



                <div class="col-sm-4 mb-5  center">


                    <div class="  no-border  ">
                        <div class=" ">
                            <div class="fortitle">Forgot Password</div>
                        </div>

                        <hr class="divide-line">
                        <div class=" card-body  ">
                            <p class="">Provide us the email id/ mobile of your WhealthyLife account and we will send
                                you an email/otp with instructions to reset your password.</p>
                            <div class="form">
                                <div class="">Email ID/Mobile Number</div>
                                <input class="form-control email-text  mt-3" id="username" name="username"
                                    placeholder="Email id/ Mobile Number" type="text" #val>

                                <button (click)="sub(val)" class="submitBtn btn">Send Me instructions</button>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>



    </div>


</section>