.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.style-desktop-view.style-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 600px;
}

.style-desktop-view .style-d-mt-0,
.style-mt-0 {
  margin-top: 0;
}

.style-center-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-8 {
  width: 66.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.style-header {
  margin: 0;
  font-weight: 700;
  margin-left: 113px;
  margin-top: 30px;
}

.style-add-more-tests {
  color: #ff6f61;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 38px;
  margin-right: 116px;
}

.style-overview-block {
  margin-bottom: 25px;
  margin-left: 60px;
  margin-right: 100px;
}

.col-xs-12 {
  width: 100%;
}

.style-desktop-view1.style-wrapper {
  font-size: 14px;
  border: 1px solid #d4d6d7;
  font-family: Clear Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.style-header-1 {
  padding: 5px 15px 15px;
  background-color: #fffcf8;
}

.style-fs-12,
.style-mobile-view .style-m-fs-12 {
  font-size: 12px;
}

.style-upcase {
  text-transform: uppercase;
}
.style-text-gray {
  color: #757575;
}

.col-lg-9 {
  width: 75%;
}

.style-fs-16 {
  font-size: 16px;
}

.style-body {
  padding: 0 15px 15px;
  background-color: #fff;
}

.style-desktop-view-1 .style-d-flex {
  display: flex;
}

.style-test-summary {
  padding: 15px;
  padding-left: 0;
  margin-left: 15px;
  margin-top: 0;
}

.style-pl-0 {
  padding-left: 0;
}

.style-tat-cart {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
  margin-bottom: 25px;
}

.text-right-order {
  text-align: right;
  margin-left: 382px;
  margin-top: -70px;
}

.style-desktop-view-1 .style-d-font-bold,
.style-font-bold {
  font-weight: 700;
}

.style-test-mrp {
  text-decoration: line-through;
  font-size: 11px;
  text-align: right;
  color: hsla(0, 0%, 46%, 0.7);
}

.style-pl-0 {
  padding-left: 0;
}

.style-fs-12,
.style_-mobile-view .style-m-fs-12 {
  font-size: 12px;
}

.style-pointer {
  cursor: pointer;
}

.style-text-gray {
  color: #757575;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.style-mobile-view .style-m-mt-0,
.style-mt-0 {
  margin-top: 0;
  margin-right: 57px;
  margin-left: -92px;
  padding-right: 55px;
}

.style-desktop-view-1 .style-d-mt-15 {
  margin-top: 15px;
}
.style-desktop-view-1 .style-schedule-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
}

.style-desktop-view-1 .style-consult-a-doctor-banner {
  padding: 5px 45px;
}
.style-warning {
  color: #997b3d;
  background-color: rgba(247, 182, 50, 0.2);
}
.style-info-banner {
  padding: 5px 15px;
  font-size: 12px;
}

.style-mt-0-order {
  margin-top: 0px;
}

.style-desktop-view-1 .style-d-font-bold,
.style-font-bold {
  font-weight: 700;
}

.style-mr-10 {
  margin-right: 10px;
}

.style-lh-2em {
  line-height: 2em;
}

.style-price-block {
  background-color: #f8f8f8;
  margin-top: 36px;
  padding: 20px;
  margin-left: -93px;
  margin-top: 3.5rem;
  margin-right: 114px;
}

.style-wrapper-order-1 {
  font-size: 14px;
  border: 1px solid #d4d6d7;
  background-color: #fff;
  padding: 13px 35px 21px;
  font-family: Clear Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.style-text-blue {
  color: #ff6f61;
}

.style-text-green {
  color: #1aab2a;
}

.style-ml-15 {
  margin-left: 15px;
  margin-top: 15px;
}

.style-fs-12 {
  font-size: 12px;
}
.style-text-gray {
  color: #757575;
}

.style-border-top-summary {
  border-top: 1px solid #d4d6d7;
}
.style-pt-15 {
  padding-top: 15px;
}

.style-button-text {
  border: none;
  background: none;
}
.style-text-gray {
  color: #757575;
}

.style-wrapper-summary {
  font-size: 14px;
  border: 1px solid #d4d6d7;
  background-color: #fff;
  padding: 10px 113px 14px;
  font-family: Clear Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.style-mt-20 {
  margin-top: 20px;
}

.style-fs-12-summary {
  font-size: 12px;
}

.text-right-summary {
  text-align: right;
}

.style-font-bold-summary {
  font-weight: 700;
}

.style-item-summary-1:last-child {
  padding-bottom: 10px;
}
.style-pt-10 {
  padding-top: 10px;
}
.style-background-green {
  background-color: #e4f8e9;
}

.style-text-green-summary {
  color: #1aab2a;
}

.style-desktop-view-summary .style-d-mt-0,
.style-mt-0 {
  margin-top: 0;
  margin-left: -1em;
}

.style-schedule-button {
  width: 200%;
}
.style-info,
.style-info:active,
.style-info:focus,
.style-info:hover {
  background-color: #ff6f61;
  color: #fff;
}
.style-button-summary {
  background-color: #ff6f61;
  color: #fff;
  min-width: 70px;
  margin-left: -80px;
  margin-bottom: 11px;
}

.style-mt-50-summary {
  margin-top: 50px;
}

.style-disclaimer-sum {
  font-size: 10px;
  color: #757575;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
}

.sum-a {
  color: #ff6f61 !important;
}

.style-desktop-view-sum-1 .style-d-mt-15 {
  margin-top: 15px;
}
.style-desktop-view-sum-1 .style-schedule-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
}

.style-schedule-info {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 12px;
  margin-top: 0;
  margin-right: 0;
}

.style-desktop-view-sum-1 .style-details-heading-detail {
  margin-bottom: 8px;
}
.style-desktop-view-sum-1 .style-d-font-bold-sum-1,
.style-font-bold-sum-2 {
  font-weight: 700;
}
.style-details-heading-detail {
  display: inline-block;
  width: 100%;
  font-weight: 600;
}

.style-desktop-view-sum-1 .style-edit-btn {
  width: 100%;
}
.style-sm-sum {
  height: 2rem;
  line-height: 0.5rem;
  font-size: 0.85rem;
  margin-left: -0.3rem;
  width: 100%;
}
.style-info-sum-1,
.style-info-sum-1:active,
.style-info-sum-1:focus,
.style-info-sum-1:hover {
  background-color: #ff6f61;
  color: #fff;
}

.col-lg-4.col-xs-12.style-d-mt-15.style-schedule-wrapper {
  margin-left: 471px;
  margin-top: -85px;
  padding-left: 37px;
}

table.style-schedule-table {
  font-size: 13px;
  margin-bottom: 1rem;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
input.mat-input-element {
  margin-top: 4px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
