<section>
      <div class="row style-mt-0">
        <div class="col-lg-8 col-xs-12">
          <div class="row style-d-mt-0 style-center-align">
            <div class="col-xs-6">
              <h2 class="style-header">
                Order Overview
              </h2>
            </div>
            <div class="col-xs-6">
              <div class="style-add-more-tests ">
                +Add More Tests
              </div>
            </div>
          </div>
          <div>
            <div class="row style-overview-block">
              <div class="col-xs-12">
                <div class="style-desktop-view1 style-wrapper">
                  <div class="style-header-1">
                    <div class="row">
                      <div class="col-lg-12 style-fs-12 style-m-fs-11">
                        <span class="style-text-gray style-upcase">
                          PATHOLOGY tests (1)
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-9 col-xs-8">
                        <h3 class="style-fs-16 style-m-fs-14">
                          <b>
                            1mglabs
                          </b>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="style-body">
                     <div class="row style-mt-0 style-d-flex">
                      <div class="col-xs-12 col-lg-8">
                        <div class="row style-test-summary">
                          <div class="col-lg-9 col-xs-8 style-pl-0 style-test-name style-m-pl-15">
                            <b>
                              Comprehensive Full Body Checkup
                            </b>
                            <div class="style-tat-cart">
                              E-Reports with in 72 hours post sample collection
                            </div>
                          </div>
                          <div class="col-lg-3 col-xs-4 text-right-order">
                            <div class="style-font-bold style-test-price">
                              ₹ 2399
                            </div>
                            <div class="style-test-mrp style-fs-12 style-m-fs-11 style-text-gray">
                              ₹ 10960
                            </div>
                          </div>
                          <div class="col-xs-12 style-pl-0 style-show-remove style-mt-0 style-fs-12 style-m-fs-11 style-m-pl-15">
                            <span class="style-pointer">
                              <span>
                                <span class="style-text-gray">
                                  <i class="fa fa-trash-o"></i>
                                  Remove
                                </span>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                     </div>

                     <div class="col-lg-4 col-xs-12 style-d-mt-15 style-schedule-wrapper">
                      <div class="row style-schedule-info">
                        <div class="">
                          <div class="col-xs-12 style-free-home-sample">
                            <div class="style-details-heading-detail style-d-font-bold-sum-1">
                              <p>
                                HOME SAMPLE COLLECTION
                              </p>
                            </div>
                          </div>
                          <div>
                            <div class="col-xs-12">
                              <table class="style-schedule-table">
                                <tbody>
                                  <tr>
                                    <td>
                                      <!-- <img src="/images/labs/avatar.svg"> -->
                                    </td>
                                    <td>
                                      Ramu
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <!-- <img src="/images/labs/address-icon.svg"> -->
                                    </td>
                                    <td>
                                      Vivanta By Taj, Lobby Level, Gurgaon, Haryana, 122004
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <!-- <img src="/images/labs/calendar.svg"> -->
                                    </td>
                                    <td>
                                      November 20, 2020
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <!-- <img src="/images/labs/clock.svg"> -->
                                    </td>
                                    <td>
                                      09:00 AM - 10:00 AM
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <button class="btn sstyle-edit-btn style-button-edt style-sm-sum style-info-sum-1 ">
                              EDIT
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
                <div class="style-info-banner style-warning style-consult-a-doctor-banner">
                  <div class="row style-mt-0-order">
                    <div class="col-lg-6 style-m-fs-12 style-font-bold">
                      <img src="/src/assets/img/Swati/consultation.svg" class="style-mr-10">
                      Consult a Doctor FREE with this order!
                    </div>
                    <div class="col-lg-6 style-m-fs-12 style-lh-2em">
                      You can consult online once your test report is generated
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12">
          <div class="row style-price-block">
            <div>
              <div class="style-wrapper-order-1 style-desktop-view-order-1">
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-check-circle style-text-blue"></i>
                     You saved
                     <span class="style-text-green">
                       ₹1200
                      </span>
                    </div>
                    <div class="col-xs-12 style-text-gray style-fs-12 style-mt-15  style-m-ml-0">
                      <b>
                        COMP:
                      </b>
                      Flat 50% off
                    </div>
                    <div class="col-xs-12 style-fs-12">
                      <div class="style-mt-15 style-pt-15 style-border-top-summary">
                        <div class="col-xs-3">
                          <button class="button-text style-button-text style-text-gray">
                            REMOVE
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="style-mt-20 style-m-mt-0 style-wrapper-summary">
                <div class="row style-text-gray style-fs-12-summary style-item-summary">
                  <div class="col-xs-6">
                    M.R.P. Total
                  </div>
                  <div class="col-xs-6 text-right-summary">
                    ₹10960
                  </div>
                </div>
                <div class="row style-text-gray style-fs-12-summary style-item-summary">
                  <div class="col-xs-6">
                    Price Discount
                  </div>
                  <div class="col-xs-6 text-right-summary">
                    - ₹8561
                  </div>
                </div>
                <div class="row style-text-gray style-fs-12-summary style-item-summary">
                  <div class="col-xs-6">
                    Coupon Discount
                  </div>
                  <div class="col-xs-6 text-right-summary">
                    - ₹1200
                  </div>
                </div>
                <div class="row text-right-summary style-font-bold-summary">
                  <div class="col-xs-6">
                    Total
                  </div>
                  <div class="col-xs-6 text-right-summary">
                    ₹1199
                  </div>
                </div>
                <div class="row style-background-green style-pt-10 style-item-summary-1">
                  <div class="col-xs-12">
                    Total Savings
                    <span class="style-text-green-summary style-font-bold-summary">
                      ₹9761
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row style-mt-0">
              <button class="btn style-schedule-button style-button-summary style-info ">
                SCHEDULE
              </button>
            </div>
          </div>
      </div>
</section>

