.head-text{
    font-weight: 500;
}


.drop-feedback{
    color: black;
    font-size: 16px;

    margin-top: 10px;
}

.head-text{
    margin-top: 30px; margin-left: 20px;
    // padding-top: 2%;
    // padding-left: 2%;
    font-weight: 500;
}

.mat-sl{
    margin-top: -13px;
        margin-left: 12px;
}

.mat-text-lable{

    float: left;
    color: black;
}

.card-main{
    margin-right:40px;
    height: 100vh;
}