<div class="card shadow mb-4">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-header">
        <div class="col-sm-3 first">
          <h2 class="font-weight-bold text-primary">Pricing Catalogue</h2>
        </div>

        <div class="col-sm-9 third">
        
          <button mat-raised-button class="mat-button  btn  btnadd" (click)="modalopen()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <span class="cdb">No procedure added yet. <a class="anchorbtn" (click)="modalopen()">Add procedure</a></span>
      </div>
    </div>
  </div>
</div>