<div class="c-jumbo__banner mt-80">
    <div class="c-jumbo__header_container">
        <h1 data-qa-id="jumbo-heading" class="c-jumbo__header">Your home for health</h1>
    </div>
    <div data-qa-id="jumbo-sub-heading" class="u-t-center u-t-white u-t-bold c-jumbo__subheading">Find and Book</div>
    <div class="c-jumbo__omni_container">
        <div class="c-omni-wrapper">
            <div id="c-omni-container" class="c-omni-container--desktop">
                <div class="c-omni u-clearfix">
                    <div class="c-omni__wrapper u-clearfix c-omni__wrapper--locality dropdown" role="button">
                        <div class="c-omni-searchbox_wrapper ">
                            <span class="c-omni-searchbox__icon">
                                <i class="icon-ic_location"></i>
                            </span>
                            <input data-qa-id="omni-searchbox-locality"
                                class="c-omni-searchbox c-omni-searchbox--large dropdown-toggle" autocomplete="off"
                                placeholder="Search location" #search><span
                                class="c-omni-searchbox__button-container">
                                <span class="c-omni-searchbox__button c-omni-searchbox__button"
                                    data-qa-id="current_location">
                                    <i class="icon-ic_gps_system"></i>
                                    <span class="c-omni-searchbox__button__text">Detect</span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="c-omni__wrapper u-clearfix c-omni__wrapper--keyword dropdown" role="button">
                        <div class="c-omni-searchbox_wrapper dropdown">
                            <span class="c-omni-searchbox__icon">
                                <i class="icon-ic_search"></i>
                            </span>
                            <div class="">
                                <ng-autocomplete [data]="countries" class="" [searchKeyword]="keyword"
                                    placeHolder="Search doctors, clinics, hospitals etc" (selected)='selectEvent($event)'
                                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                    historyIdentifier="countries" [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>

                            <!-- <input data-qa-id="omni-searchbox-keyword"
                                class="c-omni-searchbox c-omni-searchbox--large dropdown-toggle" autocomplete="off"
                                placeholder="Search doctors, clinics, hospitals, etc." value="" data-toggle="dropdown">
                            <div class="drp">
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/doctors">Dentist</a></li>
                                    <li><a href="#"> Gynecologist/obstetrician</a></li>
                                    <li><a href="#">General Physician</a></li>
                                    <li><a href="#">General Dermatologist</a></li>
                                    <li><a href="#">Ear-nose-throat (ent) Specialist</a></li>
                                    <li><a href="#">Homoeopath</a></li>
                                    <li><a href="#">Ayurveda</a></li>
                                </ul>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-popular-searches">

                <div class="col-md-12">
                    <ul>
                        <li data-qa-id="popular-searches"><strong style="color: #fff;">Popular searches:</strong></li>
                        <li> <a data-qa-id="popular-search-item" href="/bangalore/dermatologist">Dermatologist</a></li>
                        <li><a data-qa-id="popular-search-item" href="/bangalore/pediatrician">Pediatrician</a></li>
                        <li><a data-qa-id="popular-search-item"
                                href="/bangalore/gynecologist-obstetrician">Gynecologist/Obstetrician</a></li>
                        <li><span class="c-popular-searches"><span data-qa-id="others-speciality">Others</span><i
                                    class="icon-ic_down_cheveron"></i></span></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="mydoctors-tab-new">
            <div class="c-my-doctors"></div>
        </div>
    </div>
    <div class="c-icon-list mt-57 book-opp">
        <div class="c-icon-list__list_wrapper"><a data-qa-id="consult-icon" target="_blank" class="c-icon"
                [routerLink]="['./chatnow']" routerLinkActive="router-link-active">
                <span class="icon-set tab-icon c-icon__img"><img src="../../../assets/img/chat-24px.svg"
                        class="img-icon"></span>
                <span>Chat with a doctor</span>
            </a>
            <a data-qa-id="order-icon" target="_blank" class="c-icon" href="/order?utm_source=wealthylife_home">
                <span class="icon-set tab-icon c-icon__img"><img src="../../../assets/img/add_shopping_cart-24px.svg"
                        class="img-icon"></span>
                <span>Order Medicines</span>
            </a>
            <a data-qa-id="drive-icon" target="_blank" class="c-icon"
                href="https://drive.wealthylife.com?utm_source=wealthylife_home">
                <span class="icon-set tab-icon c-icon__img"><img src="../../../assets/img/library_books-24px.svg"
                        class="img-icon"></span>

                <span>View medical records</span>
            </a>
            <a data-qa-id="lab-icon" target="_blank" class="c-icon" href="/tests?utm_source=wealthylife_home">
                <div class="tab-offer" style="position: relative;"><span class="icon-set tab-icon c-icon__img"><img
                            src="../../../assets/img/opacity-24px.svg" class="img-icon"></span>
                    <span class="c-offer-tag u-round-corner u-border-white u-t-bold u-t-white">New</span></div>
                <span>Book
                    test</span>
            </a>
            <a data-qa-id="healthfeed-icon" target="_blank" class="c-icon"
                href="/healthfeed?utm_source=wealthylife_home"><span class="icon-set tab-icon c-icon__img"><img
                        src="../../../assets/img/menu_book-24px.svg" class="img-icon"></span>
                <span>Read articles</span></a><a data-qa-id="providers-icon" target="_blank" class="c-icon"
                href="/providers?utm_source=wealthylife_home">
                <span class="icon-set tab-icon c-icon__img"><img src="../../../assets/img/local_mall-24px.svg"
                        class="img-icon"></span>
                <span>For healthcare providers</span></a></div>
    </div>

    <section class="first-sec book-appoiment">
        <div class="container margin_120_95">

            <div class="row">
                <div class="col-md-6">
                    <div class="c-section__highlights">
                        <div class="c-section__highlights_title">
                            <h2>Safety of your data is our<br>
                                top priority.
                            </h2>
                        </div>
                        <div class="c-list-item">
                            <div>
                                <span class="c-icon__img">
                                    <img src="../../../assets/img/check-24px.svg">
                                </span>
                                <span>Multi-level security checks</span>
                            </div>
                        </div>
                        <div class="c-list-item">
                            <div><span class=""><i class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>Multiple data
                                    backups</span></div>
                        </div>
                        <div class="c-list-item">
                            <div><span class=""><i class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>Stringent data privacy
                                    policies</span></div>
                        </div>
                        <div data-qa-id="security-cta" class="u-m-t-25 u-d-inline-block"><a class="c-button__redirect"
                                href="/company/security" target="_blank">Read more</a></div>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <img src="../../../assets/img/security_1.webp" width="250">
                </div>
            </div>

            <div class="row mt-50 mb-50">
                <div class="col-md-3 col-sm-6 col-xs-12 bookapo-box">
                    <div class="inner-box">
                        <img src="../../../assets/img/security_2.webp">
                        <div class="c-certificate__info">
                            <h3>256-bit</h3>
                            <h5>encryption</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 bookapo-box">
                    <div class="inner-box">
                        <img src="../../../assets/img/security_3.webp">
                        <div class="c-certificate__info">
                            <h3>ISO 27001</h3>
                            <h5>certified</h5>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6 col-xs-12 bookapo-box">
                    <div class="inner-box">
                        <img src="../../../assets/img/security_4.webp">
                        <div class="c-certificate__info">
                            <h3>HIPAA</h3>
                            <h5>compliant data centers</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 bookapo-box">
                    <div class="inner-box">
                        <img src="../../../assets/img/security_5.webp">
                        <div class="c-certificate__info">
                            <h3>DSCI</h3>
                            <h5>member</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-50 mb-50">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Instant appointment with doctors.
                                Guaranteed.
                            </h2>
                            <div class="c-list-item">
                                <div>
                                    <span class="c-icon__img">
                                        <img src="../../../assets/img/check-24px.svg">
                                    </span>
                                    <span>100,000 Verified doctors</span>
                                </div>
                            </div>
                            <div class="c-list-item">
                                <div><span class="c-icon__img"><img src="../../../assets/img/check-24px.svg"></span>
                                    <span>3M+ Patient recommendations</span></div>
                            </div>
                            <div class="c-list-item">
                                <div><span class="c-icon__img"><img src="../../../assets/img/check-24px.svg"></span>
                                    <span>25M Patients/year</span></div>
                            </div>
                            <div data-qa-id="book-cta" class="u-m-t-25 u-d-inline-block"><a class="c-button__redirect"
                                    href="/bangalore/doctors" target="_blank">Find me the right doctor</a>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="c-testimonial-list">
                                <div class="slick-slider slick-initialized" dir="ltr"><span
                                        class="c-testimonial-list__prev_arrow c-testimonial-list__arrow c-icon__img">
                                        <img class="prev-arrow" src="../../../assets/img/arrow_back_ios-24px.svg" />
                                    </span>
                                    <div class="slick-list">
                                        <owl-carousel-o class="slick-track" [options]="customOptionsOne">
                                            <ng-template carouselSlide data-index="-1" tabindex="-1"
                                                class="slick-slide slick-cloned" style="width: 420px;">
                                                <div>
                                                    <div class="u-t-grey">
                                                        <div class="c-testimonial__review_star u-m-b-10 u-t-green">
                                                            <i class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i>
                                                        </div>
                                                        <div class="c-testimonial__review_text u-t-regular">I had severe
                                                            pain in
                                                            chest as well blood in cough. I searched through a lot of
                                                            pulmonologists based on rankings and feedbacks and finally
                                                            settled
                                                            to consult Dr Indu Bubna. She quickly diagnosed my disease
                                                            as
                                                            pulmonary embolism and I was admitted to ICU. Now its all
                                                            fine.
                                                            If i
                                                            would have gotten late then I wouldn't be writing this.
                                                            Thanks
                                                            Wealthy Life!</div>
                                                        <div><span class="icon-ic_user_system icon-user"></span><span
                                                                class="u-t-regular u-inline-middle u-m-l-10">Anuupam
                                                                Purohit</span></div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </owl-carousel-o>
                                    </div>
                                    <span class="c-testimonial-list__next_arrow c-testimonial-list__arrow c-icon__img">
                                        <img class="next-arrow" src="../../../assets/img/arrow_forward_ios-24px.svg">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="rh5v-DefaultPlayer_component ">
                        <video class="rh5v-DefaultPlayer_video"
                            poster="../../../assets/img/book.875ca26a3c4283c777660377e421e99b.png" loading="false"
                            autoplay="" loop="" width="250" height="480">
                            <source src="../../../assets/img/appointment.700ce682eaec91bf93b6574cb8f09cd0.webm"
                                type="video/webm"></video>
                    </div>
                </div>
            </div>


            <div class="row mt-50 mb-50">
                <div class="col-md-6">
                    <div class="rh5v-DefaultPlayer_component ">
                        <video class="rh5v-DefaultPlayer_video"
                            poster="../../../assets/img/consult.15f1b416f3f4c9383b780757d7293d00.png" loading="false"
                            autoplay="" loop="" width="250" height="480">
                            <source src="../../../assets/img/consult.099446892618434cc8a038d7844c4380.webm"
                                type="video/webm">
                        </video>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="u-d-inline">Skip the waiting room. Chat with a doctor</h2>
                            <div class="c-list-item">
                                <div><span class="c-list-item__icon c-icon__img"><img
                                            src="../../../assets/img/check-24px.svg"></span><span>Fees starting at
                                    </span><span class="u-t-bold">₹99</span></div>
                            </div>
                            <div class="c-list-item">
                                <div><span class="c-list-item__icon c-icon__img"><img
                                            src="../../../assets/img/check-24px.svg"></span><span>Verified doctors
                                        respond in
                                    </span><span class="u-t-bold">5 minutes</span></div>
                            </div>
                            <div class="c-list-item">
                                <div><span class="c-list-item__icon c-icon__img"><img
                                            src="../../../assets/img/check-24px.svg"></span><span class="u-t-bold">100%
                                    </span><span>Private and confidential</span></div>
                            </div>
                            <div data-qa-id="consult-cta" class="u-m-t-25 u-d-inline-block"><a
                                    class="c-button__redirect"
                                    href="/consult?product=fabric&amp;amp;attribution=Home_Details_Section"
                                    target="_blank">Chat
                                    now</a>
                            </div>

                            <span class="c-consult__doctors_online u-t-grey"><span
                                    class="c-consult__doctors_pulse u-t-pulse left"></span><span
                                    class="u-t-bold">41623</span><span> doctors online</span>
                            </span>
                        </div>

                        <div class="col-md-12">
                            <div class="c-testimonial-list">
                                <div class="slick-slider slick-initialized" dir="ltr">
                                    <span class="c-testimonial-list__prev_arrow c-testimonial-list__arrow c-icon__img">
                                        <img class="prev-arrow" src="../../../assets/img/arrow_back_ios-24px.svg">
                                    </span>
                                    <div class="slick-list">
                                        <owl-carousel-o class="slick-track" [options]="customOptionsOne">
                                            <ng-template carouselSlide data-index="-1" tabindex="-1"
                                                class="slick-slide slick-cloned" style="width: 420px;">
                                                <div>
                                                    <div class="u-t-grey">
                                                        <div class="c-testimonial__review_star u-m-b-10 u-t-green">
                                                            <i class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i>
                                                        </div>
                                                        <div class="c-testimonial__review_text u-t-regular">I had severe
                                                            pain in
                                                            chest as well blood in cough. I searched through a lot of
                                                            pulmonologists based on rankings and feedbacks and finally
                                                            settled
                                                            to consult Dr Indu Bubna. She quickly diagnosed my disease
                                                            as
                                                            pulmonary embolism and I was admitted to ICU. Now its all
                                                            fine.
                                                            If i
                                                            would have gotten late then I wouldn't be writing this.
                                                            Thanks
                                                            Wealthy Life!</div>
                                                        <div><span class="icon-ic_user_system icon-user"></span><span
                                                                class="u-t-regular u-inline-middle u-m-l-10">Anuupam
                                                                Purohit</span></div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </owl-carousel-o>
                                    </div>
                                    <span class="c-testimonial-list__next_arrow c-testimonial-list__arrow c-icon__img">
                                        <img class="next-arrow" src="../../../assets/img/arrow_forward_ios-24px.svg">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-50 mb-50">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="u-d-inline">Get all your medicines. Everytime. On time.</h2>
                            <div class="c-list-item">
                                <div>
                                    <span class="c-list-item__icon c-icon__img"><img
                                            src="../../../assets/img/check-24px.svg"></span>
                                    <span>Guaranteed
                                        availability</span></div>
                            </div>
                            <div class="c-list-item">
                                <div>
                                    <span class="c-list-item__icon c-icon__img">
                                        <img src="../../../assets/img/check-24px.svg"></span>

                                    <span>Over </span><span class="u-t-bold">130,000+ </span><span> genuine
                                        medicines</span>
                                </div>
                            </div>
                            <div class="c-list-item">
                                <div>
                                    <span class="c-list-item__icon c-icon__img"><img
                                            src="../../../assets/img/check-24px.svg"></span>
                                    <span>Home delivery in
                                    </span><span class="u-t-bold">24hrs </span></div>
                            </div>
                            <div>
                                <div data-qa-id="order-cta" class="u-m-t-25 u-d-inline-block"><a
                                        class="c-button__redirect" href="/order?utm_source=wealthylife_home"
                                        target="_blank">Order Medicines</a></div>
                                <div class="c-order__last_order_info">
                                    <div class="u-t-circle">
                                        <div class="u-t-triangle"></div>
                                    </div><span class="c-order__last_order_text">Last order delivered<span
                                            class="u-t-bold">
                                            few
                                            seconds </span>ago in C V Raman Nagar, Bengaluru</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="c-testimonial-list">
                                <div class="slick-slider slick-initialized" dir="ltr">
                                    <span class="c-testimonial-list__prev_arrow c-testimonial-list__arrow c-icon__img">
                                        <img class="prev-arrow" src="../../../assets/img/arrow_back_ios-24px.svg">
                                    </span>
                                    <div class="slick-list">
                                        <owl-carousel-o class="slick-track" [options]="customOptionsOne">
                                            <ng-template carouselSlide data-index="-1" tabindex="-1"
                                                class="slick-slide slick-cloned" style="width: 420px;">
                                                <div>
                                                    <div class="u-t-grey">
                                                        <div class="c-testimonial__review_star u-m-b-10 u-t-green">
                                                            <i class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i><i
                                                                class="icon-ic_star_solid icon-star"></i>
                                                        </div>
                                                        <div class="c-testimonial__review_text u-t-regular">I had severe
                                                            pain in
                                                            chest as well blood in cough. I searched through a lot of
                                                            pulmonologists based on rankings and feedbacks and finally
                                                            settled
                                                            to consult Dr Indu Bubna. She quickly diagnosed my disease
                                                            as
                                                            pulmonary embolism and I was admitted to ICU. Now its all
                                                            fine.
                                                            If i
                                                            would have gotten late then I wouldn't be writing this.
                                                            Thanks
                                                            Wealthy Life!</div>
                                                        <div><span class="icon-ic_user_system icon-user"></span><span
                                                                class="u-t-regular u-inline-middle u-m-l-10">Anuupam
                                                                Purohit</span></div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </owl-carousel-o>
                                    </div>
                                    <span class="c-testimonial-list__next_arrow c-testimonial-list__arrow c-icon__img">
                                        <img class="next-arrow" src="../../../assets/img/arrow_forward_ios-24px.svg">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="c-section__right"><img style="max-width: 100%;"
                            src="../../../assets/img/order.c84fc07b0be8a7e8d4db432eb4e606a2.svg">
                    </div>
                </div>
            </div>


            <div class="row mt-50 mb-50">
                <div class="col-md-6">
                    <div class="c-section__right">
                        <img style="max-width: 100%;"
                            src="../../../assets/img/record.bfc5241f9b15340a32c98eb360d1005a.svg">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="c-section__highlights">
                        <div class="c-section__highlights_title">
                            <h2 class="u-d-inline">All your medical records</h2>
                            <h2 class="u-t-bold">In one secure app.</h2>
                        </div>
                        <div class="c-list-item">
                            <div> <span class="c-list-item__icon "><i
                                        class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>256-bit end to end
                                    encryption</span></div>
                        </div>
                        <div class="c-list-item">
                            <div> <span class="c-list-item__icon "><i
                                        class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>Records are accessible
                                    only
                                    by you</span></div>
                        </div>
                        <div class="c-list-item">
                            <div> <span class="c-list-item__icon "><i
                                        class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>Access your records
                                    across</span><span class="u-t-bold"> 8000+ </span><span>centers</span></div>
                        </div>
                        <div data-qa-id="record-cta" class="u-m-t-25 u-d-inline-block"><a class="c-button__redirect"
                                href="//drive.wealthylife.com/login?utm_source=wealthylife_home" target="_blank">Find
                                out more</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row mt-80">
                <div class="col-md-6">
                    <div class="c-section__highlights">
                        <div class="c-section__highlights_title">
                            <h2 class="u-d-inline">Leading Healthcare Providers.</h2>
                            <h2 class="u-t-bold">Trust us for Business</h2>
                        </div>
                        <div class="c-list-item">
                            <div> <span class="c-list-item__icon "><i
                                        class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>Get seen by
                                </span><span class="u-t-bold">25M+ </span><span>patients on wealthylife.com</span></div>
                        </div>
                        <div class="c-list-item">
                            <div> <span class="c-list-item__icon "><i
                                        class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>The most advanced
                                    software
                                    for clinics and hospitals</span></div>
                        </div>
                        <div class="c-list-item">
                            <div> <span class="c-list-item__icon "><i
                                        class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                <span>State of the art
                                    business
                                    analytics for enterprises</span></div>
                        </div>
                        <div data-qa-id="provider-cta" class="u-m-t-25 u-d-inline-block"><a class="c-button__redirect"
                                href="/providers?utm_source=wealthylife_home" target="_blank">Learn more</a></div>
                        <div class="c-testimonial-list">
                            <div class="slick-slider slick-initialized">
                                <div class="slick-list">
                                    <owl-carousel-o class="slick-track" [options]="customOptionsOne">
                                        <ng-template carouselSlide data-index="-1" tabindex="-1"
                                            class="slick-slide slick-cloned" style="width: 420px;">
                                            <div>
                                                <div class="u-t-grey">
                                                    <div class="c-testimonial__review_star u-m-b-10 u-t-green">
                                                        <i class="icon-ic_star_solid icon-star"></i><i
                                                            class="icon-ic_star_solid icon-star"></i><i
                                                            class="icon-ic_star_solid icon-star"></i><i
                                                            class="icon-ic_star_solid icon-star"></i><i
                                                            class="icon-ic_star_solid icon-star"></i>
                                                    </div>
                                                    <div class="c-testimonial__review_text u-t-regular">I had severe
                                                        pain in
                                                        chest as well blood in cough. I searched through a lot of
                                                        pulmonologists based on rankings and feedbacks and finally
                                                        settled
                                                        to consult Dr Indu Bubna. She quickly diagnosed my disease
                                                        as
                                                        pulmonary embolism and I was admitted to ICU. Now its all
                                                        fine.
                                                        If i
                                                        would have gotten late then I wouldn't be writing this.
                                                        Thanks
                                                        Wealthy Life!</div>
                                                    <div><span class="icon-ic_user_system icon-user"></span><span
                                                            class="u-t-regular u-inline-middle u-m-l-10">Anuupam
                                                            Purohit</span></div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </owl-carousel-o>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div><img class="u-w-100" src="../../../assets/img/appoi-doctor.png">
                    </div>
                </div>
            </div>

            <div class="row mt-80 mb-50">
                <div class="col-md-6">
                    <div class="c-section__right">
                        <img class="c-download__section-pic" src="../../../assets/img/download.webp">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="c-section__highlights">
                        <div class="c-section__highlights_title">
                            <h2 class="u-d-inline u-t-bold">Download the Wealthy Life app</h2>
                        </div>
                        <div class="c-download__list">
                            <div class="c-list-item">
                                <div> <span class="c-list-item__icon "><i _ngcontent-avg-c77=""
                                            class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                    <span>Book appointments
                                        and
                                        lab tests</span></div>
                            </div>
                            <div class="c-list-item">
                                <div> <span class="c-list-item__icon "><i _ngcontent-avg-c77=""
                                            class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                    <span>Order
                                        medicines</span>
                                </div>
                            </div>
                            <div class="c-list-item">
                                <div> <span class="c-list-item__icon "><i _ngcontent-avg-c77=""
                                            class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                    <span>Consult doctors
                                        online</span></div>
                            </div>
                            <div class="c-list-item">
                                <div> <span class="c-list-item__icon "><i _ngcontent-avg-c77=""
                                            class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                    <span>Set medicine
                                        reminders</span></div>
                            </div>
                            <div class="c-list-item">
                                <div> <span class="c-list-item__icon "><i _ngcontent-avg-c77=""
                                            class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                    <span>Store health
                                        records</span></div>
                            </div>
                            <div class="c-list-item">
                                <div> <span class="c-list-item__icon "><i _ngcontent-avg-c77=""
                                            class="c-list-item__icon icon-ic_done_open_system"></i></span>
                                    <span>Read health
                                        tips</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




        </div>
    </section>








    <!-- <div class="c-full-width">
        <div class="c-section__container u-fill-white">
            <div class="c-section__content">
                <div class="u-w-50 u-f-left">
                    <div class="c-section__highlights">
                       
                    </div>
                </div>
            </div>
            <div class="customer-logo-footer"><a href="/company/press" target="_blank"
                    class="c-media-list u-f-left fortune "></a><a href="/company/press" target="_blank"
                    class="c-media-list u-f-left tech-crunch "></a><a href="/company/press" target="_blank"
                    class="c-media-list u-f-left forbes "></a><a href="/company/press" target="_blank"
                    class="c-media-list u-f-left economic "></a><a href="/company/press" target="_blank"
                    class="c-media-list u-f-left wall-street  india-4"></a><a href="/company/press" target="_blank"
                    class="c-media-list u-f-left times  india-5"></a></div>
        </div>
    </div> -->




    <div class="c-full-width">
        <div class="c-section__container u-fill-white">
            <div class="c-section__content">
                <div class="u-w-50 u-f-left">

                </div>
                <div class="u-w-50 u-f-right">

                </div>
            </div>
        </div>
    </div>
    <!-- 

    <owl-carousel-o [options]="customOptions1">
        <ng-template carouselSlide> -->