<section>
  <div class="container-fluid" style="padding: 0px; min-height: 660px;">
    <div>
      <div class="container style-wrapper-pay style-desktop-view-pay">
        <div>
          <div class="style-container-pay style-container-flex-pay">
            <div class="style-main-pay">
              <div class="style-main-shadow-pay style-container-flex-pay style-full-height-pay">
                <div class="style-sidebar-pay style-container-payment">
                  <div class="style-menu-item-pay style-active-pay style-container-payment-pay">
                    <div class="style-icon-pay style-icon-payment">
                      <img src="https://res.cloudinary.com/du8msdgbj/image/upload/q_auto,f_auto/v1530172217/marketing/vvew3rcvwfjrhknifj1z.png">
                    </div>
                    <div class="style-textpay style-text-paym">
                      WALLETS
                    </div>
                  </div>
                  <div class="style-menu-item-pay style-container-payment-pay">
                    <div class="style-icon-pay style-icon-payment">
                      <img src="https://res.cloudinary.com/du8msdgbj/image/upload/q_auto,f_auto/v1581576219/marketing/p0w0w4crcgcthkom8j23.png">
                    </div>
                    <div class="style-textpay style-text-paym">
                      UPI
                    </div>
                  </div>
                  <div class="style-menu-item-pay style-container-payment-pay">
                    <div class="style-icon-pay style-icon-payment">
                      <img src="https://res.cloudinary.com/du8msdgbj/image/upload/q_auto,f_auto/v1530172186/marketing/p45zk16fua8dmxany3up.png">
                    </div>
                    <div class="style-textpay style-text-paym">
                      CARDS
                    </div>
                  </div>
                  <div class="style-menu-item-pay style-container-payment-pay">
                    <div class="style-icon-pay style-icon-payment">
                      <img src="https://res.cloudinary.com/du8msdgbj/image/upload/q_auto,f_auto/v1530172229/marketing/bsnk5fvtd4b6xffsvjdm.png">
                    </div>
                    <div class="style-textpay style-text-paym">
                      NET BANKING
                    </div>
                  </div>
                  <div class="style-menu-item-pay style-container-payment-pay">
                    <div class="style-icon-pay style-icon-payment">
                      <img src="/src/assets/img/Swati/paypal-logo.png">
                    </div>
                    <div class="style-textpay style-text-paym">
                      PAYPAL
                    </div>
                  </div>
                  <div class="style-menu-item-pay style-container-payment-pay">
                    <div class="style-icon-pay style-icon-payment">
                      <img src="https://res.cloudinary.com/du8msdgbj/image/upload/q_auto,f_auto/v1530172202/marketing/pyzcsicqsnwawi4yrpo7.png">
                    </div>
                    <div class="style-textpay style-text-paym">
                      PAY LATER
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="style-container-wallets">
                <app-wallets></app-wallets>
              </div> -->

            </div>

            <div class="style-preview-payment">
              <div class="style-wrapper-payment style-mb-20-pay">
                <div class="row style-text-gray-pay style-fs-12-pay style-item-payment">
                  <div class="col-xs-6">
                    M.R.P. Total
                  </div>
                  <div class="col-xs-6 text-right-payment">
                    ₹10960
                  </div>
                </div>
                <div class="row style-text-gray-pay style-fs-12-pay style-item-payment">
                  <div class="col-xs-6">
                    Price Discount
                  </div>
                  <div class="col-xs-6 text-right-payment">
                    - ₹8561
                  </div>
                </div>
                <div class="row style-text-gray-pay style-fs-12-PAY style-item-PAYMENT">
                  <div class="col-xs-6">
                    Coupon Discount
                  </div>
                  <div class="col-xs-6 text-right-payment">
                    - ₹1200
                  </div>
                </div>
                <div class="row style-text-gray-pay style-fs-12-pay style-item-payment">
                  <div class="col-xs-6">
                    Collection Charge
                  </div>
                  <div class="col-xs-6 text-right-payment">
                    ₹10
                  </div>
                </div>
                <div class="row style-text-gray-pay style-fs-12-pay style-item-payment">
                  <div class="col-xs-8">
                    1mgLabs Certified Phlebotomist
                  </div>
                  <div class="col-xs-4 text-right-payment">
                    ₹99</div></div><div class="row style-item-payment style-font-bold-pay">
                      <div class="col-xs-6">
                        Amount Payable
                      </div>
                      <div class="col-xs-6 text-right-payment">
                        ₹1308
                      </div>
                    </div>
                    <div class="row style-background-green-pay style-pt-10pay style-item-payment">
                      <div class="col-xs-12">
                        Total Savings
                        <span class="style-text-green-payment style-font-bold-payment">
                          ₹9761
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="style-container-payment">
                    <button class="btn style-button-payment style-disabled-pay style-button-pay style-primary-pay ">
                      PLACE ORDER
                    </button>
                  </div>
                </div>
          </div>

          <div class="row  style-pay-mt-50-term style-m-mt-0-pay-term">
            <div class="col-lg-8 col-xs-12">
              <div class="col-xs-12 style-disclaimer-pay-term">
                1mg is a technology platform to facilitate transaction of business.
                The products and services are offered for sale by the sellers.
                The user authorizes the delivery personel to be his agent for delivery of the goods.
                For details read
                <a target="" href="">terms and conditions</a>
              </div>
            </div>
            <div class="col-lg-4 col-xs-12"><div class="col-xs-12 style-disclaimer-pay-term">
              *1mgCash will be credited 7 days after your complete order is delivered in case of Products and in case of
              Lab Services 1mgCash will be credited within 24 hours from the time of generation of test report.
              1mgCash will not be credited in case a return request is initiated for the order.
              <br>**Coupon Discount value may change if the total order value changes.
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>
