.bg {
  background-color: #dff8f6;
}

.textcol {
  color: #14aa9b;
}

.btn {
  border-radius: 0px;

  border-color: #c6d5e5;
}

.butsetr {
  position: absolute;
  right: 0;
}

.form-control-phone {
  width: 58% !important;
}
/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  // color: #f0fff3;
  // background-color: #f6c23e;
  position: absolute;
  right: 0px;
}

@media (max-width: 576px) {
  .paddingonxs {
    padding-right: 30px;
  }
  .mat-raised-button.mat-success,
  .mat-flat-button.mat-success,
  .mat-fab.mat-success,
  .mat-mini-fab.mat-success {
    color: #f0fff3;
    background-color: #f6c23e;
    position: absolute;
    right: 30px;
  }
}
.mat-form-field {
  margin-top: 16px;
}

.fa-lightbulb-o:before {
  content: "\f0eb";
  font-family: "FontAwesome";
}
