.bg {
    background-color: #dff8f6;
}

.textcol {
    color: #14aa9b;
}

.btn {
    font-size: 1.50rem !important;
}

.butsetr {
    position: absolute;
    right: 0;
}

.form-control-phone {
    width: 58% !important;
}