<section class="bg-white p-sm-3">
    <div class="progress ">
        <div class="progress-bar " role="progressbar" style="width: 33%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <div class="col-md-5 col-lg-3 offset-md-2">
            <div class=" h1 font-weight-bold text-dark pb-5">Map Location
                <p class="mb-2 " style="font-size: 15px;"> Mr. madhav vyas</p>

            </div>

            <form>

                <div class="form-group">
                    <label for="RegistrationNumber">Phone number</label>
                    <div class="row">
                        <div class="col-sm-9"> <input type="text" class="form-control " id="RegistrationNumber" placeholder="1234 "></div>
                        <div class=" col-sm-3">
                            <button type="button" class="btn btn-outline-dark pr-5 pl-5 h3 mt-0 pt-2 pb-3">  Edit</button>

                        </div>

                    </div>
                </div>
                <p>Note: Patient calls will be directed to this number. You can update it later also.
                </p>

                <hr>
                <div class="form-group">
                    <label for="RegistrationNumber">Email Address</label>
                    <input type="text" class="form-control" id="RegistrationNumber" placeholder="1234 ">
                </div>
                <div class="form-group">
                    <label for="RegistrationNumber">Street address</label>
                    <input type="text" class="form-control" id="RegistrationNumber" placeholder="1234 ">
                </div>
                <p>Drag n drop the pin to your location:</p>


                <hr class="mt-5 mb-5">
                <div class="row">
                    <button type="button" class="btn btn-outline-dark px-5 h3" [routerLink]="['/Doctor/Profile/Connect_clinic']" routerLinkActive="router-link-active"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                    <button type="button" class="btn btn-warning px-5 h3 butsetr" [routerLink]="['/Doctor/Profile']" routerLinkActive="router-link-active">Contnue</button></div>


            </form>
        </div>
        <div class="col-md-3 col-lg-4 offset-md-1">
            <div class=" d-none d-sm-none d-md-block col-md-12 col-lg-8 mt-5 ml-5 pr-0 pl-0" style="border: 1px solid #14aa9b;">

                <div class=" bg p-4 textcol">
                    <div><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i> </div>
                    <p class="stext font-weight-bold">
                        This will help your patients to reach your establishment easily.</p>

                </div>
            </div>
        </div>

    </div>
</section>