<section>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step>
            <ng-template matStepLabel> Identity Proof</ng-template>

            <section class="bg-white p-sm-3">
                <div class="row">
                    <div class="col-md-5 col-lg-3 offset-md-2">
                        <div>
                            <p class="mb-2" style="font-size: 15px;">Mr. madhav vyas</p>
                        </div>

                        <div class="row">
                            <div class="border bgh m-auto">
                                <button type="button" class="btn border bg-white px-5 h3">
                                    Upload
                                </button>
                            </div>
                            <p class="pt-2" style="font-size: 12px;">
                                Please upload your identity proof to ensure that the ownership
                                of your profile remains with only you.
                            </p>
                            <p>Acceptable documents</p>
                        </div>
                        <div class="row">
                            <ul class="inside1">
                                <li>Aadhar Card</li>
                                <li>Driving License</li>
                                <li>Voter Card</li>
                                <li>Any other Govt. ID</li>
                            </ul>
                        </div>
                        <hr />
                        <div class="row">
                            <p>Extra proofs required to be uploaded:</p>
                        </div>
                        <div class="row">
                            <ul>
                                <li>1. Medical Registration Proof</li>
                                <li>2. Establishment Proof</li>
                            </ul>
                        </div>
                        <hr />

                        <div class="row">
                            <button mat-raised-button [routerLink]="['/Doctor/Profile']"
                                routerLinkActive="router-link-active">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                            </button>
                            <button mat-raised-button matStepperNext color="success">
                                Contnue
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-5 offset-md-1">
                        <div class="d-none d-sm-none d-md-block col-md-12 col-lg-8 mt-5 ml-5 pr-0 pl-0"
                            style="border: 1px solid #14aa9b;">
                            <div class="bg p-4 textcol">
                                <div>
                                    <i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                                </div>
                                <p class="stext font-weight-bold">
                                    2.5M patients are looking for a doctor on Practo. Verify your
                                    credentials and reach out to them
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Registration</ng-template>
            <app-registration-proof></app-registration-proof>
            <div></div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Establishment Proof</ng-template>
            <app-clinic-proof></app-clinic-proof>
        </mat-step>
    </mat-horizontal-stepper>
</section>