.bg {
    background-color: #dff8f6;
}

.textcol {
    color: #14aa9b;
}

.btn {
    font-size: 1.50rem !important;
}

.butsetr {
    position: absolute;
    right: 0;
}

.bgh {
    width: 100%;
    height: 150px;
    text-align: center;
    position: relative;
    background-color: #ccced424;
}

.inside1 {
    list-style: inside;
}