<div mat-dialog-title class="border-bottom">Add Doctor</div>
<mat-dialog-content class="mat-typography" id="scrollbar">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="cols" for="Name">Name<span class="redstar">*</span></label>
                    <input type="text" class="form-control" id="Name" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="cols" for="Mobile">Mobile Number</label>
                    <input type="text" class="form-control" id="Mobile" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="cols" for="email">Email ID</label>
                    <input type="email" class="form-control" id="email" />
                </div>
            </div>
        </div>
        <div class="row">
            <span class="head">WealthyLife Access </span>
        </div>
        <div class="row">
            <div class="col-sm-6 rad">
                <mat-radio-group>
                    <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
                    <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
                    <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
                </mat-radio-group>
                <div class="form-check">
                    <label class="form-label chk">
                        <input type="radio" class="form-input" name="optradio" />
                        Administrator (Complete access)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-label chk">
                        <input type="radio" class="form-input" name="optradio" />Consultant (No access to
                        Billing and Reports,
                        limited access
                        to Appointments, EMR)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-label chk">
                        <input type="radio" class="form-input" name="optradio" />None
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="head">Notifications </span>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="six wide body-normal-grey ng-scope">Type</th>
                        <th class="two wide body-normal-grey ng-scope">SMS</th>
                        <th class="two wide body-normal-grey ng-scope">EMAIL</th>
                        <th></th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="simp">This doctor</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="simp">Daily Schedule</td>
                        <td>
                            <div class="form-check fchk">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="" />
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check fchk">
                                <label class="form-label">
                                    <input type="checkbox" class="form-input" value="" />
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check fchk">
                                <label class="form-label">
                                    <input type="checkbox" class="form-input" value="" disabled />Enable
                                    Whatsapp Notification
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="simp">Appointments Confirmation</td>
                        <td>
                            <div class="form-check fchk">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="" />
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check fchk">
                                <label class="form-label">
                                    <input type="checkbox" class="form-input" value="" />
                                </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="simp">All doctors</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="simp">Daily Schedule</td>
                        <td>
                            <div class="form-check fchk">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="" />
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check fchk">
                                <label class="form-label">
                                    <mat-checkbox></mat-checkbox>
                                </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="border-top">
    <button mat-button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>