<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 sidimg">
                        <img src="../assets/img/illustration.webp">
                    </div>
                    <div class="col-sm-6 box">
                        <div class="rightRegisterForm">
                            <form id="phone_number_login_form" class="form-horizontal" method="POST" action="/fill_phone_number?view_type=normal&amp;intent=accounts">
                              <div class="outer-box center-align">
                                
                                <div class="box-header">Number verification</div>
                                
                                <div class="outer-space">
                              <p class="no-bottom-margin">Enter your mobile number</p>
                              <div class="padding-top-8">
                                  <div class="select-box"><select class="countryCode" id="country" name="country"><option selected="" value="IN">+91(IND)</option><option value="SG">+65(SGP)</option><option value="PH">+63(PHL)</option><option value="MY">+60(MYS)</option><option value="ID">+62(IDN)</option><option value="BR">+55(BRA)</option><option value="MX">+52(MEX)</option><option value="AR">+54(ARG)</option><option value="CL">+56(CHL)</option><option value="VN">+84(VNM)</option><option value="AE">+971(UAE)</option><option value="TZ">+255(TZA)</option><option value="BH">+973(BH)</option><option value="SA">+966(SA)</option><option value="US">+1(USA)</option></select></div>
                                  <div class="mobile-number">
                                    <input autofocus="" class="form-control email-text" id="mobile" name="mobile" placeholder="Mobile Number" type="tel" value="">
                          
                                  </div>
                             </div>
                             <span id="mobileErrorBlock" class="error-block display-block">
                            
                          </span>
                             <div style="clear:both;"></div>
                             <p class="no-bottom-margin textMuted padding-top-8">We will send you an OTP code via SMS.</p>
                             <input id="csrf_token" name="csrf_token" type="hidden" value="IjU1ZTA5YjA5OTY3YmM2MWM5NmQ1YzM4NjY3MTVmYmQ3NWNhNDYyOWUi.XqwcMQ.pX1hhIdfljKe-98VEXkquO1L8CY">
                              <input id="uuid" name="uuid" type="hidden" value="">
                             <input id="next" name="next" type="hidden" value="">
                              <input id="intent" name="intent" type="hidden" value="accounts">
                              <input id="view_type" name="view_type" type="hidden" value="normal">
                                <div class="padding-top-20">
                                  <input type="submit" class="btn  btn-lg common-btn wealthylife-btn" id="sendOtp" value="Send OTP">
                                </div>
                                <div class="padding-top-20">
                                  <button type="button" class="btn btn-outline-primary" routerLink="/edit-profile" >Cancel</button>
                                </div>
                           </div>
                           </div>
                          </form>
                          </div> 
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>