<section>
    <div class="container">
        <div class="row " style="background-color: #2b3d8d;">
            <div class="col-sm-12 col-md-6 p-5">
                <h1 class="text-white font-weight-bold sizefont pt-5 ">Make your practice visible to millions of users
                    on whealthylife.in
                </h1>
                <p class="secondheading text-white">
                    WhealthyLife Reach is an ad slot for clinics and hospitals for getting better visibility on
                    whealthylife.in.
                </p>
                <div class="row" style="margin-top: 28px">
                    <button class="sign-up-now-button get-in-touch-btn reach-btn-orange">Free Demo</button>
                    <button class="tell-me-more-button buy-practo-reach reach-btn-orange">Buy WhealthyLife
                        Reach</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-5">
                <i class="provider_illustration reach i1 p-5" alt="WhealthyLife Reach" title="WhealthyLife Reach" style="
    COLOR: #f0f0f5;
"></i>
            </div>
        </div>
        <div class="row border" style="background-color: #f0f0f5; ">
            <div class="col-sm-12 col-md-6 p-5">
                <div class="m-auto pt-5" style="
                height: 300px;">
                    <video data-keepplaying="" loop="true" class="" width="420" height="280" autoplay="">
                        <source src="https://www.practo.com/bundles/practopractoapp/images/booklet-animation.mp4"
                            type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-5">
                <h1 class="text-dark font-weight-bold sizefont pt-5 ">Here’s how your WhealthyLife Reach ad will look
                </h1>
                <p class="secondheading text-dark">Here’s how your WhealthyLife Reach ad will look Your WhealthyLife
                    Reach ad appears on all the prime positions on WhealthyLife listing pages — desktop, mobile web and
                    app.</p>
            </div>
        </div>
        <div class="row border" style="background-color:white; ">
            <div class="col-sm-12 col-md-6 p-5">
                <h1 class="text-dark font-weight-bold sizefont pt-5 ">Who can use Reach?</h1>
                <p class="secondheading text-dark">Only clinics, hospitals and medical health establishments can
                    subscribe to WhealthyLife Reach ad slots in accordance with MCI regulation 7.12.</p>
                <p class="secondheading text-dark">Note: Doctors cannot purchase WhealthyLife Reach.</p>

            </div>
            <div class="col-sm-12 col-md-6 p-5">
                <i class="provider_illustration reach i2" alt="WhealthyLife Reach" title="WhealthyLife Reach"></i>
            </div>
        </div>
        <div class="row border" style="background-color: #f0f0f5; ">
            <div class="col-sm-12 col-md-6 p-5">
                <i class="provider_illustration reach i3" alt="WhealthyLife Reach" title="WhealthyLife Reach"></i>
            </div>
            <div class="col-sm-12 col-md-6 p-5">
                <h1 class="text-dark font-weight-bold sizefont pt-5 ">Here’s how your WhealthyLife Reach ad will look
                </h1>
                <p class="secondheading text-dark line-h">- Make your practice visible to millions of users on
                    whealthylife.in <br> - Get instant SMS alerts on every patient call <br> - Showcase special offers
                    and services of your practice</p>
            </div>
        </div>
        <div class="row border" style="background-color:white; ">
            <div class="col-sm-12 col-md-6 p-5">
                <h1 class="text-dark font-weight-bold sizefont pt-5 ">Target your audience</h1>
                <h2 class="text-dark pt-5"><b>By locality</b></h2>
                <p class="secondheading2 text-dark">Choose your ad placement by selecting multiple localities closest to
                    your practice location.</p>
                <h2 class="pt-5 text-dark"><b>By keywords</b></h2>
                <p class="secondheading2 text-dark">Select keywords that are the most relevant to your practice —
                    symptoms, services and speciality.
                </p>
                <p class="secondheading2 text-dark"><b class="text-dark">e.g.</b> A clinic that specialises in diabetes
                    treatment can choose keywords like endocrinologist, sugar disease etc.
                </p>

            </div>
            <div class="col-sm-12 col-md-6 p-5">
                <i class="provider_illustration reach i4" alt="WhealthyLife Reach" title="WhealthyLife Reach"></i>
            </div>
        </div>
        <div class="row border" style="background-color: #f0f0f5; ">
            <div class="col-sm-12 col-md-6 p-5">
                <img src="https://www.practo.com/bundles/practopractoapp/images/reach_dashboard.png" class="img" alt="">
            </div>
            <div class="col-sm-12 col-md-6 p-5">
                <h1 class="text-dark font-weight-bold sizefont pt-5 ">Get updates on your ad’s performance</h1>
                <h3 class="pt-5 text-dark"><b>Reach Dashboard</b> </h3>
                <p class="secondheading2 text-dark ">
                    Track the performance of your WhealthyLife Reach subscription from anywhere (WhealthyLife website or
                    app) through WhealthyLife Reach dashboard.
                </p>
                <h3 class="pt-5 text-dark"><b>Email Updates</b> </h3>
                <p class="secondheading2 text-dark ">
                    We’ll notify you about your WhealthyLife Reach subscription activity and number of views through
                    weekly emails.

                </p>
            </div>
        </div>
    </div>
</section>